[2013-07-24 08:19] dklounge opened #4 "Fork issue?"
Are forks working for others? Can't seem to access mine.

[2013-07-24 21:56] #4 closed, assigned to nobody

[2013-09-20 13:57] dannguyen opened #12 "Consider adding an entire chapter/section on the web inspector"
Great project...I just have one request/piece of advice for now: I think you should teach the web inspector, perhaps as soon as they learn their first bit of HTML.

I've taught the web inspector to very non-technical audiences...often to other journalists, to show how it can be used to find hidden data files. But what they get most out of it is a hands on understanding of what HTML actually is, ev

[2013-09-21 22:00] #12 closed, assigned to nobody

[2013-11-04 05:47] jesseneal opened #22 "Add my Google Clone?"
https://github.com/jesseneal/Odin-Project/tree/master/GoogleClone

[2013-11-04 05:55] #22 closed, assigned to nobody

[2014-04-29 05:15] LaDilettante opened #138 "How to indicate whether a resource is useful?"
As I go through the courses, some of the resources are remarkably better at explaining things than others. Is there a way for us to include a poll / upvote system that allows users to indicate the usefulness of each resource?

This will keep the curriculum fresh and constantly tested. Even if the result is not public, the ability to mark a resource as helpful is still valuable to an user as a reco

[2014-08-29 11:43] riahtire opened #493 "string's inside '#' makes it display as comment."
in code examples at http://www.theodinproject.com/ruby-on-rails/routing
it seems like everything behind '#' has been treated as comment, even when the '#' is in a quoted string.
this problem maybe also exists in other page.

[2014-09-06 23:09] hgducharme opened #510 "I can't edit the repository to submit my solution"

[2014-09-10 11:11] RobotOptimist opened #516 "JumpstartLabs tutorial dysfunction"
[This lesson](http://www.theodinproject.com/ruby-programming/ruby-on-the-web?ref=lnav)
[This tutorial](http://tutorials.jumpstartlab.com/projects/microblogger.html)

Has several issues. The jumpstart_auth gem is currently non-functional. I'm opening an issue with Jumpstartlabs to address that. Until then, a different resource should be used or created for this lesson.

[2014-09-11 11:25] Wolfenswan opened #520 "Project: Ruby in WebDev101 needs a warning about rspec version"
It seems that the test-first gem-file has a bug in it's rspec requirement ([see the Edit of the first answer here](https://stackoverflow.com/questions/25107583/rake-aborted-gemloaderror-could-not-find-rspec-x-but-did-find-y) ) and thus won't work with rspec 3.

A warning and instructions on the course page on how to install an older version of rspec should be sufficient but before I open a PR I'd

[2014-09-12 16:02] julsfelic opened #521 "Broken link in the Introduction to Rails >> 2. A Railsy Web Refresher"
The link in question is the article from [devhub.fm](http://devhub.fm/http-requestresponse-basics/).

[2014-09-13 01:11] #510 closed, assigned to nobody

[2014-09-14 14:58] #516 closed, assigned to nobody

[2014-09-16 14:06] RomanADavis opened #530 "Severe issue with rspec --init"
Was unable to do the rspec part of the odin project in windows because of this. Here's the stack overflow question I posted:

http://stackoverflow.com/questions/25858155/rspec-init-not-working-mkd-ir-invalid-argument-c-errnoeinval/25860824#25860824

I had an email to the designer of rspec with a link to the stack overflow question. As you see, he replied. I think it's a link to some sort of fix, b

[2014-09-23 02:47] #530 closed, assigned to nobody

[2014-10-02 13:44] #520 closed, assigned to nobody

[2014-10-17 19:51] #521 closed, assigned to nobody

[2014-10-25 06:26] 42thcoder opened #622 "Chinese"
Thank you for your awesome project~

I want to translate it into Chinese, is this OK?

[2014-12-01 18:09] julsfelic opened #715 "Broken links in Web Development 101 >> The Basics >> 4. Terms to Know"
The links to the terms on the flatiron terms definition list are broken. This must be fairly recent because they were working just last week

[2014-12-22 21:58] #715 closed, assigned to nobody

[2015-01-15 01:05] kendraforrest opened #860 "Project: Ruby out of date"
The Test-First Ruby is not updated to RSpec 3.xx so it no longer works. If we should continue using the outdated project, please add instructions for how to downgrade to RSpec 2.xx.

[2015-01-15 07:11] hgducharme commented on #860
Thank you for this, we will try to find a fix as soon as possible

[2015-01-24 23:35] viparthasarathy opened #923 "Missing Hartl Tutorial Chapter"
There seems to be a missing Hartl Tutorial [chapter](https://www.railstutorial.org/book/account_activation_password_reset); I think it might be new but I'm not certain. Hartl states that it's closely related to the user authentication/authorization chapter, so it might be worth adding as a project somewhere.

[2015-02-08 19:18] chasmani opened #1022 "Broken resource"
In rails/web_refresher.md the link to http://web-sniffer.net/ goes to a 502 error.  Also from a google search the site is down.

**Proposed solution** - change to alternative site at http://testuri.org/sniffer.  (Although I'm not sure if this has the same level or type of functionality).

[2015-02-08 19:55] hgducharme commented on #1022
@craftykate I'll leave this up to you since you've gone through the rails section and can better assess this

[2015-02-09 00:18] craftykate commented on #1022
I checked it out and it looks good. I updated link to testuri.org/sniffer link. Thanks @chasmani and @hgducharme.

[2015-02-09 00:18] #1022 closed

[2015-02-13 20:21] eriktrautman opened #1045 "Can't change username in the Account tab -- it says it's successful but doesn't change it"
Reproduceable if you sign in with Github, not sure about normal signin

[2015-02-15 19:35] hgducharme commented on #1045
Was able to reproduce.

[2015-02-20 20:13] craftykate commented on #1045
Did anyone fix this? I'm not able to get my postgres working to be able to test my solution, but if I can get permission I'd like to change

[code]

inside `app/controllers/users_controller.rb` to

[code]

which I think *should* fix things. But I don't want to do it if someone has an issue with me not being able to test it first.

[2015-03-07 20:05] onebree commented on #860
@kendraforrest If you still want to downgrade to RSpec 2.x, for a general project at least... Go into your Gemfile, and enter the following:
[code]
Then run `bundle install`, and the "new" gem version will override your current one.

[2015-03-16 12:35] onebree commented on #493
@N19270 -- @eriktrautman committed a change to their syntax highlighterm which in turn affects all pages. As you said, any page that had the issue you described is now fixed.

https://github.com/TheOdinProject/theodinproject/commit/32bfe58b4ec7d6d84685b6ba8ea8f9fda704e0ac

[2015-03-16 13:19] N19270 commented on #493
:+1:

[2015-03-23 04:54] bon22801 opened #1273 "JavaScript 101 page is not found"
In the [Javascript Basics] (http://www.theodinproject.com/javascript-and-jquery/javascript-basics), the  [Javascript 101 from learn.jquery.com] (http://learn.jquery.com/javascript-101/) assignment page is not found.

[2015-04-12 04:39] nhquiroz commented on #1045
I have the same issue with normal sign in too.

[2015-04-20 08:23] eriktrautman opened #1430 "Dead links to Flatiron school"
Hi,

I'm currently working through the Odin Project from start to finish. The experience has been great thus far.

Within Web Development 101 ---> The Basics: Terms to Know ---> Assignment 1, all of the links are now dead. The content is technically hosted by The Flatiron School, but I figured that giving you all a heads up was likely more beneficial / faster than trying to contact them.

If you p

[2015-04-20 08:26] eriktrautman opened #1431 "Possible new link"
See email pitch below, need to see if this is actually a good link or just spam:

Dear The Odin Project.com

I was searching for some articles about Cloud Computing today and I came across this page:
http://www.theodinproject.com/web-development-101/the-cloud-hosting-and-software-as-a-service-saas

I noticed that you link to one of my favorite articles--The Beginner's Guide to the Cloud – Mashable

[2015-04-25 01:21] nhquiroz commented on #1430
How about the prep-work material from Viking, @eriktrautman? I didn't read it, does it covers the same basics as TOP does? Maybe it can be al alternative to some links.

[2015-04-25 02:21] eriktrautman commented on #1430
It'd be great to start including the Viking prep work in Odin, I've been meaning to link relevant lessons because they are pretty much exactly what's needed to fill a few gaps but haven't had the time.  At the very least, they can be added usually as an "additional resource".  Would be great to get those added!

[2015-05-02 04:09] nhquiroz commented on #1273
What topics did it cover?

Maybe these can help:

- http://slides.com/concise/js#/
- http://gitbookio.gitbooks.io/javascript/content/en/index.html

[2015-05-07 18:15] nhquiroz commented on #860
Maybe you need to remove all the rspec-related gems and reinstall a previous version, I had the same issue and solved it this way

https://stackoverflow.com/questions/24212198/rake-testfirst-error-rspec-config-failed-learn-ruby/29401451#29401451

[2015-05-12 16:51] siromivel commented on #1431
It looks like workbooks.com's primary objective is selling their flavor of CRM software which to me is good enough reason to not use the article. The two articles present fairly similar information, although I felt like the Mashable article is more concise and is more well written/edited. Neither present anything particularly technical, just a brief introduction to the idea of cloud computer which

[2015-05-14 14:55] nhquiroz commented on #1430
I just checked the links and they're all online, this issue can be closed.

[2015-05-19 18:05] jacknguyen commented on #1273
According to this [#257](https://github.com/jquery/learn.jquery.com/issues/257) the community seem to think that the MDN guide should be the main reference material.

[MDN reference guide](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide)

[2015-05-19 18:10] jacknguyen commented on #1273
Also found a cached version just to see if there's another source for some of the materials.
[Web Archive](http://web.archive.org/web/20141113155945/http://learn.jquery.com/javascript-101/)

[2015-05-19 18:14] jacknguyen commented on #1273
But I think this primer from MDN is great [MDN material](https://developer.mozilla.org/en-US/Learn/Getting_started_with_the_web/JavaScript_basics).

What do you think @eriktrautman? Can I edit the curriculum to point to this instead of the jquery material.

[2015-05-19 18:22] jacknguyen commented on #1431
I agree the article doesn't add much depth except for the intro section. It goes briefly into the origination of cloud computing, which is interesting but the rest of the article is very B2B pitchy.

[2015-05-19 23:00] arturoalviar opened #1576 "ear"

[2015-05-20 01:27] #1576 closed

[2015-05-20 05:44] eriktrautman commented on #1273
It's not quite apples-to-apples.  The JS101 stuff from learn.jquery.com was comprehensive.  I'd rather not link to an archive link, though.  Does it exist anywhere else?  I'm fine with adding the MDN stuff but it's not really that effective as a main resource -- more as an "additional resource".

[2015-05-21 03:53] nhquiroz commented on #1273
Maybe this course (+ JS Basics from MDN) helps

https://www.codeschool.com/courses/javascript-road-trip-part-1

[2015-05-22 15:13] nhquiroz commented on #860
I added a warning message in the Test-First Ruby project, I think there is nothing more we can do except contact the developers but this is a recurrent issue (check on StarOverflow or other forums) that comes frm long time ago, it seems it won't be fixed.

[2015-05-22 19:21] onebree commented on #860
I think for TheOdinProject to thrive, it needs to update to at least RSpec 3 and Rails 4.

[2015-05-22 19:23] onebree commented on #1431
If you want to know cloud computing, IEEE has a free course on, I think, edX

[2015-05-28 16:33] eriktrautman opened #1636 "Adding SQL Resources"
TLDR: New resource available.  We should add Khan Academy's new course as well.

****
Hey,

First of thank you for this simply amazing collection of resources and structuring them in the way that you did! However I was not very satisfied with the SQL side of things.

The DB1 and DB5 courses picked up pace way to quickly without enough explanation and I found the SQL Zoo to not be very helpful at a

[2015-05-28 21:08] nhquiroz commented on #1636
This quick overview about SQL from CS50 can be useful too: https://www.youtube.com/watch?v=G58ujNjWEJY

[2015-05-31 00:21] lfoster0 opened #1652 "Introduction to the Front End Anatomy of a Web Page link out of date"
Noticed that the link for part two of the assignment [here] (http://www.theodinproject.com/web-development-101/introduction-to-the-front-end?ref=lnav) for Introduction to the Front End links to a different jQuery tutorial than it should.  It looks like that article isn't around anymore and from archive.org [this] (http://web.archive.org/web/20140928162450/http://learn.jquery.com/javascript-101/get

[2015-05-31 00:25] lfoster0 commented on #1652
Whoops! Looks like its discussed here [#1273] (https://github.com/TheOdinProject/curriculum/issues/1273)

[2015-05-31 00:26] #1652 closed

[2015-06-01 01:27] lpatmo commented on #1636
I found the Stanford course excellent and much more advanced than Khan Academy's, which was a great introduction, but didn't touch on more complicated queries:

https://lagunita.stanford.edu/courses/DB/SQL/SelfPaced/courseware/ch-sql/seq-exercise-sql_movie_query_core/

[2015-06-08 07:12] #1430 closed

[2015-08-07 01:05] eriktrautman opened #2135 "404 Link"
I just wanted to let you fellows at viking code school know that the additional resource titled "UX 101: What is User Experience? from Dashburst" under the "What is User Experience?" prep work page is no longer there.

Thanks!

[2015-08-07 16:35] JimvandenBos opened #2144 "cant figure out how to post solution ceasar cipher"
As stated in the title, i have difficulty finding out how to add my solution to the list.
the explainations arent helping me.
here's a link to my solution in github:

https://github.com/JimvandenBos/CeasarCipher/blob/master/solution

thanks!

[2015-08-07 18:33] KevinMulhern commented on #2144
Hey @JimvandenBos, This video explains how to do it. https://www.youtube.com/watch?v=V74l_zS1x8E

[2015-08-10 13:14] #2144 closed

[2015-08-10 13:16] #923 closed

[2015-08-10 13:17] #493 closed

[2015-08-10 13:18] #1273 closed

[2015-08-10 15:50] nhquiroz opened #2158 "Not very useful command line resource, alternative suggested"
On [*How Does Your Computer Work?*](http://www.theodinproject.com/web-development-101/how-does-your-computer-work) section, item 3 of the assignment suggests: "To gain a better understanding of your command line, start with this simple walkthrough by Avi of the Flatiron School."

As you can see on comments [1](https://gist.github.com/aviflombaum/9d6f7448119bae3a24ee#gistcomment-1288097), [2](http:

[2015-08-11 07:52] KevinMulhern commented on #2158
I came across this the other day, https://www.codecademy.com/courses/learn-the-command-line
could be another useful resource for beginners learning the command line.

[2015-08-16 15:10] nhquiroz commented on #2158
Codecademy's seems nice too.

[2015-08-25 02:04] eriktrautman opened #2262 "Bad Link"
Hi,
When I clicked the first link under assignments, "For a basic and painless Internet overview", my virus projection activated .
Below is the page I used. I don't know if the link is bad or if it was something on my computer. I rather inform you and it be nothing than not inform you and it be something.
http://www.theodinproject.com/web-development-101/how-does-the-web-work?ref=lnav

BTW I like

[2015-08-25 10:24] rbyfalr commented on #2262
The video was hosted on Vimeo, I think... (searches Vimeo), Ah ha! [Don't Fear the Internet, Episode 1](https://vimeo.com/24006296) and [Don't Fear the Browser](https://vimeo.com/25665411).

[2015-08-25 11:24] rbyfalr commented on #2158
Here's a few more, [Introduction to the Command Line](http://www.gotealeaf.com/books/command_line), [A Beginner's Guide to the Linux Command Line: Part 1](http://www.techspot.com/guides/835-linux-command-line-basics/ and [A Beginner's Guide to the Linux Command Line: Part 2](http://www.techspot.com/guides/844-linux-command-line-part-iii/.

[2015-08-25 18:13] japfohl commented on #2158
I agree with KevinMulhern.  The Code Academy command line course is good!

[2015-08-29 02:37] kriox26 opened #2285 "SUGGESTION: deliver_now instead of deliver"
When you invoke `PassengerMailer.thank_you(Passenger.first).deliver!`, the email actually "sends" and everything works fine, but you get a `DEPRECATION warning` message like this:
[code]
Should we update to `deliver_now!`??
I put suggestion because it's not urgent since everything still works, but when rails 5 is released it won't

[2015-09-04 07:20] lhjordanlh commented on #860
Hi, after uninstalling and reinstalling, I still can't quite get the rspec to work. I also tried mess around with the Gemfiles, but either way I always get something like this:

jordanyk@jordanyk-Lenovo:~/00_hello$ rspec hello_rspec.rb
/home/jordanyk/.rvm/gems/ruby-2.2.1/gems/rspec-core-2.14.8/lib/rspec/core/configuration.rb:896:in `load': cannot load such file -- /home/jordanyk/00_hello/hello_rsp

[2015-09-04 12:28] onebree commented on #860
@hgducharme any update on this issue? With Rails **FIVE** being released later this year, I think the move to RSpec 3 and Rails 4 (along with Ruby 2.2) has to be done _now more than ever_.

[2015-09-04 12:34] KevinMulhern commented on #860
@onebree, the Test first project is external from the odin project as many of the resources we use in the curriculum are. It seems that the test first project has unfortunately been abandoned by its creators, so a update is unlikely. We need to find a good alternative project to replace it.

[2015-09-04 13:31] hgducharme commented on #860
Hmmmm. I'm on my mobile right now, but I can shock it out here soon and see
if I might be able to offer some help. Yeah it definitely might be an issue
of compatibility.

On Friday, September 4, 2015, Hunter Stevens <notifications@github.com>
wrote:

[2015-09-05 19:00] IkeG opened #2319 "Add Links to Introduction to UX and Design"
Here are some helpful free UX resources that helped me get into UX design.

http://www.uxpin.com/knowledge.html - Pretty big collection of free UX books
https://www.mysliderule.com/learning-paths/user-experience-design - Very extensive free UX course (awesome step-by-step approach).
https://www.udacity.com/course/ux-design-for-mobile-developers-ud849 - Niche and focused on mobile, but was a great

[2015-09-06 07:39] simonkrausgit opened #2321 "Registering for Slack doesn't work"
When clicking the Register Button I get an Heroku "No such app" - error reading:

[2015-09-08 21:17] eriktrautman commented on #2321
Thanks, somehow deleted the Heroku app. Oops.  Back online now.

[2015-09-08 21:17] #2321 closed

[2015-09-12 03:42] eriktrautman opened #2362 "Broken links for Hartl Tutorial"
The links are pretty much all outdated at the moment...

[2015-09-12 13:07] KevinMulhern commented on #2362
Updated all the dead links.

[2015-09-12 13:07] #2362 closed

[2015-09-12 15:49] KevinMulhern commented on #2319
Hey @IkeG, thanks so much for the links. The last one must have stopped working?

I think we could put this in the section: http://www.theodinproject.com/html5-and-css3/introduction-to-design-and-ux

[2015-09-12 15:50] KevinMulhern commented on #2262
I am getting a 404 page when trying to access the link. Should we remove that resource? I think the rest of the assigned stuff will be enough to cover the material.

[2015-09-12 15:56] KevinMulhern commented on #2158
So in a effort to close this issue can we agree on the new structure of the resources?

My thinking is:

Replace the flatiron school link and replace it with the codecademy course (an interactive course will be much more effective for a beginner.)

Add in the link @nhquiroz provided at the top of the additional resources.

[2015-09-12 15:56] KevinMulhern commented on #2158
do you guys want to way in on this? @eriktrautman, @muzfuz

[2015-09-12 19:20] muzfuz commented on #2158
I'm happy with that.

[2015-09-14 23:22] eriktrautman commented on #2158
Sounds good @KevinMulhern

[2015-09-16 11:37] novneetnov commented on #860
Without using "rake" as suggested in the tutorial, we can go about doing the exercise with rspec 3.3.2 as mentioned in the codeschool tutorial.

1. Just go into the folder 00_hello and do rspec --init.
2. Copy the hello_spec.rb to spec/lib/ folder.
3. Then create the file /lib/hello.rb

This will help till an alternate project is found. And we don't have to install rspec version 2.

[2015-09-16 15:46] nhquiroz commented on #860
I have a question for those who complete this project and are more advanced in the Ruby section: does The Test-First Ruby section add any value, in the context of the curriculum? If it brings more trouble (and waste of time) than benefits and there's no proper alternative, it could simply be removed.

I think the TDD approach for learning is greatly cover with the Neo Ruby Koans (which now are add

[2015-09-16 20:40] Lenocam commented on #860
Seeing everyone's comments here and experiencing the same difficulties, I suppose I will just move on to whatever is next in the Odin Project curriculum. Is this recommended, or will have have difficulties, because I have not learned what I should have learned in this part of the curriculum? Any recommendations as I move forward?

[2015-09-17 13:55] KevinMulhern commented on #860
@Lenocam, you wont have any difficulties with anything by skipping that project.

@nhquiroz
It probably would be better right now to remove it, due to all the frustrations people have been having. The purpose of the project is to give students a light introduction to ruby the same way that the etch-a-sketch project is meant to be a light introduction the js. Web dev 101 is there just to give stude

[2015-09-17 19:28] #2158 closed

[2015-09-17 23:37] eriktrautman commented on #860
The real benefit of TFR is that is provides a firm feedback mechanism while still challenging students to actually code on their own.  I wouldn't replace it with anything that uses an embedded REPL precisely because of that.  If there is an alternative problem set that uses the same principles and is equally challenging but actually maintained, I'm open to it.

[2015-09-18 02:30] nhquiroz commented on #860
It has no benefits if it doesn't work.

[2015-09-18 03:55] Lenocam commented on #860
I agree. If it isn't unusable in it's current state, you would likely have to waist a lot of time trying to make it work, you might as well move on or find something else. I have an RSpec book that is a year old, so I plan to try to use that, but is there something free and online that would help me pick up the same skills I would of had TFR been up to date?

[2015-09-18 04:42] nhquiroz commented on #860
@Lenocam I did some TFR exercises and the [Neo Ruby Koans](http://rubykoans.com/) surpasses it, IMHO.
It's a little more advanced so I wouldn't say it's an "alternative", but after you grasp the basics with the other tutorials listed, is entirely feasible, and you'll learn more about TDD.

The Koans + [Ruby Monk](https://rubymonk.com/) is a great combo.

[2015-09-20 04:36] IkeG commented on #2319
Oh no. Sorry about that.
I think the links would fit great in this article.
I hope it will be helpful for others :)

On Sat, Sep 12, 2015 at 8:49 AM, Kevin Mulhern <notifications@github.com>
wrote:

[2015-09-21 18:20] Lenocam commented on #860
@nhquiroz Thanks for the info. I'll check them out.

[2015-09-23 12:54] kriox26 commented on #2262
I'm getting a 404 in item 1 and 5: http://www.dontfeartheinternet.com/the-basics/dont-fear-the-browser. Both from `dontfeartheinternet`, if they get hacked that often, maybe the should fear the internet.
Like kevin said, I think that all the remaining assigned stuff is enough to cover the material.

[2015-10-02 04:32] myleschatman commented on #860
@onebree Thank you so much for the tip!

[2015-10-03 15:22] Pezz18 commented on #860
been faffing for ages! installed rspec 2.14 but still no joy, i get a "you must use ansicon 1.31 or later "

considering skipping this part now...

[2015-10-08 16:05] pugsiman opened #2513 "Duplicate links"
I noticed there are a couple of duplicates and inconsistencies in the student's solution section here:
http://www.theodinproject.com/ruby-programming/ruby-on-the-web
Some people show up twice and in inconsistent manner.

[2015-10-08 16:48] kriox26 commented on #2513
@pugsiman Could point out the duplicates??

[2015-10-08 16:54] kriox26 commented on #2513
@pugsiman Thanks

[2015-10-08 16:54] #2513 closed

[2015-10-08 17:12] pugsiman commented on #2513
No problem. You accidentally closed my merge request by the way :-)

[2015-10-15 18:29] sco-bo opened #2554 "Broken Link"
The "Gentle Introduction to Algorithms for Web Developers" link (http://www.giocc.com/a-gentle-introduction-to-algorithms-for-web-developers.html) in the 'Basic Data Structures and Algorithms' section of 'Ruby Programming' appears to be broken.

[2015-10-15 20:17] kriox26 commented on #2554
Thanks @sco-bo , we'll look into alternatives to this resource, if you have any let us know!! :+1:

[2015-10-16 14:40] sco-bo commented on #2554
Actually, nevermind. This link is working for me today. I'll go ahead and close

[2015-10-16 14:40] #2554 closed

[2015-10-26 03:37] wingyu commented on #2262
Hey guys, @eriktrautman seems pretty keen on keep those resources so I've just submitted a PR fixing those broken links (#2635).

[2015-10-31 17:34] KevinMulhern commented on #2262
Thank you for this @wingyu :)

[2015-10-31 17:34] #2262 closed

[2015-11-02 23:53] JasonCoate opened #2670 "Broken Link"
The link to Nitrous.io, under the note for the assignment in Web Development 101: How Does Your Computer Work, is broken.

[2015-11-03 14:42] #2670 closed

[2015-11-03 16:18] nidafarooqui opened #2672 "Broken Link"
The link for "Mighty Spring - get matched to startup jobs" at http://www.theodinproject.com/getting-hired-as-a-web-developer/collecting-job-leads is broken.

[2015-11-03 18:32] kriox26 commented on #2672
@KevinMulhern @muzfuz Any alternatives to this website or should we remove it??

[2015-11-03 18:48] nidafarooqui commented on #2672
I'm sure there are lots of alternatives but I was wondering why you guys didn't mention https://angel.co/jobs? Is that on purpose?

[2015-11-03 19:05] muzfuz commented on #2672
I say we remove the broken link.  Happy to put up anything else that is helpful, though someone should vet it to make sure they accept Junior developers - not all hiring platforms do.

[2015-11-03 19:20] #2672 closed

[2015-11-11 18:52] hamstersky commented on #860
@novneetnov's method works perfectly

[2015-11-20 19:29] sco-bo opened #2769 "Revised link to official GitHub Training site"
In the 'Additional Resources' section of 'Using Git in the Real World' there appears to be a dead link to the Github Training site. Their link appears to have changed from teach.github.com to training.github.com

[2015-11-20 20:41] ad-johnson commented on #860
This isn't a question related to running: looking at the specs, e.g. hello_spec.rb, nowhere is an instance created, e.g. 'hello = Hello.new   hello.hello.should.....  Instead, it seems to imply an instance exists already (or is created on the fly by RSpec), i.e. hello.should.....  I'm a little confused why these don't throw NoMethodError exceptions.  In fact, when I run rake (or even inside my IDE

[2015-11-23 11:52] #2769 closed

[2015-11-26 16:51] KevinMulhern commented on #860
This has now been fixed https://github.com/TheOdinProject/curriculum/commit/35cf84d54986f8a7fe1322d4ed19b3f8bf4c9d0a

[2015-11-26 16:51] #860 closed

[2015-11-26 17:12] ad-johnson commented on #860
On the one hand great.  On the hand, darn it!  I was two test exercises away from having re-written the whole lot into RSpec 3 and was going to submit it as an alternative and pick up on-going maintenance.

[2015-11-26 17:49] KevinMulhern commented on #860
@ad-johnson hey man thank so much for doing that :) sorry for your wasted efforts though :( we need to get the contribution system sorted so people like you can say they are working on features and bug fixes. That will hopefully allow us to avoid situations like this.

[2015-11-26 20:51] ad-johnson commented on #860
No problem.  It's not wasted effort, all good learning - really got the hang of context, let, subject, before, is_expected.to

[2015-11-26 21:38] KevinMulhern commented on #860
Awesome dude :)

[2015-12-03 16:09] sand33pn opened #2846 "Does this sentence makes sense?"
http://www.theodinproject.com/ruby-on-rails/a-railsy-web-refresher

![fireshot capture 15 - learn ruby on rails -- a railsy web re_ - http___www theodinproject com_ruby](https://cloud.githubusercontent.com/assets/4760309/11565920/31fb308e-9a06-11e5-9e0c-bf99d23e607b.png)

[2015-12-04 10:12] KevinMulhern commented on #2846
It makes sense to me, changing "it brings a couple extra" to "it brings a couple of extra" would make it clearer though.

[2015-12-04 10:15] KevinMulhern commented on #2846
I changed the text in this commit https://github.com/TheOdinProject/curriculum/commit/a8e73d35827a8a2da578907ede57b57e0de5e3b1

[2015-12-04 10:15] KevinMulhern commented on #2846
Does it make more sense to you know @sand33pn?

[2015-12-04 14:30] sand33pn commented on #2846
The "about before about" part tripped me, I understand it now.

[2015-12-04 14:30] #2846 closed

[2015-12-04 14:56] KevinMulhern commented on #2846
I can see how that would trip you up, I tidied that bit up too. Have a look at this commit and let me know if it reads better please https://github.com/TheOdinProject/curriculum/commit/ad485db7099addfcbd4dd9de23a7c85faabdac78

[2015-12-04 15:00] sand33pn commented on #2846
:relaxed::+1:

[2015-12-04 15:01] KevinMulhern commented on #2846
awesome, thanks for pointing it out :)

[2015-12-07 23:59] prashcr opened #2878 "Node.js learning"
In reference to #2874

Since we want a catch all, here's my preliminary suggestion

Complete all the free sections on https://www.learnallthenodes.com
Complete how-to-npm, learnyounode, expressworks, learnyoumongo from NodeSchool, in that order.
The first website is pretty cool, they have a paid subscription but that mostly gives you access to more niche topics as a way to support the website. Oth

[2015-12-08 10:28] KevinMulhern commented on #2878
Hey @prashcr, Thanks for putting this together, all of your suggestions make sense. You clearly know a lot about node.js which is something that we haven't focused on much in Odin. I have an idea, why don't you build out that part of the curriculum? it's a catch all at the moment because no one really has put much time into it lately other than @muzfuz, who has been working on improving parts of t

[2015-12-08 15:22] muzfuz commented on #2878
Yea the JavaScript section needs a lot of love.  I'm happy to talk it through more, as there definitely needs to be a clear approach for students to learn how the various JavaScript technologies fit together.

[2015-12-09 00:24] prashcr commented on #2878
Sounds good +1

I guess for a first step, we can agree on moving the server-side after the front-end. Not sure how to do that here though, I'm guessing it's on the main repo?

[2015-12-09 09:44] KevinMulhern commented on #2878
I think you just add a new file to the curriculum repo. Do what you have to do @prashcr. Are you on the slack chat for Odin? we have a private contributions channel over there that I can invite you to, so we can get communicate instantly when you have questions, want feedback etc

[2015-12-09 11:06] prashcr commented on #2878
Yep, under the same username. I looked around here, but the curriculum repo deals strictly with content. The `seeds.rb` file in the main repo is what loads the curriculum files from here in a specified order.

[2015-12-09 18:22] muzfuz commented on #2878
I'm not totally sure I agree with moving front-end JavaScript before the back-end.

NodeJS is not a framework - it's an environment for running JavaScript on a computer, and therefore a great way to teach _plain_ JavaScript.  (Granted, the curriculum currently isn't geared toward that right now).

Once you start talking about front-end JavaScript, the various APIs (even those included with the bro

[2015-12-09 21:29] prashcr commented on #2878
That is a valid point and there are some great NodeSchool tutorials that go over plain JS (using Node).

However, assuming that students are completing the curriculum in order, by the time they get to either front-end or back-end JavaScript, they would've already completed Codecademy JavaScript, Codecademy JQuery, (optionally, CodeSchool JQuery), built Project Etch-a-Sketch, and solved 3 Project E

[2015-12-14 23:01] sahal2080 opened #2920 "Middleman and Rack"
Firstly thanks for a great project. I refer lots of people to it and the feedback is almost always good.

I looked at the curriculum recently and it reminded me of an article long time ago that helped A LOT when I was learning:
http://techiferous.com/2010/07/roadmap-for-learning-rails/

Surprisingly it's mostly the same but Odin is still missing nanoc and Rack. Though an argument can be made that

[2015-12-15 13:42] KevinMulhern commented on #2920
Hey @sahal2080, thanks for the links. Why don't you draft up section and project for rack and middleware to be included into the curriculum. This would be a great addition.

[2015-12-22 03:06] eriktrautman opened #2959 "Broken link"
Dear Odin,

I have found a dead link in Web_development101/Introduction_to_the_front_end lesson. The link at the bottom of the page in Additional Resources does not work, namely: Skills of a Successful Front-end Web developer.

Cheers,

[2015-12-22 09:47] KevinMulhern commented on #2920
I am closing this issue, because while it's a nice to have feature and it's not a a actual issue.

[2015-12-22 09:47] #2920 closed

[2015-12-22 14:31] #2959 closed

[2016-01-14 15:21] #622 closed

[2016-01-14 15:21] #1431 closed

[2016-01-26 22:15] muzfuz commented on #2285
Good to keep note of, when the eventual upgrade happens.

[2016-01-30 10:03] akshaybharwani opened #3141 "Additional Resources' link doesn't work"
The link titled 'How to Design a Rails App from CodeLearn' doesn't seem to work and every link directing to CodeLearn domain doesn't work.

[2016-01-30 13:56] KevinMulhern commented on #3141
Hey @akshaybharwani, thanks for letting us know about this. We will wait a few days to see if it isn't server issues with code learn. If they aren't back up in a few days it would be good to look for an alternative.

[2016-01-30 14:08] akshaybharwani commented on #3141
Sounds great!

[2016-02-02 08:58] KevinMulhern commented on #3141
Ok, after a bit of digging it seems codelearn has been in trouble since last year https://twitter.com/codelearn/status/569761954278952960

They might put the site up again, but in the mean time it would be good to be proactive about finding a replacement, if indeed a replacement is needed. Thankfully codelearn was only linked in additional resources.

If we want another interactive course, codecad

[2016-02-02 12:41] akshaybharwani commented on #3141
Perhaps we can add http://railsforzombies.org/. It is a good, short and interactive introduction to Rails.

[2016-02-02 12:50] KevinMulhern commented on #3141
Rails for zombies is already one of the assignments in the rails section of web development 101 http://www.theodinproject.com/web-development-101/ruby-on-rails-basics

[2016-02-02 13:02] akshaybharwani commented on #3141
Oh, I didn't know that. I directly skipped to the Ruby On rails part as I knew web development. I will be looking for other resources.

[2016-02-03 17:28] eriktrautman commented on #3141
Unfortunately I haven't found a good interactive Rails tutorial since CodeLearn so we may be out of luck on this one...

[2016-02-10 20:39] cdouglass opened #3214 "Rails: Hartl switched from RSpec to MiniTest but TOP lessons don't reflect this"
The [Let's Get Building](http://www.theodinproject.com/ruby-on-rails/let-s-get-building) lesson goes into detail discussing TDD using examples from the Hartl tutorial, but these examples are all from an older version of Hartl using RSpec. The lesson would be more helpful if it used examples from the version of the tutorial that students are using.

[2016-02-10 22:31] KevinMulhern commented on #3214
Good point @cdouglass, We will add a ticket to get this fixed.

[2016-02-12 16:11] KevinMulhern commented on #3141
I removed all of the codelearn links.

[2016-02-12 16:11] #3141 closed

[2016-02-12 16:12] KevinMulhern commented on #2878
Hey @prashcr are you still working on this or should I close this issue?

[2016-02-12 16:16] KevinMulhern commented on #2319
Hey @IkeG, sorry it took so long, I finally added your links. It would be great to break UX and design out into it's own mini course at some point in the future.

[2016-02-12 16:16] #2319 closed

[2016-02-12 16:17] KevinMulhern commented on #2135
This seems to be back up

[2016-02-12 16:17] #2135 closed

[2016-02-12 16:17] KevinMulhern commented on #1045
This belongs in the main site repo

[2016-02-12 16:17] #1045 closed

[2016-02-12 16:19] KevinMulhern commented on #138
No progress has been made with this in over a year, It could go in the ideas ticket on Trello.

[2016-02-12 16:19] #138 closed

[2016-02-18 01:57] prashcr commented on #2878
Hey, my apologies, I've gotten a bit busy as of late, and I'm not actively working on it at the moment

[2016-02-19 13:13] KevinMulhern commented on #2878
Ok I will close this for now, but if you want to come back to it in the near future please let me know :)

[2016-02-19 13:13] #2878 closed

[2016-02-28 14:59] akshaybharwani opened #3314 "Option to change default homepage when visiting main website"
Whenever someone signs into TOP, they are redirected to the 'Courses' page. And when someone who is already signed in, visits www.theodinproject.com, they are on the same homepage as seen by the new users. For a person who has already seen all the steps and has been using the site for some time, it doesn't make sense.  When visiting FreeCodeCamp, the user is redirected to the last challenge you we

[2016-02-28 19:52] KevinMulhern commented on #3314
Hey @akshaybharwani, Nice suggestion. We have a bit of an idea for creating a dashboard that the user will be directed to if they are signed in. It will include stats about their progress and a link to the last lesson they were on.

[2016-02-28 20:11] akshaybharwani commented on #3314
That would be really awesome @KevinMulhern! Looking forward to that.

[2016-02-29 03:41] irishmac473 opened #3318 "Two broken links in HTML & CSS basics"
In Web Development 101/ The Front End/ HTML & CSS basics the links for OverAPI's HTML Cheat Sheet & OverAPI's CSS Cheat Sheet are broken. They take you to overapi.com/css/ and overapi.com/html/. If you remove the final back slash from each link they work.

[2016-02-29 03:44] KevinMulhern commented on #3318
Thanks @irishmac473, I just fixed it :smile:

[2016-02-29 03:44] #3318 closed

[2016-03-04 19:20] KevinMulhern commented on #3214
I got changed the example :smile:

[2016-03-04 19:20] #3214 closed

[2016-03-04 20:04] KevinMulhern commented on #3314
Hey @akshaybharwani, I am going to close this because its on our road map :smile:

[2016-03-04 20:04] #3314 closed

[2016-03-04 20:37] akshaybharwani commented on #3314
No problem! :)

[2016-03-12 06:49] akshaybharwani opened #3381 "A 'last updated' for every page"
Maybe we can add 'last updated' timestamp to every page to reflect when was the last time the page was updated and going further ahead we can also add the changes made to that particular page the last time it was updated. This will help the users to have the information about how up-to-date the site is.

[2016-03-12 15:56] KevinMulhern commented on #3381
Hey @akshaybharwani, thanks for opening a issue. Are there any lessons that you would deem out of date?

[2016-03-12 16:21] akshaybharwani commented on #3381
As for the question, not particularly.

And I just had this thought as I've seen many people mentioning that TOP doesn't update its content so often as opposed to other sites. I think having a timestamp will help prevent that. But I may be wrong. And you also got a point, we don't want to send that kinda message.

Maybe a timestamp for the entire course? Anything that conveys that we try to keep t

[2016-03-12 17:43] KevinMulhern commented on #3381
Yeah I have been getting the same sort of feedback, I completely agree with you that we need to figure out a way of letting people know that it's still being worked on. I just don't think timestamps are the way to convey it.

I personally think that people are thinking its out of date because of a few different things. Number 1 being the design of the site, the default bootstrap theme makes it loo

[2016-03-12 18:13] akshaybharwani commented on #3381
I've been meaning to raise an issue concerned with the design of the website but I thought that is already been worked on. And you are right, the inactivity on the social accounts and blog is also a major issue here. I think TOP needs a major overhaul. Maybe ask people on the website to help with that?

[2016-03-12 18:33] KevinMulhern commented on #3381
Yeah its in the beginning stages at the moment, I was planning on asking for design and front end development help through the different TOP communities. Theres a lot of improvements to be made for sure. The fixes you have contributed all add up to improving the project in a big way though so thank you for that :smile:

[2016-03-13 08:11] akshaybharwani commented on #3381
You're welcome. And I'm just giving what I'm getting. I believe TOP is one of the best resources to learn Web Development and more people should know about it. And I'd be happy to help anyway. :)

[2016-03-13 19:01] KevinMulhern commented on #3381
I'm going to close this issue because of the alternative methods we identified for improving this area, thanks for opening it @akshaybharwani. Also if your on our slack, don't hesitate to go to the contributing channel to join in on the conversation about improvements.

[2016-03-13 19:01] #3381 closed

[2016-03-15 05:52] akshaybharwani commented on #3381
Sure thing Kevin!

[2016-03-15 05:55] akshaybharwani commented on #3381
Sure thing Kevin!

[2016-03-21 20:58] cdouglass opened #3440 "Backgrounds and gradients exercise doesn't involve gradients"
http://www.theodinproject.com/html5-and-css3/building-with-backgrounds-and-gradients has the student clone the front page of www.apple.com and refers to a gradient in the nav bar, but at this time the Apple front page has no gradients at all. Should replace www.apple.com with another simply designed site that does feature both gradients and background images.

[2016-03-23 16:22] benjamincarlton opened #3449 "Use of "swathe""
[Swathe](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=swathe) is defined as something used to wrap something else.

In context of the sentence, "[swath](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=swath)" (a broad area of something) should be used.

Or you could rewrite the sentence for even more clarity by removing the uncommon "swa

[2016-03-23 16:27] KevinMulhern commented on #3449
what page is this on @benjamincarlton?

[2016-03-23 16:30] benjamincarlton commented on #3449
http://www.theodinproject.com/web-development-101/how-this-course-will-work

I created a pull request after re-watching the video that isolates the specific changes and information to the page and line number.

Sorry for creating this issue. I should have done the pull request from the start, but this is my first contribution to open source material ever.

[2016-03-23 16:30] #3449 closed

[2016-03-29 16:12] #3440 closed

[2016-04-10 20:32] pawan92 opened #3560 "The Odin Project Blog Page"
Hey guys I realize you currently host a blog on tumblr, but I'd like to propose that we build a page on the site itself for our blog posts. This link to the page could potentially be on the top navigation bar. I think the positive to this are more people will be checking this out. Personally I was not even aware you guys had a blog until i talked to Kevin. We can also easily control the layout of

[2016-04-10 21:07] KevinMulhern commented on #3560
Very well laid out pitch @pawan92, A blog that was visible on the site would indeed be awesome and great for spreading the word of what we are doing.

The main issue I foresee with it is someone taking ownership, a weekly blog post might be too much of a commitment at the moment for the current mod's as we all have quite a bit on our plate. A monthly blog post on the other hand would be very achie

[2016-04-11 17:38] eriktrautman commented on #3560
Absolutely agree with the value of a blog as well as @KevinMulhern 's point about scoping and ownership.  I like sourcing posts from the community but someone will need to own the process of doing so.  Building the blog itself isn't trivial, though not overwhelming by any means.  Basically, if it can be narrowly scoped and owned by a single person, I'm open to it.  Else, it isn't something we have

[2016-04-12 10:16] KevinMulhern commented on #3560
Another option would be to use Medium and link it on Odin, a lot of sites seem to outsource their blog to Medium now. The advantage of doing this would be not having to worry about building out the blog infrastructure and maintaining it.

[2016-04-12 15:35] KevinMulhern commented on #3560
**A few more ideas**
If we decide to go with our own blog instead of Medium or something similar. I think we should structure it so new posts are uploaded via mark down files through github. Something similar to Jekyll. I don't believe that creating our own cms for it would be worth the time cost.

[2016-04-12 15:47] pawan92 commented on #3560
@KevinMulhern i have heard about jekyll and agree with using markdown files. this gives a great opportunity for new users to try out pull requests like you said and help out!

[2016-04-12 16:01] KevinMulhern commented on #3560
Ok a couple of things we can make a decisions on:
Medium or Our own blog?
Who's going to own the development of this project?

My vote goes with our own blog, I can contribute a monthly 'state of odin post' and help out with development. You mentioned in slack that you would like to own this project @pawan92. That means spearheading development as well as maintaining it in the longer term 😄 is tha

[2016-04-12 16:13] pawan92 commented on #3560
i agree with our own blog as well. later on we can always start a medium blog too. this will be more of a weekly newsletter kinda thing. yes i can own this and make sure we get something out every week and help with dev and maintain it. do we have a twitter handle? that would also be a good way to get things out too. if not im sure i can find someone interested in setting up one and coordinating i

[2016-04-12 16:24] KevinMulhern commented on #3560
Okay thats settled, we will develop our own. Yeah we have a twitter handle @eriktrautman is the guy to talk to about that. Lets discuss how we will go about developing this over in the contributing channel on slack 😄

[2016-04-12 19:44] eriktrautman commented on #3560
I'd recommend considering what Free Code Camp has done as well, they have a solid system for crowdsourcing content on their blog on Medium: https://medium.freecodecamp.com/

[2016-04-12 21:03] pawan92 commented on #3560
@eriktrautman i follow them on medium. quincy and the gang post some awesome helpful stuff 👍

[2016-04-16 22:24] mohamedali123 opened #3609 "style="filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0CFE2', startColorstr='#FFFFFF', gradientType='0');""

[2016-04-16 23:00] KevinMulhern commented on #3609
@mohamedali123 what is this?

[2016-04-16 23:10] mohamedali123 commented on #3609
I try to run it didn't run and I don't know what is wrong  with it

[2016-04-16 23:12] KevinMulhern commented on #3609
what is it for?

[2016-04-16 23:23] KevinMulhern commented on #3609
This is the wrong place for this

[2016-04-16 23:23] #3609 closed

[2016-04-23 18:08] #3560 closed

[2016-05-08 19:20] KevinMulhern opened #3752 "Add Gearing up for success lesson to the start of Web Development 101"
It will be about things the student can do for the greatest chance of success when learning programming, eg mindset for learning, tips to avoid procrastination etc.

Draft can be found here: https://github.com/TheOdinProject/curriculum/pull/4003

[2016-05-08 19:29] KevinMulhern commented on #3752
I have a unfinished draft wrote up for this, it will be my focus for the next few weeks to get this done.

[2016-05-08 19:46] KevinMulhern opened #3753 "Improve Ruby Project in Web Development 101"
This project is currently in a bad state, Some work needs to be done to the instructions to make them clearer and less confusing.

The project itself can use a lot of improvements to make it easier to set up on the users local machine and get the tests running.

All of this together will make the project a much more enjoyable and less frustrating learning experience.

**To do for instructions on l

[2016-05-17 01:31] BrandanClothier commented on #3752
The "Your Motivation For Learning Programming" and "the best ways to learn" sections are pretty messy and unconstructed in this 8 day old draft. If you've got a later version of this, I'd like to have a look and contribute a couple edits.

[2016-05-17 09:20] KevinMulhern commented on #3752
Hey @BrandanClothier yeah it's really messy right now, I just put all the ideas I could think of down. but I will clean it up this weekend 😄

[2016-06-18 23:26] KevinMulhern commented on #3752
First Draft finished https://github.com/TheOdinProject/curriculum/pull/4003

[2016-06-19 15:51] #3752 closed

[2016-06-26 12:33] KevinMulhern commented on #3753
This is no

[2016-06-26 12:33] #3753 closed

[2016-06-27 16:51] eriktrautman opened #4073 "Adding DNS explanation"
From feedback form:
*****
In "How does the web work" section, there is not a tutorial explaning DNS. I have used http://www.howtogeek.com/122845/htg-explains-what-is-dns/ this article to understand what a DNS is. Maybe there are better tutorials, or maybe this is good but there should be something about DNS in there.
*****

[2016-07-05 16:31] KevinMulhern opened #4148 "Edit Git basics and Move it into a new section on web dev 101"
Because Git is used rather early on to upload the html and css project as well as the other projects in web dev 101 it would be beneficial to move this lesson to a new section that comes earlier in the course.

A part of this will be editing the lesson, it's focus should be on giving the student a high level overview of GIT and the basic workflow of committing and pushing changes.

http://www.theo

[2016-07-05 16:39] KevinMulhern opened #4149 "Create a GIT project"
A small easy project for git early in web dev 101 would be good for the student to get acquainted with the basic workflow of using GIT before they need to use it in a project

The main project will be a simple task of uploading a directory with a file in it. Within the file the student can simply add "Hello World".

Then we will task them with going through the basic git workflow of adding, commit

[2016-07-08 09:25] KevinMulhern opened #4176 "Edit how the does the web work lesson on web dev 101"
This lesson is a bit messy at the moment, it currently mixes high level overviews of how the internet works with shallow explanations of http and also has dev tools mixed in.

It would be better to keep this lesson focused on providing a high level overview of how the internet works with a few high quality resources instead of the link farm it is at the moment. We should also include a better reso

[2016-07-08 10:33] KevinMulhern opened #4177 "Create a dev tools lesson"
we should create a stand alone dev tools lesson due to the importance of dev tools and the fact that the resources we currently have for dev tools are spread throughout a couple of different lessons.

This new lesson will be located just before the google homepage project and will include the resources we already have for dev tools.

Check List:
- [x] Decide on the resources that will be used in t

[2016-08-02 04:46] m-chrzan opened #4346 "Broken links"
It appears that rubymonk.com is [down](http://downforeveryoneorjustme.com/rubymonk.com). This affects the [Files and Serialization](http://www.theodinproject.com/ruby-programming/files-and-serialization) assignment and the Additional Resources section of [Ruby Building Blocks](http://www.theodinproject.com/ruby-programming/ruby-building-blocks).

[2016-08-02 17:56] KevinMulhern commented on #4346
Hey @m-chrzan, thanks for raising this, I'm not sure if rubymonk is being maintained anymore. But lets wait a few days to see if it comes back online.

[2016-08-03 00:03] tutordelphia commented on #4346
Sounds like it will be back up soon:

@ponnappa Hi there,
the website https://rubymonk.com/  has been down for over a week. It is troubling me and I wondered what happened?

Sidu Ponnappa ‏@ponnappa  Aug 1
@Tony_CT_Hsu An issue with our hosting company payments, we're getting it resolved by the end of this week. Apologies for the downtime.

[2016-08-03 00:10] KevinMulhern commented on #4346
Thanks for looking into this @tutordelphia, it's good to know they aren't down for good.

[2016-08-03 20:23] KevinMulhern commented on #4177
this has been completed https://github.com/TheOdinProject/curriculum/pull/4358

[2016-08-03 20:23] #4177 closed

[2016-08-03 23:28] csrail opened #4365 "Check: Are the Code School videos in the Web Developer Tools lesson working?"
Want to double check with others - do the [videos](http://discover-devtools.codeschool.com/chapters/1/challenges/1?locale=en) for the [Web Developer Tools](http://www.theodinproject.com/web-development-101/developer-tools) lesson at Code School work for you?

I have tried in both firefox and google chrome and I cannot load a video. If the videos cannot be loaded this would be that students would h

[2016-08-03 23:39] chrisgchambers commented on #4365
Failing to load intermittently for me chrome. Loads video immediately about 20% of the time. Rest of the time spins and spins and spins.

[2016-08-05 14:02] KevinMulhern commented on #4365
Yeah it's not loading for me neither, I've added a note to that assignment and a reminder for myself to check this out again in a weeks time. I checked the forums on Codeschool and its something they are working on.

[2016-08-07 18:15] tutordelphia commented on #4346
Still down so far.

Are there any tools that The Odin Project can use to monitor broken links and spelling mistakes? I've been fixing them as I come across them but for my own site I use CheckDog.com and a WordPress Plugin to do spelling and link checking. Are there any open source projects that provide the same functionality?

[2016-08-07 18:18] KevinMulhern commented on #4346
Good question, I don't know of any but that's something we should definitely look into.
We could build a rake task that checks for links in the content that returns 404's. Its been something I've been meaning to do.

[2016-08-07 19:46] m-chrzan commented on #4346
While we're waiting, I'd suggest adding another resource on serialization to the section - either as a replacement of the Ruby Monk link, or in the Additional Resources section. I found this [blog post](http://www.skorks.com/2010/04/serializing-and-deserializing-objects-with-ruby/) by Alan Skorkin useful and easy to follow, though it is a bit outdated.

[2016-08-08 06:56] KevinMulhern commented on #4346
That's not a bad idea @m-chrzan I also found this https://www.sitepoint.com/choosing-right-serialization-format/

[2016-08-09 15:10] eriktrautman opened #4403 "Missing assignment? DS + Algos"
Hi there! In Ruby Programming >> A Bit of Computer Science >> 3: Common Data Structures and Algorithms, the sixth assignment went missing. Amazing project thanks!

[2016-08-09 23:00] chrisgchambers opened #4407 "Breadth First / Depth First Video Unavailable on YouTube"
ruby/data_structures_algorithms.md

http://www.youtube.com/watch?v=zLZhSSXAwxI is unavailable on YouTube.

It's not clear from context what the content of this video was, but I did find a good explanation of Breadth-First and Depth-First here:

https://www.youtube.com/watch?v=9RHO6jU--GU

Can someone familiar with the old video confirm this video will fill the gap?

[2016-08-10 07:01] KevinMulhern commented on #4407
Hey @chrisgchambers, thanks for finding another video. I'll leave this open for a couple of days for others to comment. But I'm sure the video you found is a good replacement.

[2016-08-12 17:08] jerrykuo7727 opened #4433 "Found a wrong project submitted to student solution"
http://www.theodinproject.com/ruby-on-rails/sinatra-project
At the Student Solutions part of Project1: Ceasar Cipher reloaded,
I found <b>AaronGerry</b> submitted the web guesser instead of the Ceasar cipher. (Line 4)

Is it fine? Or should I pull a request to delete a wrong student solution like this one?

[2016-08-12 17:13] chrisgchambers commented on #4407
I needed to  watch the next couple in that series to have enough information to do the binary search tree project. It may be worth trying to find something a little more succinct, but the information was indeed excellent.

[2016-08-12 21:25] KevinMulhern commented on #4407
What about the putting the series of videos in?

[2016-08-12 21:26] KevinMulhern commented on #4433
Hey @jerrykuo7727 nice catch, yeah that should be removed.

[2016-08-13 06:10] jerrykuo7727 commented on #4433
Copy that.

[2016-08-13 06:10] #4433 closed

[2016-08-13 19:19] chrisgchambers commented on #4407
Sure. It's a little on the long side but very worthwhile imo.

[2016-08-14 09:20] #4346 closed

[2016-08-14 19:24] KevinMulhern commented on #4407
Do you want to put a pull request together for it @chrisgchambers?

[2016-08-16 07:07] #4407 closed

[2016-08-16 07:08] KevinMulhern commented on #4403
Fixed with https://github.com/TheOdinProject/curriculum/pull/4455

[2016-08-16 07:08] #4403 closed

[2016-08-16 07:10] KevinMulhern commented on #4365
@csrail, @chrisgchambers the videos worked for me when I checked this morning. Can you guys please quickly test the videos work for you too incase it was a fluke.

Thanks 😄

[2016-08-16 16:36] chrisgchambers commented on #4365
Working ok here.

[2016-08-16 21:08] csrail commented on #4365
I immediately regret pressing the play button.
Yes it's working at my end too albeit the cheesy music.

[2016-08-16 21:32] KevinMulhern commented on #4365
Haha thanks guys.

[2016-08-16 21:32] #4365 closed

[2016-08-20 13:32] KevinMulhern commented on #4073
New DNS resources have been added https://github.com/TheOdinProject/curriculum/pull/4481

[2016-08-20 13:32] #4073 closed

[2016-08-20 13:33] KevinMulhern commented on #4176
This has been done by @csrail https://github.com/TheOdinProject/curriculum/pull/4481

[2016-08-20 13:33] #4176 closed

[2016-08-21 03:53] csrail opened #4494 "An introduction to SQL is missing"
In the [databases lesson](http://www.theodinproject.com/web-development-101/databases) at web development 101 has an obsolete link under step 1 of Assignment:

"Check out a pretty good plain-english explanation of SQL, written by Zed Shaw, at [Learn SQL The Hard Way](http://sql.learncodethehardway.org/book/introduction.html). Only read the introduction (unless you're feeling ambitious)."

- Zed Sh

[2016-08-24 02:45] eriktrautman opened #4516 "Misguided link"
Hi Odin Project!

Loving the curriculum so far! Just wanted to let you know that Assignment 1 of Databases (Check out a pretty good plain-english explanation of SQL, written by Zed Shaw, at Learn SQL The Hard Way...) doesn't point to a curriculum anymore. Seems like the book is still in its planning stages?

[2016-08-24 02:45] eriktrautman commented on #4516
Web Dev 101 > Back-End > Databases

[2016-08-24 03:58] csrail commented on #4516
Yup I have mentioned it in #4494 :)
I have read the introduction before so I know that the link was pointing to the correct resource but I think Zed has hidden it from view and is now redirecting to only a cover page.

It's been difficult trying to find a simple resource that is really similar in tone and overview but most end up being too comprehensive as an introduction and don't show real life

[2016-08-28 01:31] m-chrzan opened #4535 "Atlassian Git tutorials change"
Part 2 of the assignment in A Deeper Look at Git links to `https://www.atlassian.com/git/tutorials/git-basics`, which doesn't exist any more - I'm guessing Atlassian changed how the tutorials are organized? The link nicely redirects to [the full list of git tutorials](https://www.atlassian.com/git/tutorials/) they offer, but not one of them is titled "Git Basics."

I'm sure we can still use the At

[2016-08-28 01:44] KevinMulhern commented on #4535
Hey @m-chrzan thanks for opening this, I reckon they split that part into these three new parts.
https://www.atlassian.com/git/tutorials/setting-up-a-repository
https://www.atlassian.com/git/tutorials/saving-changes
https://www.atlassian.com/git/tutorials/inspecting-a-repository

[2016-08-28 01:45] KevinMulhern commented on #4535
do you want to create a pull request with those three links in step 2? to get another commit to your name in the contribution list 😄

[2016-08-28 01:48] m-chrzan commented on #4535
Sure thing!

[2016-08-28 02:01] #4535 closed

[2016-08-28 03:23] m-chrzan commented on #4494
Zed's Command Line Crash Course link is also broken (points to Learn Unix the Hard Way cover page). Fortunately it's just an Additional Resources link (Web Development 101 > Command Line Basics), so removing it won't affect the curriculum.

[Learn Ruby the Hard Way](https://learnrubythehardway.org/book/) appears to still be free and available, so no issues there.

[2016-08-28 04:10] KevinMulhern commented on #4494
Thanks @m-chrzan, Zed Shaw has been forever banished from command line basics 😄 https://github.com/TheOdinProject/curriculum/commit/431646769751402a6d53dbdb4db65973d2c2b276

[2016-08-29 15:49] eriktrautman opened #4549 "Quick Typo"
Hello, I have found a typo on the site. It is on the "Command Line Basics" page in "Web Development 101". Under the "Points to Ponder", there is the question "Where will cd on it's own navigate you to?" which means "Where will cd on it is own navigate you to?", while it should be "Where will cd on its own navigate you to?". It's not a huge deal but I just figured that I'd let you guys know.

-Dan

[2016-08-29 15:56] KevinMulhern commented on #4549
Thanks @eriktrautman, fixed with https://github.com/TheOdinProject/curriculum/commit/25a63f439ac8c05973c4c71c79d18469a10a6a22

[2016-08-29 15:56] #4549 closed

[2016-08-29 16:09] KevinMulhern opened #4550 "Change all mentions of slack to gitter and change the chat page link"
In preparation for our move to gitter we need to go through the curriculum and change all mentions of slack to gitter.

From doing a global search on the curriculum files, these are the files where slack is mentioned:
* rails/conclusion.md
* web_development_101/project_installations.md

We will be removing the [chat page](http://www.theodinproject.com/chat) and linking directly to the new gitter g

[2016-08-29 19:31] csrail commented on #4550
Where git is located:

- [ ] the gearing up lesson includes mentions of slack
- [ ] the conclusion of the rails course
- [ ] the installfest project has mentions of slackand the main site:
- [ ] slack link button needs updating
- [ ] the chat page
- [ ] the contribution page

[2016-08-29 20:20] KevinMulhern commented on #4550
These are all on the main site @csrail
* slack link button needs updating
* the chat page
* the contribution page

I've got them in this one https://github.com/TheOdinProject/theodinproject/issues/204

[2016-08-29 20:38] csrail commented on #4550
Cool. I updated the checklist.

[2016-08-29 22:19] csrail opened #4553 "Update Euler Problems"
Many beginners are struggling with Euler problems and becoming disheartened - believing they aren't cut out to be programmers. It's a frequent complaint cropping up.

We will need to find replacements for the Euler problems.
Here are some options:
1. Replace with newer and easier problems;

Keep in mind the Ruby section also has Euler problems s
2. Take Euler problem 1 and break it down step by st

[2016-08-29 22:57] KevinMulhern commented on #4149
I suppose we don't need this anymore @csrail 😄

[2016-08-29 22:57] #4149 closed

[2016-09-01 23:33] csrail commented on #4553
#4554 for javascript complete.

Rework for Ruby pending.

[2016-09-01 23:34] #4516 closed

[2016-09-04 22:00] csrail commented on #4550
The links have been updated and a pull request made: #4593

[2016-09-05 10:03] 105ron opened #4596 "Rails 4.1 secret.yml"
I've come across an issue using github for rails 4.1. The file /config/secrets.yml should not be included in git commits and should be ignored. A note could be added to odin to git ignore these files so that users become aware of this issue as tutorials are written before compiling a rails app created this issue. Having these files on github for the public to see is a security issue that novice de

[2016-09-05 15:31] KevinMulhern commented on #4596
Thanks for opening this issue @105ron, we will look into this.

[2016-09-05 23:40] csrail commented on #4553
#4600 for ruby complete.

Question for @kriox26, do you know what happened to the formatting of the student solutions in [Javascript Basics](http://www.theodinproject.com/web-development-101/javascript-basics)?

[2016-09-05 23:48] #4553 closed

[2016-09-06 20:41] csrail opened #4604 "Sublime Text is free to use"
The sublime pop up keeps tripping users up. They think the prompt means you have to pay to keep using Sublime.

* This obviously isn't the case but since this keeps being a frequent issue it would be a good idea to place a message for new users to see.

* It may be a good idea to also suggest atom as a text editor to use.

Any ideas where to put this notification?

[2016-09-06 20:45] codyloyd commented on #4604
I agree.. Sublime is the default because that is what the installfest suggests, so maybe putting in a note very near the installfest would be good.   I suspect that many people skim the section right before the actual installing because it is quite lengthy, so I'm not sure where the best place for that note would be.

I also like the idea of mentioning Atom, but it _is_ quite a bit heavier on the

[2016-09-08 21:24] csrail opened #4620 "How to use the gitter chatroom"
This needs a location to be placed at. Any ideas for this mini-lesson?

**Issues:**
1) A lot of people enter a chat room and have little reason to stay.
2) They also have a poor understanding of how to ask a question.
3) They have difficulty formatting the question.

**Responses**
1) Talk about how chat is actually quite active but people have a limited amount of time a day so you may not get imme

[2016-09-09 21:43] #4550 closed

[2016-09-09 23:38] csrail commented on #4620
Pull request at #4628.

[2016-09-12 00:34] csrail commented on #4148
Yay this is finished! :tada:

These lessons should really help beginners understand how to use git!
The lessons are located in [Web Development 101](http://www.theodinproject.com/web-development-101#section-git-basics):
* [Git 101](http://www.theodinproject.com/web-development-101/introduction-git)
* [Git basics](http://www.theodinproject.com/web-development-101/git-basics)
* [Project Git basics](

[2016-09-12 00:34] #4148 closed

[2016-09-12 01:18] #4596 closed

[2016-09-12 01:20] #4494 closed

[2016-09-12 05:49] csrail opened #4642 "Format how to set up a git repo in google homepage projects"
With the new additions to git lessons, we also need to update, at the very least, the instructions for setting up a git repo on the google homepage project.

All other projects pointing to the google homepage project for a git explanation may also need inspecting.

[2016-09-12 06:52] 105ron opened #4645 "Searching Binary Trees - Youtube link down"
http://www.theodinproject.com/ruby-programming/data-structures-and-algorithms?ref=lc-pb

On this page, item number 5 in Searching Binary Trees project links to this video...

http://www.youtube.com/watch?v=zLZhSSXAwxI

This video has been unavailable for the last couple of days. It says it appears earlier in the curriculum but I've not found any other broken youtube links in the computer science s

[2016-09-12 06:59] csrail commented on #4645
Thanks for this @105ron ++

The website will update in 24 hours.
The changes were made here:
https://github.com/TheOdinProject/curriculum/blob/master/ruby/project_data_structures_algorithms.md

[2016-09-12 06:59] #4645 closed

[2016-09-12 21:13] #2285 closed

[2016-09-13 07:31] csrail commented on #4642
Updated google homepage project at #4660.

I believe all the other projects say:
"Follow the instructions atop the Google Homepage project to set up a Github repository for this project (of course you'll need to change the title)."

So the context has been updated.

[2016-09-13 07:31] #4642 closed

[2016-09-13 15:54] ayellapragada opened #4664 "Minor text fix on Learn Web Dev 101 Rails Project"
In the [Rails Project](http://www.theodinproject.com/web-development-101/ruby-on-rails?ref=lc-pb) in Learn Web Dev 101, in the Extra Credit area # 2 says the following text:

"If you aren't comfortable with git, either skip ahead a few lessons to the introductory section on git or skip any of the $ git ... commands for now. They're essential to learn eventually but non-essential right now (it's so

[2016-09-13 16:02] KevinMulhern commented on #4664
👍 thanks for opening this @ayellapragada. I'll get it fixed.

[2016-09-13 16:04] KevinMulhern commented on #4664
Fixed with: https://github.com/TheOdinProject/curriculum/commit/2dba296049a571527613a0ff63a271e3ac9977a9

[2016-09-13 16:04] #4664 closed

[2016-09-15 12:53] KevinMulhern opened #4674 "Test card"

[2016-09-15 12:53] #4674 closed

[2016-09-15 23:52] csrail opened #4677 "Mint website to copy is broken"
In [Project: HTML Forms (with Mint)](http://www.theodinproject.com/html5-and-css3/html-forms) the example project page to copy is broken:

https://mint.intuit.com/login.event?task=S

There won't be any forms to copy.
Any suggestions?

[2016-09-16 12:00] KevinMulhern commented on #4677
Hey @csrail, it's displaying for me

[2016-09-16 15:44] csrail commented on #4677
That's good. I'm still getting a blank though so I wonder how reliable it is for other users; we'll just have to monitor.

I am using firefox at the moment and based in NZ so it might be one of those issues...
I might be able to put this up as a portfolio item if it's stable again heh.

[2016-09-16 15:59] #4677 closed

[2016-09-21 03:44] 105ron opened #4708 "TheOdinProject repository no longer contains a /dev branch"
http://www.theodinproject.com/ruby-programming/using-git-in-the-real-world?ref=lc-pb

The 'dev' branch appears to no longer exist within The Odin Projects git. The exercise says not to merge with 'Master' but there appears not to be any other options for the assignment? Thanks.

[2016-09-21 07:26] KevinMulhern commented on #4708
We should probably remove that part about the dev branch. We are planning on replacing those git lessons in the near future.

[2016-09-21 10:57] csrail commented on #4708
:feelsgood:  :shipit:

[2016-09-21 19:02] KevinMulhern commented on #4708
Created a new `dev` branch until we can get a chance to change those lessons

[2016-09-21 19:02] #4708 closed

[2016-09-21 19:03] KevinMulhern commented on #4620
This is live 🎉

[2016-09-21 19:03] #4620 closed

[2016-09-21 19:04] KevinMulhern commented on #1636
We made the khan academy course the main resource for the database course a while back. This should have been closed 😄

[2016-09-21 19:04] #1636 closed

[2016-09-25 22:11] csrail opened #4749 "Troubleshooting Git Basics lesson"
The newly launched git lessons have been going great so far - in fact there haven't been any problems bar one. This problem originates from the assignment in the [Git Basics lesson](http://www.theodinproject.com/web-development-101/practicing-git-basics). In particular, trying to introduce `git init` and then `git add *.c`.

It should be clear that `*.c` is a placeholder for a file with the extens

[2016-09-25 22:50] KevinMulhern commented on #4749
what about replacing them with some of the atlassian guides instead
these ones to be specific:
* https://www.atlassian.com/git/tutorials/setting-up-a-repository
* https://www.atlassian.com/git/tutorials/saving-changes
* https://www.atlassian.com/git/tutorials/inspecting-a-repository

[2016-09-25 22:54] KevinMulhern commented on #4749
Another option would be to add a note telling the student the files used in the tutorial are dummy files they will have to create first. But that could get messy.

[2016-09-26 03:06] csrail commented on #4749
Although I do like the git tutorials on atlassian, there's an issue there with context regarding SVN as another version control system. Both the latter two links of atlassian look really good actually. It's just the first one (setting-up-a-repoistory) talks about random things.

Yea I don't like having to clean up loose ends like that, it'll add a dependency :hankey: that I don't want.

[2016-09-26 09:42] KevinMulhern commented on #4749
agreed on the second option I don't like that either. Yeah I just noticed they start talking about SVN.
One more option would be the git course on codecademy https://www.codecademy.com/learn/learn-git

I've heard good things about it

[2016-09-26 20:06] csrail commented on #4749
All right I'll concede with the codeacademy lesson.
Our additional resources cover all the background material for the more conceptual / theoretical people.

I'm go for codeacademy:  https://www.codecademy.com/learn/learn-git

[2016-09-26 20:34] KevinMulhern commented on #4749
👍 sounds good

[2016-09-30 19:37] saqib1707 commented on #4749
Hi everyone,new to open source having basic knowledge of python , C++, javascript. Any easy issues to get started on to contributing to this repo..??

[2016-09-30 19:46] saqib1707 commented on #4604
That note can be added on the top-right side as a pop up menu when the pop menu of sublime  comes...

[2016-10-02 21:37] KevinMulhern commented on #4604
@saqib1707 I don't see how that would be possible?

[2016-10-03 03:27] aswinmohanme opened #4800 "Cannot access http://beginningruby.org/"
**Problem**
The Site [http://beginningruby.org/](http://beginningruby.org/) displays nothing sensible when opened. [http://www.theodinproject.com/ruby-programming/ruby-building-blocks ](http://www.theodinproject.com/ruby-programming/ruby-building-blocks ) points to that website.

[2016-10-03 11:17] KevinMulhern commented on #4800
Thanks @aswinmohanme we will get this fixed

[2016-10-04 18:35] aswinmohanme commented on #4800
Now it shows that the domain name has Expired

[2016-10-04 19:11] KevinMulhern commented on #4800
Fixed with https://github.com/TheOdinProject/curriculum/commit/7083ed4aaded70b1e6d15530e0c39717834a1aad

[2016-10-04 19:11] KevinMulhern commented on #4800
This now links to the amazon page for the book

[2016-10-04 19:15] #4800 closed

[2016-10-08 17:55] csrail commented on #4749
The 3-part Pro Git resource has been substituted entirely with the first interactive lesson of https://www.codecademy.com/learn/learn-git

[2016-10-08 17:55] #4749 closed

[2016-10-18 15:12] codyloyd commented on #4604
I think I covered this in my latest PR.. check it out and we can close the issue

[2016-10-19 22:50] #4604 closed

[2016-10-31 02:01] nmacawile opened #5049 "Broken Link"
The link 'The Anatomy of a Web Application' (http://www.buildingwebapps.com/transcript/79327-anatomy-of-a-web-application) under 'web_development_101/how_are_websites_built' is down.

[2016-10-31 02:11] KevinMulhern commented on #5049
Thanks @nmacawile we will get this fixed 😄

[2016-10-31 14:50] eriktrautman opened #5054 "Broken images"
Via email:

Location - Course List >> HTML5 and CSS3 >> Basic HTML Page Structure >> 4: Working with Images, Video and Other Media Assignment 4, images are no longer loading on the article.

[2016-11-01 22:11] KevinMulhern opened #5070 "Scroll Bar Bugs"
* scroll bar appears on points to ponder list on ruby building blocks
* No scroll bar appears on student solutions for the event manager project (Reported)

[2016-11-02 06:52] ChadKreutzer commented on #5049
Yup. looks like it doesn't exist at all. I never clicked on it, so I'm not sure what exactly it contained, but based on the title and the google slug, here are a couple potential replacements:
[Short and sweet on MVC with a cute name](http://blog.roberteshleman.com/2014/07/07/models-views-and-controllers-oh-my-anatomy-of-a-rails-app/)
[Looks like it was abandoned after part II, but what's there is

[2016-11-02 10:17] KevinMulhern commented on #5054
Fixed by @ChadKreutzer https://github.com/TheOdinProject/curriculum/pull/5076

[2016-11-02 10:17] #5054 closed

[2016-11-02 10:18] KevinMulhern commented on #5049
Nice find @ChadKreutzer, do you want to open a PR replacing the broken article with these? 😄

[2016-11-02 11:24] ChadKreutzer commented on #5049
Sure. Go ahead and assign me to it since I may not have time to finish it this morning.

[2016-11-02 11:53] KevinMulhern commented on #5049
It's all yours 😄 thanks Chad.

[2016-11-03 10:39] #5049 closed

[2016-11-03 14:44] JustinVx opened #5090 "Link not working on 'How Are Websites Actually Built in the Real World?'"
On the ['How Are Websites Actually Built in the Real World?' page](http://www.theodinproject.com/courses/web-development-101/lessons/how-are-websites-built-in-the-real-world?ref=lnav) in Webdevelopment 101, the link to  ['The Anatomy of a Web Application'](http://www.buildingwebapps.com/transcript/79327-anatomy-of-a-web-application) is a webpage that seems to be deleted.

[2016-11-03 14:51] KevinMulhern commented on #5090
Hey @JustinVx, this was fixed this morning 😄 I just pushed out the fix.

[2016-11-03 14:51] #5090 closed

[2016-11-07 12:04] leosoaivan commented on #5070
Related:
- Scroll bar appears on solutions to the Knight's Travails project, but not on solutions for Binary Search Tree project (http://www.theodinproject.com/courses/ruby-programming/lessons/data-structures-and-algorithms)

[2016-11-10 15:45] codyloyd commented on #5070
curses...
the only real way to deal with this is to either work on the lessons themselves, or remove scrollbars altogether.

I'll mess around and see what needs to be done to the lessons.

Kev: is there a way I can mess with the curriculum that gets pulled into my local version of the mainsite?  Not really sure how else to test changing curriculum stuff AND css stuff

[2016-11-10 15:57] KevinMulhern commented on #5070
I don't think so man, I would leave this until we do the the user projects feature. We should be starting it within the next couple of weeks anyway 😄

[2016-11-10 15:58] codyloyd commented on #5070
yay

[2016-11-10 21:58] csrail opened #5150 "Learn Ruby troubleshooting"
Some students have recently come across the learn-ruby test suite and have been unable to run the rspec tests. Most of the issues were related to parent folders having spaces in between them. Improving visibility of this common troubleshooting problem will help a lot of users. It is already located in the README.md of the forked project but it is clear that some people are not reading it in its en

[2016-11-10 22:16] KevinMulhern commented on #5150
Maybe put it at the top of the readme?

[2016-11-11 00:20] 105ron commented on #5150
https://github.com/105ron/learn_ruby/blob/aaa0c552a62ade858706bd3ffda72ca462d9df52/README.md . Something along those lines should cover it?

[2016-11-14 17:26] KevinMulhern opened #5180 "Remove twitter spam bot project"
Twitter seems to have changed their API making this project impossible to work with. We should remove this project and just have the server and browser project.

The description of this lesson on the main site will need to be updated to reflect this change. Whoever picks this up let me know and I'll make the change on the main site if you're not comfortable doing that.

Lesson in question:
http://

[2016-11-15 13:48] simoroshka opened #5186 "The link to backbone tutorials is broken"
The website doesn't seem to exist anymore (or the link is wrong), the domain is on sale.
The page with the broken link:
http://www.theodinproject.com/courses/javascript-and-jquery/lessons/building-single-page-websites-with-angular-js-and-backbone-js

[2016-11-15 13:53] KevinMulhern commented on #5186
Thanks for reporting this @simoroshka 😄

[2016-11-15 17:07] ChadKreutzer commented on #5180
I'll be happy to take this, I'll take a shot at modifying the main site before asking for help--I'm thinking grep will be my friend to find the right file?

[2016-11-15 17:12] ChadKreutzer commented on #5186
Consider it done. I'll Google around for an alternative tutorial.

[2016-11-15 17:25] KevinMulhern commented on #5180
Hi @ChadKreutzer, thanks for taking this on. Yeah it should just be a one line change in the `seeds.rb` file on the main site. If you need any help with it give me a ping on gitter 😄

[2016-11-15 17:26] KevinMulhern commented on #5186
Thanks @simoroshka 😄

[2016-11-15 21:42] KevinMulhern commented on #5186
@ChadKreutzer solved this https://github.com/TheOdinProject/curriculum/commit/c155957ebd1b0b75c27da73b31f199483c883915

[2016-11-15 21:42] #5186 closed

[2016-11-15 21:42] KevinMulhern commented on #5180
@ChadKreutzer solved this https://github.com/TheOdinProject/curriculum/commit/b8efa51b402ed2edcaff7c70c0afd8b06039fb7f

[2016-11-15 21:42] #5180 closed

[2016-11-21 02:30] 105ron opened #5232 "Broken link in HTML track"
https://github.com/TheOdinProject/curriculum/blob/master/html_css/links.md

This link...

http://jeffreybarke.net/2013/06/paths-and-urls-relative-and-absolute/

Jeffrey Barke's site seems to be no longer available.

Though Jeffrey still seems to be active on twitter https://twitter.com/jeffreybarke

[2016-11-23 18:24] #5232 closed

[2016-11-27 12:09] OlehSliusar opened #5275 "Broken link"
In the lesson Introduction to Web Development >> About Web Developers >> 2: Web Development Jobs and Careers, there's a link to codecomputerlove which leads to a website that can't be reached.

[2016-11-27 16:05] KevinMulhern commented on #5275
Is this the link @OlehSliusar?
http://www.codecomputerlove.com/blog/a-day-in-the-life-of-a-web-developer
It seems to be working for me

[2016-11-27 16:05] KevinMulhern commented on #5275
It might have been down when you tried it though

[2016-11-27 20:08] OlehSliusar commented on #5275
@KevinMulhern it doesn't work for me even now... That's strange

[2016-11-27 20:21] OlehSliusar commented on #5275
It works only in Tor browser. Maybe it's a problem of my country

[2016-11-27 21:09] KevinMulhern commented on #5275
Yeah it still works for me, very strange.

[2016-12-03 08:57] 105ron opened #5319 "RestClient does not return Google Search"
See point 5.
https://github.com/TheOdinProject/curriculum/blob/master/rails/project_lets_build.md

A student was trying to get their rest-client bot to query Google. Their code was (or appeared to me to be) correct but Google seemed to be detecting the request was made outside the browser and returning the html for the Google home page and not the search results.

Is there a search engine we could

[2016-12-03 11:50] KevinMulhern commented on #5275
Hey @OlehSliusar, I'm closing this because it hasn't been reported anyone else. I think it might be a country problem as you suggested. Thanks for reporting it 😄

[2016-12-03 11:50] #5275 closed

[2016-12-03 14:00] OlehSliusar commented on #5275
@KevinMulhern Ok, male

[2016-12-07 11:56] ChadKreutzer commented on #5319
Bing. I just tried it and it worked with Bing.

[2016-12-07 12:58] ChadKreutzer commented on #5319
Solved in issue #5339

[2016-12-07 12:58] #5319 closed

[2016-12-08 13:50] ChadKreutzer commented on #5150
@105ron Did you want to go ahead and push that up?

[2016-12-09 06:08] 105ron commented on #5150
@ChadKreutzer @KevinMulhern I don't have authoization to merge but I have made the pull request so this can be closed off.

[2016-12-09 06:42] ChadKreutzer commented on #5150
Moved to [Learn Ruby #9](https://github.com/TheOdinProject/learn_ruby/pull/9)

[2016-12-09 06:42] #5150 closed

[2016-12-10 18:20] KevinMulhern opened #5374 "Test issue"

[2016-12-10 18:32] #5374 closed

[2016-12-11 10:21] KevinMulhern opened #5379 "Git Course"
This is the overview of the development of our Git course. Please feel free to leave suggestions in the comments, such as:
* Resources you think should be used in this course
* Lessons not on the lesson plan you think should be included
* Projects you think will make this course more engaging
* Any kind of feedback in general in relation to this course.

### We need your help
We encourage you to c

[2016-12-11 10:30] KevinMulhern opened #5380 "Git Course: Undo changes Lesson"
This is the lesson details for the proposed "Undo Changes" lesson in our new Git course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student the different techniques for undoing changes in Git. For example checking out a previous version of a file, reseting to a previous commit etc.

### Learning Outcomes for Lesson
* The st

[2016-12-11 11:16] KevinMulhern opened #5381 "Git Course: Undo Changes Project"
This is the project details for the proposed "Undo Changes" project in our new Git course. If you want to work on this project please leave a comment to let us know.

### Description
This project will allow the student to practice the techniques for undoing changes with git which they learned about in the "Undo Changes" Lesson.

The student will be tasked with cloning a repo with some commits alre

[2016-12-11 12:40] KevinMulhern opened #5382 "Git Course: Branches"
This is the lesson details for the proposed "Introduction to branches" lesson in our new Git course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach how to think conceptually about branches and what they are useful for.

### Learning Outcomes for Lesson
* The student understand what a branch is in git
* The student understand what t

[2016-12-11 12:44] KevinMulhern opened #5383 "Git Course: Working with Git branches"
This is the lesson details for the proposed "Working with Git Branches" lesson in our new Git course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student the different the commands for working with branches in git.

### Learning Outcomes for Lesson
* The student knows how to create a branch
* The student knows how to checkou

[2016-12-11 12:50] KevinMulhern opened #5384 "Git Course: Git Branches Project"
This is the project details for the proposed "Git Branches" project in our new Git course. If you want to work on this project please leave a comment to let us know.

### Description
This project will allow the student to practice creating and working in a branch and then merging their changes back into master

The Student will be tasked with forking and cloning a repo which already has a file in

[2016-12-11 13:08] KevinMulhern opened #5386 "Git Course: Git remotes"
This is the lesson details for the proposed "Git Remotes" lesson in our new Git course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student what a remote is and use to work with it.

### Learning Outcomes for Lesson
* The understands what a remote is
* The student knows how to view remotes on a local project
* The student kn

[2016-12-11 13:13] KevinMulhern opened #5387 "Git Course: Project Remotes"
This is the project details for the proposed "Git Remotes" project in our new Git course. If you want to work on this project please leave a comment to let us know.

### Description
This project will allow the student to practice submitting a PR to a repo that belongs to Odin.

The Student will be tasked with forking and cloning a repo which already has a file in it which will include a list of na

[2016-12-11 13:17] KevinMulhern opened #5388 "Git Course: Conclusion"
his is the lesson details for the proposed "Conclusion" lesson in our new Git course. If you want to work on this lesson please leave a comment to let us know.

### Description
This will be the closing lesson in our Git course it will include a summary of everything taught in the course and how the student will use this in the future in a job setting. It will also include direction of where to fin

[2016-12-26 01:46] waglebr opened #5466 "Broken link"
There's a broken link under Student Solutions at the end of the page (http://www.theodinproject.com/courses/web-development-101/lessons/html-css)
![image](https://cloud.githubusercontent.com/assets/10777324/21473734/35d0fd1a-cafc-11e6-8773-dccdeda9f7b5.png)

[2016-12-26 02:39] 105ron commented on #5466
This link is on every project page. We might need to make another contributing.md as the easiest fix for this?

[2016-12-26 17:30] KevinMulhern commented on #5466
Yeah I was thinking about creating a temporary file which just included the video Erik made. This wont be a problem when the student submissions feature goes live.

[2016-12-27 03:08] Himanshi-Khandelwal commented on #5388
I would like to help.

[2016-12-28 22:09] KevinMulhern commented on #5466
This has been fixed

[2016-12-28 22:09] #5466 closed

[2016-12-29 06:12] Himanshi-Khandelwal commented on #5388
please brief for what all I need to do.

[2016-12-29 18:19] KevinMulhern commented on #5388
@Himanshi-Khandelwal all is explained in the [README](https://github.com/TheOdinProject/curriculum/blob/master/README.md) for this repo 😄

[2016-12-30 18:59] KevinMulhern opened #5493 "Ruby Course"
This is the overview of the development of our Ruby course. Please feel free to leave suggestions in the comments, such as:
* Resources you think should be used in this course
* Lessons not on the lesson plan you think should be included
* Projects you think will make this course more engaging
* Any kind of feedback in general in relation to this course.

### We need your help
We encourage you to

[2016-12-30 19:24] KevinMulhern opened #5494 "Ruby Course: Variables, Numbers and Strings"
This is the lesson details for the proposed "Variables, Numbers and Strings" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about the basics of variables, numbers and strings in Ruby.

### Learning Outcomes for Lesson
* The student understands what a variable is
* The student knows how to

[2016-12-30 19:31] KevinMulhern opened #5495 "Ruby Course: Conditional Logic"
This is the lesson details for the proposed "Conditional Logic" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about the basics of conditional logic with if statements, branching and boolean logic.

### Learning Outcomes for Lesson
* The student understands what a truthy and falsey value i

[2016-12-30 19:36] KevinMulhern opened #5496 "Ruby Course: Loops"
This is the lesson details for the proposed "Loops" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about why loops are used in programming and how to create different loops in Ruby.

### Learning Outcomes for Lesson
* The student understands what a loop is and why its useful
* The student

[2016-12-30 19:37] KevinMulhern commented on #5494
We need to discuss what methods we should teach about strings here.

[2016-12-30 19:43] KevinMulhern opened #5497 "Ruby Course: Arrays"
This is the lesson details for the proposed "Arrays" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands what an array is
* The student knows how to access data in an array
* The student knows t

[2016-12-30 19:43] KevinMulhern commented on #5497
We should expand on the learning outcomes and make them more specific.

[2016-12-30 22:22] KevinMulhern commented on #5387
@TheOdinProject/odinmods Ready for review please. Completed by @105ron.

[2016-12-30 23:02] KevinMulhern commented on #5386
Potential resource for this lesson https://guides.github.com/introduction/flow/

[2016-12-31 14:43] #5380 closed

[2016-12-31 16:53] KevinMulhern opened #5504 "Ruby Course: Hashes"
This is the lesson details for the proposed "Hashes" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands what an hash is
* The student knows what a hash is good for
* The student knows how to ac

[2016-12-31 16:58] KevinMulhern opened #5505 "Ruby Course: Basic Enumerable Methods"
This is the lesson details for the proposed "Basic enumerable methods" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands what an enumerable method is
* The student knows what the each enumerab

[2016-12-31 17:02] KevinMulhern opened #5506 "Ruby Course: Methods"
This is the lesson details for the proposed "Methods" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands what an method is
* The student knows what a method is good for
* The student knows how

[2016-12-31 17:05] KevinMulhern opened #5507 "Ruby Course: Problem Solving"
This is the lesson details for the proposed "Problem Solving" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands the problem solving process of breaking things down
* The student understands wh

[2016-12-31 17:09] KevinMulhern opened #5508 "Ruby Course: Debugging"
This is the lesson details for the proposed "Debugging" lesson in our new Ruby course. If you want to work on this lesson please leave a comment to let us know.

### Description
This lesson will teach the student about arrays and what you can do to them

### Learning Outcomes for Lesson
* The student understands how to read the stack trace
* The student knows how to use puts and print to debug wha

[2017-01-02 11:21] KevinMulhern opened #5521 "Ruby Course: Project Caesar Cipher"
This is the project details for the proposed "Caesar Cipher" project in our new Ruby course. If you want to work on this project please leave a comment to let us know.

### Description
This project will be the same as the caesar cipher project that we already have in the ruby course.

### Progress
- [x] problem description -  description of what the student will be expected to build for the projec

[2017-01-02 11:22] KevinMulhern commented on #5521
We should look into creating a standard format for these types of projects

[2017-01-02 11:24] CouchofTomato commented on #5521
Sounds like a design pattern to me ;-)

On 2 Jan 2017 11:22, "Kevin Mulhern" <notifications@github.com> wrote:

We should look into creating a standard format for these types of projects

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/TheOdinProject/curriculum/issues/5521#issuecomment-269960258>,
or mute the t

[2017-01-02 11:26] KevinMulhern opened #5522 "Ruby Course: Project Stock Picker"
This is the project details for the proposed "Stock Picker" project in our new Ruby course. If you want to work on this project please leave a comment to let us know.

### Description
This project will be the same as the Stock Picker project that we already have in the ruby course.

### Progress
- [x] problem description -  description of what the student will be expected to build for the project

[2017-01-02 11:33] KevinMulhern opened #5523 "Ruby Course: Project Sub Strings"
This is the project details for the proposed "Sub Strings" project in our new Ruby course. If you want to work on this project please leave a comment to let us know.

### Description
This project will be the same as the sub strings project that we already have in the ruby course.

### Progress
- [ ] problem description -  description of what the student will be expected to build for the project
-

[2017-01-02 11:38] KevinMulhern opened #5524 "Ruby Course: Project Bubble Sort"
This is the project details for the proposed "Bubble Sort" project in our new Ruby course. If you want to work on this project please leave a comment to let us know.

### Description
This project will be the same as the bubble sort project that we already have in the ruby course.

### Progress
- [ ] problem description -  description of what the student will be expected to build for the project
-

[2017-01-03 03:45] leosoaivan commented on #5506
I'll take a crack at this. Are we splitting this lesson off from the Ruby Basics lesson in Web Dev 101?

[2017-01-03 03:49] leosoaivan commented on #5497
I'll take a crack at this. Are we splitting this lesson off from the Ruby Basics lesson in Web Dev 101?

[2017-01-03 07:59] KevinMulhern commented on #5497
No problem @leosoaivan 😄 these series of lessons will be replacing the basics section on the ruby course.

[2017-01-03 14:39] KevinMulhern commented on #5508
**Potential Resources**
http://www.blackbytes.info/2015/07/ruby-debugging/

[2017-01-03 14:47] KevinMulhern commented on #5495
**Potential Resources**
https://launchschool.com/books/ruby/read/flow_control#conditionals

[2017-01-03 15:17] KevinMulhern commented on #5497
**Potential Resources**
https://launchschool.com/books/ruby/read/arrays#whatisanarray

[2017-01-03 15:19] KevinMulhern commented on #5504
**Potential Resources**
https://launchschool.com/books/ruby/read/hashes

[2017-01-03 15:20] KevinMulhern commented on #5496
**Potential Resources**
https://launchschool.com/books/ruby/read/loops_iterators

[2017-01-03 15:35] KevinMulhern commented on #5506
**Potential Resources**
https://launchschool.com/books/ruby/read/methods#whataremethodsandwhydoweneedthem

[2017-01-03 20:11] KevinMulhern commented on #5507
**Potential Resources**
[pseudo code](http://www.bbc.co.uk/education/guides/z3bq7ty/revision/2)

[2017-01-06 11:18] KevinMulhern commented on #5494
**Potential Resources**

**Strings**
http://blog.appsignal.com/2016/12/21/ruby-magic-escaping-in-ruby.html?utm_source=rubyweekly&utm_medium=email

[2017-01-08 01:57] calandraz commented on #5496
I'd be interested in taking a stab at this particular task. Do I write up everything myself based on the template or is this data supplied?

[2017-01-08 14:44] KevinMulhern commented on #5496
Hi @calandraz, the mods had a meeting last night about the format these lessons should take. We decided on to go with more original content. I've updated this issue and the template to reflect this new approach. If you have any questions about please let me know 😄

[2017-01-09 17:51] iansowinski opened #5573 "Let's fix 'ruby on the web'"
Hi, ["Projects: Ruby on the web"](https://github.com/TheOdinProject/curriculum/blob/master/ruby/project_web.md) project is a mess, we are introduced with theory about TCPServer and then, first task is the same as one in theory part.

Proposed changes:
  - Move "Background Reading" section to ["Ruby on the web"](https://github.com/TheOdinProject/curriculum/blob/master/ruby/bringing_ruby_online.md)

[2017-01-09 18:00] KevinMulhern commented on #5573
Hey @iansowinski, thanks for opening this 😄 we agree it's a mess. We decided to remove this part of the curriculum as we believe it delivers little value.

[2017-01-09 21:53] calandraz commented on #5496
@KevinMulhern so instead of linking the user to external sites to read about a particular concept, we are now providing that information? Can we provide a description on the concepts and still link to an external site for further learning? Just want to make sure I am getting everything correct so that I can start writing up necessary information.

[2017-01-09 22:47] iansowinski commented on #5573
Well, for me building web server was fun!

In one side-project I took advantage of sockets in general. Maybe curriculum should focus on more general things when it comes to transferring data. I don't know. I just did this part and it felt quite important :)

[2017-01-10 10:20] KevinMulhern commented on #5573
Remove it is a strong word, we will be archiving it and probably integrating it again at a later date in a more 'advanced' Ruby course. We have started overhauling the ruby course with the goal of keeping it focused on learning the basics, OOP, testing and good program design.

[2017-01-10 10:45] KevinMulhern commented on #5496
Hey @calandraz, sorry we have been going between writing our own content or going with the same format.

We held a group vote to stick with using external resources and only writing our own content for best practices and pro-tips etc.

With that in mind this loops lesson should be pretty straight forward. It will follow the same kind of format as existing lessons.

Really all that needs to be done

[2017-01-10 20:15] calandraz commented on #5496
Hi @KevinMulhern, thanks for clearing things up for me. I'd like to start working on this and will begin working on it immediately if that's cool.

[2017-01-11 11:13] KevinMulhern commented on #5496
It's all yours @calandraz 😄

[2017-01-13 23:38] calandraz commented on #5496
Hi @KevinMulhern, is there an external repo to link to in the Exercises section? That's all that's left to do.

[2017-01-14 17:36] KevinMulhern commented on #5496
@calandraz theres none yet, we are still planning out how the exercises will work in the external repo 😄

[2017-01-15 19:56] calandraz commented on #5496
@KevinMulhern ok, no problems...I'm about to try a pull request...let me know if any changes are needed!

[2017-01-16 03:21] arun1595 opened #5617 "Split multi-project lessons into separate lessons"
Since we are going to be releasing the project submission feature soon, we can't have multiple projects in the same lesson anymore.(Learners might have different repos for each project).

This issue is focused on splitting the following multi-project lessons:

- [Building blocks](http://www.theodinproject.com/courses/ruby-programming/lessons/building-blocks)
- [Advanced Building blocks](http://www

[2017-01-16 11:57] KevinMulhern commented on #5387
@TheOdinProject/odinmods this needs a review please https://github.com/TheOdinProject/curriculum/blob/master/git/project_git_remotes.md

[2017-01-18 19:14] codyloyd opened #5633 "Javascript Course"
This is the overview of our re-vamp of the existing Javascript(JS) course. At the moment it is in it's infancy so please feel free to leave suggestions in the comments such as:
- quality resources for a given topic.
- lessons or topics you think should be included in the course.
- ideas pertaining to the sequence of lessons
- projects for each lesson/topic
- Any general feedback (the more the bett

[2017-01-19 15:39] #5573 closed

[2017-01-21 13:52] iamjackslayer commented on #860
It's 2017 and here I am stuck with this rspec problem. I feel guilty skipping this project tho.
This is what I got after $rake

(in C:/the_odin_project/learn_ruby)
rake aborted!
NoMethodError: undefined method `last_comment' for #<Rake::Application:0x00000002fce6d8>
C:/the_odin_project/learn_ruby/Rakefile:8:in `new'
C:/the_odin_project/learn_ruby/Rakefile:8:in `<top (required)>'
(See full trace by

[2017-01-21 15:54] iansowinski opened #5650 "Ruby / A deeper look at git: "Using feature banches" esource not working anymore"
Link no 4 not working anymore :(

http://www.theodinproject.com/courses/ruby-programming/lessons/a-deeper-look-at-git

[2017-01-21 15:57] KevinMulhern commented on #860
Hey @kendraforrest that isn't the same problem as the original problem in this issue 😉

I pushed up a fix to the learn_ruby earlier in the week for that. When did you clone the learn_ruby repo?

[2017-01-21 15:58] KevinMulhern commented on #5650
Thanks for letting us know @iansowinski, I'll get these fixed. This is the second time in a year they have changed the links __shakes fist_

[2017-01-21 16:08] iansowinski commented on #5650
I tried to find it via webarchive, but something is not working. Hope, some of you guys can repair it :)

[2017-01-21 16:20] KevinMulhern commented on #5650
Fixed 😄 thanks again @iansowinski

[2017-01-21 16:21] #5650 closed

[2017-01-24 14:56] KevinMulhern commented on #5633
I think that breaking the basics out into separate lessons will make it higher quality and more accessible to more beginners. The js stuff in 101 is too much in one lesson imo.

I'm not sure about this, ideally we would have exercises on site for the projects. Something they would perhaps have to do on their local machine.

[2017-01-24 15:09] codyloyd commented on #5633
goood point there.. perhaps we could roll a small test suite and create them ourselves like the test-first ruby stuff.  Wouldn't be too hard... and would give the value of running locally.

[2017-01-24 15:13] KevinMulhern commented on #5633
I think thats the best solution 😄. We are going to do that with ruby basics too, so we should be able to reuse the same exercises for both courses.

[2017-01-24 15:17] codyloyd commented on #5633
there you go :D edited.

[2017-01-26 11:08] 105ron opened #5692 "Broken links on VCS Page"
[This page](http://www.theodinproject.com/courses/web-development-101/lessons/terms-to-know) on TOP instructs the students to read the [VCS terms to know](https://www.vikingcodeschool.com/web-development-basics/terms-to-know) page. Some of the Skillcrush pages such as [this one](http://www.skillcrush.com/terms/cookies.html) return a 404 error, but the first few pages load correctly. I think they m

[2017-01-26 11:40] KevinMulhern commented on #5692
@TheOdinProject/odinmods whats everyones thoughts on removing this lesson from the curriculum?

Link to the lesson.
 http://www.theodinproject.com/courses/web-development-101/lessons/terms-to-know

I think throwing a ton of explanations at the user at this early stage without any context isn't effective. They are likely to have forgotten about most of these by the time they become relevant again.

[2017-01-26 14:44] leosoaivan commented on #5692
Would having a tiny glossary section at the end of each lesson be useful? I think it'd solve the issue of throwing a laundry list of terms at the beginning, where they can't be matched to actionable lessons.

Having a glossary would be narrower in focus and it's likely to be effective, though it would also be more work when re-writing the curriculum.

[2017-01-27 15:04] KevinMulhern commented on #5692
@leosoaivan that could work, I suppose we will be doing that in a way if we break the lessons up effectively.

[2017-01-27 20:06] leosoaivan commented on #5692
Either way, I think removing it is appropriate.

[2017-01-31 13:03] OlehSliusar opened #5718 "Broken link"
There's a broken link in [Project: Paired Pomodoro Project](http://www.theodinproject.com/courses/web-development-101/lessons/pairing-project). The link is in "We are going to make a Pomodoro clock similar to [this](https://arcane-ravine-59782.herokuapp.com/) which will count down twenty-five minutes of work, indicate it is break time, count down five minutes, then start over again."

[2017-01-31 13:13] KevinMulhern commented on #5718
Thanks for raising this @OlehSliusar 😄

@ChadKreutzer any ideas?

[2017-02-01 07:55] ChadKreutzer commented on #5718
Yeah. I moved the app to surge and I could have sworn I updated the link. Thanks for the heads up.

[2017-02-01 08:03] ChadKreutzer commented on #5718
Fixed. thanks again, @OlehSliusar for catching that.

[2017-02-01 08:03] #5718 closed

[2017-02-01 08:36] OlehSliusar commented on #5633
We can use some fCC stuff for JS course :thinking:

[2017-02-01 09:07] KevinMulhern commented on #5718
Thanks @ChadKreutzer and @OlehSliusar 🎉

[2017-02-01 09:11] KevinMulhern commented on #5633
@OlehSliusar I think we could only use FCC for exercises and projects. FCC is brilliant but their in browser challenges is what puts me off. We want to get the student working from their local machine as quickly and as much as possible.

[2017-02-01 09:49] charlesharries commented on #5497
I'd also like to take a crack at this. I remember arrays really tripped me up when I first started getting into them. Has any progress been made on this in the past month?

[2017-02-01 10:31] ChadKreutzer commented on #5633
@OlehSliusar I always recommend to people that they go through FCC's jQuery, Basic JavaScript, Object Oriented and Functional Programming, Basic Algorithm Scripting, JSON APIs and Ajax, Intermediate Algorithm Scripting, and Advanced Algorithm Scripting courses (skip the projects and just do the lessons) for a good grounding in Javascript and a decent intro to jQuery.

As @KevinMulhern says, their

[2017-02-02 13:06] KevinMulhern commented on #5497
Hi @charlesharries, @leosoaivan has completed a draft for this lesson. We have a bunch of other lessons ready and available to work on if you want contribute 😄

[2017-02-03 20:09] charlesharries commented on #5504
I've written a lesson on hashes that I think covers everything a beginner ought to know about hashes. If I want to submit it, do I just submit a pull request the same way I do when adding project solutions?

[2017-02-03 20:47] 105ron commented on #5504
@charlesharries that is correct. If you submit a PR on [the file that is the template for this lesson](https://github.com/TheOdinProject/curriculum/blob/master/ruby/basics/hashes.md) everyone will take a look and make suggestions and before it is merged into the curriculum. There was a few examples recently but they've been merged in the past couple of days.

[2017-02-05 22:37] KevinMulhern commented on #5504
Lesson content completed by @charlesharries https://github.com/TheOdinProject/curriculum/pull/5745#pullrequestreview-20180834

[2017-02-09 10:12] KevinMulhern commented on #5384
Completed by @105ron

[2017-02-09 10:12] #5384 closed

[2017-02-09 16:04] jacob-on-github commented on #5633
I agree with @KevinMulhern, as someone who has used FCC, The Odin Project, and Codecademy, one of the strengths of The Odin Project over the others is the opportunity to work locally and understand the technologies rather than just practicing syntax.

[2017-02-18 06:27] putraisyraq opened #5839 "Issue with "Unable to require openssl...." when installing Rails - Fix"
Hi,
I am a new learner. I stumble upon the `Unable to require openssl....` error while trying to install rails few days ago. I googled everywhere for fix to the point I was so sure I made a mistake in terminal and even reformatted my mac. However problem still persists.

After few more googling, I found this article [here (look for pinkasey)](http://stackoverflow.com/questions/20309145/unable-to-r

[2017-02-18 13:09] KevinMulhern commented on #5839
Hey @putraisyraq, thanks for opening this and thank you for providing the solution to the problem 😄

We've had quite a few people in the chat with the same problem this week. Hopefully rvm release a fix to the master branch soon.

[2017-02-18 18:13] putraisyraq commented on #5839
You're welcome. Just helping others like me. I hope it gets updated soon too. :)

[2017-02-26 04:13] nattilyb opened #5899 "Re: Project: Installations - link to Quick Guide about Sublime Text doesn't work"
Link to Quick Guide from Jennifer Mann about Sublime Text doesn't work

[2017-02-28 07:35] leosoaivan commented on #5899
Thanks for pointing that out @nattilyb. Unfortunately, it seems the page doesn't exist anymore.

[2017-03-03 16:51] KevinMulhern commented on #5839
Havent had any reports of this in about a week so I think this is safe to close. Thanks Again @putraisyraq

[2017-03-03 16:51] #5839 closed

[2017-03-05 10:21] OlehSliusar commented on #5497
*Potential exercises*
https://www.hackerrank.com/domains/ruby/ruby-arrays/page:1

[2017-03-08 08:52] KevinMulhern commented on #5899
Fixed https://github.com/TheOdinProject/curriculum/commit/e9ba6925b198ef92da6914eac14b55687ce3c2fc

[2017-03-08 08:52] #5899 closed

[2017-03-08 13:55] leosoaivan commented on #5497
@OlehSliusar this is pretty cool, I'll take a look when I can. @KevinMulhern, what do you think?

[2017-03-08 14:23] KevinMulhern commented on #5497
Looks good to me 👍 😄

[2017-03-17 05:06] mannyhagman commented on #5633
Might I recommend the first 3.5 hours of Understanding JavaScript the wired parts available for free on YouTube. I'm someone who was lost before I watched those videos , it made a tremendous difference to me as a new developer with no math background.

[2017-03-17 12:37] mannyhagman commented on #5633
Though many people look down at this resource,  something that helped me tremendously were these exercises http://www.asmarterwaytolearn.com/js/index-of-exercises.html and the book, more so the exercises than anything else.

It isn't perfect, but the way the questions are asked, the order they are asked in and the simplicity of it all makes it very easy to learn, apply and retain concepts. I strug

[2017-03-18 13:06] iansowinski commented on #5633
Two insights from a perspective of someone learning JS right now:

- [Vue.js](https://vuejs.org/) could be the great choice for first framework. Although things are changing very fast, vue is very easy to catch even for someone not experienced in JS and is very well documented.
- [This tutorial](https://github.com/verekia/js-stack-from-scratch) is really nice when it comes to getting familiar with

[2017-03-18 14:42] KevinMulhern commented on #5633
Thank you for offering offering your insights @mannyhagman and @iansowinski 😄

[2017-03-18 16:28] Sandesh-bn commented on #5633
@KevinMulhern, @codyloyd Hi I explored the Javascript course and I believe that students would greatly benefit from a lessons on Scope, Hoisting, IIFE, this keyword, preventExtensions, freezing and sealing, call, apply & bind. I would love to work on adding these to the existing curriculum. Nicholas Zakas is also well known name in Javascript community for authoring concise and skillfully worded J

[2017-03-18 16:36] codyloyd commented on #5633
@Sandesh-bn several of these things are already on the list up there... but we GREATLY appreciate your input.  for sure.

We aren't really intending to add things to the existing curriculum but re-write and refresh more or less from scratch.

we aren't quite to the point where we're ready to start the actual writing.. just planning at the moment.  Take a look at the outline above and suggest where

[2017-03-18 17:32] Sandesh-bn commented on #5633
**Deeper JS topics**
Hoisting
IIFE
preventExtension, freeze, seal methods.
Call, Apply and Bind
Exception Handling

**Suggested Reading**
The principles of Object-Oriented Javascript(Intermediate)
Understanding ECMAScript 6(Intermediate)
Professional Javascript(Advanced)

**Ajax/APIs**
Weather api: Darkskynet has a great api and their plans are free for small scale applications.
StockPicker: Quand

[2017-03-19 09:23] iansowinski commented on #5379
Maybe it worth adding somewhere note about [student developer packs](https://education.github.com/pack). I think a lot of TOP students are enrolled on some universities and can benefit from it.

[2017-03-19 09:28] iansowinski opened #6030 "Adding note about JetBrain's student offer?"
JetBrain's software is [free for students](https://www.jetbrains.com/student/). Maybe it is worth to add a note about RubyMine somewhere? I personally don't like working with IDE's, but some people like this style of work, so maybe it is worth to mention it :)

[2017-03-19 09:37] iansowinski commented on #5508
**Potenetial Resources**
[MIT SC 6.00 lec 7 on debugging](https://www.youtube.com/watch?v=5gt2WDBl8-0) - in this lecture John Guttag covers the topics of floating point and, mostly on debugging. Lecture is conducted in Python, but I think that at this point it shouldn't be problem for anyone.

[2017-03-19 19:10] KevinMulhern commented on #5379
Thanks @iansowinski, I didn't know you github did stuff like that.

[2017-03-19 19:13] KevinMulhern commented on #6030
Thanks @iansowinski, I think it would be worth mentioning too 😄

[2017-03-19 19:43] iansowinski commented on #6030
Yeah, question is: where to put it? Maybe [here](https://github.com/TheOdinProject/curriculum/blob/e9ba6925b198ef92da6914eac14b55687ce3c2fc/web_development_101/project_installations.md)?

[2017-03-19 19:48] iansowinski commented on #5379
@KevinMulhern They do! Also I believe GitLab has option to host private repos for free (contrary to github witch allow users to have only public repos on free plan) - maybe it's worth mentioning somewhere. It may be confusing for some people though.

[2017-03-19 20:49] iansowinski commented on #5633
**Potential resources:**
[the basics of package json in node js and npm](https://nodesource.com/blog/the-basics-of-package-json-in-node-js-and-npm)

[2017-03-19 22:23] KevinMulhern commented on #6030
Yeah that seems like as good of place as any @iansowinski

[2017-03-19 22:25] KevinMulhern commented on #5379
Yeah it could get confusing with introducing gitlab into the mix.

[2017-03-20 15:37] iansowinski commented on #6030
Ok, it's live, I'm closing :)

[2017-03-20 15:37] #6030 closed

[2017-03-27 23:56] mygeeklab commented on #5633
Why not add Angular to the mix of js frameworks sunrise auntie end of the course, not only do we get knowledge on both, but also enable us to choose between the two based on which we get the most?

[2017-03-28 01:01] codyloyd commented on #5633
My personal opinion is that we should pick one to reduce bloat.  Honestly, buy the time you get to this post of the curriculum you should be able to figure most of that stuff out on your own.

[2017-03-28 14:22] iansowinski commented on #5633
@codyloyd is right. At that point course should just introduce to ideas behind JS frameworks. For me Vue worked great thanks to it's simplicity, thats why I propose it (second argument is that it's getting more and more attention).
After playing with Vue diving into react seems easier for me right now (although I'm just starting with it)

[2017-03-28 14:47] codyloyd commented on #5633
@Sandesh-bn thanks!  I'm just getting back to this.. I'm adding a couple of those things, a couple of them I think will be implicitly discussed in other sections... and a couple I don't think are particularly relevant at this point.. but I _really_ appreciate the feedback

Thanks!

[2017-04-10 05:45] horoxix commented on #5382
Hey Kevin I would love to give this lesson a shot and work on it. It might take me a couple of days but I'd love to help.

[2017-04-10 07:24] KevinMulhern commented on #5382
Hey @horoxix, its all yours 😄 if you have any questions or want clarification on anything don't hesitate to let me know.

[2017-04-10 07:30] 105ron commented on #5382
@horoxix thanks for the help : smile:

[2017-04-24 10:31] 105ron commented on #5692
Can we close this now @KevinMulhern ? Looks like it's been fixed.

[2017-04-24 10:36] KevinMulhern commented on #5692
@105ron yeah sounds good, we should maybe create a new issue for removing it. I still think this lesson isn't needed 🙈

[2017-04-24 22:51] #5692 closed

[2017-04-28 10:41] erencataltepe opened #6350 "URL redirecting to another site"
Hello,

Last additional ressource link of section  "How are Websites Built in the Real World?" redirects to another page.
Here is the description and the original URL:

"Get a more general sense of Agile Development from the About.com Agile Development entry."
(http://ruby.about.com/od/rubyonrails/a/agile.htm)

Here is the redirected url:
(https://www.thoughtco.com/what-is-software-engineering-958

[2017-05-13 11:50] cstrutton opened #6443 "Typo on the installations page"
There is an extra closing square bracket in the link to JetBrains student program at the end of the article.

[2017-05-15 12:57] KevinMulhern commented on #6443
Thank you for letting us know about this @cstrutton 😄
It should now be fixed

[2017-05-15 12:57] #6443 closed

[2017-05-15 12:59] KevinMulhern commented on #6350
Thanks @erencataltepe, This should now be fixed.

[2017-05-15 12:59] #6350 closed

[2017-05-17 04:47] jacob-on-github commented on #5524
I would like to work on this as I have time.

[2017-05-17 09:23] KevinMulhern commented on #5524
Hey @jacob-on-github this one is sort of already done https://github.com/TheOdinProject/curriculum/blob/master/ruby/basic_projects/project_bubble_sort.md

Sorry I should have closed this issue.

[2017-05-17 14:39] jacob-on-github commented on #5524
@KevinMulhern cool, are the other projects open? I can do whatever.

[2017-05-17 20:26] jacob-on-github commented on #5382
@horoxix are you still working on this? If not, I'll work on it next week.

[2017-05-17 22:03] KevinMulhern commented on #5382
Hi @jacob-on-github I was going to reply to you on the other issue, but might as well do it here. We've heard nothing from @horoxix in a month so its safe to assume he's abandoned this. This ones all yours if you want to work on it.

[2017-05-18 01:22] jacob-on-github commented on #5382
@KevinMulhern I'll try to have this one knocked out in a week or so. Thanks.

[2017-05-24 19:19] tomasvn commented on #5633
May I suggest you to add watchandcode.com a practical JS course developed by Gordon Zhu?

[2017-05-24 21:50] KevinMulhern commented on #5633
Hey @tomasn4a, I've heard _sooo_ many good things about that course. Thank you for suggesting it 😄

[2017-05-24 22:00] tomasvn commented on #5633
@KevinMulhern also a possible section dedicated for small JS projects, https://javascript30.com/ developed by Wes Bos

[2017-05-24 22:22] KevinMulhern commented on #5633
@tomasn4a ah another great one 😃

[2017-06-01 17:55] btreim opened #6566 "Web Development 101 - How Websites Are Built"
The Youtube video linked in "Your Assignment" #2 is now private. No mirror or alternative found.

[2017-06-02 03:13] parhaml commented on #5508
**Potential Resources**

[2017-06-02 10:46] ChadKreutzer commented on #5633
lol. @codyloyd I was going to recommend  https://zellwk.com/blog/crud-express-mongodb/ for helping with teaching express but you already had it. :)

[2017-06-06 15:15] WendyBeth commented on #5508
Hi - I would love to help with this. I was just searching through Confreaks.TV for videos on debugging in Ruby:

One from 2010 - http://confreaks.tv/videos/lsrc2010-debugging-ruby
One from 2013 - http://confreaks.tv/videos/rubyconf2013-effective-debugging
One from RailsConf 2017 - http://confreaks.tv/videos/railsconf2017-practical-debugging

It got me thinking it might be really cool to curate 'li

[2017-06-06 15:19] WendyBeth commented on #5505
**Potential Resource**

https://mauricio.github.io/2015/01/12/implementing-enumerable-in-ruby.html

A blog post detailing the implementation of several enumerable methods.

[2017-06-06 18:43] KevinMulhern commented on #5508
Thanks @WendyBeth 😄 those are great finds.

[2017-06-06 18:44] KevinMulhern commented on #5505
Awesome resource @WendyBeth, thanks for sharing it here/

[2017-06-09 06:08] ayushkamadji opened #6621 "Javascript and JQuery: Comparing Javascript and Ruby"
The videolink in YouTube from Berkeley SAAS is being made private. I couldn't view it.
[code]

[Video Link](https://www.youtube.com/watch?v=_m0Y9N6dBz0&list=PLxNY6twFc_xCxdSPLlxUS4C0VO3sni2DA&index=18)

[2017-06-17 16:59] junkdeck commented on #5617
You just made me realize there were more than one project per lesson.
These "student solution" lists really need to be put in a frame or something so they don't take up so much space.

[2017-06-17 17:00] KevinMulhern commented on #5617
We are working on a solution for that problem @junkdeck 😄

[2017-06-17 17:04] junkdeck commented on #5617
Ah, good to hear!
In the Introduction to Web Development there are already some sections with their own scrollbars.
Would it possible to wrap the solution lists in those?

This lesson has one, for instance.
[Web Development Communities](https://www.theodinproject.com/courses/introduction-to-web-development/lessons/web-development-communities?ref=lnav)

[2017-06-17 17:13] KevinMulhern commented on #5617
@junkdeck we have some of them wrapped in scroll bars, its an imperfect solution though. They are easily broken by incorrectly formatted student solutions.

[2017-06-17 17:42] junkdeck commented on #5617
Yeah I couldn't really find anything specific in either the sourcecode for the page or the markdown here on GH.
Next time I come across a solution list, I'll actually scroll past them instead of just hitting Home, heheh.

[2017-07-05 17:33] strongdan commented on #5633
If it wasn't previously mentioned, I would suggest utilizing funfunfunction YouTube series on functional programming and higher order functions https://youtu.be/BMUiFMZr7vk

[2017-07-09 06:26] KevinMulhern commented on #6566
This has been fixed

[2017-07-09 06:26] #6566 closed

[2017-07-09 06:28] KevinMulhern commented on #6621
This has been fixed

[2017-07-09 06:28] #6621 closed

[2017-07-11 12:38] gionaufal commented on #5383
Hi! I would like to work on this lesson

[2017-07-11 20:50] KevinMulhern commented on #5383
Hi @gionaufal, we decided to roll this lesson into [this one](https://github.com/TheOdinProject/curriculum/issues/5382). That lesson has had a bit of work done to it, but it could use more detailed content. If you want, you could work on that one?

[2017-07-11 20:52] #5383 closed

[2017-07-12 11:36] gionaufal commented on #5382
Hello @KevinMulhern  and @jacob-on-github. I would like to help on this issue. Is there any branch with it already started?

[2017-07-12 14:03] KevinMulhern commented on #5382
Hey @horoxix, yeah the lesson has already been started [here](https://github.com/TheOdinProject/curriculum/blob/master/git/git_branches_intro.md) the file is up to date with the last work that was done to it so theres no branch for it 😄

[2017-07-18 03:29] JonathanYiv commented on #5633
The current [devtools resource](https://www.codeschool.com/courses/discover-devtools) is kind of ... meh. It requires you to download a [glitchy chrome extension](https://chrome.google.com/webstore/detail/discover-devtools-compani/angkfkebojeancgemegoedelbnjgcgme) to complete the exercises.

I found [this resource](https://developers.google.com/web/tools/chrome-devtools/) directly from google that

[2017-07-18 09:36] KevinMulhern commented on #5633
Hey @joannatakesian, is that the codeschool tutorial? I would agree that it isn't the best. How did you find the other assignments on that lesson?

[2017-07-18 18:44] JonathanYiv commented on #5633
Yes it is @KevinMulhern !

Codecademy was the best resource in my opinion.
I felt #2 which listed in-browser IDEs was useful but lacking.. substance(?).
Project Euler was fun, although the complexity of the problems jumps up pretty quickly if you don't have strong math skills.

Aside from that, as mentioned in the original post at the top, it "should include lesson on running JS code (https://www.

[2017-07-18 20:34] KevinMulhern commented on #5633
Sorry @JonathanYiv, looks like we've got our wires crossed 😄 I meant the other assignments on the dev tools lesson specifically. Although the feedback from the other lessons is very valuable so thank you for providing it 😄

[2017-07-19 17:29] JonathanYiv opened #6898 "Sublime Text 3 Resource is no longer free"
Regarding: curriculum/web_development_101/project_installations.md

The [linked 2.5 hour course ](https://code.tutsplus.com/courses/perfect-workflow-in-sublime-text-2) is no longer free.

[This](https://code.tutsplus.com/courses/perfect-workflow-in-sublime-text-2) might be a better resource although it requires installation?

[2017-07-19 19:19] KevinMulhern commented on #6898
Thanks for reporting this @JonathanYiv, the second link points to the same course?

It might be worth just removing this from the curriculum altogether.

[2017-07-19 19:49] JonathanYiv commented on #6898
Whoops I mean this https://sublimetutor.com/

[2017-07-20 15:51] KevinMulhern commented on #6898
Nice find @JonathanYiv 😄 are you comfortable creating PR to replace the old sublime resource with this new one?

[2017-07-20 19:50] JonathanYiv commented on #6898
Yes, I can. I will do it today!

[2017-07-20 19:50] #6898 closed

[2017-08-06 16:52] codyloyd commented on #5633
This issue has been given it's own repo!  Come visit at https://github.com/TheOdinProject/Javascript-Curriculum

[2017-08-06 16:52] #5633 closed

[2017-08-13 23:41] KevinMulhern opened #7027 "Web Development 101: Jquery lesson - update assignment 4"
The image slider tutorial on the [jquery basics lesson](https://www.theodinproject.com/courses/web-development-101/lessons/jquery-basics) is a bit outdated and has been confusing students. We should either replace this resource with a similar up to date short tutorial or remove it entirely.

[2017-08-14 13:40] codyloyd commented on #7027
just toss it for now IMO.  I remember just copying most of the cod ein that one and not really learning much, and I got on just fine

[2017-08-14 14:35] KevinMulhern commented on #7027
👍 sounds good @codyloyd

[2017-08-14 14:36] #7027 closed

[2017-08-14 14:36] KevinMulhern opened #7029 "Remove assignment 4 of jquery lesson on web dev 101"
Remove the image slider tutorial on the [jquery basics lesson](https://www.theodinproject.com/courses/web-development-101/lessons/jquery-basics)

[2017-08-17 17:05] jacobherrington commented on #5522
Does this lesson still need to be written?

[2017-08-21 12:23] 105ron opened #7075 "OMDB API is no longer free"
For [this lesson](https://www.theodinproject.com/courses/javascript-and-jquery/lessons/infinite-scroll-and-submitting-a-form-with-ajax?ref=lc-pb) the user needs to sign up to Open Movie Database API. Due to hosting costs this API is going private and will costs users $1/month, see [here](https://www.patreon.com/posts/api-is-going-10743518) for more details. The content of this lesson needs to be c

[2017-08-21 18:02] KevinMulhern commented on #7075
Help us to fix this lesson by suggesting an alternative API to use 😄

[2017-08-21 19:44] jacobherrington commented on #7075
This service has a few hoops to get a key, but it's free.

https://www.themoviedb.org/documentation/api

[2017-08-26 04:30] chari407 commented on #7029
I have completed this and created a pull request. Please check. Thanks in advance. 😄

[2017-08-27 11:12] chari407 commented on #7029
Hi @KevinMulhern .. Can you please comment on my PR ?? Thank you.

[2017-08-27 12:56] 105ron commented on #7029
Thanks @chari407 . I've merged it for you and closed the issue. The changes you have made will appear on the site shortly. Thank you for your help. Cheers, Rhys.

[2017-08-27 12:56] #7029 closed

[2017-09-19 12:05] CouchofTomato commented on #7075
Another option here is the Stack Overflow api. We all use SO regularly so it will have some familiarity.

I'm messing about with the API at the moment for the project and will update on how easy it was.

[2017-09-20 16:05] datagoil opened #7226 "The Backend:Testing Basics"
The introduction on Testing Basics
 [https://www.theodinproject.com/courses/web-development-101/lessons/testing-basics](url)
states that RSpec will be covered but it is not.

the next section The Backend:Project;Ruby
[https://www.theodinproject.com/courses/web-development-101/lessons/ruby?ref=lnav](url)
assumes RSpec was taught and moves on from there "You learned about RSpec in the previous secti

[2017-09-20 21:22] KevinMulhern commented on #7226
Thanks for reporting this @datagoil, I'll push a fix out for this soon.

[2017-10-02 06:12] younes-alouani opened #7281 "Codecademy courses are poor"
After finishing the CSS courses in Codecademy I found out that the content is not enough, and the explanations are not detailed.
I had to do the CSS course on https://www.w3schools.com/ and I found it better.
More detailed and better explained.
Why not include it in the HTML and CSS Basics, maybe as (optional ?)
Same goes for HTML and Javascript. Codecademy is good but not enough even for the basi

[2017-10-02 09:58] KevinMulhern commented on #7281
**Edit** Just copying and pasting my reply from the other issue

Hi @kawaqui 👋

I agree that the codecademy courses aren't comprehensive, Most students have found them to be fairly decent introductory resources for their respective subject though.

I think its also worth bearing in mind that each of the lessons in the Web Development 101 course are designed to be shallow introductions to each subj

[2017-10-18 19:19] Demo318 opened #7374 "Broken Tutorial: Event Manager"
https://www.theodinproject.com/courses/ruby-programming/lessons/file-i-o-and-serialization

It seems that the 'warm up' project no longer works.

Sunlight Labs, the creator of the Congress API, had to shut its doors. Its projects have been handed over to others to maintain, but currently the Congress API is not accessible.

I downloaded several others' completed repos to test, and we all received

[2017-10-18 21:21] KevinMulhern commented on #7374
Thanks for reporting this @Demo318 Thankfully its only a warm up exercise so I think removing it will be the best solution.

[2017-10-19 02:47] Demo318 commented on #7374
@KevinMulhern I can take care of this. However, I feel kinda bad loosing all the student solutions :-/

[2017-10-19 02:53] Demo318 commented on #7374
Created PR https://github.com/TheOdinProject/curriculum/pull/7376

[2017-10-27 19:00] mindovermiles262 commented on #7374
Submitted PR to Turing Project, The owners of the tutorial today.  You can view it [here](https://github.com/mindovermiles262/touringschool-curriculum/blob/master/source/projects/eventmanager.markdown) for the time being

[2017-10-27 19:16] KevinMulhern commented on #7374
Thanks for all your amazing work on this @mindovermiles262

[2017-10-29 18:49] #7226 closed

[2017-10-31 15:26] mindovermiles262 commented on #7075
We could do something fun with the [Imgur API](https://apidocs.imgur.com/#intro)

[2017-11-05 02:23] #5493 closed

[2017-11-05 02:23] #5494 closed

[2017-11-05 02:24] #5495 closed

[2017-11-05 02:24] #5497 closed

[2017-11-05 02:24] #5496 closed

[2017-11-05 02:24] #5504 closed

[2017-11-05 02:24] #5508 closed

[2017-11-05 02:24] #5521 closed

[2017-11-05 02:25] #5523 closed

[2017-11-05 02:25] #5522 closed

[2017-11-05 02:25] #5524 closed

[2017-11-05 02:25] #5506 closed

[2017-11-05 02:25] #5505 closed

[2017-11-05 02:25] #5507 closed

[2017-11-05 02:26] #5617 closed

[2017-11-09 22:02] mindovermiles262 commented on #7374
I don't think the site is being maintained. The last commit was 8 months ago.

It it worth it to host the instructions ourselves? Wouldn't take too much more work, just a few minor formatting details to change.

[2017-11-10 01:12] KevinMulhern commented on #7374
@mindovermiles262 if you think its worth it, I'm happy with that plan 👍

[2017-11-12 20:24] JonathanYiv opened #7501 "Rails Forms Lesson"
http://api.rubyonrails.org/v5.1/classes/ActionView/Helpers/FormHelper.html#method-i-form_with
Work on replacing form_tag/form_for form lesson content with form_with content.

[2017-11-19 15:19] JonathanYiv commented on #7281
Closing due to inactivity!

[2017-11-19 15:19] #7281 closed

[2017-11-29 22:45] mindovermiles262 commented on #7374
Closed with https://github.com/TheOdinProject/ruby_course/pull/66 and https://github.com/TheOdinProject/theodinproject/pull/831

[2017-11-29 22:45] #7374 closed

[2017-11-30 16:25] mindovermiles262 commented on #5387
https://github.com/TheOdinProject/curriculum/pull/7546

My review was funky so I made a PR

[2017-12-03 08:37] KevinMulhern commented on #7501
Should we move this over to the rails course @JonathanYiv?

[2017-12-06 16:24] JonathanYiv commented on #7501
Aye cap'n

[2017-12-06 16:24] #7501 closed

[2017-12-15 14:59] SamJamCul opened #7593 "No page available for rock-paper-scissors lesson"
I'm just running through web-dev 101, and I'm not able to find the corresponding curriculum file for the [rock paper scissors page](https://www.theodinproject.com/courses/web-development-101/lessons/rock-paper-scissors?ref=lnav). Maybe I'm being blind, but I've searched the directory and can't find any of the right words!

[2017-12-15 15:00] SamJamCul commented on #7593
Also seeing as so few names are on the examples list, I think maybe others aren't able to contribute either!

[2017-12-15 15:08] arun1595 commented on #7593
@SamJamCul Sorry for the confusion. You can find it [here](https://github.com/TheOdinProject/javascript_curriculum/blob/master/JS101/fundamentals/rock-paper-scissors-project.md)

[2017-12-16 02:25] jacobherrington commented on #5386
@KevinMulhern I will work on this if it's still up for grabs.

[2017-12-16 18:35] KevinMulhern commented on #5386
Hi @jacobherrington, it sure is. I'm really looking forward to seeing what you come up with 😄

[2017-12-16 23:54] jacobherrington commented on #5386
@KevinMulhern I feel that this lesson should also cover removing old or unnecessary remotes as well, so that new developers following along might be able to undo any mistakes they make.

[2017-12-17 09:48] KevinMulhern commented on #5386
@jacobherrington sure, feel free to add anything that you think should be in there 👍

[2017-12-17 22:01] #5387 closed

[2017-12-26 20:48] ZASMan opened #7619 "Adding Documentation to Github Readme's for Project: Building Your Personal Website"
I'm referring to the following website:

https://www.theodinproject.com/courses/getting-hired/lessons/building-your-personal-website

One piece of information that should be included with this section is the importance of presenting your information on Github well. Prospective job seekers should include a minimal description/documentation, screenshots, links to demos, etc. in their Github readmes

[2017-12-29 02:37] mikesabat opened #7623 "Broken Link"
This link is broken: oreanarose: What makes a good web developer? > http://oreanarose.com/2010/12/what-makes-a-good-web-developer/

From the second step on the first course. https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-web-development

[2017-12-29 06:32] Mycroft1891 commented on #7593
That is confusing, wouldn't it be better to put in the The Odin Project -> Curriculum inside the Web Development 101 folder rather than on a separate repo ? It would be also great if there were a README in each folder to know where to submit what.

I would volunteer for that. Let me know

[2018-01-01 21:39] KevinMulhern commented on #7623
Thanks For reporting this @mikesabat

[2018-01-03 16:42] JonathanYiv commented on #7623
Fixed

[2018-01-03 16:42] #7623 closed

[2018-01-03 20:01] #5386 closed

[2018-01-05 16:40] Mycroft1891 opened #7640 "Web Development 101: Conclusion is indented"
As you can see the conclusion is indented. A quick look at the Dev Tools says that there is an empty div with a class of `col-lg-3` right before the actual content.

<img width="1440" alt="screen shot 2018-01-05 at 5 37 19 pm" src="https://user-images.githubusercontent.com/11302907/34618492-395a5740-f23f-11e7-94be-f093f29f47bd.png">

[2018-01-09 19:38] mindovermiles262 opened #7649 "Duplicate files"
While adding dropdowns to Learning Outcomes I noticed that there are duplicate files.  Example: There were to files named `git_intro.md`, one in `curriculum/web_development_101` and the other in `curriculum/git`

[2018-01-09 21:15] KevinMulhern commented on #7649
The one it the git folder isn't being used, we could get rid of that one.

[2018-01-09 22:13] mindovermiles262 commented on #7649
Taken care of

[2018-01-09 22:13] #7649 closed

[2018-01-10 00:13] KevinMulhern commented on #7640
I opened an issue for this on the main site repo https://github.com/TheOdinProject/theodinproject/issues/850

Thanks for reporting this @Mycroft1891

[2018-01-10 00:13] #7640 closed

[2018-01-10 00:14] KevinMulhern commented on #7593
An issue has been opened for this on the javascript curriculum repo https://github.com/TheOdinProject/javascript_curriculum/issues/105

[2018-01-10 00:15] #5070 closed

[2018-01-10 00:16] KevinMulhern commented on #7075
Is this still a problem?

[2018-01-10 00:21] 105ron commented on #7075
With the new curriculum it is no longer an issue.

[2018-01-10 00:21] #7075 closed

[2018-01-10 00:26] KevinMulhern commented on #7075
🎉

[2018-01-10 00:52] leosoaivan commented on #7619
Sounds like a good idea @ZASMan. I think you're more than welcome to put together some content that you think would be helpful and make a PR!

[2018-01-15 08:53] bhkangw commented on #7619
Hi @ZASMan I would love to share ideas and input on this as I just finished creating my own personal website/portfolio. Please let me know if you have something started!

[2018-01-21 14:26] ncaron opened #7681 "Alternate Readings"
I think there should be alternate readings suggested on the site. The website says it tries to link to free resources but some critical ones are not free at all. For example the Beginning Ruby book, at the start of the program I was able to use the Google preview to read through it but some pages were cut out of the preview and it makes it confusing.
Now I'm at Object Oriented Programming and the

[2018-01-22 12:57] tansaku opened #7684 "installation of git not mentioned as a pre-requisite of doing the git project"
installation of git not mentioned as a pre-requisite of doing the git project
https://www.theodinproject.com/courses/web-development-101/lessons/practicing-git-basics?ref=lnav

I know it's part of the overall rails bridge install, but I wonder if we might add a sentence at the start of the project - something like

[2018-01-22 13:43] KevinMulhern commented on #7684
Hey @tansaku, well spotted. We could add an extra assignment to [this lesson]( https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-git) for installing git if the student hasn't already.

That lesson will always come before the project so it seems like the right place to do it.

[2018-01-30 11:05] smarbaf opened #7708 "Ambiguity of item 2 in Assignment of Introduction to Front End"
This item is ambiguous: is the student supposed to go through the exercise in detail or simply read the directed text?
https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/introduction_to_the_front_end.md

[2018-01-30 11:21] KevinMulhern commented on #7708
Hi @smarbaf, you raise a good point about these assignments.

I propose we find a different resource which explains the frontend in a high level way.

[2018-02-07 10:50] smarbaf commented on #7708
Hi @KevinMulhern, thank you for your suggestion. We have added a quick fix on the wording and will look for some more materials.

[2018-02-07 10:53] tansaku commented on #7708
I wonder if https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started might be a better HTML overview from MDN?

As for CSS, maybe https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works and for JS, maybe https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript ...?

[2018-02-07 11:20] KevinMulhern commented on #7708
Thanks @smarbaf 😄

@tansaku those look good, they probably would be better. I think the most ideal resource for this particular lesson would be something that explains what the frontend is without getting into the specifics of HTML and CSS. Just something that provides an overview.

Maybe something similar to this?
https://www.youtube.com/watch?v=BANChTkxYYY&list=PLwqG3V3cExWpCgHOcLEKg6z-InpjHr7MB

[2018-02-09 22:41] Archy-io opened #7734 "AWS cloud9"
With the changes to cloud9, alot of these guides code does not work on AWS since it runs red hat Linux. The guides assume using original cloud9.  Could a small guideline be added to discourage or at least make aware the inconveniences of using AWS cloud9.

[2018-02-27 10:44] smarbaf commented on #7708
@KevinMulhern This is a good video - very simple and to the point. I'd love to see it included in the course.

[2018-03-01 21:38] 33Coder commented on #7734
maybe consider take advantage of the amazing free course offered by https://www.udemy.com/learn-amazon-web-services-the-complete-introduction/. (Learn Amazon Web Services (AWS): The complete introduction  ) In this course  get hands on, and cover every AWS service available today .

[2018-03-04 13:38] Birnotobi opened #7784 "Link not working in "command line basics""
https://www.theodinproject.com/lessons/command-line-basics

the link for codecademy's course is  404
https://www.codecademy.com/en/courses/learn-the-command-line
the course is available on their website, but under different adddres
https://www.codecademy.com/learn/learn-the-command-line

Didn't know where to report it, I was advised on chat to try here

Stay Awesome

[2018-03-04 23:55] KevinMulhern commented on #7784
Thanks for reporting this @Birnotobi, looks like an easy fix of just updating the URL 😄

[2018-03-04 23:57] Birnotobi commented on #7784
That is the reason that I pasted good link here ;) If I'd know how, I'd just fix it myself ;) Still new here

[2018-03-05 20:04] jklemon17 commented on #7784
I'll give this a shot if that's all right.

[2018-03-07 14:51] mindovermiles262 commented on #7784
Closed with #7786

[2018-03-07 14:51] #7784 closed

[2018-03-07 17:24] jklemon17 commented on #7681
This resource is recommended in the "Additional Resources" section of the Ruby Building Blocks lesson: http://ruby.bastardsbook.com/toc/

The "Additional Resources" section of the Object Oriented Programming lesson refers you to Zetcode's sections on Object Oriented Programming.

Also, while buying the book would be best to support its author, if you search on Google, you should be able to find th

[2018-03-13 20:03] jklemon17 opened #7799 "Ruby Advanced Building Blocks links not opening in new tab"
The links to outside sources in this particular lesson are not using target="_blank" to open in a new tab. This problem occurs in Chrome, but not in Firefox.

https://www.theodinproject.com/courses/ruby-programming/lessons/advanced-ruby-building-blocks

[2018-03-13 22:04] heyalvaro commented on #7799
Just tested with Firefox and Chrome and all the links opened in a new page

[2018-03-25 18:32] JonathanYiv commented on #7799
What version of Chrome are you using?

[2018-03-26 09:15] KevinMulhern commented on #7799
Thanks for reporting this @jklemon17

We use js to dynamically add the target attribute to links in lesson content.

We've been getting reports of other js related errors. I think this its all related and caused by some stuff I was working on recently.

I'll investigate and leave an update here.

[2018-03-27 14:40] akshaymukadam commented on #5379
we can add `git-flow` which will help to understand how it is used in some companies
https://danielkummer.github.io/git-flow-cheatsheet/

[2018-03-27 22:43] heyalvaro commented on #5382
@KevinMulhern What is this lesson missing to be complete?

[2018-03-29 22:07] #7684 closed

[2018-03-30 23:42] KevinMulhern commented on #5382
Hey @heyalvaro sorry for the late reply, all thats left is fleshing out the content under the different headings. All we have at the moment is "In this section, you will learn the basics of branching in Git." for example.

[2018-04-13 15:50] stefanludlow commented on #7734
Agreed that Cloud9 as presented as an alternative solution can be quite challenging, with the recent changes. The rails installfest just doesn't work as well in that, and perhaps there is an alternative to point folks to? There is a Cloud9 Rails Tutorial that is already partially used, perhaps touching on that for setup.

[2018-04-14 13:58] 33Coder commented on #7734
I hope you continue to keep that enthusiastic attitude and actions about project and at the end of the you will get it done.

[2018-05-24 23:41] ricardovsilva opened #7955 "Add capability to translate courses"
TheOdinProject idea is AWESOME! But, unfortunately, is not evebody here in Brazil that speak english. I would love to collaborate translating this content to Brazilian Portuguese.
Can anyone point me where to start? Is that possible or something should be developed?

[2018-05-25 06:45] KevinMulhern commented on #7955
Hey @ricardovsilva, thank you for offering to do this 😄

The technical challenge for this is we pull lesson content in from the [curriculum repo](https://github.com/TheOdinProject/curriculum) on github and store it on the database for the site.

This setup means we can't really have translations on the site in the traditional way with [locales](http://guides.rubyonrails.org/i18n.html).

It is tech

[2018-06-03 03:15] UndeadMantis opened #7976 "Exercises for trying Git in Lesson: Git Basics are missing."
[Lesson page.](https://www.theodinproject.com/courses/web-development-101/lessons/git-basics?ref=lnav)

In the Assignment block, the link for

Leads to a 404. The exercises are missing.

[2018-06-03 12:38] marcinostrouch opened #7977 "Git intro - broken link"
the link to codeschool intro to Git is broken:

https://try.github.io/levels/1/challenges/1

[2018-06-03 16:26] leosoaivan commented on #7976
This looks like it might an acceptable alternative: https://learngitbranching.js.org/

Thoughts @KevinMulhern, @arun1595?

[2018-06-03 19:13] leosoaivan commented on #7976
Closed with https://github.com/TheOdinProject/curriculum/pull/7978

[2018-06-03 19:13] #7976 closed

[2018-06-13 11:42] tansaku opened #8002 "Learning Outcomes in "HTML and CSS Basics""
In our study group we are working through [HTML and CSS Basics](https://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics) at the moment and in reviewing the learning outcomes we are noting that there is quite a lot covered in the assignments that are not in the outcomes ...

In particular the Codeacademy CSS course has been updated to include things like CSS grid.  Do

[2018-06-13 11:58] CouchofTomato commented on #8002
Hi @tansaku

Thank you for your feedback.

The html and css course does need an update. It's always been a bit difficult because we are all volunteers who have our own workloads etc.

We've very recently starting trialling design sprints to tackle these needed updates in teams. We've just held the first one to add a section to the JS course about frameworks and html and css is a top priority for u

[2018-06-15 21:27] jacobherrington commented on #5388
Was this issue abandoned? What needs to be done? @KevinMulhern

[2018-06-22 09:55] tansaku commented on #8002
thanks @CouchofTomato - good luck updating everything.  In case it's any help here's our rough answers to the learning outcomes from that section:

[code]

It's difficult to offer a pull request since the pages don't have a standard place to put example answers, although conceivably they could be added with popups like so:

<details>
  <summary>What are selectors?</summary>
<br/>
  <p>A pattern us

[2018-06-22 09:55] tansaku commented on #8002
It's difficult to offer a pull request since the pages don't have a standard place to put example answers, although conceivably they could be added with popups like so:

<details>
  <summary>What are selectors?</summary>
<br/>
  <p>A pattern used by CSS to select an element

e.g.
[code]
[code]
basic CSS atom (rule) consists of:

[code]
</p>
</details>

^^^ click on triangle to see answer

Although

[2018-06-22 10:32] CouchofTomato commented on #8002
Thanks @tansaku

You've given us a bit to think about...

[2018-06-25 03:16] hcarnes commented on #5388
I would like to help with this issue if it is still active.

[2018-07-14 15:29] IrritatedEllipses opened #8087 "101 Git Section has Railsbridge references, doesn't show steps for SSH."
Currently there are links to the old Railsbridge installfest and loop backs to pages in the Odin Project that have been removed since the new Installation lesson has been uploaded.

There are also text and visual references to [cloning to git via HTTPS](https://imgur.com/GteFqiA) instead of using SSH as is set up by the new install lesson.

I've made a view edits and have opened this issue so as t

[2018-07-15 18:48] I3uckwheat commented on #8087
Thanks for fixing this! Closing due to it being finished.

[2018-07-26 23:24] KannaDev commented on #5379
@Avizini Well, i've been using the github developer pack since I was in high school. I didn't have a CC and all of the ones I tried in the pack had no problem with me not having a CC.

[2018-08-03 16:02] Avizini commented on #5379
@KannaDev I checked it yesterday, I got my academic status verified and signed up for DigitalOcean. DigitalOcean asks me for a cc before I can do anything with my account! I signed up using the link provided by GitHub. However there are new offers added to the pack and I cannot access some because my school doesn't provide me with an email.

I was able to use NameCheap's, Travis, SendGrid and some

[2018-08-03 16:26] KannaDev commented on #5379
@Avizini Yeah, the digital ocean offer is so useful in my opinion. You have to add a CC before you can finish registering but they won't charge it unless your $50 Github credit runs out. If you don't have a CC I recommend you checkout [privacy.com](http://www.privacy.com/) they let you generate a CC if you link a bank acc. Pretty cool.

[2018-08-03 17:13] Avizini commented on #5379
@KannaDev > You have to add a CC before you can finish registering but they won't charge it unless your $50 Github credit runs out.

I know this. Also about privacy.com, I am under 18 and my country doesn't allow me to have a bank account. My parents won't do it either, so no luck for me! :(

[2018-08-03 18:08] KannaDev commented on #5379
@Avizini oh, same lol I am under 18 as well. I had to practically convince (beg) my parents to let me use their CC for something they don't understand (Digital Ocean VPS) even after I assured them they had nothing to worry about as nothing would be charged on the CC.

[2018-08-11 18:32] sampsonmao opened #8197 "Adding a back button"
I think it would be really helpful to have a button to go back a lesson, rather than having view course. I find myself opening the assignment page and needing to reference something in the previous lesson but have to go through many pages and scrolling before finding the one I need to reference.

[2018-09-08 07:59] JulianWeidner commented on #8197
multiple times a day I accidentally hit view course thinking its previous button :(

[2018-09-14 19:30] jdukleth opened #8286 "Summary tags not supported on Microsoft Edge"
Documentation says to "just click the triangle" but it shows up as an expanded bullet on Microsoft Edge and potentially other older browsers.

Example:
https://www.theodinproject.com/courses/web-development-101/lessons/your-first-rails-application

![image](https://user-images.githubusercontent.com/15095818/45571047-9b649e80-b82a-11e8-81b5-13fb7c53e970.png)

[2018-09-29 21:29] mindovermiles262 opened #8323 "Two "Developer Tool" lessons"
SEE: https://github.com/TheOdinProject/javascript_curriculum/pull/883

In the WD101 course The section "JavaScript Basics" has the lesson "3. Developer Tools." Then a few lessons down from there (in the "Javascript Basics" section) there is a lesson "Developer Tools 2" which is pretty much saying the same thing as the first lesson.

We should combine these two lessons into one.

[2018-10-02 09:09] uzorjchibuzor opened #8347 "Large Portions of Beginning Ruby Book on Google is not Available"
[https://books.google.com.pk/books?id=MiGpDAAAQBAJ&printsec=frontcover&hl=en#v=onepage&q=Chapter%208&f=false](https://books.google.com.pk/books?id=MiGpDAAAQBAJ&printsec=frontcover&hl=en#v=onepage&q=Chapter%208&f=false)
Large Portions of this books is hidden and asking for purchase before it can be viewed.

[2018-10-02 09:15] uzorjchibuzor commented on #8347
I was able to download the pdf [here](http://www.allitebooks.in/beginning-ruby-3rd-edition/)

[2018-10-02 09:15] #8347 closed

[2018-10-02 10:38] AREEBAISHTIAQ commented on #8323
Yeah, these two lessons are much similar and they should be in one lesson.

[2018-10-05 14:22] akaswen opened #8382 "dead link"
Hey, in the organizing javascript section in the classes lesson, the first link to the article goes nowhere.  I checked the github repo of the guy who originally posted the article and it seems like he's taken it down.  Any suggestions for a replacement or would it be best to just take it out altogether?

[2018-10-05 14:31] KevinMulhern commented on #8382
Hi @akaswen, thanks for reporting this. Thats unfortunate about they guy taking his article down. I think we should remove it make the second link in that first assignment to focal point to resolve this

[2018-10-05 14:33] akaswen commented on #8382
okay, I can rewrite that then.

[2018-10-05 15:34] #8382 closed

[2018-10-05 15:51] KevinMulhern commented on #8323
If I'm remembering right we needed to have two dev tools lessons. One that just working with html and css because it was confusing to introduce the JS specific parts of dev tools before students had done any JS.

The intention of the second Dev tools lesson was to cover the rest of the essential parts of dev tools after the student had learnt a little JS.

Looking at the lessons, I don't think we

[2018-10-07 01:05] mindovermiles262 commented on #7734
Closed due to inactivity

[2018-10-07 01:05] #7734 closed

[2018-10-09 03:10] jamiegitgit commented on #8197
I would find it helpful

[2018-10-14 16:42] I3uckwheat opened #8460 "Ruby Monk resources insecure error, then 502"
https://www.theodinproject.com/courses/web-development-101/lessons/ruby-basics?ref=lnav

This lesson links to Ruby Monk which seems to be down, I have had a report of this before a while back and it is still down. Here is the page it links to: https://rubymonk.com/learning/books/1-ruby-primer

Possible solution: Find another resource to replace it?

[2018-10-15 12:44] dvik1950 commented on #8460
"RubyMonk site is down because of certificate issues.

But you can access its archived contents at [RubyMonk - Interactive ruby tutorials to learn Ruby](https://web.archive.org/web/20170704044407/https://rubymonk.com/learning/books)"

That's a Quora comment.

This could fix the broken link :

https://web.archive.org/web/20170712025715/http://rubymonk.com:80/learning/books/1-ruby-primer

[2018-10-15 19:10] I3uckwheat commented on #8460
@dvik1950 Thanks for finding that, would you like to implement this?

[2018-10-15 19:26] Jeremy-D opened #8465 "Ruby Course: Update "Using Git in the Real World" section"
It looks like the "using git in the real world section" has become a bit out of date due to the restructuring of the curriculum repo. [Using Git in the Real Word](https://www.theodinproject.com/courses/ruby-programming/lessons/using-git-in-the-real-world)

Since it appears that there is no longer a dev branch, I was confused about where to fetch and merge from.

I'm not sure if someone is creating

[2018-10-15 19:42] dvik1950 commented on #8460
@I3uckwheat  Thank you, I did! https://github.com/TheOdinProject/curriculum/pull/8466

[2018-10-16 02:04] mindovermiles262 commented on #8460
See https://github.com/TheOdinProject/curriculum/pull/8466

[2018-10-17 00:35] nikkisa opened #8481 "Web Dev 101 - Cloud 9 IDE/Installation Sections"
In the installation section it mentions Cloud 9, but doesn't go into any depth. Because I already had a Cloud IDE setup, I didn't realize that while this is an option, it's a de-emphasized one compared to installing a local environment.

I think implicitly stating that this is an optional/supplementary environment would be helpful to people like myself. Also, emphasizing as a result that the local

[2018-10-30 14:24] sp3fix opened #8609 "UX introduction"
Hello everyone, first time creating an issue on here, so i would like to preface it by saying that i love the "odin project" platform and that i believe you already have a great product there.

And at the same time, it has come to my attention that several people seem to miss the "drop down" information during some of the course, particularly at the beginning, resulting in issues that could have b

[2018-11-07 16:32] JunJie19 opened #8676 "JavaScript in my project is not working. Anyone could help me?"
![screenshot 468](https://user-images.githubusercontent.com/44231496/48145278-6ca6f980-e2aa-11e8-9984-34d7b209b436.png)
![screenshot 469](https://user-images.githubusercontent.com/44231496/48145282-6e70bd00-e2aa-11e8-9e57-0161548836c7.png)

I have created variable itself however it doesn't execute when i click on it.
Is there something wrong with code? or i have not implement js code to function i

[2018-11-07 16:39] CouchofTomato commented on #8676
Hi @JunJie19. The issues pages are not a suitable place for this. Can you please either post your issue in our gitter chat https://gitter.im/TheOdinProject/theodinproject or our forums https://forum.theodinproject.com/

[2018-11-07 16:39] #8676 closed

[2018-11-07 16:41] JunJie19 commented on #8676
Hi @CouchofTomato, Okay, Thanks a lot!

[2018-11-11 11:32] Everdrought commented on #8460
Ruby monk website is no longer broken. It looks like it has restored its full functionality.

[2018-11-11 11:50] Everdrought opened #8700 "Ruby building blocks: Second assignment links return 404"
This assignment links to "Codecademy Introduction to Ruby" section and "Ruby Track" which return 404 since the website got redesigned. The full course is still there, only its url has changed [https://www.codecademy.com/learn/learn-ruby](https://www.codecademy.com/learn/learn-ruby)

[2018-11-13 22:01] Everdrought commented on #8700
Not anymore. It looks like Odin Project's website has received Colton Shaheen's [changes](https://github.com/TheOdinProject/curriculum/commit/1251ec855f69be70db3f4b58e51950da148ef94e). The issue is fixed and I see no more reason to keep it open.

[2018-11-13 22:01] #8700 closed

[2018-11-14 04:24] heyalvaro opened #8724 "Update Rails Final Project: Replace Paperclip for Active Storage"
Since Paperclip is now deprecated should the curriculum be updated to use Active Storage?

[2018-11-16 16:51] Deetss commented on #8724
@heyalvaro Im going to start working on this! Thanks for the suggestion. If youd like to have a wack at it feel free.

[2018-11-30 13:57] heyalvaro commented on #8724
@Deetss I was on vacation and just saw your answer. Glad you liked the suggestion 😄

[2018-12-05 11:19] AgonIdrizi opened #8878 "Rails curriculum conclusion"
At the end of the rails course
https://www.theodinproject.com/courses/ruby-on-rails/lessons/conclusion-ruby-on-rails

**Ruby on Rails Tutor has free videos that highlight specific sections of Rails.** http://rubyonrailstutor.github.io/
Videos on the link are broken and also outdated(circa 2014)

I want to remove this broken links and to replace it with this:
https://www.youtube.com/watch?v=4ABesTe

[2018-12-09 11:28] Rotodile opened #8896 "Collapsing The Student Solutions"
Hi Everyone, I was just thinking that can we wrap the 'Student Solutions' sections with 'Details' and 'Summary' tag or something like that? because they are taking too much space of lessons and especially when there's two or three projects in a single lesson  like [Testing your ruby code](https://www.theodinproject.com/courses/ruby-programming/lessons/testing-your-ruby-code) or [Ruby building bloc

[2018-12-09 13:24] #8896 closed, assigned to nobody

[2018-12-13 15:32] olayinkatayo opened #8935 "Tayo Olayinka's Solution (Easy)"
Solution

[2018-12-14 14:00] Danshock opened #8943 "Depreciated method in resource (SO)"
In _apis-and-building-your-own_ -> _Rendering Nothing or Errors_ and more specifically the Stackoverflow resource. The Stackoverflow's answer suggests using this code as a solution:
`render(:file => File.join(Rails.root, 'public/403.html'), :status => 403, :layout => false)`
, however another user pointed out

What I suggest is maybe this could be mentioned to future users by explaining it on Odin

[2018-12-18 08:43] uzorjchibuzor commented on #8935
@olayinkatayo I think it is a PR you wanted to open?

[2018-12-18 14:01] olayinkatayo commented on #8935
Oh, yes. I was trying to create a PR for the very first time. Made a few mistakes before I got it right. So you're very correct. Thanks for pointing that out @uzorjchibuzor

[2018-12-18 14:03] uzorjchibuzor commented on #8935
You can close the issue.

[2018-12-18 20:47] #8935 closed

[2019-01-04 00:37] hoangtommy commented on #8878
@AgonIdrizi thanks for bringing this up. I can take it as an action item to remove the broken link to RoR Tutor and replace it with your suggested web-crunch series.

[2019-01-04 00:43] hoangtommy commented on #8465
@Jeremy-D I also saw that the dev branch wasn't being used anymore. I changed the copy and my PR got accepted. I think we can close this issue now.

[2019-01-04 00:53] hoangtommy commented on #8878
@AgonIdrizi just submitted a PR updating the conclusion with your links.

[2019-01-05 00:52] I3uckwheat opened #9086 "People having issues with bundler and heroku | Installfest"
See: https://discordapp.com/channels/505093832157691914/505093832157691916/530840213111439371 For more information

[2019-01-05 00:52] I3uckwheat commented on #9086
A solution is here: https://github.com/bundler/bundler/issues/6784

[2019-01-05 18:10] tale-quale opened #9089 "Web Dev 101: How does the web works? - Broken link"
Link to the page - https://www.theodinproject.com/courses/web-development-101/lessons/how-does-the-web-work
The second part of the assignments' point 5:
"...Then, find out what web browser you are using right now." - broken link on the word "now".
The site not available and I think need to fix that.

[2019-01-05 22:31] #9086 closed

[2019-01-09 19:42] hoangtommy commented on #9089
@tale-quale what do you see when you click on the link **now**? I just tested it on two browsers and it looks like it works fine.

[2019-01-14 20:48] leila-alderman opened #9197 "Beginning Ruby book no longer free"
The first three lessons in the Ruby course include in the assignment reading chapters of the Beginning Ruby book. However, this book is no longer free on [Google Books](https://books.google.com.pk/books?id=MiGpDAAAQBAJ&printsec=frontcover#v=onepage&q&f=false).

I suggest removing these links and perhaps replacing them with alternative resources. A previous related issue (https://github.com/TheOdin

[2019-01-14 21:34] leila-alderman commented on #9197
In the OOP lesson (https://www.theodinproject.com/courses/ruby-programming/lessons/object-oriented-programming), the Additional Resources section states:
"For an alternative read to Beginning Ruby’s chapters on OOP, check out Launch School’s OOP."
(https://launchschool.com/books/oo_ruby/read/introduction)

So this lesson might be an easy and quick one to clean up.

[2019-01-15 22:59] leila-alderman commented on #9197
Interestingly, the [Files and Serialization lesson](https://www.theodinproject.com/courses/ruby-programming/lessons/files-and-serialization?ref=lnav) links to the [Amazon page](https://www.amazon.co.uk/Beginning-Ruby-Professional-Peter-Cooper/dp/1484212797) to buy the Beginning Ruby book, not even pretending that it's free.

Would these chapters be alright to just remove from the lesson?

[2019-01-16 00:18] KevinMulhern commented on #9197
Hi @leila-alderman, thanks for raising this.

1. The first three lessons will soon be replaced by brand new lessons, that will include different more up to date resources. I'd estimate that these lessons will be live within the month. But we could maybe replace Beginning ruby in these lessons with chapters from this free book https://launchschool.com/books/ruby/read/introduction

2. I agree that w

[2019-01-17 18:37] AgonIdrizi commented on #8878
Thnx @hoangtommy.

[2019-01-17 18:37] #8878 closed

[2019-01-19 12:23] benfowler04 opened #9260 "Web Dev 101 HTML/CSS Project - RawGit is shutting down"
The [HTML/CSS project](https://www.theodinproject.com/courses/web-development-101/lessons/html-css) lists two hosting options: GitHub Pages and [RawGit](https://rawgit.com). The latter is shutting down:

"RawGit is now in a sunset phase and will soon shut down. It's been a fun five years, but all things must end.

GitHub repositories that served content through RawGit within the last month will co

[2019-01-21 04:17] leosoaivan commented on #9260
I think leaving GitHub Pages as the only remaining option is acceptable. Everyone's code is hosted on GitHub to begin with.

[2019-01-21 04:19] leosoaivan commented on #8609
Could we add a CSS wiggle to the drop-down arrows when they come into view, to indicate that an action can/should be taken?

[2019-01-21 04:21] #8465 closed, assigned to nobody

[2019-01-21 21:26] #9260 closed, assigned to nobody

[2019-01-24 23:56] leosoaivan commented on #9089
Tested the link. Closing!

Thanks @hoangtommy!

[2019-01-25 13:54] leosoaivan commented on #8286
Thanks for pointing this out. At this time, I don't think we have plans to support IE/Edge.

[2019-01-25 19:08] leosoaivan commented on #8460
Closing, since RubyMonk is back up.

[2019-01-25 19:08] #8460 closed

[2019-01-31 14:36] I3uckwheat opened #9426 "Remove cloud 9 and replace with better alternative"
https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/pair_programming/prepare_to_remote_pair.md

Another solution may be better in it's place.

Related to:  #8481

[2019-01-31 15:46] KevinMulhern commented on #9426
I think there was talk about removing the pairing lessons, they haven't performed as we expected they would.

[2019-02-01 02:31] I3uckwheat commented on #8724
@Deetss Are you still working on this?

[2019-02-04 00:59] I3uckwheat opened #9471 "Add DOM resource"
https://leila-alderman.github.io/2018/12/05/Intro-to-the-Document-Object-Model.html

This should be somewhere as it is a *very* good writeup

[2019-02-04 15:39] I3uckwheat commented on #9426
I think removing the project would be good enough in this case.

[2019-02-05 13:44] WoozyAdel opened #9494 "The meaning of a DNS,Web Development 101."
**Hello There!.**
While i was surfing the curriculum i found something i think is wrong after i looked up some other websites.
DNS is supposed to convert Domain Names into IP address but in the definition provided by the curriculum its the opposite.
**Screenshot:**
![screenshot](https://user-images.githubusercontent.com/47352705/52276815-7563a600-2953-11e9-9b3c-3c922ca9a6e5.png)

**Link:**
[https:

[2019-02-05 22:00] #9197 closed

[2019-02-05 22:03] leila-alderman commented on #9471
Done. Thanks @I3uckwheat!

[2019-02-05 22:03] #9471 closed

[2019-02-08 15:32] Deetss commented on #8724
This is done

[2019-02-08 15:33] #8724 closed

[2019-02-13 11:37] mrodrigochaves opened #9582 "https://mrodrigochaves.github.io/google-homepage/"
Please add my solution.

Thank you The Odin Project Team.

[2019-02-13 12:05] KevinMulhern commented on #9582
Issues are for reporting problems @mrodrigochaves. Please make a pull request to add your project submission.

See [here](https://github.com/TheOdinProject/curriculum/blob/master/contributing.md) for how to do that.

[2019-02-13 12:05] #9582 closed

[2019-02-18 16:53] mindovermiles262 commented on #9494
Closed with https://github.com/TheOdinProject/curriculum/pull/9636

[2019-02-18 16:53] #9494 closed

[2019-02-18 16:54] #9089 closed

[2019-02-23 06:04] I3uckwheat commented on #8609
@leosoaivan I like that idea

[2019-03-13 15:57] leila-alderman commented on #7799
I just tested all of the links there, and they all seem to be working fine now, so I'm closing this issue.

[2019-03-13 15:57] #7799 closed

[2019-03-24 16:23] leonardovega commented on #7619
Is it safe to close this issue since it was addressed in #8181?

[2019-03-24 16:25] ZASMan commented on #7619
Yes that’s fine with me!

[2019-03-24 16:25] #7619 closed

[2019-04-11 14:20] codyloyd opened #10238 "Add README to course folders"
This would be a great first issue for someone looking to contribute.

I put a readme file in the NodeJS curriculum folder with links to the lessons in their intended order.  Doing so makes it easier to follow what's going on inside that folder without having to load up theodinproject.com to see the curriculum order.

see here:
https://github.com/TheOdinProject/curriculum/tree/master/nodeJS

Other

[2019-04-11 14:24] codyloyd commented on #7708
I added the above video.  Closing this issue

Thanks everyone!

[2019-04-11 14:24] #7708 closed

[2019-04-11 14:28] codyloyd commented on #7955
As a side-note a large majority of our content consists of references to external resources which are in english.  It wouldn't be acceptable to say we offer alternative languages, but require students to read english articles, watch english videos or read english documentation.

I understand the desire to offer translations, but I do not see how it will ever be possible.  Perhaps a better solution

[2019-04-11 14:36] codyloyd commented on #8323
Kevin is right.. the first devtools lesson is introduced before the student knows any JavaScript, so the second one should be more JS specific.

I also agree that any extreme overlap should be cleaned up.

[2019-04-11 14:40] codyloyd commented on #8481
This has been more or less addressed by our update installation instructions.

[2019-04-11 14:40] #8481 closed

[2019-04-11 14:44] codyloyd commented on #8609
i do not like the idea of a virtual assistant..... however we can probably update the design a little bit to make it more obvious that those can be expanded.

[2019-04-11 14:58] codyloyd commented on #8323
FIXED

[2019-04-11 14:58] #8323 closed

[2019-04-12 01:45] Ania-chan commented on #10238
Hi, I'd like to create readme's for odin project. I'm a beginner and I've never contributed before to an open source.
Do I understand it correctly that 7 additional readme's will be needed? https://www.theodinproject.com/courses

[2019-04-12 01:53] leonardovega commented on #10238
@Ania-chan Do you need any help with this task? I can try to offer a helping hand if needed.

[2019-04-12 12:53] Ania-chan commented on #10238
@leonardovega Thank you! I'll let you know if I need any help!

[2019-04-12 13:45] codyloyd commented on #10238
@Ania-chan I believe that you DO understand correctly 😄

[2019-04-12 13:47] codyloyd opened #10252 "Node Course: Conclusion"
The rest of our courses have a conclusion lesson, and nodeJS needs one too.

[2019-04-12 13:51] codyloyd opened #10253 "Node Course: Proofreading/Editing"
The nodeJS course lessons are currently in a _very_ rough first-draft form.  Every lesson needs proofreading, revision and editing.

If you want to take a look at one leave a comment below saying which one you're reviewing.

As the author, I'll give them all a review myself to make sure the content is accurate and that I'm saying what I want to say, but I'd like other people's eyes on each lesson

[2019-04-12 13:56] codyloyd opened #10254 "Node Course: Learning Outcomes"
We need to go through and add appropriate learning objectives to most lessons inside the node course.

To help with this task, simply pick a lesson and if it doesn't have any learning outcomes, read the content and add them.

Look at this lesson for an example: https://github.com/TheOdinProject/curriculum/blob/master/ruby_programming/basic_ruby/lesson_advanced_building_blocks.md

we do not need _n

[2019-04-12 13:59] Ania-chan commented on #10238
@codyloyd Great! I'll do it then :)

[2019-04-12 17:56] leonardovega commented on #10253
I can help out with the following lessions:

- Introduction: What is node?
- Getting Started
---- Getting Started Lesson
---- Getting Started Project

[2019-04-13 13:05] Ania-chan commented on #10238
@codyloyd I've just created pull request with the readme files! Please let me know if there is anything I could improve of fix.

[2019-04-13 13:49] #10238 closed

[2019-04-20 16:55] suretrust commented on #10253
I'll take a look at the following lessons
- Express
  - Express Introduction lesson
  - Express Tutorial
    - Lesson 1
    - Lesson 2

[2019-04-21 14:43] suretrust commented on #10254
I'm working on the [Getting-Started](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/getting-started/Getting-Started.md) inside the [getting-started](https://github.com/TheOdinProject/curriculum/tree/master/nodeJS/getting-started) folder.

[2019-04-21 18:24] leonardovega commented on #10254
@suretrust I forgot that the proofing and outcomes were separate issues. So when proofing the Getting-Started.md file I added the outcomes too. Sorry about that.  I’ll stick to just proofing in the getting started project.

[2019-04-21 18:35] suretrust commented on #10254
@leonardovega That's okay. Thanks for the update.

[2019-04-21 18:37] leonardovega commented on #10254
@suretrust keep up the good work and thanks for the contributions.

[2019-04-24 07:44] elias-white opened #10401 "Web Development 101: Project Rails Assignment Point 3"
On Web Development 101: Project Rails Assignment Point 3 it currently states that rails will allow you to delete tags and leave orphans. You'll now  run into an error when trying to do so, along the lines of "FOREIGN KEY constraint failed". The solution is the same (Referential Integrity), but the current wording can add confusion to an already confusing portion of the curriculum.

[2019-04-26 15:43] suretrust commented on #10254
I'm working on the [express introduction](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/Express-Introduction.md) under the [express basics](https://github.com/TheOdinProject/curriculum/tree/master/nodeJS/express-basics) section.

[2019-04-27 08:57] suretrust commented on #10254
I'm working on [lesson 2](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/Express-Lesson-2.md) under the [express basics](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/) section.

[2019-04-27 15:58] suretrust commented on #10254
I'm working on [lesson 3](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/Express-Lesson-3.md) under the [express basic](https://github.com/TheOdinProject/curriculum/tree/master/nodeJS/express-basics) section.

[2019-04-27 22:19] I3uckwheat opened #10452 "Change button to say "Get Started" instead of "view curriculum""
This could help prevent questions like this in the chat:
![image](https://user-images.githubusercontent.com/4411701/56855657-96afaf00-6910-11e9-8540-c7518968aec2.png)

[2019-04-28 13:58] suretrust commented on #10254
I'm working on [lesson 4](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/Express-Lesson-4.md) under the [express basic](https://github.com/TheOdinProject/curriculum/tree/master/nodeJS/express-basics) section.

[2019-05-01 18:06] MoonKingArthur opened #10491 "Reposition "Command Line Basics" section"
## Context
A lot of students come into the discord requesting help with the command-line basics. Their confusion is usually centered around them being a Windows user with no  prior knowledge of a command line outside of the one on windows. The entire section usually doesn't make sense until they've installed a VM, or set up dual boot. The students are usually instructed by the discord mods to go a

[2019-05-02 21:44] I3uckwheat opened #10508 "sqlite workaround is not needed anymore"
![image](https://user-images.githubusercontent.com/4411701/57108816-79585780-6cf9-11e9-97bf-3fbf08cb939f.png)

[2019-05-04 07:00] dreamarcitect commented on #10452
"Start Here" might also work.

[2019-05-04 09:38] suretrust commented on #10452
I replaced as suggested.

[2019-05-05 17:00] suretrust commented on #10254
I'm working on [lesson 5](https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/express-basics/Express-Lesson-5.md) under the [express basic](https://github.com/TheOdinProject/curriculum/tree/master/nodeJS/express-basics) section.

[2019-05-12 15:47] suretrust commented on #10253
I'll take a look at the following lessons:

- Express
    - Express Tutorial
        - Lesson 3
        - Lesson 4
        - Lesson 5

[2019-05-15 02:10] mrmowji commented on #7684
I couldn't find anything about Git in [Web Development 101: Prerequisites](https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites) which is referenced in [assignments of Introduction to Git](https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-git?ref=lnav#assignment). I know this issue is closed but the problem is not solved to me :)

[2019-06-15 00:30] bycdiaz commented on #10491
This issue was resolved.

[2019-06-15 00:30] #10491 closed

[2019-06-18 17:58] learnsometing opened #11019 "Broken Link - APIs and Building Your Own"
In [APIs and Building Your Own](https://www.theodinproject.com/courses/ruby-on-rails/lessons/apis-and-building-your-own), the link to the infamous google post is now broken, since google plus no longer exists. I did some digging and it looks like most mirrors of the post are also affected by the shutdown of Google+, but I did manage to find a text mirror of the post on [github](https://gist.github

[2019-06-18 19:16] leila-alderman commented on #11019
This issue was resolved by PR #11012.

[2019-06-18 19:16] #11019 closed

[2019-06-21 18:28] marinarose92 opened #11056 "Change mentions of 'bundle.js' to 'main.js'"
I noticed this article: https://github.com/TheOdinProject/curriculum/blob/master/javascript/organizing-js/es6-modules.md continually references `bundle.js` but it seems to have changed to `main.js` in the linked tutorial for webpack. Whether this is simply a different convention or something more significant (I'm only just being exposed to webpack) I think it would make the tutorial a bit clearer

[2019-06-23 22:51] coped opened #11078 "Michael Hartl's Rails Tutorial is Down"

[2019-06-23 22:52] #11078 closed

[2019-06-23 23:06] coped opened #11079 "Michael Hartl's Rails Tutorial (https://www.railstutorial.org) is down."
https://www.railstutorial.org/ is currently down. This affects all lessons within TOP curriculum that reference this website such as:

* Web Development 101: Ruby on Rails Basics
https://www.theodinproject.com/courses/web-development-101/lessons/ruby-on-rails-basics

* Ruby on Rails: Project: Getting Your Feet Wet
https://www.theodinproject.com/courses/ruby-on-rails/lessons/getting-your-feet-wet

[2019-06-24 03:56] coped commented on #11079
https://www.railstutorial.org/ is back up.

[2019-06-24 03:56] #11079 closed

[2019-06-24 06:09] ryanford-frontend commented on #11079
In the future you can use the [Internet Archive](https://web.archive.org/) to view a [cached version](https://web.archive.org/web/20190614183225/https://www.railstutorial.org/)

[2019-06-24 08:06] coped commented on #11079
I had that in mind when trying to find a workaround, but I noticed if you tried to access any of the chapters, a "Sorry, content not available" is given instead of the chapter content. For example:

https://web.archive.org/web/20190530183804/https://www.railstutorial.org/book

This link will give you nothing.

[2019-07-01 01:52] srtkverma opened #11143 "order of node and js in the new track"
In the original track, js was placed after html and css, but in the new node track, node and js are placed before html and css

[2019-07-01 01:56] srtkverma commented on #11143
also, the descriptions need to be changed as js is not the last course in the nodejs track

[2019-07-01 02:51] #11143 closed

[2019-07-01 14:57] srtkverma opened #11148 "rails section in javascript course(in NodeJS track)"
if we aren't learning rails, maybe this shouldn't be in the node track
https://www.theodinproject.com/courses/javascript#javascript-and-rails

[2019-07-01 17:07] ezrahnyanat commented on #10253
Doing a read through of the course lessons!
Noticed a tiny tiny typo in the NodeJs intro -  https://www.theodinproject.com/courses/nodejs/lessons/introduction-what-is-nodejs#event-driven. definition is missing an 'i'. I can fix, but only if someone else is not already on it, so I won't step on toes.

[2019-07-01 17:46] suretrust commented on #10253
@ezrahnyanat feel free to edit as appropriate.

[2019-07-01 20:16] codyloyd commented on #11148
i can't tackle this immediately, but perhaps a quickfix would be to add a note at the top of the lesson that says somethign like "feel free to skip this if you don't know rails"

[2019-07-05 10:43] srtkverma opened #11207 "Final JS project requires Rails (Node track)"
the final JS project states that both JS and rails is needed to be able to complete the project
https://www.theodinproject.com/courses/javascript/lessons/final-project-116ff273-1e55-4055-bd7f-146c17d0ec9c

[2019-07-05 23:24] bycdiaz opened #11216 "Object Relationships in Object Oriented Programming Lesson"
After working through the [Object Oriented Programming](https://www.theodinproject.com/courses/ruby-programming/lessons/object-oriented-programming) lesson I felt very unprepared for the Tic Tac Toe project. I shared my code in the discord and @I3uckwheat made me aware of the idea called Object Relationships in ruby. I returned to the Object Oriented Programming lesson to review but I couldn't fin

[2019-07-06 00:59] bycdiaz commented on #11216
This article feel substantive but I'm not sure it should be the first a learner is exposed to: [Object Relationships in Basic Ruby by Marcella Maki on medium.com](https://medium.com/@marcellamaki/object-relationships-in-basic-ruby-1af5773fff48).

[2019-07-06 22:24] bycdiaz commented on #11216
This article [Intro to Object Relationships](https://learn.co/lessons/ruby-intro-to-object-relationships-with-belongs-to) feels a little more accessible to someone very green like myself.

[2019-07-08 18:28] heyapricot opened #11253 "[Ruby on Rails][Views] Should the lesson also cover the `<% -%>` and `<#% %>` tags?"
The lesson for views in RoR covers the use of `<% %>` and `<%= %>` tags. Covering the use of `<% -%>` and `<#% %>` would be helpful

[2019-07-09 14:29] zshoals opened #11267 "[Web Development 101] Command Line Basics Course references a paywalled resource"
The Additional Resources section of [Command Line Basics](https://www.theodinproject.com/courses/web-development-101/lessons/command-line-basics-web-development-101) references this supposedly free ebook: [Learn Enough Command Line to Be Dangerous](https://www.learnenough.com/command-line-tutorial/basics), with a suggestion to review Chapters 1 and 4.

However, the entire ebook after Chapter 1 see

[2019-07-09 19:55] bycdiaz opened #11272 "function parameters and arguments: javascript fundamentals 3"
I noticed that function parameters and arguments are only briefly covered in the [JavaScript Fundamentals lesson](https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/javascript_basics/fundamentals-3.md). I looked around at the first few resources after a google search and found other resources that were equally brief and lacked context for someone that is new to the concep

[2019-07-10 00:57] leila-alderman commented on #11267
@zshoals We try to reference free materials as much as possible and to clearly state when resources are not free. However, the Learn Enough books going behind a paywall is a very recent change, so we just hadn't updated this lesson to reflect that change yet.

I've gone ahead and made this change clearer in our description of that book now. Thanks for bringing this problem to our attention!

[2019-07-10 00:57] #11267 closed

[2019-07-10 14:06] bycdiaz commented on #11272
Resolved by #11277.

[2019-07-10 14:06] #11272 closed

[2019-07-11 07:52] MBrighty opened #11297 "Web Development 101 has not been updated for the Full Stack JavaScript track"
The Web Development 101 course contains multiple lessons relating to Ruby and Rails when viewing the course in the Full Stack JavaScript track. Some examples:

- [Installing Ruby](https://www.theodinproject.com/courses/web-development-101/lessons/installing-ruby)
- [Your First Rails Application](https://www.theodinproject.com/courses/web-development-101/lessons/your-first-rails-application)
- The

[2019-07-12 16:16] mindovermiles262 commented on #11253
I'm not sure I've ever heard of using `<% -%>` before. Could you tell me an example of when you would use this?

[2019-07-15 02:20] AaronHe7 opened #11343 "Twitter Bot lesson missing."

[2019-07-16 07:33] martink-rsa opened #11357 "Web Dev 101: Fundamentals 2: methods not covered in prior lesson"
Referring to the following numbered point from the Web Development 101: Fundamentals 2 page. The sentence of importance has been made bold:

[Fundamentals Part 2 | The Odin Project](https://www.theodinproject.com/courses/web-development-101/lessons/fundamentals-part-2?ref=lnav)

The methods are introduced in numbered point 2 of the same lesson and same numbered list, not from the prior lesson. I b

[2019-07-16 08:19] martink-rsa opened #11358 "Web Development 101: Git Basics: Ry's Git Tutorial PDF hyperlinks 404"
I am referring to the [Web Development 101: Git Basics](https://www.theodinproject.com/courses/web-development-101/lessons/git-basics) lesson, and a bullet point under _"Additional Resources"_ which reads as follows:

[Git Basics | The Odin Project](https://www.theodinproject.com/courses/web-development-101/lessons/git-basics)

The hyperlink to the repo containing the PDF works, however the PDF it

[2019-07-17 23:42] ASK1995 opened #11381 "Couldn't install as per the directions given in web dev 101/ installations/ ruby_first_app for Ubuntu 18.04"
Found an alternative for Ubuntu 18.04 installation of ruby at this link which works:

https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-with-rbenv-on-ubuntu-18-04

Also, the explanation of SSHing into Github from CLI of Git was not clearly explained, I had to read a few articles on stack overflow on how to generate the keys first and then add them on github before using

[2019-07-19 12:48] leila-alderman commented on #11358
Fixed the link: https://github.com/TheOdinProject/curriculum/commit/64afd2c10dc8c16943d9dfb1c83dbde6cb4a9186

[2019-07-19 12:48] #11358 closed

[2019-07-19 12:55] #11357 closed

[2019-07-23 22:31] bycdiaz opened #11464 "Javascript Objects Content"
I was looking at the [Objects and Object Constructors](https://www.theodinproject.com/courses/javascript/lessons/objects-and-object-constructors) lesson and noticed that it invited people to the JavaScript [Fundamentals Part 5](https://www.theodinproject.com/courses/web-development-101/lessons/fundamentals-part-5) lesson if they need more context on JavaScript objects.

The issue is that the Funda

[2019-07-23 22:31] #11464 closed

[2019-07-24 03:01] leosoaivan commented on #11381
The `how` is explained fairly clearly in the installations instruction, so I'm assuming that's not the issue at hand.

Do you think and explanation of `what` and/or `why` would be useful?

[2019-07-24 03:02] leosoaivan commented on #11343
Thank you for creating an issue.

A lot of the curriculum has changed. Do you recall on what page the twitter spambot was mentioned?

[2019-07-25 21:53] AaronHe7 commented on #11343
https://www.theodinproject.com/courses/ruby-programming/lessons/how-this-course-will-work-ruby-programming
https://www.theodinproject.com/courses/web-development-101/lessons/conclusion-web-development-101

[2019-07-27 09:31] Am00702 opened #11508 "Instructions not up to date(web_dev_101)minor issue"
On (https://www.theodinproject.com/courses/web-development-101/lessons/html-css#viewing-your-project-on-the-web)
[Git-repo](https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/the_front_end/project_html_css.md)
The instructions to view the project on web state:

There is no save button anymore, saving happens *automatically*.

[2019-07-27 12:51] tbmreza commented on #11508
Have you opened a pull request for this?

[2019-07-29 02:34] bycdiaz commented on #11343
@leosoaivan It seems that the reference to the twitter spam bot is outdated. If you can 2nd it, I'll remove the references.

Thanks for pointing this out @AaronHe7.

[2019-07-31 02:46] leosoaivan commented on #11343
@KevinMulhern what ever happened to the Twitter bot project? I recall doing it.

[2019-07-31 11:12] bycdiaz commented on #11343
I'm reopening the issue since we haven't reached a resolution.

[2019-07-31 23:09] leosoaivan commented on #11253
I agree that the lesson could include the use of the `<#% %>` ERB tag. I don't think the trim tags are helpful, as they are largely synonymous with the regular `<% %>` tag.

[2019-07-31 23:10] leosoaivan commented on #11207
@codyloyd 😄 ?

[2019-07-31 23:14] leosoaivan commented on #11056
@marinarose92 the standard is indeed `main.js`, though you *can* name it whatever you want.

https://github.com/webpack/webpack.js.org/issues/2094

Feel free to make a PR :).

[2019-07-31 23:16] #10508 closed

[2019-07-31 23:17] leosoaivan commented on #10508
Resolved by f7715175ef20db79b5816b8ab3ceec45d592e561

[2019-08-02 00:27] kashura commented on #11056
@leosoaivan - submitted a PR.

[2019-08-02 05:12] jcamato opened #11590 "Additional step needed for MacOS 10.14.5 to install NVM"
After following curriculum/web_development_101/installations/installing_node.md, _-bash: nvm: command not found_ kept appearing when trying to use nvm. After looking at [NVM's github documentation](https://github.com/nvm-sh/nvm#installation-and-update), this section ended up solving my issue:

After that, I was able to complete The Odin Project's installation instructions.

[2019-08-06 00:14] bycdiaz commented on #11216
The section titled "Modifying an object’s state" from The Well Grounded Rubyist, page 521, has very relevant info. Dropping this here for my reference.

[2019-08-07 13:25] Am00702 commented on #11508
No should I add?

[2019-08-08 01:26] tbmreza commented on #11508
Yes, it will help the maintainers see what change do you wish to make. It will be a great experience too if you are new to submitting PRs.

[2019-08-16 23:10] heyapricot opened #11815 "Rails 6 just released. Time to update the curriculum?"
So, [Rails 6 is out](https://weblog.rubyonrails.org/2019/8/15/Rails-6-0-final-release/) and [Michael Hartl says he'll be updating his book](https://www.reddit.com/r/rails/comments/cra5u5/ruby_on_rails_600_released/ex3llbz) (Which is used in plenty if not all of the rails lessons/projects)

- How does this affect TOP Curriculum?
- What do we do about it?

[2019-08-20 10:12] SilasSpet opened #11867 "The CSS Grids Lesson is way outdated and should be removed"
[The CSS Grids Lesson](https://www.theodinproject.com/courses/html5-and-css3/lessons/css-grids?ref=lnav#assignment) in the CSS & HTML course is in my opinion really outdated and not useful anymore. Maybe I should even go as far as calling it dangerous because it can easily teach people the wrong approach and give them a false sense of what is in use today.

The first assignment ([Basic Grids from

[2019-08-25 16:07] jmcarter006 commented on #11508
I have added a pull request updating this change.

Pull Request: Fix/project html css.md #11940

[2019-08-28 17:04] I3uckwheat opened #11982 "vbox directions"
![image](https://user-images.githubusercontent.com/4411701/63876789-e0c2a300-c98b-11e9-9a3d-a51efa9cf054.png)

In the installation directions for Vbox, we need to make sure the disk is selected

[2019-08-28 17:43] SilasSpet commented on #11867
@I3uckwheat Do you mean alternatives for the learning assignments? Because if so, then no I do not. I think the entire concept of the lesson is just not needed anymore now that we have Flexbox and Grid and both are already covered. If you mean alternative as in a different lesson then the two things that would come to my mind are:
1. TailwindCSS. There are already two CSS frameworks covered with B

[2019-09-01 18:36] #11508 closed

[2019-09-04 00:07] bycdiaz opened #12086 "Formerly free resource for Git Basics assignment now requires payment"
The first assignment for the [Git Basics ](https://www.theodinproject.com/courses/web-development-101/lessons/git-basics) lesson is now part of the pro package at codecademy.

The lesson is the Basic Git Workflow from the [Learn Git course at codecademy](https://www.codecademy.com/learn/learn-git).

We'll need to identify a new resource for this lesson.

[2019-09-04 00:34] jmcarter006 commented on #12086
I’m on mobile so this page isn’t working right. But it looks like this resource may be a viable interactive git learning tool. Especially the “Learn by Doing” section

https://try.github.io/

[2019-09-04 01:28] Rickeo commented on #12086
Following on from what @jmcarter006 said, specifically the link on that page to this resource:

https://learngitbranching.js.org/

That seems to be the bulk of the interactive lesson(s).

As someone who has recently just done that Code Academy course, having a brief look at the content on js.org it seems to cover the same type of material.

[2019-09-04 20:13] coped opened #12098 "Michael Hartl's RoR Tutorial is now paywalled"
The content of Michael Hartl's RoR Tutorial, from chapter 4 thereon, is now behind a pay-wall.

Any lesson past the 'Introduction to Rails' section of the Ruby On Rails curriculum (https://www.theodinproject.com/courses/ruby-on-rails) now potentially links to incomplete content.

This is a problem seeing as the RoR curriculum places a heavy reliance on the content of the tutorial.

[2019-09-04 23:40] borjarobert commented on #12098
There is still a way to access them for free (for a limited time, apparently), from: https://www.learnenough.com/ruby-on-rails-4th-edition-tutorial/beginning

[2019-09-04 23:47] leila-alderman commented on #12098
@borjarobert I'm trying to dig into this issue some more. Why do you say that the 4th edition is available for only a limited time?

[2019-09-05 00:08] borjarobert commented on #12098
Inside https://www.learnenough.com/courses if you scroll down until you find the Ruby on Rails tutorial (right column) it says: "Looking for the Ruby on Rails Tutorial for Rails 5? For a limited time the previous version of the book with remain available here: Previous Version".