[2019-09-05 13:01] leila-alderman opened #12108 "Codecademy Command Line course now paid"
The Codecademy Command Line course is no longer free. This course is linked to as the second step in the assignment for the Command Line Basics lesson: https://www.theodinproject.com/courses/web-development-101/lessons/command-line-basics-web-development-101?ref=lnav

We would like to find a similar free resource to replace this tool. This could be an informative article, a short book, or another

[2019-09-05 13:19] asmaalshareef commented on #12108
Udacity command line basics course (free)
https://www.udacity.com/course/linux-command-line-basics--ud595

[2019-09-05 13:33] martink-rsa commented on #12108
Interactive options:
https://exercism.io/my/tracks/bash (Requires a local setup)
https://www.learnshell.org/ (Doesn't deal with navigation)

Long list of resources if you're willing to omit interactivity:
https://practity.com/lynux/

[2019-09-12 10:20] krupenja opened #12204 "Web Development 101: Consider removing Treehouse video on basic forms"
[HTML and CSS basics](https://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics), Assignment point 3:

I think the Treehouse video is a bit redundant here and could be removed. It does not cover anything on forms that is not already covered in Codecademy or HTML Dog. And both actually dig in deeper into forms than the Treehouse video.

If the maintainers agree, I could

[2019-09-14 00:28] cruzick opened #12231 "Show your appreciation"
In the chat features section it shows a space before the ++ after the username.  After trying in chat I found that there cannot be a space.

https://www.theodinproject.com/courses/web-development-101/lessons/join-the-odin-community#chat-features

[2019-09-14 00:34] 105ron commented on #12231
It does work with the space. Is there a particular user name you found this issue with?

[2019-09-14 00:36] cruzick commented on #12231
I wonder if the bot was having problems?  My message in #general at 7:17
`@SoWoke ++`  didn't cause the bot to respond.
`@SoWoke++`  did cause the bot to respond.

[2019-09-14 01:26] hobbes543 opened #12232 "Codecademy Git Course Requires CC info"
The Codecademy course referenced in the Git basics lesson is part of a paid course.  While the specific lesson is allowed to be tried for free, Codecademy requires that you enter CC info to do so.  I think it would be best if an alternate source is found for this exercise.

[2019-09-14 03:00] 105ron commented on #12231
The back end of the bot is hosted on heroku unless it has been changed. If no one on has allocated points, the heroku dyno needs to be woken before the request is processed, which is very slow. So it might just be the time delay from your first points coming back looking like it was sent on the one without spaces?

[2019-09-14 03:56] cruzick commented on #12231
I just tested again, it is only triggered without a space...

![image](https://user-images.githubusercontent.com/19144184/64903164-ba825000-d679-11e9-84cc-979666a19955.png)

[2019-09-14 03:58] cruzick commented on #12231
My mistake... it inserts a space automagically after @'ing someone

[2019-09-14 03:58] #12231 closed

[2019-09-16 17:01] hobbes543 commented on #12204
I will also note that when I went to the video today, there was a notice at the top of the screen that the video is scheduled to be retired on 1/6/2020

[2019-09-16 17:02] krupenja commented on #12232
Duplicate of https://github.com/TheOdinProject/curriculum/issues/12086

[2019-09-17 01:26] bycdiaz commented on #12086
I came across this resource:[git-tower.com](https://www.git-tower.com/learn/git/ebook/en/command-line/introduction#start) It feels a bit more accessible than the others. If I'm not mistaken, Part 1 - The Basics should give learners what Codecademy was covering.

I only have two (small) concerns about this resource. It mentions a set of lessons using a desktop GUI. We would just need to be explicit

[2019-09-17 06:39] MJae opened #12278 "Getting "nvm is not compatible with the npm config...""
Following all previous instructions, whenever I get to `nvm use node`, this is the response I get:
[code]
Ignoring that and running `node -v` as in the next step in the instructions gives me this:
[code]
Of course, running `nvm use --delete-prefix v12.10.0` gives me:
[code]
Then I can use `node -v` as expected: `v12.10.0`

[2019-09-19 01:11] leosoaivan commented on #12278
Did you try uninstalling and re-installing 12.10.0?

[2019-09-19 01:12] leosoaivan commented on #12232
And related to #12108

[2019-09-19 01:12] #12232 closed

[2019-09-19 01:13] #11207 closed

[2019-09-19 01:17] leosoaivan commented on #8943
I think that, on a broader level, everyone has to watch out for deprecated methods. Unfortunately, the curriculum can't easily address this on a granular level, unless it was to address truly breaking changes.

If you feel this might be considered a breaking change, I encourage you to open a PR with the necessary change.

[2019-09-19 01:17] #8943 closed

[2019-09-19 01:19] leosoaivan commented on #11590
Would you be willing to open up a PR with the necessary change?

[2019-09-19 01:20] leosoaivan commented on #11381
Closing, but feel free to re-open as needed.

[2019-09-19 01:20] #11381 closed

[2019-09-19 01:39] jcamato commented on #11590
@leosoaivan Submitted, thanks!

[2019-09-19 09:42] MJae commented on #12278
I just tried that and I'm not sure if it's completely OK now, but I'm not seeing the complaints from last time. Thanks.

[2019-09-20 01:44] bycdiaz commented on #12086
Resolved by pull request #12291.

[2019-09-20 01:44] #12086 closed

[2019-09-20 21:59] #11056 closed

[2019-09-21 01:18] leosoaivan commented on #12278
In that case I'll close the issue, but feel free to re-open 👍

[2019-09-21 01:18] #12278 closed

[2019-09-23 06:57] #10401 closed

[2019-09-24 01:50] wing117 opened #12374 "Happy Bear blog post link no longer valid"
Happy bear blog post hyperlink under "Motivation" is no longer valid and returns a 'no such app' error.

File path:
curriculum/web_development_101/the_basics/introduction_to_web_development.md

Relevant text:
"Read **this comprehensive blog post from Happy Bear Software** about the journey to getting hired as a brief introduction to what you will face ahead."

[2019-09-27 07:54] #12204 closed

[2019-09-30 00:17] bycdiaz opened #12443 "touch terminal command not mentioned in Command Line Basics Assignment"
The [Command Line Basics](https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/installations/command_line_basics.md) lesson points users to the [Conquering the Command Line](http://conqueringthecommandline.com/book/basics) resource.

This intro resource does not instruct learners on how to create files with the `touch` command.

Adding instructions on the `touch` command pr

[2019-10-02 01:19] bycdiaz commented on #12443
Resolved by #12467.

[2019-10-02 01:19] #12443 closed

[2019-10-04 14:57] bycdiaz commented on #11343
I didn't see the twitter bot project in our curriculum. I'll remove the reference.

Thank you for bringing this to our attention @AaronHe7.

[2019-10-04 15:49] #11343 closed

[2019-10-05 18:42] leosoaivan opened #12553 "Remove mentions of Rails from JS Track"
## Description
After breaking out JavaScript/Node.js into its own track, we are still referencing Rails in a few lessons, including but not limited to shared lessons, such as WebDev101.

To begin addressing this issue, the following should be addressed:

- [x] Identity and list any JS/Node lessons (with links in the repository) that mention Rails that are **not** in shared tracks, if any.
- [x] If

[2019-10-05 18:46] leosoaivan commented on #11590
Resolved with 6470fb131546e71b7244988bd68e4238afd6ec6f

[2019-10-05 18:46] #11590 closed

[2019-10-07 08:59] Girlscoding-ng commented on #12553
Hey @leosoaivan @arku Good day.... will like to work on this issue but will need some little direction on what to do

[2019-10-07 11:23] leosoaivan commented on #12553
@Nelson-Chinedu thanks for taking a look at this.

The Odin Project's JS curriculum lives in this sub-directory: https://github.com/TheOdinProject/curriculum/tree/master/javascript.

We'd like to first identity where Ruby on Rails is mentioned. The way you search through this directory is up to you. GitHub search, or cloning the curriculum and doing a search on your IDE/text editor is fine, too.

[2019-10-08 01:18] leila-alderman commented on #12098
The links throughout our curriculum have been replaced with links to the older but still free version (https://github.com/TheOdinProject/curriculum/pull/12107). This issue might come up again when/if the Rails 5 version also goes behind a paywall, but I'm closing this issue for now.

[2019-10-08 01:18] #12098 closed

[2019-10-08 08:51] Nelson-Chinedu commented on #12553
Ok, so is there any style guide to follow for contributing regarding branching and commit @leosoaivan

[2019-10-08 12:48] leila-alderman commented on #12553
@Nelson-Chinedu We're not too particular about branching and committing. If you're looking for some guidance, we have [a section on contributing](https://github.com/TheOdinProject/curriculum/blob/master/contributing.md). If you're not sure where to start, I recommend [the first video linked there](https://www.youtube.com/watch?v=V74l_zS1x8E).

[2019-10-08 13:50] Nelson-Chinedu commented on #12553
Ok I just raised a PR on https://github.com/TheOdinProject/curriculum/pull/12586 regarding the issue on what to do first @leila-alderman, will like to know if am on track with the issue

[2019-10-08 13:57] leila-alderman commented on #12553
@Nelson-Chinedu Thanks for working on this issue and for creating a list of lessons! That's a great first step. We probably don't need to upload a new file with that list to our curriculum, though. This issue would be a great place to store that list to get started:

- [ ] conclusion.md
- [ ] project_final_js.md
- [ ] angular.md
- [ ] introduction.md
- [ ] project_rails_backend.md
- [ ] rails_back

[2019-10-08 14:13] Nelson-Chinedu commented on #12553
Oh ok cool, so what's the next thing to do @leila-alderman

[2019-10-10 08:25] #11253 closed

[2019-10-10 10:43] mammothb opened #12616 "Event Manager Tutorial: missing "url" from Google's Civic Information API response"
For the the inputs from "Small Sample", `url` could not be found in the Google's Civic Information API response despite being listing in its [documentation](https://developers.google.com/civic-information/docs/v2/representatives#elected-officials).

Suggested fix: Use social media information instead so that we're still creating 2 table cells.
[code]

[2019-10-10 13:34] leosoaivan commented on #12553
@leila-alderman @Nelson-Chinedu I'd like to review these pages for the content, and, in discussion with other mods, decide on a course of action.

Once that's done, I'd like to ideally create a single, separate ticket for each page. We can make sure that you are then assigned to at least one of them @Nelson-Chinedu.

[2019-10-11 08:37] Nelson-Chinedu commented on #12553
Ok cool @leosoaivan

[2019-10-11 08:44] Nelson-Chinedu commented on #11297
Hey @leosoaivan , is this issue still up?

[2019-10-11 21:59] scottrobel opened #12636 "Each Course Is displayed twice (Photo Attached)"
![odin](https://user-images.githubusercontent.com/54362821/66687409-8f772600-ec50-11e9-8a83-ec76cbd5c249.PNG)
on the  page [https://www.theodinproject.com/tracks/2](url) Every course is displayed Twice

[2019-10-12 01:11] leosoaivan commented on #12636
Issue will be tracked on main-site repo: https://github.com/TheOdinProject/theodinproject/issues/1034

[2019-10-12 01:29] arku commented on #12636
Closing as it is being tracked in https://github.com/TheOdinProject/theodinproject/issues/1034

[2019-10-12 01:29] #12636 closed

[2019-10-20 20:25] bycdiaz opened #12751 "New touch command article needed"
[Current article](https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/) about the `touch` command in the [Command Line Basics](https://www.theodinproject.com/courses/web-development-101/lessons/command-line-basics-web-development-101) lesson introduces learners to the `ll` command which does not work on MacOS. Finding a resource that covers the `touch` command without the `ll` comma

[2019-10-20 22:34] #9426 closed

[2019-10-21 00:20] bycdiaz commented on #12751
I wrote up the steps people need to just use `touch` without the need to link to an article in PR #12752.

[2019-10-24 21:36] I3uckwheat opened #12820 "Update directions to explain how to set up SSH key if it doesn't work wtih Github"
Related to #12259

If someone somehow misses setting up their SSH key before they get here, they will have difficulty with the step changed in the commit above. Chances are they'll be able to google their way out of it, or ask for help in the discord, but it'd be nice to have the fix right there.

[2019-10-25 01:42] #12751 closed

[2019-10-25 02:18] tfantina commented on #12374
I got in touch with the guy who wrote the article, although he hasn't followed up if we can post it elsewhere.  Is there any reason not to like to the article on WayBackMachine?

[2019-10-26 13:53] tfantina commented on #11815
Apparently Hartl's book is no longer available for free.

[2019-10-26 21:46] #12374 closed

[2019-10-27 18:00] bycdiaz opened #12854 "Command Line Resource Unavailable"
The resource, [Conquering the Command Line](http://conqueringthecommandline.com/book/basics), from the [Command Line Basics lesson](https://www.theodinproject.com/courses/web-development-101/lessons/command-line-basics-web-development-101) presents this error when accessed:
![image](https://user-images.githubusercontent.com/34174677/67639071-d6585300-f8c1-11e9-8418-d3a77f58e4f7.png)

I've reached

[2019-10-27 20:55] ReplacedByAutocorrect commented on #12854
i've also reached out to the author and looked for alternate ressources that explain the commands and found this:
https://tutorials.ubuntu.com/tutorial/command-line-for-beginners#0
will need review of a mac user so we can note differences.

[2019-10-27 21:05] ptypes commented on #11815
Only 3 out of the 14 original chapters are free.

[2019-10-27 21:13] bycdiaz commented on #12854
Heard back from Michael Hartl. Said they are looking into why the error is appearing.

[2019-10-29 04:42] kennguyen01 commented on #12854
I found this bug several hours back and created a PR to remove link with no content. I think [Command Line](https://linuxjourney.com/lesson/the-shell) from Linux Journey is a good replacement.

[2019-10-29 10:41] bycdiaz commented on #12854
The resource is back online. Closing issue.

[2019-10-29 10:41] #12854 closed

[2019-10-29 14:20] Uzay-G opened #12881 "Dead link in the Getting Hired section"
A main part of the strategy file in the Getting hired section is the no longer functional link to this article: http://happybearsoftware.com/how-to-get-a-programmer-job.html

I could not find the same article that no longer exists but here are some alternatives that I could make a pull request for:
- https://codinginflow.com/get-job-as-programmer
- https://www.codementor.io/codementorteam/how-to-g

[2019-10-30 07:37] martink-rsa opened #12894 "GitHub Wiki or standard page for FAQ/Troubleshooting"
**Intro:**
GitHub has an option to add a Wiki page.

It would be incredibly useful to have a Wiki page setup that deals with common issues and errors that users often come across.

The Wiki page could feature written instructions as well as short gifs/videos (no audio) that demonstrate what should be done. These gifs/videos can easily be captured by contributors using a tool such as ShareX which a

[2019-10-31 18:35] martink-rsa opened #12917 "Easier & faster alternative to changing CD image files in VirtualBox"
This is regarding the lesson **Prerequisites** found in **Web Development 101** where a student follows instructions to mount the Xubuntu ISO in VirtualBox:

https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites?ref=lnav

The paragraph reads as follows:

A user can access the digital optical drive from the main window in VirtualBox by clicking on the text related to the

[2019-10-31 20:02] martink-rsa commented on #12881
The dead link @Uzay-G refers to can be found in an archive. Here is the latest snapshot available (8 March 2019):
http://web.archive.org/web/20160925155912/http://www.happybearsoftware.com/how-to-get-a-programmer-job.html

This is the search for the dead link:
http://web.archive.org/web/*/https://www.happybearsoftware.com/how-to-get-a-programmer-job.html

[2019-10-31 20:23] martink-rsa commented on #11815
I previously wrote to Mr Hartl (6 September 2019) requesting information regarding the availability of his book.

I do not have Mr Hartl's permission to share the email publicly so I will refrain from doing and will only quote portions of his response. This is to respect Mr Hartl's privacy. TOP was CC'd in on his response so the email is available to the account holder of TOP.

He informed me that

[2019-10-31 20:42] Uzay-G commented on #12881
Alright I fixed the dead link

[2019-10-31 20:42] #12881 closed

[2019-11-04 14:34] codyloyd commented on #11867
i agree let's toss it

[2019-11-04 16:35] endiawilliams opened #12975 "fix rbenv installs on MacOS 10.15"
need to pipe ‘rbenv init’ to zshrc

[2019-11-04 22:19] Grae-Drake opened #12979 "Suggestion: Codespell"
Per @leila-alderman's [suggestion](https://github.com/TheOdinProject/curriculum/pull/12964#pullrequestreview-311111533),  I'm opening an issue to recommend [Codespell](https://github.com/codespell-project/codespell) as a tool to help combat misspellings in the curriculum source.

Codespell is a Python-based command line tool that uses a dictionary of common misspellings to flag potential spelling

[2019-11-09 06:36] nyanlinnaung opened #13061 "WSL chmod issue"
So, i was starting odin project and got stuck in Step 1.3 of [your first rails app](https://www.theodinproject.com/courses/web-development-101/lessons/your-first-rails-application?ref=lnav).

If i run `rails new my_first_rails_app`  the wsl will give me an error regarding chmod issue. I was googling the issue and found out it can be fixed by unmounting and mounting back the folder as described her

[2019-11-12 19:56] mindovermiles262 commented on #13061
WSL is not supported by The Odin Project.

Remounting the C Drive inside of WSL could cause serious issues with the windows installation if done improperly. For this reason we do not recommend using WSL.

[2019-11-12 19:56] #13061 closed

[2019-11-15 17:02] martink-rsa opened #13166 "Content in 'HTML and CSS' should be moved to Web Dev 101"
Currently, the course is structured as follows:
'Web Development 101' -> 'Javascript' -> 'HTML and CSS'

'HTML and CSS' contains content that should be introduced to students before JavaScript begins.

I am referring to the first 3 parts of 'HTML and CSS' which are:

1. [**Basic HTML Page Structure:**](https://www.theodinproject.com/courses/html5-and-css3#basic-html-page-structure)
This mostly dea

[2019-11-15 17:31] martink-rsa commented on #13166
A possible fix would simply slot the 'HTML and CSS' module between Web Dev 101 and JavaScript so the structure is as follows:
Web Dev 101 -> HTML and CSS -> JavaScript

[2019-11-17 02:12] Eduardo06sp opened #13188 "Dead Link - Ruby Programming: Recursive Methods Assignment"
The linked video does not exist.
I have not reached this portion of the curriculum yet, but once I do I will try and find some videos that helped me out.

[2019-11-17 08:08] martink-rsa commented on #13188
Can't seem to find a mirror for the video. Asked creator (Mr Joshua Cheek) if he will be making it available again.

[2019-11-18 02:21] Eduardo06sp commented on #13188
I don't know how far you are in the curriculum, but maybe you could suggest a video that would be good for beginners :}

I want to wait until I get to it so I can see what would be beneficial to someone doing all the assignments in order!

[2019-11-18 07:31] martink-rsa commented on #13188
Author responded. I believe he will be reinstating the video so it might be best to wait a little to see what he comes back with before a new source is found.

[2019-11-18 16:07] martink-rsa commented on #13188
The author has reinstated the video. I believe this issue is resolved.

[2019-11-18 17:39] Eduardo06sp commented on #13188
I appreciate that Martin! I didn't even think to simply get his contact information and ask him directly!!!

[2019-11-18 17:39] Eduardo06sp commented on #13188
The video is up and running again. Problem solved.

[2019-11-18 17:39] #13188 closed

[2019-11-19 11:53] vladthelittleone opened #13224 "Ruby Rogues podcast 404"
The Ruby Rogues [podcast on How to Learn](http://rubyrogues.com/131-rr-how-to-learn/) responds 404.

Files including this link:
[line 21](https://github.com/TheOdinProject/curriculum/blob/3adf0938c159f4ba0dd50a26db2441b634d8fed1/archive/extra_stuff/old_lessons/introduction_to_web_development/conclusion.md)
[line 64](https://github.com/TheOdinProject/curriculum/blob/ee350ae2d6e03e1bafb1d6953b54202d

[2019-11-23 19:24] ch264 commented on #13166
I also noticed this @martink-rsa and I agree.

Can I give this ticket a shot?

[2019-11-24 15:37] Spayco opened #13293 "website will refuse to connect without the "www." at the start"
https://theodinproject.com/ won't work unless you add the `www.` at the start.

[2019-11-26 04:47] coih opened #13319 "Ruby/ROR is mixed in with the Full stack JavaScript route and front end only (non ruby)"
I think that If it says ruby won't be present, that it shouldn't be seen in the non ruby routes(Full stack JavaScript and html css.
This way it will not confuse users into doing Ruby when they picked the other paths that shouldn't include ruby.

Also, when you are about to select the front-end only path, it says,
"FRONT END ONLY
View track
This track takes you through all of the front-end content

[2019-11-29 22:03] martink-rsa commented on #13224
This links to the archived older material and I don't believe this page is used anymore.

Fixed with #13283

[2019-11-30 02:09] #13224 closed

[2019-11-30 14:31] dvik1950 commented on #13293
It's been addressed here : https://github.com/TheOdinProject/theodinproject/issues/930 :)

[2019-12-03 16:31] ferreirati opened #13435 "Missing HTTP verb"
**Where:** [Working With External APIs](https://www.theodinproject.com/courses/ruby-on-rails/lessons/working-with-external-apis#restful-apis)

**What:** At the first paragraph the phrase `meaning the usual batch of GET/PUT/PATCH/DELETE requests will retrieve resources as expected` is missing POST.

**Fix:** It can be replaced by `HTTP Verbs` or add `POST`

**File:** [api_interfacing.md](https://gi

[2019-12-04 16:54] #13435 closed

[2019-12-06 09:38] vedantshetty opened #13488 "Form Basics uses depreciated form_tag and form_for methods"
The lesson on form basics([link](https://www.theodinproject.com/courses/ruby-on-rails/lessons/form-basics)) teaches the now depreciated `form_tag` and `form_for` methods to generate forms.

Rails recommends us to use `form_with` instead([link](https://guides.rubyonrails.org/form_helpers.html#using-form-for-and-form-tag))

[2019-12-11 22:41] dvik1950 commented on #13488
The entire curriculum still uses Rails 5 where, if I'm not mistaken, `form_tag` and `form_for` are the way to go. I think this is something that's going to be changed once the curriculum switches to Rails 6 :)

[2019-12-12 08:23] vedantshetty commented on #13488
Actually form_with was introduced in [rails 5.2](https://api.rubyonrails.org/v5.2.3/classes/ActionView/Helpers/FormHelper.html#method-i-form_with).

I just wanted to note down some of the obsolete code

[2019-12-15 12:17] vedantshetty commented on #13488
Another point: If you decide to use `form_with` instead of `form_tag/ form_for` in the projects. Your errors are not going to show up.

This is because of how form_with works. To display errors add parameter `local: true `in your form_with declaration.

I faced the same problem and answered it on stack overflow [here](https://stackoverflow.com/questions/59310734/erb-not-showing-instance-variable-v

[2019-12-16 22:34] kashura commented on #12894
@martink-rsa What kind of help do you need to get this going?

[2019-12-16 22:39] martink-rsa commented on #12894
@kashura Need moderators and those in charge to give the go ahead. Once they do, I believe they will then need to create the first Wiki page so the Wiki repo exists. It will then function as a normal repo like the way the curriculum does.

[2019-12-16 23:32] mindovermiles262 commented on #12894
@martink-rsa This is a great idea. Let me see what I can do

[2019-12-16 23:36] mindovermiles262 commented on #12894
https://github.com/TheOdinProject/curriculum/wiki should now be accessible. Will ping @martink-rsa on discord to determine if they have the correct permissions

[2019-12-16 23:39] mindovermiles262 commented on #12975
Closed with https://github.com/TheOdinProject/curriculum/pull/13547

[2019-12-16 23:39] #12975 closed

[2019-12-16 23:42] martink-rsa commented on #12894
Wiki site is live and permissions granted. I don't believe there is further to add to this issue.

[2019-12-16 23:42] #12894 closed

[2019-12-18 08:00] nearmint opened #13681 "Unclear description @ javascript/introduction/js101-review.md"
Hi all,
the following page has an unclear direction, which should be fixed:
https://github.com/TheOdinProject/curriculum/blob/master/javascript/introduction/js101-review.md

I'm talking about this sentence: "Running through the first part of either of those exercises is a great idea for a refresher on the syntax."

It's unclear what the author means by "the first part of either of those exercises"

[2019-12-18 08:04] nearmint commented on #12553
@leosoaivan I'd also be willing to help! Did you guys make any progress?

[2019-12-18 13:15] MichaelYochpaz opened #13687 "A Video From An Assignment That Gives Wrong Information"
Hey, just started learning the TOP course (which is great btw!) and I noticed one of the linked videos (which is also an assignment to watch) has some wrong / confusing information and it should be removed in my opinion (the [MDN article](https://developer.mozilla.org/en-US/Learn/Common_questions/How_does_the_Internet_work) which is also linked in the assignments is great and is more than enough).

[2019-12-18 17:42] mindovermiles262 commented on #13687
Hey @MichaelYochpaz

You're completely correct - I wouldn't define a "client" as a computer not directly connected to the internet.

However, this lesson is designed to ELI5. It's just for understanding that the internet isn't "magic" and I feel that this resource is valid.  I don't think we want to dig into RFC1918 ajnd NAT Traversal this early in this lesson (or even in TOP).

If you have a diff

[2019-12-18 17:42] #13687 closed

[2019-12-18 17:42] mindovermiles262 commented on #13293
Duplicate of #930

[2019-12-18 17:42] #13293 closed

[2019-12-22 20:23] harrisj09 opened #13764 "Add a link for designs in "Project: Building Your Personal Website""
Someone should add a link to a bunch of designs (that don't include the source code) for users to get inspiration as to how there website should look. This [link](https://www.may1reboot.com/#/) is a good example.

Students should have a good idea of what level of quality they are striving for, the nature of student solutions mean that there are varying levels of quality and a bad portfolio may not

[2020-01-01 12:49] BunnyTheLifeguard commented on #13319
Oh so there is absolutely no ruby in the JS route?

[2020-01-01 12:55] BunnyTheLifeguard commented on #13319
Yeah, it's a little confusing to go the Fullstack JavaScript route only to find installation instructions for Ruby in WebDevelopment 101 and JavaScript & Rails in the JavaScript section :/

[2020-01-02 09:05] kenrickbuduan opened #13948 "Fix rbenv install commands in Step 2.1 of "Installing Ruby" under Web Development 101"
In Step 2.1 of Installing Ruby under Web Development 101, learners are instructed to type these command to the terminal:

[code]

However, these commands throw an error upon reopening the terminal. After some debugging and tinkering in the ```.bashrc```, I found that there is no line  break between the ```esac``` and ```export...```. Thus, the error I see in the terminal.

I suggest adding a new l

[2020-01-03 08:16] Eduardo06sp opened #13969 "Dead Link: List of Escape Characters in Ruby"
https://github.com/ruby/ruby/blob/trunk/doc/syntax/literals.rdoc#strings

This link is provided in [Assignment #5 of Ruby Building Blocks](https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks?ref=lnav).

[This was a different website I found,](http://www.java2s.com/Code/Ruby/String/EscapeCharacterslist.htm) however I am unsure if this is a proper resource for the cu

[2020-01-03 14:31] olav35 opened #13972 "Dead link"
Assignment: https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks?ref=lnav#assignment

Dead link: https://github.com/ruby/ruby/blob/trunk/doc/syntax/literals.rdoc#strings

I would have sent in a pr, but I am not exactly sure what it was supposed to link to. I might look into it later though.

[2020-01-03 21:24] mindovermiles262 commented on #13972
I think it can be replaced with this link:

https://docs.ruby-lang.org/en/2.0.0/syntax/literals_rdoc.html#label-Strings

[2020-01-03 21:33] mindovermiles262 commented on #13948
Hi @kenrickbuduan

I think this issue might be specific to ElementaryOS.  Using MacOS `echo` always creates a newline before appending:

[code]

[2020-01-03 21:33] #13948 closed

[2020-01-04 02:09] I3uckwheat opened #13984 "As a Mac user, I would like to know that it is safe to continue when my Mac warns me about"
https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/installations/text_editors.md

A user has reported that after installing VSCode, they were warned about it not being trusted. The directions should be updated to let the users know this is expected and VSCode can be trusted.

[2020-01-16 05:34] imthatalex opened #14238 "Javascipt.Info down"
page where issue is found:

https://www.theodinproject.com/courses/web-development-101/lessons/fundamentals-part-2?ref=lnav

issue found: when trying to access tutorial "Logic Operators"

Quick solution: use w3schools version, link here: https://www.w3schools.com/js/js_comparisons.asp

[2020-01-18 03:48] CrispyCB commented on #13972
Correct link is:

https://github.com/ruby/ruby/blob/master/doc/syntax/literals.rdoc#strings

[2020-01-19 06:16] GraniteBeltWebAndSoftwareSolutions commented on #13681
Maybe a better word would be keywords instead of syntax. I am thinking that is what is meant.

[2020-01-19 07:50] Eduardo06sp commented on #14238
Looks like it's up & running again :}

[2020-01-19 07:55] Eduardo06sp commented on #13972
I had the same exact problem, looks like they updated the link now! :+1:

[2020-01-19 07:57] #13969 closed

[2020-01-19 07:58] Eduardo06sp commented on #13969
It seems like the link has been updated. :+1:

[2020-01-20 19:09] olav35 commented on #13972
The link is revived. Closing issue.

[2020-01-20 19:09] #13972 closed

[2020-01-23 07:08] styamsingh opened #14376 "Suggestion: Replace Foundations with TailwindCSS"
In the unit [CSS Frameworks like Bootstrap and Foundation](https://www.theodinproject.com/courses/html5-and-css3/lessons/css-frameworks-like-bootstrap-and-foundation), the alternative to Bootstrap is Foundation which is fine but in my opinion, it should be replaced by [TailwindCSS](https://tailwindcss.com/) since it has been gaining a lot of steam lately and companies like Mozilla have been using

[2020-01-24 16:02] olav35 opened #14403 "Redundant assignments in databases"
I find it redundant to have both the SQL teaching resource and SQL Bolt. Both resources are aimed at newbies and cover the same stuff so it is a waste of time to do both of them.

I think the first (SQL teaching) should be removes as that one is less modern and less in depth.
https://www.theodinproject.com/courses/databases/lessons/databases-and-sql?ref=lnav

[2020-01-25 11:02] dvik1950 commented on #14403
I disagree with this and think that both are really short and there's really no need to remove either of them. The explain things a bit differently and someone who didn't understand some concepts from one might have more luck with the other one. A lot of stuff in the curriculum is explained 2-3 times (first in the lessons and then in externals resources) for this exact reason.

[2020-01-30 20:00] #14238 closed

[2020-01-30 20:00] I3uckwheat commented on #14238
Closing because the site is back :)

[2020-01-31 18:10] I3uckwheat opened #14554 "Contrubuting guide is not sufficent"
The contributing guide links to videos and a walkthrough on how to contribute with `git`, however, these videos are outdated.

We should also have some guidelines on what is appropriate to add or remove from the curriculum.

Such as:
* Spelling mistakes
* wording
* outdated materials
* their projects
* stating that it's important to follow proper formatting
* etc.

[2020-01-31 22:50] mindovermiles262 commented on #14554
Issue is not sufficient

[2020-02-01 14:52] oakgrovedev opened #14564 "Bad URL in node.js introduction"
Link to https://briggs.dev/blog/understanding-callbacks in this paragraph:

Does not work.

[2020-02-10 14:31] rarysson opened #14698 "Additional resources don't show as a list on the Flexbox page[HTML and CSS course]"
![Screenshot_2020-02-10 Flexbox The Odin Project](https://user-images.githubusercontent.com/22689195/74158130-48963e80-4bf8-11ea-985e-d97329b27d76.png)

https://www.theodinproject.com/courses/html5-and-css3/lessons/flexbox

[2020-02-10 19:44] I3uckwheat commented on #14554
I totally meant to add more to this, and then totally forgot

[2020-02-12 23:41] wuworkshop commented on #13984
Would also be good to link to this Common question about macOS Catalina:
https://code.visualstudio.com/docs/setup/mac#_unable-to-open-on-macos-catalina

[2020-02-17 17:36] AndrewHuntington opened #14808 "Dead Link: Ruby Programming Project: Event Manager"
https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager?ref=lnav#null

http://jsonprettyprint.com/ appears to be dead. Perhaps a link to another pretty printing site should be used?

Top Google hits:

https://jsonformatter.org/json-pretty-print
https://jsonformatter.curiousconcept.com/
https://codebeautify.org/jsonviewer

Thanks for your help!

[2020-02-18 13:08] olav35 commented on #13984
If you find something you can improve you should preferably fix it yourself rather than asking for someone else to do it. The way you fix an issue in a repository that you do not control yourself is by creating a pull request that the owners can merge.

TOP has a [video](https://www.youtube.com/watch?v=V74l_zS1x8E) about creating pull requests. iirc this video is specifically for adding your solut

[2020-02-27 00:36] #10452 closed

[2020-02-27 16:44] zachmmeyer commented on #13984
I created a pull request regarding this issue
https://github.com/TheOdinProject/curriculum/pull/14972

[2020-02-28 03:24] Pauloparakleto commented on #11815
I follow the RoR tutorial with **Rails version 6.0.2.1** and **Ruby version 2.6.5p114** in a **Windows** local machine and... every thing went fine. Checking for CMD outputs, the main difference is the new rails install automatically the ActiveStorage gem and fix trigged vulnerability in the database. There is others tasks also. But this vulnerability found might be a great motive to start thinkin

[2020-02-28 10:56] CouchofTomato commented on #11815
@Pauloparakleto This is under active discussion. I don't think using the RailsBook is viable anymore because although a lot of our students may qualify for a scholorship we are commited to a free education for anyone that wants to learn. The decision at the moment being considered is whether we try to find an alternative source or write our own.

[2020-02-28 14:35] zachmmeyer commented on #14808
Which do you like best? Let's pick one and submit it.

[2020-02-28 14:40] zachmmeyer commented on #14564
Link works just fine. @oakgrovedev could you close this issue?

[2020-02-28 14:58] #14564 closed

[2020-02-28 15:35] zachmmeyer commented on #14554
The readme states what can be contributed clearly for the curriculum. However, the link in that readme to a "contributing guide" brings to the overall contribution to TOP as a whole, letting the user choose between curriculum and main site. Maybe it should be reworded to not be the "guide" but just say:
###### To find out more about how you can contribute to The Odin Project, please read [here](ht

[2020-02-28 16:31] zachmmeyer commented on #11867
Would this link suffice as replacement for all three assignments?
https://css-tricks.com/snippets/css/complete-guide-grid/
The article was written in 2016 but makes a note to stay as up to date as possible.

[2020-02-28 16:52] zachmmeyer commented on #11297
It is definitely the same module. It would require an entirely different module in the course, not just the lessons inside. Mainly the "Installing Ruby" and "Rails Application" would be modified. "Installing Ruby" installs git among other things that I am not sure if they are needed for NodeJS. The "Rails Application" gets the user set up using git, github and heroku. Heroku is used with NodeJS.

[2020-02-28 16:58] zachmmeyer commented on #8609
Should this be referenced on https://github.com/TheOdinProject/theodinproject as a PR? "Add wiggle to dropdown arrows"?

[2020-02-28 19:53] #13984 closed

[2020-02-29 00:28] emberavenge opened #15006 "Dead link: Git basics Additional resources"
Rypress link(https://github.com/alokc83/Basic-Tutorials/tree/master/rypress.com%20Git) in the "Additional resources" gives a error 404 "Page not found"

There is a web.archives.org link(http://web.archive.org/web/20161119031653/http://rypress.com/tutorials/git/index), however it would respectful to ask the writer if they are okay with it being back up.

Thanks for all the hard work.

[2020-02-29 05:26] #11982 closed

[2020-02-29 21:00] zachmmeyer commented on #15006
Nobody has been able to contact the author for a few years now. The Kindle version of the book is still available for free on Amazon, and there are links to the epub file here: https://www.smashwords.com/books/view/498426
I think the web archive is possibly the best option.

[2020-02-29 23:29] ikraamg opened #15016 "Dead Link: HTML and CSS - INTRODUCTION TO DESIGN AND UX"
In the Assignment - 2. Read UX 101 – What is User Experience:
https://www.homestead.com/blog/06/2013/ux-101-what-user-experience-infographic

Perhaps replace with:
http://web.archive.org/web/20190825035454/http://www.homestead.com/blog/06/2013/ux-101-what-user-experience-infographic

[2020-03-01 00:58] zachmmeyer commented on #15016
You could create a pull request and reference or close this issue

[2020-03-01 07:55] ikraamg commented on #15016
Fixed in pull request #15024

[2020-03-02 21:20] CouchofTomato commented on #11297
@zachmmeyer We are in the process of moving the ruby install and rails installs to their own courses. In web dev 101 we will retain an intro to the backend and frameworks at a general level. There is a pull request in place for moving the lessons and once that is finalised we will update the seeds file to put the lessons into their new homes.

[2020-03-02 21:27] zachmmeyer commented on #11297
Great! Thanks for clarifying.

[2020-03-04 14:00] zachmmeyer commented on #12917
You could submit a pull request in this section with your proposed changes and reference it here :)

[2020-03-07 05:53] I3uckwheat commented on #14554
@zachmmeyer Great, I think that's a good idea.

[2020-03-07 06:00] #15016 closed

[2020-03-09 14:11] ikraamg opened #15166 "Outdated information on Bootstrap vs Foundation"
Hi there!

This article: [Bootsrap 3 vs Foundation 5](https://medium.com/frontend-and-beyond/8b3812c7007c) on our [CSS frameworks page](https://github.com/TheOdinProject/curriculum/blob/master/html_css/css_frameworks.md) compares Bootstrap 3 and Foundation 5.

We are currently on Bootstrap 4 and Foundation 6. I would suggest using [this article](https://medium.com/@davegenge/bootstrap-vs-foundatio

[2020-03-09 14:16] kblycaglayan commented on #15166
I agree with this note.
The current article looks old.
With all my respect...

[2020-03-10 15:53] zachmmeyer commented on #15166
Please do make a pull request @ikraamg :)

[2020-03-11 15:51] twalton83 commented on #12553
Any progress? I'd be happy to help.

[2020-03-12 07:10] #15166 closed

[2020-03-13 18:43] #15006 closed

[2020-03-14 18:49] Le-Xandar opened #15255 "Dead Link : Dynamic User Interface : Inspiration"
In this page : https://www.theodinproject.com/courses/javascript/lessons/dynamic-user-interface-interactions

the link under the word **"some"** doesn't work
https://trydevkit.com/blog-post/steal-these-responsive-navigation-menu-ideas/bc8bec8d-ef4e-60bc-456c-525ed6f88db8

possibly removed by the site owner as it doesn't show in Google or the website's search

[2020-03-22 20:53] sicou2 opened #15400 "Web-dev 101: Gearing up: The Learning Process: RubyRogues.com is 404"
It looks like http://rubyrogues.com/ is 404 now. The link to the podcast is not working.

I found an archive link for the episode with show notes included at https://devchat.tv/ruby-rogues/131-rr-how-to-learn/

Unless someone else beats me to it, I will submit a pull request.

[2020-03-23 08:02] #15400 closed

[2020-03-27 17:45] happiguru commented on #8002
[happiguru.github.io](url)
Please find above a link of my first project submitted for the odin project. Google Homepage. I appreciate any improvement to the project. Thanks

[2020-03-31 04:21] Marethyu12 commented on #5388
@KevinMulhern Any progress? Is there's anything I can help you with?

[2020-03-31 16:10] leosoaivan opened #15559 "Confusing instructions on Git Basics"
On the lesson Git Basics (https://www.theodinproject.com/courses/web-development-101/lessons/git-basics), one of the assignments directs users to a page titled __Starting with an Unversioned Project__ in "the next lesson". At least one user has indicated that they spent time in the next TOP lesson fruitlessly looking for this page, rather than the lesson subsequently linked within the assignment.

[2020-04-02 08:36] rafeDraper opened #15599 "Ruby on Rails - The asset pipeline"
The path for the asset pipeline has slightly changed in Rails 6.0.0 and higher. At first I got confused since I couldn't find the folder:  app/assets/javascripts/application.js. since this was replaced in app/assets/packs/application.js
![asset-pipeline](https://user-images.githubusercontent.com/46710285/78227470-95e2ae00-74cd-11ea-8027-f586af2921a5.png)

May I kindly ask if it's possible to make

[2020-04-05 17:14] hgducharme opened #15679 "Gitbook URLs need to be updated"
Hey y'all,

I'm the owner of the [Intro to SQL](https://github.com/hgducharme/SQL-Basics) and [Intro to Ruby](https://github.com/hgducharme/Ruby-Programming) gitbooks, and Gitbook migrated their website to a newer URL so I've updated my repositories to reflect that but the links in the curriculum need to be updated as well. I'm not sure where they are located in the curriculum anymore, but I figur

[2020-04-07 23:49] kitpao opened #15742 "Dead link: how-this-course-will-work-ruby-on-rails"
https://www.theodinproject.com/courses/ruby-on-rails/lessons/how-this-course-will-work-ruby-on-rails

In the assignment section:
-**Complete at least the full Ruby Basics lesson (all readings and projects) to have a solid grounding in Ruby basics.** ruby link doesn't work, I guess ruby section has been moved
-**Read the Rails portion of the Web Development 101 section for an overview of Rails.** r

[2020-04-08 00:09] ciphermode00 opened #15743 "issues with google-homepage project."
Having issues trying to finish up this project and would appreciate any input to correct any mistakes I made. Can't get the aesthetics/style to look correct.

Here's a link: https://ciphermode00.github.io/google-homepage/#

[2020-04-08 21:30] jordanliu commented on #15743
Looked at your repo, you need more styling. Look at the assignment's page to see resources on how to get started with CSS, [click to the page](https://www.theodinproject.com/courses/web-development-101/lessons/html-css).

For a more questions or help, checkout the Discord: https://discord.gg/V75WSQG

[2020-04-09 15:29] kitpao commented on #15742
closed because I see you deleted the assignment section

[2020-04-09 15:29] #15742 closed

[2020-04-11 02:00] sicou2 opened #15850 "WebDev101: Assign: Git Workflow/ Add Another File instruct out of order"
In the [Assignment](https://www.theodinproject.com/courses/web-development-101/lessons/practicing-git-basics?ref=lnav#assignment) for this section under "Use the Git Workflow" the student creates a `README.md` (step 1), stages that file (step 3) and commits it (step 4).

However, in the next section "Add Another File", the student first creates `hello_world.txt` and then modifies `README.md`. In s

[2020-04-11 23:58] kujosHeist commented on #12098
Looks like the rails 5 version is now also behind a paywall

[2020-04-14 01:50] anampartho commented on #15850
This is correct. After the first commit, the `README.md` file will be moved from **Staged** to the **Commited** state. So if we run `git status` now, there won't be any modified file in the working directory, because every **modification** has already been **staged** and then **committed**. So we don't see any staged file as well. This will make the reader think about why the files aren't staying

[2020-04-14 01:50] anampartho commented on #15850
This is correct. After the first commit, the `README.md` file will be moved from **Staged** to the **Commited** state. So if we run `git status` now, there won't be any modified file in the working directory, because every **modification** has already been **staged** and then **committed**. So we don't see any staged file as well. This will make the reader think about why the files aren't staying

[2020-04-14 17:18] sicou2 commented on #15850
I agree with everything you said! 👍

I think that the wording has the potential to be a little confusing for a new student, since the order is currently:

1. make `README.md` / git status (`README.md` untracked file)
2. git add `README.md` / git status (staged file)
3. git commit / git status (no files, tree clean, also first time showing that `README.md` is committed and not staged) / git log
4.

[2020-04-15 19:28] I3uckwheat opened #15979 "Breakout Ruby computer science to be language agnostic"

[2020-04-15 20:49] KevinMulhern opened #15983 "Release New Ruby Basics Lessons"
- [ ] Move New Introduction Lesson into the Ruby course introduction folder.

- [ ] Move New Ruby Basic Lessons into the appropriate folder and remove the old lessons.

[2020-04-16 04:23] I3uckwheat opened #15994 "As a student, I would like to have a language agnostic HTTP section"

[2020-04-16 04:27] I3uckwheat commented on #15743
Closed as this is not an issue with the TOP curriculum.

@ciphermode00 You can get help in either the TOP forum, or the discord chat room. You can find these in the "community" tab on the website.

![image](https://user-images.githubusercontent.com/4411701/79414576-d6c3d380-7f5f-11ea-8ac4-433c16fe0c7f.png)

[2020-04-16 04:27] #15743 closed

[2020-04-16 04:28] I3uckwheat commented on #15679
@hgducharme Hey, thanks for the notice! I'll triage this, but we've not had issues with people hitting 404s, but I'll look into it

[2020-04-16 04:30] I3uckwheat opened #15995 "As a student, I would like to have all installations and lessons on Rails 6"

[2020-04-16 04:31] I3uckwheat commented on #15599
@rafeDraper Currently we're not using rails 6 due to other issues. There needs to be a lot of changes to make rails 6 happen. If you would like to track down some of the issues that we'll run into please attach them to issue #15995

[2020-04-16 04:31] #15599 closed

[2020-04-16 04:34] I3uckwheat commented on #14808
This has been fixed

[2020-04-16 04:34] #14808 closed

[2020-04-16 04:40] I3uckwheat commented on #14403
I agree with @dvik1950. Closing this issue. Thank you for the suggestion!

[2020-04-16 04:40] #14403 closed

[2020-04-16 04:41] I3uckwheat commented on #14376
While I don't think a replacement is necessary, adding to the lesson could help.

[2020-04-16 04:44] I3uckwheat commented on #13764
The link attached seems to take one this
![image](https://user-images.githubusercontent.com/4411701/79415376-1a1f4180-7f62-11ea-8246-8998d00659ac.png)

I agree we could use more links on that page, below is the page:

https://www.theodinproject.com/courses/getting-hired/lessons/building-your-personal-website

[2020-04-16 04:48] aaron-contreras commented on #14698
I'll fix it!

[2020-04-16 04:57] I3uckwheat commented on #13488
This needs some more review, thank you for bringing this up @vedantshetty

[2020-04-16 04:59] I3uckwheat commented on #13319
This has been fixed :)

[2020-04-16 04:59] #13319 closed

[2020-04-16 05:01] I3uckwheat commented on #13166
We really do like having people jump into code really quickly, it's really easy to get bored learning HTML, and now that we've added some different HTML+CSS stuff to the 101, this may no longer be relevant.

[2020-04-16 05:03] I3uckwheat commented on #12979
@mindovermiles262 Can you take a look to see what this would take to add to the CI/CD?

[2020-04-16 05:05] I3uckwheat commented on #12917
@zachmmeyer Can you please look into this after the changes you have made to the vbox installation directions?

[2020-04-16 05:08] I3uckwheat commented on #12553
@CouchofTomato Does the work you have done to remove Rails from 101 change this?

[2020-04-16 05:08] I3uckwheat commented on #12108
Codecademy has been removed :)

[2020-04-16 05:08] #12108 closed

[2020-04-16 05:10] I3uckwheat commented on #15995
Duplicate of: #11815

[2020-04-16 05:10] #15995 closed

[2020-04-16 05:11] I3uckwheat commented on #11297
This has been completed :)

[2020-04-16 05:11] #11297 closed

[2020-04-16 05:12] I3uckwheat commented on #11148
@CouchofTomato This is related to the work you have done to remove Rails from the incorrect places.

[2020-04-16 05:14] I3uckwheat commented on #8609
This has not been an issue for a long time interestingly, closing this for now, but will keep an eye out.

[2020-04-16 05:14] #8609 closed

[2020-04-16 05:15] I3uckwheat commented on #7955
Closing this, I do not think it is feasible to translate this course unfortunately due to the exact reasons @codyloyd stated.

[2020-04-16 05:15] #7955 closed

[2020-04-16 05:16] I3uckwheat commented on #5388
@Marethyu12 Would you like me to assign this issue to you? Are you still interested?

[2020-04-16 06:42] AJMcDee commented on #15255
I'll take this!

[2020-04-16 07:22] CouchofTomato commented on #12553
@I3uckwheat No, this sounds like it's in the full JS track which I didn't touch.

[2020-04-16 07:53] #14698 closed

[2020-04-16 09:40] KevinMulhern commented on #5388
Sorry for the late reply @Marethyu12, we should probably close this issue. We have no logical place to put this lesson. We intended to have courses for each subject as well as tracks but have decided against that now.

[2020-04-16 09:40] #5388 closed

[2020-04-16 09:41] #5382 closed

[2020-04-16 09:41] #5381 closed

[2020-04-16 09:44] KevinMulhern commented on #14376
I don't see Foundation mentioned much anymore, tailwind however seems to be cropping up everywhere. I think it would be worth at-least adding to the lesson as you suggested @I3uckwheat

[2020-04-16 13:28] zachmmeyer commented on #12917
The instructions provided in the rework I did have the user go through the settings. They would already be in the settings.
Clicking on the storage button on the main page seems like an exit from that flow. That's my opinion.

[2020-04-16 14:32] I3uckwheat commented on #12917
Thanks @zachmmeyer! I'm closing this for now :)

[2020-04-16 14:32] #12917 closed

[2020-04-16 14:33] I3uckwheat commented on #14698
@aaron-contreras Thank you!

[2020-04-16 14:35] #13681 closed

[2020-04-16 15:00] Kshubhranshu commented on #15255
Ready to contribute :)

[2020-04-16 15:14] codyloyd commented on #13166
these things _are_ introduced in WD101.

the main HTML course is out of date and we should focus on fixing that..... but these concepts do not need to be moved at this time.

[2020-04-16 15:16] #13166 closed

[2020-04-16 15:18] mefaba commented on #12820
First: Check if OpenSSH client active.
Windows 10 Settings > Apps & Features > Optional Features
In listed features there should be OpenSSH Clients. If not click "Add a feature" and find OpenSSH Client.

Check next link if you couldn't do. https://ittutorials.net/microsoft/windows-10/enable-ssh-windows-10-command-prompt/

Open the cmd. Enter following commands then you can copy id_rsa.pub with "cl

[2020-04-16 15:19] I3uckwheat opened #16011 "Rewrite HTML course"
More context: #13166

The HTML course really could use a refresher.

[2020-04-16 15:20] I3uckwheat commented on #15255
@Kshubhranshu Awesome! thanks!

[2020-04-16 15:21] I3uckwheat commented on #12820
@mefaba This needs a PR to modify the lesson contents. This isn't asking for help.

[2020-04-16 15:33] mefaba commented on #12820
I dont know what PR means. If you are saying this is not the contribution you need than, probably I did not understood the situation . If it is explanation is okay, you can assign me for the task I can try to make merge request or something to original file that you linked.

[2020-04-16 15:34] I3uckwheat commented on #15255
@AJMcDee SORRY, I didn't see you taking this. I will have to re-assign to you. My fault guys. :(

[2020-04-16 15:46] #15559 closed

[2020-04-16 16:21] codyloyd opened #16014 "Dead link in Ruby lessons"
https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks

very first link on that page has been moved or deleted... not sure where that content went.

If it was removed then we can just reword and delete that link.. if it was moved somewhere else we should fix the link.

[2020-04-16 17:27] I3uckwheat commented on #12820
@mefaba I see you used windows commands there, this is not currently a windows curriculum. We also have git installation directions, we just need to link back to them if somebody has issues using `ssh` in this specific lesson. Can you do this?

[2020-04-16 17:32] I3uckwheat commented on #12820
@ZachBaird Awesome, thank you.

[2020-04-16 17:34] mefaba commented on #12820
Ok, I guess, I cant do this. I mean  I would like to, but seems like I am not eligible.

[2020-04-16 17:36] I3uckwheat commented on #12820
@mefaba If @ZachBaird Doesn't finish this soon, I will assign to you :)

[2020-04-16 17:54] #15255 closed

[2020-04-16 18:35] Tenacious-Qi commented on #16014
Hello! So here is a related PR: https://github.com/TheOdinProject/curriculum/commit/33ff741cdcdf1e2f5493419b2059d66649432dd7

This PR replaced the broken link to the webdev101 section, the content of which had been moved to Ruby Basics. When I did this PR, I checked to verify the link was working and it was. The problem seems to have happened within the past two--three days.

As has been noted, th

[2020-04-16 19:33] codyloyd commented on #16014
@CouchofTomato I'll let you double-check this... I'm way out of the loop on what's going on with the Ruby stuff.

[2020-04-16 19:54] KevinMulhern commented on #16014
This was caused by me @codyloyd, I removed some lessons in preparation for the new Ruby Basics section going out this weekend.

That link can be removed in the mean time :)

[2020-04-16 21:58] I3uckwheat commented on #16014
@KevinMulhern You think a good alternative is to just link to the github markdown page?

[2020-04-16 22:09] I3uckwheat opened #16030 "Investigate need and feasibility of raspberry pi installation directions"
Now that we have moved the Ruby section out of 101, we could have a much easier time allowing people to use Raspberry Pis to do the curriculum. There has also been a PR (untested by me) that gives Rails installation directions. https://github.com/TheOdinProject/curriculum/pull/13885

* This could really help with accessibility to the curriculum
* It is already Debian based

We need to do some test

[2020-04-16 23:01] Tenacious-Qi commented on #16014
I created a [PR](https://github.com/TheOdinProject/curriculum/pull/16034) that replaces broken link with a link to github markdown page

[2020-04-16 23:02] #16014 closed

[2020-04-16 23:18] Tenacious-Qi opened #16035 "replace link to Ruby Basics markdown page once new Ruby Basics lessons are published"
As a temporary fix, a broken link in the [Ruby Building Blocks](https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks#introduction) lesson page pointing to _Ruby Basics_ was [replaced with a link to the _Ruby Basics_ markdown page on Github.](https://github.com/TheOdinProject/curriculum/pull/16034).

Once the new _Ruby Basics_ lessons are published, this link should

[2020-04-16 23:19] #11216 closed

[2020-04-16 23:23] I3uckwheat commented on #16035
When #15983 is merged, this ticket will no longer be blocked.

[2020-04-17 01:08] leosoaivan commented on #12553
@codyloyd I reviewed the links in @leila-alderman 's comment (https://github.com/TheOdinProject/curriculum/issues/12553#issuecomment-539526350) and it doesn't seem like the mentions of Rails in these files are significant, i.e., they can be taken generally.

Proposal:
- https://github.com/TheOdinProject/curriculum/blob/master/javascript/finishing-up/conclusion.md: Leave it.
- https://github.com/Th

[2020-04-17 05:56] AJMcDee commented on #10253
I can look over this for grammar/spelling/etc but I haven't learned Node yet so can't check in any technical regard. It'd be best to have someone else who can look over that side if it's still needed.

[2020-04-17 08:10] Kshubhranshu commented on #13764
i will do it.

[2020-04-17 13:38] I3uckwheat commented on #13764
@Kshubhranshu Awesome! Thank you!

[2020-04-17 13:45] I3uckwheat commented on #10253
@AJMcDee It sounds like a great way to learn Node ;)

[2020-04-17 14:28] NikSeth commented on #15679
I am going to do this.

[2020-04-17 14:28] NikSeth commented on #15679
Please, trust me with this task

[2020-04-17 14:35] hgducharme commented on #15679
If you search the repository for my username (hgducharme), it will bring up all the links with my Gitbook's. That might be helpful in tracking them down

[2020-04-17 14:36] NikSeth commented on #15679
I am actually looking at the link
and It works

[2020-04-17 14:36] NikSeth commented on #15679
https://www.theodinproject.com/courses/databases/lessons/databases-and-sql

Additional Resources

[2020-04-17 14:41] I3uckwheat commented on #15679
@NikSeth While it may work, we should change the links to use the correct, new link so it doesn't go offline unexpectedly

[2020-04-17 14:41] hgducharme commented on #15679
Yeah the old gitbook URLs still currently work, but they won't soon. Gitbook is shutting down their legacy site after April 30th. Here is the exact email I got from Gitbook:

[2020-04-17 14:42] I3uckwheat commented on #15679
@hgducharme We really appreciate you bringing this up to us :)

[2020-04-17 14:42] NikSeth commented on #15679
I am on it

[2020-04-17 14:46] hgducharme commented on #15679
@I3uckwheat Absoutely!

[2020-04-17 14:49] I3uckwheat opened #16055 "As a student, I want all gitbook links to use the new URL so they don't 404 after deprication"
More info: https://github.com/TheOdinProject/curriculum/issues/15679

We need to make sure all gitbook links are updated so that we don't run into issues with dead links. Fixing this now, means that we won't miss any, and potentially replace a great resource that is still active and maintained.

We should fix this while it's fresh on our minds.

[2020-04-17 15:12] #15679 closed

[2020-04-17 16:09] I3uckwheat commented on #15850
@sicou2 I think you are spot on with this:

Could you please make this more explicit? It would be great to have a PR from you, as you clearly have a handle on the issue.

[2020-04-17 16:30] ARodrigues92 commented on #16055
I looked at the whole curriculum and only found 3 links that seem to have already been updated.

[2020-04-17 16:32] I3uckwheat commented on #16055
@ARodrigues92 Thanks! Closing this issue :)

[2020-04-17 16:32] #16055 closed

[2020-04-17 17:23] Sahmie opened #16063 "Broken link from the html form project"
came across a dead link from the Project: HTML forms in the web dev 101 section
https://www.theodinproject.com/courses/html5-and-css3/lessons/html-forms

The link to the mint.com website doesn't connect on my end but other links go through

------

We should find another link to add to this section for people who cannot view the mint.com link.

Steps:
- [ ] Find link of equal value
- [ ] Test link

[2020-04-17 17:25] I3uckwheat commented on #16063
I wonder if this has to do with region locking or something. This link works for me, but can a few people outside the US take a peek?

[2020-04-17 19:34] harrisj09 commented on #13764
I don't know why that came up, It worked perfectly fine when I posted this issue. You could also add a section that allows people who used the odin project to learn web development to post there personal sites.

[2020-04-17 19:54] I3uckwheat opened #16070 "Refresh and re-merge new vbox installation directions"
https://github.com/TheOdinProject/curriculum/pull/15273"

- [ ] Use correct version of Lubuntu from correct website
- [ ] Redo Guest Additions Instructions
- [ ] Update All Pictures to be correct for each section (might add more checkboxes)

[2020-04-17 19:58] I3uckwheat commented on #16070
@zachmmeyer got this :)

[2020-04-17 20:00] zachmmeyer commented on #16070
@I3uckwheat commenting because you told me to

[2020-04-17 20:01] I3uckwheat commented on #16070
@zachmmeyer Thanks, this is the only way I can assign it to you :)

[2020-04-17 20:06] I3uckwheat commented on #13764
@harrisj09 That is what the "student solutions" are for here

[2020-04-17 20:43] AJMcDee commented on #16063
@I3uckwheat It works for me here in Germany

[2020-04-17 21:50] ZachBaird commented on #14554
@zachmmeyer @I3uckwheat
Is the direction for this issue still to change the URL wording in the readme to not say "guide"?

[2020-04-17 23:36] #12820 closed

[2020-04-17 23:38] I3uckwheat commented on #10254
Lesson 1 under authentication section: #16066

[2020-04-17 23:53] I3uckwheat opened #16074 "Find all lessons that do not have learning outcomes."
#10254

It would be super helpful to go through and get a list together of what lessons have learning outcomes, and which don't. If you respond with a list here, I can edit the other ticket with the checklist.

[2020-04-17 23:57] kashura commented on #16074
I'll start working on this one.

[2020-04-17 23:59] I3uckwheat commented on #16074
@kashura Awesome, thank you!

[2020-04-18 00:11] I3uckwheat commented on #16063
@AJMcDee Thanks for taking a look!

[2020-04-18 00:17] kashura commented on #16074
**Web Development 101**

Git basics

Intro to Git - [ ]

Git basics - [ x ]

Practicing git basics - []

The front end

Introduction - [x]

HTML and CSS basics - [x]

Developer Tools - [x]

Project: HTML/CSS - []

JS Basics

Fundamentals 1 - [x] (but no table of contents)

Fundamentals 2 - [x]

Dev Tools 2 - []

Fundamentals 3 - []

Project: rock paper scissors - []

Clean code - []

Fundamentals

[2020-04-18 00:18] kashura commented on #16074
- [ x ]

[2020-04-18 00:23] kashura commented on #16074
## **Web Development 101**

*Git basics*

Intro to Git - []

Git basics - [x]

Practicing git basics - []

**The front end**

Introduction - [x]

HTML and CSS basics - [x]

Developer Tools - [x]

Project: HTML/CSS - []

**JS Basics**

Fundamentals 1 - [x] (but no table of contents)

Fundamentals 2 - [x]

Dev Tools 2 - []

Fundamentals 3 - []

Project: rock paper scissors - []

Clean code - []

Fun

[2020-04-18 00:29] I3uckwheat commented on #16074
- [ x ]  test

[2020-04-18 00:29] I3uckwheat commented on #16074
- [ ] test

[2020-04-18 00:29] kashura commented on #16074
Hi Briggs

- [ ]

[2020-04-18 00:31] ZachBaird commented on #14554
@I3uckwheat After some poking around, we saw that the following Git section with pretty good content exists here in the Ruby Programming course: https://www.theodinproject.com/courses/ruby-programming?ref=lnav#git

However, no parallel section is in the JavaScript or NodeJS courses. We might want to create a section like HTML & CSS that's cross-track with the Git content.

For now, I'll modify the

[2020-04-18 00:33] I3uckwheat commented on #14554
@KevinMulhern Do we have anything in the works like this ☝️

[2020-04-18 00:33] I3uckwheat opened #16077 "Breakout git course"
After some poking around, we saw that the following Git section with pretty good content exists here in the Ruby Programming course: https://www.theodinproject.com/courses/ruby-programming?ref=lnav#git

However, no parallel section is in the JavaScript or NodeJS courses. We might want to create a section like HTML & CSS that's cross-track with the Git content.

For now, I'll modify the main readme

[2020-04-18 14:38] ARodrigues92 commented on #16063
@I3uckwheat Working fine as well in Portugal

[2020-04-18 17:44] I3uckwheat commented on #16074
Great! Thank you @kashura I'll move these to the other issue later today

[2020-04-18 18:30] zachmmeyer commented on #16070
[ ] Use correct version of Lubuntu from correct website
[ ] Redo Guest Additions Instructions
[ ] Update All Pictures to be correct for each section (might add more checkboxes)

[2020-04-18 19:18] kashura commented on #16074
## NodeJS

**Express**

- [x] Introduction to Express

- [x] Express 101

- [x] Express 102

- [x] Express 103

- [x] Express 104

- [x] Express 105

**Authentication**

- [x] Authentication Basics

- [ ] Security Configuration

**APIs**

- [ ] API Basics

- [ ] API Security

**Testing Express**

- [ ] Testing routes and controllers

- [ ] Testing database operations

[2020-04-18 20:00] I3uckwheat commented on #16074
As per our discord conversation: I've adjusted the scope of this ticket. Thanks for taking on a bit more 🔥

[2020-04-18 20:00] KevinMulhern commented on #14554
@I3uckwheat we did actually 😃

We planned on stand alone courses along side tracks, a git course was going to be one of those. Looking back over what was left for that course, we don't have a ton remaining. A couple of lessons need to be a bit more fleshed out and polished and one project needed written.

https://github.com/TheOdinProject/curriculum/issues/5379

We definitely should have parallel

[2020-04-18 20:09] I3uckwheat commented on #14554
@KevinMulhern We really should get this git stuff figured out ASAP with our new push for PRs and help in the Discord chat.

It wouldn't be too bad to put it in the 101, but I wonder how many people would take it seriously at that point. I think it should come after 101, as a standalone section that can be used in both Rails and Node. That way people have touched some code and may understand the us

[2020-04-18 20:10] I3uckwheat commented on #5379
I've cleaned up this ticket for new and forward going conversation :)

[2020-04-18 20:23] I3uckwheat commented on #14554
@ZachBaird https://github.com/TheOdinProject/theodinproject/wiki/Contributing-Guide

This could be useful to just link to for this specific issue.

[2020-04-18 21:27] #15983 closed

[2020-04-18 23:47] I3uckwheat commented on #13764
Re-opening as it is not completed

[2020-04-19 00:22] KevinMulhern commented on #16011
I think this should be the priority with the curriculum work right now. Imo it would be the best improvement we could make. It's one of the first subjects the student encounters and the later full course hasn't been touched in forever.

As a first step I think it would be prudent to make an outline of the lesson plan we want this new course to have so we have something concrete to start working to

[2020-04-19 00:24] KevinMulhern commented on #16077
Hey @I3uckwheat, will we use this PR: https://github.com/TheOdinProject/curriculum/issues/5379 for this instead?

[2020-04-19 01:29] 105ron commented on #14554
I'll handle this. 🔥 🧨 🚀 🧩 ☠️

[2020-04-19 02:44] KevinMulhern opened #16122 "Port New Ruby Problem Solving Lesson to Javascript Course"
**Description:**
We have recently added a problem solving lesson to the ruby course which would be great for the JS course as well with a few modifications.

Link to the lesson file: https://github.com/TheOdinProject/curriculum/blob/master/ruby_programming/basic_ruby/problem_solving.md

**Acceptance Criteria:**
1. Change the Fizz Buzz Code Examples to use JS.
2. Add the Lesson to somewhere in the

[2020-04-19 02:45] KevinMulhern commented on #16122
@codyloyd where do you reckon we should put this in the JS course?

[2020-04-19 09:24] NikSeth commented on #16063
The link is working for me. Nation: India

[2020-04-19 16:38] themetar opened #16139 "Broken link due to redirection to subdomain // internetingishard.com"
https://internetingishard.com/anypath redirects to https://www.internetingishard.com

In HTML and CSS > Flexbox, [https://internetingishard.com/html-and-css/flexbox/](https://internetingishard.com/html-and-css/flexbox/) redirects to [https://www.internetingishard.com/](https://www.internetingishard.com/).

[2020-04-19 17:13] marvingay commented on #10254
Authentication > Security Configuration was here #16081

APIs > API basics is here #16133

[2020-04-19 18:25] KevinMulhern commented on #16139
Thanks for reporting @thebearmayor

Link to lesson in question: https://www.theodinproject.com/courses/html5-and-css3/lessons/flexbox

It's the third assignment.

[2020-04-19 21:28] #15850 closed

[2020-04-19 22:04] ARodrigues92 commented on #16139
@KevinMulhern I just created a PR with a fix on the link.

[2020-04-19 22:05] #16139 closed

[2020-04-19 22:09] KevinMulhern commented on #16035
Hey @I3uckwheat, I think I misunderstood this one when it was created. This will no longer required as neither of these lessons are in the curriculum anymore. Sorry for the confusion.

[2020-04-19 22:09] #16035 closed

[2020-04-19 22:11] I3uckwheat commented on #16063
@ARodrigues92 @NikSeth

Thanks guys!

[2020-04-19 22:15] I3uckwheat commented on #16077
@KevinMulhern Yeah, that sounds great, closing this one as a duplicate

[2020-04-19 22:15] #16077 closed

[2020-04-19 22:30] Theoinf0 commented on #16063
All good here in UK

[2020-04-19 22:33] Theoinf0 commented on #16063
All good here in UK

[2020-04-19 22:42] I3uckwheat commented on #16011
Here's some topics we may want to cover (in no particular order):

HTML
- a11y
- SEO/Header tags
- Semantic HTML (`<header>`, `<section>`, `<footer>`, etc)
- Organization

CSS
- Flexbox
- Grid
- Floats (to understand what they are for, and how to work with the old style)
- Positioning
- Animations
- Designing

[2020-04-20 05:39] aaron-contreras commented on #16063
Panama working A-OK!

[2020-04-20 09:09] zephyrasy commented on #16063
The link to the mint.com doesn't work for me in Iran.

[2020-04-20 10:48] ZachBaird commented on #14554
@105ron , I've identified some additional resources for consideration:

https://github.com/firstcontributions/first-contributions
https://egghead.io/lessons/javascript-how-to-create-a-pull-request-on-github (lessons 9 and 10 for PRs)

[2020-04-20 13:39] I3uckwheat commented on #14554
@ZachBaird If you want, I can re-assign this to @105ron, otherwise I'll leave you to work on it.

[2020-04-20 17:50] NikSeth commented on #16063
Can the link be changed to a link containing the screenshot of the sign-up form?

[2020-04-21 03:23] Tenacious-Qi opened #16203 "Strange link behavior in Input Output section of Ruby Basics"
![image](https://user-images.githubusercontent.com/53409795/79821754-8b456700-835d-11ea-9a68-8a08d1bf9de8.png)
The second link of assignment 1 "www.learnrubyonline.org" leads to an empty page here: https://www.theodinproject.com/courses/ruby-programming/lessons/www.learnrubyonline.org

I would have just done a PR but the link in the markdown file looks and works fine so I'm not sure what's causing

[2020-04-21 13:35] leosoaivan commented on #16203
Fixed by https://github.com/TheOdinProject/curriculum/pull/16176/files

[2020-04-21 13:37] #16203 closed

[2020-04-21 16:35] I3uckwheat commented on #16063
@NikSeth Part of forums is understanding how they function when interacting with them.

@zephyrasy Thanks, sounds like there are some regions that this does not work with. We'll look for a replacement.

[2020-04-21 18:12] I3uckwheat commented on #14554
![image](https://user-images.githubusercontent.com/4411701/79898933-4525ed00-83c9-11ea-9e1b-0cebe211c714.png)
@ZachBaird, @105ron

This is the kind of thing I would like to prevent with good documentation.

[2020-04-21 19:02] mindovermiles262 commented on #12979
The curriculum repo does not currently have any CICD.

I will look into adding this codespell as a GH Action.

[2020-04-21 19:17] mindovermiles262 commented on #12979
Seems do-able with the correct settings.  Issues will come from student's names:

[code]

[2020-04-21 21:45] I3uckwheat opened #16239 "Add live server early in the course"
This will help people speed up their development. VSCode users only though.

[2020-04-22 01:09] I3uckwheat commented on #8002
Closing as we are going to be working on a new HTML + CSS course. #16011

[2020-04-22 01:09] #8002 closed

[2020-04-22 01:11] mKawi commented on #16063
I'm happy to take this. Quick question, should the new link replace the signup page for Mint.com?
Or rather adding it as a secondary backup link?

[2020-04-22 01:15] muhymenulhaque commented on #16063
mint.com works but https://wwws.mint.com/login.event?task=S redirects me to https://accounts.intuit.com/signup.html ...
Is it normal?

[2020-04-22 01:18] xandora commented on #16063
@muhymenulhaque Yes, Intuit Inc. owns Mint. They have a centralised logon page for their various services.

[2020-04-22 01:22] Timework commented on #16063
Just a question, can wayback machine get passed the region limitation.
If so we can just use this
https://web.archive.org/web/20200330102121/https://accounts.intuit.com/signup.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dhero_sign_up_free_ProspectWeb
and tell them to click the little x for the wayba

[2020-04-22 01:24] I3uckwheat commented on #16030
Closing as this is something we can't support long term.

[2020-04-22 01:24] #16030 closed

[2020-04-22 04:04] I3uckwheat commented on #16063
@Timework I don't think we want to use that for something like this. We should be current as possible.

[2020-04-22 04:05] I3uckwheat commented on #16063
I would add it as a secondary backup link. I'll assign this issue to you! Thanks for helping!

[2020-04-22 04:54] marvingay commented on #10254
Testing Express > Testing routes and controllers
#16246

[2020-04-23 14:59] scottBowles opened #16292 "Full Stack JS no longer has the user set up Heroku"
As far as I can see, learners on the Full Stack JS track currently don't have Heroku set up during initial installations, then are later told to enter commands to push to Heroku.

On the [web-dev-101 installation overview page](https://www.theodinproject.com/courses/web-development-101/lessons/installation-overview?ref=lnav), it mentions these future steps:
-creating an SSH key (a personal “passwo

[2020-04-24 00:10] I3uckwheat commented on #16292
Thanks for noticing and writing a good issue up!

Currently the Heroku installations are done in the Ruby section [here](https://www.theodinproject.com/courses/ruby-on-rails/lessons/your-first-rails-application-ruby-on-rails#step-3-deploy-your-rails-application)

Here's what needs to happen:

- [ ] break out heroku setup directions from the Rails install
- [ ] edit the rails install to make sense

[2020-04-24 00:13] marvingay commented on #16292
I can handle this.

[2020-04-24 00:49] marvingay commented on #10254
Testing Express > Testing database operations

#16306

[2020-04-24 03:45] mKawi commented on #16063
Made a [PR](https://github.com/TheOdinProject/curriculum/pull/16314).

I chose Mailchimp's signup form as it's not overly complicated, yet still challenging enough to learn from. The focus is still on the form rather than on other UI.

I used [UpTrends](https://www.uptrends.com/tools/uptime) and [App Synthetic Monitor](https://asm.ca.com/en/ping.php) to check if the site is available across the gl

[2020-04-24 17:45] briantuju commented on #16292
Hello @I3uckwheat
I'm not very experienced in how issues work, but I have a suggestion.

Since I learnt web development using this project and I have been using Heroku for quite some time now, **can I do a quick detailed explanation on how to integrate NodeJs with Heroku**, and then submit for reviewing or integration with the curriculum?

[2020-04-24 23:40] I3uckwheat commented on #16292
@briantuju I suggest you make an issue on [this repository](https://github.com/TheOdinProject/discussions) after you read the [PROCESS.md page](https://github.com/TheOdinProject/discussions/blob/master/PROCESS.md)

[2020-04-25 02:14] ChargrilledChook opened #16353 "Small redundancy in Web 101 - DOM manuipulation additional resources"
[DOM manipulation additional resources](https://www.theodinproject.com/courses/web-development-101/lessons/dom-manipulation#additional-resources) contains two separate links to the same page, [Plain Javascript.](https://plainjs.com/javascript/)

It would make sense to consolidate them into a single dot point, unless there's a good reason not to.

![dom manuip](https://user-images.githubusercontent

[2020-04-25 04:05] #16063 closed

[2020-04-25 04:07] I3uckwheat commented on #16063
@mKawi

You did perfect for your first PR, thank you! I really appreciate the extra work of checking with UpTrends and App Synthetic Monitor. Thank you very much!

[2020-04-25 04:09] #10254 closed

[2020-04-25 04:34] briantuju commented on #16292
I have gone through the Process page.

I will think of how to present my idea to the panel.

Thank you @I3uckwheat

[2020-04-25 07:55] jithindasad opened #16359 "Broken link under views section of Rails"
https://www.theodinproject.com/courses/ruby-programming/lessons/advanced-ruby-building-blocks redirects to 404 page

[2020-04-25 16:51] mindovermiles262 commented on #12616
Hey @mammothb

After looking at this it appears you were using `url` and not `urls`  The typo may have been the source of the error.

I'm going to close this for now. If you believe that it's still an issue please let us know by opening a new issue

Thanks

[2020-04-25 16:51] #12616 closed

[2020-04-25 22:00] KevinMulhern commented on #16359
Thanks for reporting.

The page its linking to has been removed so the link can be removed, It's on this page: https://www.theodinproject.com/courses/ruby-on-rails/lessons/views

In the paragraph above the Preprocessors heading.

[2020-04-25 22:17] I3uckwheat commented on #16359
@Saranoya got this

[2020-04-26 15:24] mKawi commented on #13764
I'm happy to take this task on if that's okay?

[2020-04-26 16:07] mKawi commented on #14376
I'd like to be assigned this task.

If I'm understanding correctly, we should be keeping the Foundation sections intact, only adding a few additional links to TailwindCSS resources, so students are at least aware of its existence.

[2020-04-26 20:22] I3uckwheat commented on #14376
@mKawi I've assigned this to you, thanks!

[2020-04-26 21:26] minimalsm opened #16404 "Markdown for Introduction Header not displaying correctly in Google Clone Project (Web Dev 101)"
https://www.theodinproject.com/courses/web-development-101/lessons/html-css

<img width="847" alt="Screenshot 2020-04-26 at 22 22 13" src="https://user-images.githubusercontent.com/62268199/80320206-f0d99d80-880c-11ea-993e-bbce5c07dd13.png">

[2020-04-26 21:45] boyuan12 commented on #16404
Can I work on this issue?

[2020-04-26 21:46] aaron-contreras commented on #16404
I'll take it

[2020-04-26 21:48] I3uckwheat commented on #16404
@aaron-contreras Awesome, i'll assign this to you.

[2020-04-26 21:50] I3uckwheat commented on #13764
@mKawi Sure, i'll assign this one to you!

[2020-04-27 00:18] marvingay commented on #16292
Curriculum changes: #16412
Seed changes: #1131

[2020-04-27 08:28] NikSeth commented on #16239
I will like to take this

[2020-04-27 13:25] I3uckwheat commented on #16239
@NikSeth Awesome, I will assign this to you

[2020-04-27 21:11] #14376 closed

[2020-04-29 19:18] SNikhill commented on #16239
Pull Request: #16506 solves this issue.

[2020-04-30 04:34] I3uckwheat commented on #14554
@105ron Have you made any progress on this?

[2020-04-30 05:45] marvingay commented on #16404
Issue resolved in #16406

Closing.

[2020-04-30 05:45] #16404 closed

[2020-04-30 12:03] wgoolsby opened #16525 "JavascriptIsSexy links are 'broken'"
In the lesson [Object Constructors](https://github.com/TheOdinProject/curriculum/blob/master/javascript/organizing-js/objects-constructors.md), the [Javascript Is Sexy article](http://javascriptissexy.com/javascript-prototype-in-plain-detailed-language/) is broken. It may be temporary, but it is currently redirecting to an error page with the following error:

[2020-04-30 13:49] marvingay commented on #16525
Thank you for reporting this issue.

This error was reported once before less than 24 hours from this issue being created. For the time being, I believe it is advisable to use an archived/wayback machine/cache'd version of this article to access it.

A little more time should be given to see if the issue with this site will be seemingly temporarily or a permanent fixture before removing and/or upd

[2020-04-30 16:29] marvingay commented on #16525
#16511 Clean Code - The resource in the PR will still need to be reviewed, relevant to this issue.

In my opinion, another 24 hours should be given to evaluate if the current resources will need to be changed.

[2020-04-30 17:10] Johongirr opened #16540 "Missing "learning outcomes" in Javascript module"
Guys I could not find learning outcomes part in vanilla javascript module. I saw it only  in ajax and async lessons. best regards

Many lessons on these pages are missing learning outcomes:
https://www.theodinproject.com/courses/javascript

[2020-04-30 17:18] I3uckwheat commented on #16540
@Johongirr

Can you please attach a link to the lesson where you found this issue?

[2020-05-01 14:35] marvingay commented on #16525
Given that the information in the currently provided resources compliments the surrounding material, it's most practical to continue using these resources despite the active site being down.

The person who takes this on should:
- [ ] Identify the links to the resources
- [ ] Use the wayback machine to obtain the appropriate snapshot of the resource from the past
- [ ] Replace the links in the cur

[2020-05-01 14:57] violetguos commented on #16525
Hi, I'm interested in contributing. Thamks.

[2020-05-01 15:05] marvingay commented on #16525
@violetguos Perfect. If there are any issues, feel free to mention me here or stop by our discord community.

[2020-05-01 16:12] marvingay commented on #16540
The lessons that require Learning Outcomes are as follows:

- [ ] Objects and Object Constructors
- [ ] Factory Functions and the Module Pattern
- [ ] Classes
- [ ] ES6 Modules
- [ ] OOP Principles

Link relevant PRs to given lesson(s) below.

[2020-05-01 18:11] #16525 closed

[2020-05-01 20:35] aaron-contreras commented on #16353
I'll take it!

[2020-05-01 20:36] devmohy commented on #16353
I will like to work on this

[2020-05-01 20:52] AJMcDee commented on #16353
Dayummm you guys are too fast for me!

[2020-05-01 21:27] RandyFoo07 opened #16588 "Article link leads to 'error establishing a database connection'"
https://www.theodinproject.com/lessons/objects-and-object-constructors#the-prototype

First link on The Prototype section leads to the problem, seems like the website itself is down at the moment. Any help is appreciated!

[2020-05-01 21:39] marvingay commented on #16588
@RandyFoo07
This issue was resolved today. The view of the curriculum on the website will not update until 5/2/2020 (If you're in a U.S. timezone).
 https://github.com/TheOdinProject/curriculum/issues/16525

You may can grab the updated way of viewing this resource [here](https://github.com/TheOdinProject/curriculum/blob/master/javascript/organizing-js/objects-constructors.md) or by passing the li

[2020-05-01 21:39] #16588 closed

[2020-05-02 01:52] #16359 closed

[2020-05-02 03:19] #16353 closed

[2020-05-02 04:08] #16239 closed

[2020-05-02 10:55] minimalsm opened #16601 "Redundant Resource in HTML Conclusion"
In the conclusion for HTML/CSS, within Additional Resources, Codecademy's HTML/CSS course is recommended. This is a very high level beginner resource. I've done the course and it is completely superseded by the material presented prior. **THIS COURSE WOULD HAVE NO VALUE TO ANYONE WHO HAD BEEN THROUGH THE ENTIRE HTML/CSS SECTION.**

https://www.theodinproject.com/courses/html5-and-css3/lessons/conc

[2020-05-03 17:29] mKawi commented on #13764
Sorry for the delay, got caught up with a few personal things.

I've managed to find a good [link](https://spyrestudios.com/web-developer-portfolio/) that showcases portfolios to derive inspiration from. It was a little difficult to find a resource that wasn't outdated, had dead links, and wasn't behind a subscription wall e.g. Medium.

However, I feel we might encounter the same issues in the fut

[2020-05-05 14:05] ZachBaird commented on #16540
I can take this @I3uckwheat

[2020-05-05 14:16] I3uckwheat commented on #16540
@ZachBaird Sweet, thanks!

[2020-05-05 14:18] I3uckwheat commented on #13764
@mKawi Feel free to add the list to this markdown file itself too. Then we can more easily keep an eye on them :)

[2020-05-05 17:29] Saranoya commented on #11148
I can take this one. Will look into replacing the suggestion to use Rails with a suggestion to use Firebase instead, since I'm currently getting familiar with that.

[2020-05-05 17:35] I3uckwheat commented on #11148
@Saranoya Thanks! I've assigned it to you!

[2020-05-06 12:21] faishalirwn opened #16755 "Revert "JavascriptIsSexy" links to original resource"
I'm referring to [this article](http://javascriptissexy.com/javascript-prototype-in-plain-detailed-language/). I've encountered issue #16525 and it seems it has been fixed, but, as the title said, I found capture with better format.

[Here is the link](https://web.archive.org/web/20180610163043/http://javascriptissexy.com/javascript-prototype-in-plain-detailed-language/), it was from June 10th 201

[2020-05-06 18:14] ZachBaird commented on #16540
@I3uckwheat PR submitted.

[2020-05-06 18:18] marvingay commented on #16292
The appropriate changes have been merged.
Closing.

[2020-05-06 18:18] #16292 closed

[2020-05-06 18:20] ZachBaird commented on #16601
@I3uckwheat I can take this.

[2020-05-06 18:22] kikupiku opened #16776 "Code snippets not properly formatted in NodeJS mini message board project"
You can see from the markdown page of the [mini message board](https://www.theodinproject.com/courses/nodejs/lessons/mini-message-board?ref=lnav) lesson that certain things are supposed to be in bash code format (or javascript, etc.) but only the html snippets render properly. Strangely, they do show up correctly in the github preview.

[2020-05-06 18:31] marvingay commented on #16755
Thank you for submitting this issue. It has been verified that the resource website is operational. In the interest of speed, we will replace the resource with the appropriate links to the original resource.

In contrast to #16525, the person who handles this issue will need to do the following for both lessons:
- [ ] Obtain the appropriate 'JavascriptIsSexy' link to the appropriate article (https

[2020-05-06 18:39] UnevenCoder commented on #16755
Hi how to get the issue

[2020-05-06 18:45] ZachBaird commented on #16601
@I3uckwheat PR submitted.

[2020-05-06 18:46] btdmaster commented on #16755
Hi, can I take this?

[2020-05-06 18:46] marvingay commented on #16755
@UnevenCoder Hello,

This issue is for newer contributors that are engaging in The Odin Project curriculum. You can find out more information via our Discord community.

Thank you for reaching out.

[2020-05-06 18:47] marvingay commented on #16755
@btdmaster Yes, you can! I will assign it to you.

You're welcome to refer to our [Contributing Guide](https://github.com/TheOdinProject/curriculum/blob/master/contributing.md), comment here, or ask in our Discord community if you have any questions!

[2020-05-06 19:09] minimalsm commented on #11815
As Hartl has removed free access to his book this seems a natural progression now.

[2020-05-06 19:24] btdmaster commented on #16755
After finding out how to do multiple commits in one PR, I finally did it! Here's the [PR](https://github.com/TheOdinProject/curriculum/pull/16779).

[2020-05-06 19:40] marvingay commented on #16755
@btdmaster  Thank you so much for your contribution!

[2020-05-06 19:41] #16755 closed

[2020-05-06 21:50] #16601 closed

[2020-05-06 21:53] #16540 closed

[2020-05-06 22:34] ZachBaird commented on #16776
@I3uckwheat I can take this.

[2020-05-06 22:34] I3uckwheat commented on #16776
@ZachBaird Sweet, assigning it to you.

[2020-05-06 23:11] ZachBaird commented on #16776
@I3uckwheat PR submitted.

[2020-05-06 23:29] ZachBaird commented on #11867
I can start looking into this.

[2020-05-06 23:32] I3uckwheat commented on #11867
@ZachBaird You're a issue-fixer monster 🔥

[2020-05-07 00:16] ZachBaird commented on #11867
@I3uckwheat  After touching base with @codyloyd , it makes more sense to roll this effort up into the future HTML/CSS rewrite.

I think that @zachmmeyer 's suggestions looked like great resources for when that later effort comes.

[2020-05-07 00:18] I3uckwheat commented on #11867
@ZachBaird Thanks for looking into this. I agree this should wait. I will close this for now :)

[2020-05-07 00:18] #11867 closed

[2020-05-07 12:16] mKawi opened #16800 "Accordions on the FAQ page are not working as intended"
[FAQ page](https://www.theodinproject.com/faq) - TypeError is being logged in the console when an accordion is clicked.

It seems to be an issue with bootstrap and jQuery versioning: [https://github.com/twbs/bootstrap/issues/30553](https://github.com/twbs/bootstrap/issues/30553)

[2020-05-07 14:19] kikupiku commented on #16776
Thanks! The two last snippets still have the word bash that shouldn't be there, though, and the last snippet shows up as one long command instead in two lines.

[2020-05-07 16:24] ZachBaird commented on #16776
Numbered list was still resetting and `bash` was getting printed out and was misformatted regardless. Thanks @kikupiku for checking this!

New PR submitted @I3uckwheat

[2020-05-07 17:07] remiborfigat opened #16814 "Ethical remote pairing software suggestions"
Going through the [Preparing for Remote Pair](https://www.theodinproject.com/courses/web-development-101/lessons/preparing-to-remote-pair) page, I was shocked to see that only ‘big tech’ and closed-source solutions were offered.

Since TOP is an open-source initiative, that would be nice to suggest free/libre and open-source software (FLOSS) that do not snoop on and track their users.
From a broad

[2020-05-07 17:53] I3uckwheat commented on #16814
@remiborfigat This section is going to be removed, people finding pairs has proven to be more trouble than it's wroth.

[2020-05-07 17:53] #16814 closed

[2020-05-07 17:56] I3uckwheat opened #16816 "Remove pair-programming from wd101"
More info here: https://github.com/TheOdinProject/discussions/blob/master/proposals/remove-pair-programming.md

We need to remove the pairing in its entirety from wd101. This means:

- [ ] Remove lessons from the repository (it will live on in the git history)
- [ ] Remove lessons from the seeds file

[2020-05-07 18:10] codyloyd commented on #16816
I don't think we need to remove the lessons from the repository.. I'd rather keep them for now, even if they are still alive in the History.  There will be some people that are right in the middle of those lessons who will want an easier-to-access file, and we may still want to recycle the Pomodoro project some time.

[2020-05-07 18:17] KevinMulhern commented on #16816
I've been moving old lessons into an archive folder, might be an idea for this one.

[2020-05-07 18:18] codyloyd commented on #16816
perfect ^^

[2020-05-07 18:26] mKawi commented on #16800
Closing this issue as I just realized I posted it in the wrong repo which already has the issue existing, very sorry! [https://github.com/TheOdinProject/theodinproject/issues/1154](https://github.com/TheOdinProject/theodinproject/issues/1154)

[2020-05-07 18:26] #16800 closed

[2020-05-07 22:44] btdmaster opened #16825 "FAQ buttons do not respond to user input"
_This is my first issue, please tell me if I'm doing something blatantly wrong._

The buttons to open and close the `#faq-item`s do not work on the [TOP FAQ](https://www.theodinproject.com/faq) page. Clicking them does nothing.

However, manually editing the `class` from `collapse` to `open`  in the Inspector does work as normal.

I have tried this on both Firefox on Windows and Linux, and on Chro

[2020-05-07 22:53] marvingay commented on #16825
Hello,

You didn't do anything explicitly wrong. However, this repository is for the `curriculum` **only**. This issue would be more relevant in `theodinproject` repository. There is already an open issue concerning this problem: https://github.com/TheOdinProject/theodinproject/issues/1154
You can refer to that issue for further comment.

Thank you for reaching out.

[2020-05-07 22:53] #16825 closed

[2020-05-08 00:03] #16776 closed

[2020-05-09 14:58] ZachBaird commented on #16122
I can start working on this @KevinMulhern @I3uckwheat . Idk where in the full-stack JS track it should go, but it might be beneficial (yet repetitive) to put it in the JS section all tracks see.

[2020-05-09 16:33] marvingay commented on #16122
As currently laid out, it would be best put before [a quick review](https://github.com/TheOdinProject/curriculum/blob/master/javascript/introduction/js101-review.md), but as noted, that would cause a repetition issue. Unless there is a way to conditionally show it based on the user's track.

[2020-05-09 16:56] I3uckwheat commented on #16122
@ZachBaird

I've assigned it to you :)

I'm not sure where it would go juuust yet. But it looks like this could be simplified to pseudo-code and made generic instead.

Or, we could use the same [technique as this](https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites) and put it in both places.

[2020-05-09 17:08] I3uckwheat opened #16903 "Remove unmaintained WSL installation directions from wd101 installations"
https://github.com/TheOdinProject/curriculum/edit/master/web_development_101/installations/prerequisites.md
https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites

We should remove the un supported and unmaintained directions for WSL here.

[2020-05-09 17:12] ZachBaird commented on #16122
@I3uckwheat Cool :) Lemme know when a decision is made and I'll get it in there.

Taking in @marvingay 's recommendation, I quickly clicked through NodeJS and didn't really see anywhere it would make sense to put this. However, maybe we could put this where Marvin mentions and then move it to NodeJS whenever the Computer Science lesson gets replicated from Ruby to Node.

[2020-05-09 17:15] I3uckwheat commented on #16122
@codyloyd Do you have any suggestions on this one?

[2020-05-10 04:35] Saranoya commented on #16903
Give it to me! ;).

[2020-05-10 08:45] jithindasad opened #16925 "self join exercise(9) in sqlzoo.net is broken"
Project: SQL under Databases section in TOP says to do Tutorials 0-9 listed under the “Tutorial Section” in sqlzoo.net. However, the self-join exercise in SQL Zoo seems to be broken.

**Details of database**
`stops(id, name)`
`route(num, company, pos, stop)`

**First exercise**
1. How many stops are in the database.

**Sample solution**
[code]

**Error thrown**
`Invalid object name 'stops'.`

 _Si

[2020-05-10 12:56] zachmmeyer opened #16929 "Numbered list items in VirtualBox Instructions are not sequential"
#16915 changed the VirtualBox instructions and added pictures. GitHub MD shows numbers sequential. Website does not translate. Something to do with Kramdown. Clearly the numbering is being interrupted by the images and they way they are formatted. Images need to be formatted as they are to add borders and be sized correctly. The list items are not enveloping the whole section.
![image](https://use

[2020-05-10 13:10] zachmmeyer commented on #16816
Proposal:

The Pomodoro Project is the final project in Web Dev 101. That is more or less a fact and is also the solution. Move the Pomodoro Project to "Tying it All Together" as a final project and move the pair programming section to "Getting Hired" to read about, obviously removing the mention of a project.

[2020-05-10 16:00] I3uckwheat commented on #16816
@zachmmeyer no  we need to just move it to archive and then remove mentions of it.

We can reconsider later, but it would help get students moving along. You can see the proposal has been approved.

[2020-05-10 16:03] ZachBaird commented on #16903
@Saranoya Assigned :)

[2020-05-10 21:43] aaron-contreras opened #16943 ""Until" loop typo"
![Screen Shot 2020-05-10 at 4 39 17 PM](https://user-images.githubusercontent.com/61627014/81511166-e3c4b000-92dc-11ea-839d-4ac0c14f4fba.png)

On [the "until" loop section](https://www.theodinproject.com/courses/ruby-programming/lessons/loops?ref=lnav#until-loop) there's a typo below the code snippet that should be "until the condition i > 10 is **true**"

[2020-05-11 14:38] marvingay commented on #16943
The fix was previously merged. Issue was moved to 'Done'.

Closing.

[2020-05-11 14:38] #16943 closed

[2020-05-11 14:49] aaron-contreras commented on #16943
@marvingay Someone else had made a PR for it?

[2020-05-11 23:56] kashura commented on #16074
# Web Development 101

**Git Basics**

- [ ] Intro to Git
- [ ] Git Basics
- [ ] Practicing Git Basics

**The Front End**

- [ ] Introductions
- [ ] HTML and CSS basics
- [ ] Developer Tools
- [ ] Project: HTML / CSS

[2020-05-12 00:34] kashura commented on #16074
#Ruby Programming

**Introduction**
- [ ] How This Course Will Work
- [ ] Installing Ruby

**Basic Ruby**
- [ ] Basic Data Types
- [ ] Variables
- [ ] Input and Output
- [ ] Conditional Logic
- [ ] Loops
- [ ] Arrays
- [ ] Hashes
- [ ] Basic Enumerable Methods
- [ ] Methods
- [ ] Debugging
- [ ] Problem Solving

**Basic Ruby Projects**
- [ ] Project: Caesar Cipher
- [ ] Project: Sub Strings
- [ ]

[2020-05-12 00:47] kashura commented on #16074
# Databases

- [ ] Databases
- [ ] Databases and SQL
- [ ] Project: SQL

[2020-05-12 00:52] kashura commented on #16074
# Ruby on Rails

**Introduction**
- [ ] How This Course Will Work
- [ ] Preparing for Deployment
- [ ] Project: Installing Rails

**Rails Basics**
- [ ] A Railsy Web Refresher
- [ ] Routing
- [ ] Controllers
- [ ] Views
- [ ] The Asset Pipeline
- [ ] Deployment
- [ ] Project: Blog App

**Active Record Basics**
- [ ] Active Record Basics
- [ ] Project: Building With Active Record

**Forms and Authe

[2020-05-12 01:42] kashura commented on #16074
# HTML and CSS

**Basic HTML Page Structure**

- [ ] How This Course Will Work
- [ ] HTML Basics
- [ ] Linking Internal and External Pages
- [ ] Working with Images, Video, and Other Media
- [ ] Project: Embedding Images and Video
- [ ] What's New in HTML5

**Displaying and Inputting Data**
- [ ] Tables in HTML
- [ ] Ordered and Unordered Lists
- [ ] Forms for Collecting Data
- [ ] Project: HTML F

[2020-05-12 01:55] kashura commented on #16074
# Javascript

**Introduction**

- [ ] How this course will work
- [ ] A quick review

**Organizing your JavaScript Code**

- [ ] Introduction
- [ ] Objects and Objects Constructors
- [ ] Project: Library
- [ ] Factory Functions and the Module Pattern
- [ ] Project: Tic Tac Toe
- [ ] Classes
- [ ] ES6 Modules
- [ ] Project: Restaurant Page
- [ ] OOP Principles
- [ ] Project: Todo List

**JavaScript

[2020-05-12 02:02] kashura commented on #16074
# Getting Hired

**Preparing for Your Job Search**
- [ ] How This Course Will Work
- [ ] Strategy
- [ ] It Starts with YOU
- [ ] What Companies Want
- [ ] What You Can Do To Prepare
- [ ] Project: Building Your Personal Website

**Applying to and Interviewing for Jobs**
- [ ] Collecting Job Leads
- [ ] Qualifying Job Leads
- [ ] Project: Building Your Resume
- [ ] Applying for Web Development Jobs

[2020-05-12 02:03] kashura commented on #16074
@I3uckwheat can you glance over that I didn't miss any lessons?

[2020-05-12 03:27] #16903 closed

[2020-05-14 00:47] ZachBaird commented on #16122
@I3uckwheat @KevinMulhern @codyloyd
Have you guys given any more thought where this could go? I've got a first draft ready for review and I plopped it into javascript > introduction > problem_solving for now after the introduction. My thinking was, for the time being, it could be a "now before we hop into the good stuff..." kind of deal.

If any ideas aren't forthcoming, I can at least put up a WI

[2020-05-14 01:12] KevinMulhern commented on #16122
Sounds good to me @ZachBaird 😄

[2020-05-14 01:57] ZachBaird commented on #10252
What shape would this conclusion start to take? Would it look more like the conclusion of WebDev101 or - I assume - more like the Rails section?

[2020-05-15 16:03] ZachBaird commented on #16816
@I3uckwheat @KevinMulhern @codyloyd
I can start working on this if no one has taken it yet.

[2020-05-15 16:43] KevinMulhern commented on #16816
Its all yours @ZachBaird 😃

[2020-05-17 06:17] marvingay commented on #16925
At the time of writing, this lesson has been verified to work as intended.
As an anecdote, it's imperative that the dropdown in the top-right (gear icon) is set to MySQL.

Closing.

[2020-05-17 06:17] #16925 closed

[2020-05-19 00:50] kashura commented on #16074
@I3uckwheat <3

[2020-05-19 00:54] I3uckwheat commented on #16074
@kashura Looks great! Thank you man! That's great work!

[2020-05-20 11:01] martink-rsa opened #17302 "New VirtualBox images are not responsive and page can't scroll horizontally."
#### Description

The images added in the Virtual Box instructions (#16915) are not responsive and extend past the page. Additionally, no horizontal scrollbar is added so a user can't scroll to see the rest of the image.

![image](https://user-images.githubusercontent.com/52622303/82438375-3ea69600-9a99-11ea-8676-97c163de91bd.png)

#### Scenarios

Simply loading the page will show that the images

[2020-05-20 11:33] #16929 closed

[2020-05-20 11:50] martink-rsa opened #17304 "GitHub Issue Templates"
#### Description
There are no Issue templates which would make the process far more efficient in regards to:
1. Letting newcomers know what kind of information is needed;
2. Maintaining a standardization of issues being created;
3. Keep issues limited to the correct type of information e.g. Bugs, Feature request;
4. Knowing exactly which pages need to be addressed by having the template field requ

[2020-05-21 19:27] Sebastian-coderbrother commented on #14554
Yeah I totally agree with u

[2020-05-21 23:51] KevinMulhern commented on #17304
Totally agree with this, more templates would help a ton with making issues more actionable.

[2020-05-21 23:57] KevinMulhern commented on #17302
Thanks for reporting this @martink-rsa it looks like the images are being wrapped in p tags when they are parsed on the site.

The git basics project has responsive images, we are wrapping them in <a> tags there, probably a hack to get around some quirk in the markdown parser we use for rendering the lessons in html.

But it works so that would be the suggested fix for this for whoever picks it up

[2020-05-21 23:58] #16122 closed

[2020-05-24 02:32] KevinMulhern opened #17458 "Chore: Remove Requirement for Using Blocks on Binary Search Tree Project"
Lesson: https://www.theodinproject.com/courses/ruby-programming/lessons/data-structures-and-algorithms

### Description
We removed the old basics lessons which covered blocks, procs and lambdas when we updated the basics section of the ruby course recently. We did not provide any alternative content for learning about blocks as we plan on creating a new lesson that will cover them in the future.

[2020-05-24 03:04] rlmoser99 commented on #17458
I think I can make this change... it seems simple enough.

While you guys are looking at this lesson, on 5/21 a student had a question about the #define_method. As they were helping out, Fensus & Timato made a few comments such as "It's kinda a silly exercise though, should probably remove it" and "Yeah it's probably not the best use for pushing metaprogramming. And really doesn't show off it's po

[2020-05-24 03:15] KevinMulhern commented on #17458
I personally think we should remove the bonus define_method step. It doesn't add much to this project and can be discouraging as metaprogramming isn't something the user has been exposed to previously in the course.

I really like Fensus's suggestion. That would be a great addition 👍

[2020-05-24 03:15] KevinMulhern commented on #17458
Thanks for taking this one on @rlmoser99 💪

[2020-05-24 19:35] kashura commented on #17304
I'd love to help with this. I can make the template and if it suits admins can copy/paste it into the settings.

[2020-05-24 19:39] kashura commented on #5379
[I found this to be a great, practical resource for learning Git](https://gitimmersion.com/index.html)

GitImmersion is released under a Creative Commons BY-NC-SA 3.0 License, so we could make changes if needed.

[2020-05-25 00:04] bycdiaz opened #17483 "Replace Git Tower Lessons"
I'd like to replace the Git Tower lesson [from here](https://www.theodinproject.com/courses/web-development-101/lessons/git-basics) since our learners are getting tripped up by references to files that they may or may not have locally.

The topics below should cover what learners need at this point but if there is something else folks think we should add for this point of learning, let me know.

-

[2020-05-25 18:52] #16816 closed

[2020-05-26 18:50] bycdiaz commented on #17483
Will be addressed in [proposal](https://github.com/TheOdinProject/discussions/blob/master/proposals/git-lesson.md).

[2020-05-26 18:50] #17483 closed

[2020-05-26 22:25] rlmoser99 commented on #17458
Update: I am waiting to hear back from Fensus on Discord about the pretty_print method. Since it is his code, I think it is important to get his feedback, before we publish it in this lesson.

[2020-05-27 19:42] jatin2003 commented on #17304
Hey! It'l be great as It'll make Issues more useful!

[2020-05-27 19:42] themetar commented on #17302
@KevinMulhern No, there's an inline style="width:initial" that makes the images always their original size.

There are images that are usually narrower than the surrounding text so I guess the style was added to keep them from stretching to width:100% (as per .lesson-content img rule).

The git basics project page has mostly giant images that are squeezed down to 100%.

[2020-05-28 20:37] themetar commented on #17302
I can fix this, but should the fix be just to the inline styles or should we also change the website css (on the website repository)? // Replacing width: 100% with max-width:100% to only size-down images.

[2020-06-02 00:51] housewifecoder opened #17756 "WD101 > CLI Basics - Revise Terminal Directory"
Can someone pls fix the curriculum? Terminal for Macs use Command + C to Copy into the terminal. I tried it every way possible and when you go into the terminal, "edit" bar in the menu, that is when it tells you to copy. It works then.

Curriculum I am referencing: Assignment #1

I'm totally new to programming / GIT (hence why I'm learning via TOP. I don't know yet how to correct the curriculum be

[2020-06-04 11:46] t-junjie opened #17831 "Broken link in introduction_to_the_front_end.md"
The link under Assignment, point 1 ("interview with Nick Schaden") is broken. Should it be replaced with something else, or should the point be removed?

[2020-06-04 13:16] ZachBaird opened #17833 "Broken link on Intro to Front End in WebDev 101"
There is a broken link on the [Intro to Front End](https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-the-front-end) lesson here in the Assignments. Assignment #1 - reading the interview with Nick Schaden - is broken.

There's a few options to fix this:
1) See if the URL changed and replace it so it no longer 404s.
2) If the interview has been taken down, identify a

[2020-06-05 01:58] srinibassamal commented on #17833
<a href="https://www.anything you want to put.com">

[2020-06-05 14:01] am-firnas commented on #17833
I am on it

[2020-06-05 14:17] am-firnas commented on #17833
Hi, it seems the link is broken even we are accessing from the author's official page. http://www.nickschaden.com/2012/09/10/front-end-web-development-at-general-assembly/

[2020-06-05 16:42] pur3asdf commented on #17833
there is a snapshot on [](https://web.archive.org/web/20200601022721/https://generalassemb.ly/blog/what-is-front-end-web-development/)

[2020-06-05 18:44] Gidalya opened #17882 "Incorrect program location for Terminal in HighSierra"
On web development 101, the command line intro  the instructions say to find Terminal in Applications.  On Mac HighSierra 10.13.06 Terminal appears to be default in Utilities.

[2020-06-06 15:12] marvingay commented on #17833
Change made in -> #17911

[2020-06-06 17:00] am-firnas commented on #17833
alright then

[2020-06-07 03:35] #17833 closed

[2020-06-08 03:46] andrewjh271 opened #17956 "Binary Search Tree Project Suggestions"
Lesson: https://www.theodinproject.com/courses/ruby-programming/lessons/data-structures-and-algorithms

I recently finished the Binary Search Tree project in Ruby, and I have a number of suggestions I wanted to put out there, in case they’re helpful.

Step 3. I wonder if it could be more explicit that making a balanced tree with the `build_tree` method is possible because the array it builds from

[2020-06-08 04:12] marvingay commented on #17831
Resolved in #17833
Closing.

[2020-06-08 04:12] #17831 closed

[2020-06-08 16:20] #17756 closed

[2020-06-08 16:22] marvingay commented on #17882
Fixed in -> #17970

[2020-06-08 16:22] #17882 closed

[2020-06-08 16:31] marvingay commented on #17756
#17973

[2020-06-08 16:54] marvingay commented on #11148
Fix was merged as noted.

Closing.

[2020-06-08 16:54] #11148 closed

[2020-06-08 20:27] CouchofTomato opened #17979 "Chore: Update Rails basic forms lessons to use form_with"
Lesson: https://www.theodinproject.com/courses/ruby-on-rails/lessons/form-basics

**Description**

The current Rails lesson on forms uses the soft-deprecated form_url and form_with helpers rather than the current form_with. The new Rails tutorial will use form_with so this lesson now needs to be updated.

[2020-06-08 22:38] andrewjh271 opened #17983 "Broken Link in Introduction to RSpec"
Lesson: https://www.theodinproject.com/courses/ruby-programming/lessons/introduction-to-rspec

Under Additional Resources, the RSpec Cheat Sheet link fails to load.

[2020-06-09 12:28] Skywalker1074 opened #17994 "Broken Link In Javascript Fundamentals Part 1"
Under additional resources. This is the lesson https://www.theodinproject.com/courses/web-development-101/lessons/fundamentals-part-1?ref=lnav

[2020-06-09 12:36] bycdiaz commented on #17994
It looks like the article was moved to this link:

https://medium.com/hackernoon/why-you-shouldnt-use-var-anymore-f109a58b9b70

[2020-06-09 15:36] jordanperkins98 commented on #17994
Ill do this one

[2020-06-09 16:10] #17994 closed

[2020-06-11 05:07] niyorich opened #18041 "Can't edit the html_css file to submit my solution"
I am trying to submit but when I get to the repo https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/the_front_end/project_html_css.md it says "View raw
(Sorry about that, but we can’t show files that are this big right now.)".
I am stuck and can't edit the file. Help please.

[2020-06-11 15:53] marvingay commented on #18041
This issue was resolved by reducing the file size via deletion of solutions.
Closing.

[2020-06-11 15:53] #18041 closed

[2020-06-12 14:53] Lucas-Bide opened #18084 "Broken assignment link in Rails > Advanced Forms"
It's the [blog post assignment](https://www.createdbypete.com/articles/working-with-nested-forms-and-a-many-to-many-association-in-rails-4) on this [Odin page](https://www.theodinproject.com/courses/ruby-on-rails/lessons/advanced-forms). The site has 404 error.

[2020-06-15 21:59] JoeDGit opened #18174 "Code blocks not displaying as intended in introduction to rspec section"
**Current:**

![codeblocks](https://user-images.githubusercontent.com/62481990/84710232-b4e4ce00-af5b-11ea-89bc-f17bd7b63952.jpg)

**Intended:**
![intended](https://user-images.githubusercontent.com/62481990/84710518-42282280-af5c-11ea-83cf-2c64d7aa969c.jpg)

`https://www.theodinproject.com/courses/ruby-programming/lessons/introduction-to-rspec?ref=lnav`

[2020-06-15 23:30] #18174 closed

[2020-06-16 13:53] #18084 closed

[2020-06-16 18:22] Kfollen93 commented on #17458
Any update on this? Fensus hasn't been seen in a while, it might be proactive to have this updated in the meantime. Based on the Discord chat it appears that a lot of us are either currently on this lesson, or about to start (with a few people having completed it already). I don't feel comfortable updating specifics of this lesson myself, as I'm just now starting it. However, if I can help in anot

[2020-06-16 18:26] marvingay commented on #17458
@Kfollen93 We'll follow up on this. As always, don't hesitate to ask in Discord if you need assistance.

[2020-06-16 18:29] marvingay commented on #17458
#17956 is related.

[2020-06-16 19:43] rlmoser99 commented on #17458
I'll take a look at the other chore and see what I can do & hopefully complete both of them ASAP.

[2020-06-16 21:02] rlmoser99 commented on #17956
Since I am working on the other chore for this lesson, I'll tackle this one too... I have a few questions.

I did not find step 3 confusing, but I can try to clarify it. However, I am confused by @andrewjh271 statement "I also feel it could be worth clarifying that in the situation where you’re inserting one value at a time, a sorted array would produce the worst case scenario of a linked-list."

[2020-06-16 22:22] andrewjh271 commented on #17956
Awesome, thanks for working on this.

All the resources on trees up to this point in the curriculum talk about inserting a node one at a time, including Additional Resources. (I think — I double checked this at one point). Just in the last week I’ve seen multiple people on Discord asking questions about this, assuming they’re inserting one Node at a time. I feel it could be useful being very expli

[2020-06-16 22:38] rlmoser99 commented on #17956
Thanks for your input! I am just now looking at all the resources again in the previous lesson about BST and honestly, I am thinking that a few of the resources need to be re-evaluated. But, I am trying to read/watch them all before I propose any changes.

I have found a decent resource about how to build a balanced binary tree, but I am nearly positive that when I went through this lesson that I

[2020-06-16 23:34] rlmoser99 commented on #17956
LOL! The video that I think I was remembering was actually from the Harvard's CS50 video on bubble_sort. However, in doing all the digging through my browser history, I am fairly certain that I learned the algorithm for the build_tree method from doing the binary search section from the Khan Academy Link which is the first additional resource of this page: https://www.theodinproject.com/courses/ru

[2020-06-17 09:41] krys2fa commented on #17979
Hi @CouchofTomato, I would like to give this a try.

[2020-06-17 13:20] CouchofTomato commented on #17979
@krys2fa All yours mate. The lesson should still touch on form_for and url_for since they will still be seen in the wild but otherwise I'll leave the rest to your creativity.

There isn't a strict deadline but I'm currently writing a new Rails project to follow along with through the Rails curriculum and this ideally needs to be live before then. Possibly 3 - 4 weeks out.

[2020-06-18 00:44] Tenacious-Qi commented on #17956
Hello all! I'd like to suggest changing #depth (Step 8) to #height. As I learned from this [video](https://www.youtube.com/watch?v=_pnqMz5nrRs) height and depth are often confused. The way Step 8 defines #depth would return the equivalent of how the video defines height.

Video defines height as "number of edges in longest path from the node to a leaf node"
--This is equivalent to how Step 8 defin

[2020-06-18 03:17] andrewjh271 commented on #17956
@rlmoser99 I see what you mean about the tree stuff coming right before the linked list. I didn't do the Khan Academy section you mentioned — you're saying you applied what they said about doing a binary search to the build_tree method, not that they directly went over that, right? That could definitely be a good clue.

The video about building a tree looks useful. Maybe even a positive that it's

[2020-06-18 19:14] krys2fa commented on #17979
Hi @CouchofTomato, I have made some few additions and will put in a pull request for a review.
Please let me know how I can improve on this. Thanks.

[2020-06-19 02:34] Tenacious-Qi commented on #17956
@andrewjh271 Good to have confirmation. I'll do a PR sometime soon.

[2020-06-19 12:06] aaron-contreras opened #18314 "Ruby track - Link spans off the viewport"
Intermediate Ruby - [**Project: Event Manager**](https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager) - Iteration 3.

The link to the API spans off the screen, while everything else is nicely centered throughout the lesson and curriculum.

![Screen Shot 2020-06-19 at 7 01 49 AM](https://user-images.githubusercontent.com/61627014/85130858-50e03500-b1fb-11ea-8f17-cb6c469028

[2020-06-22 20:28] ultrawide commented on #10253
I went through the 'Testing Routes and Controllers" for the first time as a student [here](https://www.theodinproject.com/courses/nodejs/lessons/testing-routes-and-controllers)

It looks like running the code snippet below errors out when issuing the command 'node <test file>'. Can someone take a look and let me know if I'm missing anything?

Error:

Code:
`test("index route works", done => {
  re

[2020-06-23 09:34] krys2fa commented on #18314
Hi @aaron-contreras,

I would like to work on this.

Regards,
Chris.

[2020-06-23 15:15] remiborfigat opened #18444 "Testing Your Ruby Code warm-up suggestions"
Hi everyone,

I just completed the [Testing Your Ruby Code](https://www.theodinproject.com/courses/ruby-programming/lessons/testing-your-ruby-code) assignments and I’d like to share some thoughts while it’s still fresh in my mind.

The first assignment (i.e. warm-up) could be improved by replacing the Tic Tac Toe testing part by writing tests for the three other similar Caesar Cipher projects: [Su

[2020-06-25 09:40] ChargrilledChook opened #18528 "Pseudo code in ruby problem solving lesson is formatted poorly"
The pseudo code examples in this lesson appear as blocks of text on the website and are hard to read eg

![odin-site-pcode1](https://user-images.githubusercontent.com/58506115/85695022-fffc9f00-b71a-11ea-83d0-1524e092a5e5.png)

![odin-site-pcode2](https://user-images.githubusercontent.com/58506115/85695045-0428bc80-b71b-11ea-8f2f-fe971de0590a.png)
***
However the same examples look good on the git

[2020-06-28 01:34] bryanluu opened #18613 "Ruby testing should be learned before the BST lesson"
The BST lesson involves building a BST, a fairly complex structure with lots of potential to frustrate newcomers (like me) during the build. The idea of testing is to provide some feedback that the code is being built correct or the functions are working as intended. Thus, testing would be a very useful concept to learn _before_ building the BST and doing DFS for the Knight's challenge. Otherwise,

[2020-07-01 11:05] jmnyarega opened #18725 "Ubuntu is not a Linux version, it is a Linux distribution"
Extracted from  curriculum/web_development_101/installations/installation_overview.md.

Extracted from web_development_101/installations/prerequisites.md

The quoted texts above imply that Ubuntu is a Linux version, it is a Linux distribution.

[2020-07-04 13:14] Lucas-Bide opened #18842 "Link needs correcting"
I'm pretty sure this [lesson's](https://www.theodinproject.com/courses/html-and-css/lessons/css3-basics) | [first assignment](https://learn.shayhowe.com/html-css/building-your-first-web-page/) should actually be [this page](https://learn.shayhowe.com/html-css/getting-to-know-css/). The "Build Your First Website" chapter was already linked to in a previous lesson, and the learning outcomes imply th

[2020-07-06 18:22] marvingay commented on #18842
@Lucas-Bide  I believe I previously stated that the link was correct (as it's not actually directly linked beforehand), however upon review it appears we jump through this resource in a non-linear fashion.

I'll correct this. Thank you for the contribution.

[2020-07-06 18:34] Lucas-Bide commented on #18842
Glad to help!

[2020-07-06 18:34] #18842 closed

[2020-07-06 18:57] redLocomotive opened #18910 "(minor issue) Firefox's 'reader view' misses entire sections on bootcamp site https://www.theodinproject.com/"
I initially posted this a as bug on firefox, and got this response: "I thought I'd add additional information. It seems to me, that it's not shown in reader mode, because a JavaScript event handler (i.e. Bootstrap's Scrollspy) is attached to the div of the Introduction section. If I remove the class from the element, it works as it should."

https://support.mozilla.org/en-US/questions/1293452

I d

[2020-07-08 17:26] #17458 closed

[2020-07-08 17:26] #17956 closed

[2020-07-09 13:39] rlmoser99 commented on #18444
Writing tests for the Tic-Tac-Toe game is not to practice TDD, because Test Driven Development is when you write tests before you write the code. However, before one can tackle doing TDD with a new project, like Connect Four, you need to learn how to write tests for a project like Tic-Tac-Toe.

Writing tests for Tic-Tac-Toe gives students the opportunity to learn how to use mocks/doubles to isolat

[2020-07-09 17:58] zachmmeyer opened #19019 "Joshua Kemp's Link on Gearing Up doesn't work anymore"
https://github.com/TheOdinProject/curriculum/edit/master/web_development_101/the_basics/gearing_up.md
http://joshuakemp.blogspot.co.uk/2013/11/how-blacksmith-learned-to-code-and-9.html

He redirects away from that site. You can still get to it if you stop the page loading.
I am going to bug him on twitter to see if he'll allow access to that blog post or not.

[2020-07-09 22:49] marvingay commented on #19019
Will allow a week turnover before closing the issue.

[2020-07-10 17:21] adam-goodrich commented on #18725
I got this one!

[2020-07-10 18:19] #18725 closed

[2020-07-13 17:54] #18444 closed

[2020-07-16 01:39] Myvaleur opened #19213 "Google_Homepage (Easy)"
`https://myvaleur.github.io/google-homepage/

[2020-07-18 18:05] D3SL opened #19295 "OS market share among developers"
Even when focusing solely on developers I haven't seen data to support the claim most use macs. Going by the Stackoverflow Developer Survey 45% use windows as their platform, 29% MacOS, and 25% Linux. Objectively that's not a majority, windows has a clear lead with a plurality of 45% and MacOS is nearly tied for second place with Linux.

Outside of the development world MacOS has a single digit ma

[2020-07-18 18:12] marvingay commented on #19295
@D3SL
Unix-based systems hold the majority, based on the numbers provided.

A large part of Windows marketshare in Software Engineering/Development is a derivative of .NET and the C languages.

Was there a particular lesson you were referring to?

[2020-07-19 07:41] D3SL commented on #19295
Web Development 101 - Installations - Installation overview. The current lesson text is:

```If you’re using a Mac, you’re in great shape. Most professional developers rely on Macs for their coding. By installing just a few programs, you will be up and running with your education in no time!```

[2020-07-21 13:56] HristovCodes commented on #16011
Double that. The course has thought me how to gather information and learn on my own but that doesn't mean it shouldn't have a section on designing. We are just told to experiment pretty much.

[2020-07-22 04:01] dm-murphy commented on #18528
@marvingay I noticed this issue after fixing the backticks for this page. I can change this as well if that's alright. I think separating each pseudo code line onto its own line might be sufficient and more readable. That way it also keeps it distinguished from the full code blocks.

[2020-07-22 05:20] marvingay commented on #18528
@dm-murphy  Go for it.

[2020-07-23 10:52] gitdxb commented on #19213
@Myvaleur Hi there! I believe you want to submit your solution, you can check this link out to learn how to do it: https://github.com/TheOdinProject/curriculum/blob/master/contributing.md

Good luck!

[2020-07-25 16:43] bycdiaz commented on #19295
Perhaps the statement can be changed to:

Most professional developers rely on Unix-based systems for their coding.

[2020-07-25 16:44] bycdiaz commented on #19213
Thanks @gitdxb.

@Myvaleur, if you have questions feel free to ask in our forums or discord server.

[2020-07-25 16:44] #19213 closed

[2020-07-26 14:39] nguyenjessev opened #19544 "Basic Enumerable Methods lesson references future lesson (RoR track, Ruby Programming course)"
In "8. Basic Enumerable Methods" in the RoR track, in the "Bang Methods" section the text says `As you’ll recall from the Methods lesson ...`

The Methods lesson does not come until 2 lessons later.

![image](https://user-images.githubusercontent.com/67484662/88481907-2127f980-cf2c-11ea-83f1-9a3f51d7a384.png)

![image](https://user-images.githubusercontent.com/67484662/88481921-31d86f80-cf2c-11ea-

[2020-07-26 14:46] nguyenjessev opened #19545 "Clarification of variable reassignment vs. object modification may be needed (Variables lesson, Ruby Programming course)"
In the "Variables are References" section of the Variables lesson in the Ruby Programming course, an example is given of a variable being assigned to a string and a second variable assigned to the first variable.

A bang method is used to modify the object that the first variable is pointing to, and then it is shown that the second variable's value also changes.

However, at this point in the cour

[2020-07-26 21:15] AJMcDee opened #19555 "Broken link"
react-introduction.md has a broken link (the 30 Days of React link).

I have just started something similar which is also free and can recommend it as a replacement, though I've only just begun it it does involve active coding and was recommended to me on the TOP Discord: https://scrimba.com/course/glearnreact/

[2020-07-26 21:33] marvingay commented on #19555
@AJMcDee  Interested in making a pull request for it?

That entire section will be removed/overhauled/updated soon.

[2020-07-26 22:10] AJMcDee commented on #19555
Sure! I can do it tomorrow just assign it to me. Whats being overhauled
about that section, out of interest?

On Sun, 26 Jul. 2020, 23:33 Marvin Gay, <notifications@github.com> wrote:

[2020-07-26 22:42] marvingay commented on #19555
@AJMcDee We are only going to cover React. The lessons will be in the same format as the rest of TOP, with a couple of informational lessons followed by a project. The pull request is open, if you're curious to see what's in it. A student has already completed it so I will be revising/editing it accordingly.

[2020-07-26 22:44] AJMcDee commented on #19555
Nice, I'll definitely take a look! This is "React Week" for me so it's good
timing.

On Mon, 27 Jul. 2020, 00:42 Marvin Gay, <notifications@github.com> wrote:

[2020-07-27 16:52] #19555 closed

[2020-07-27 21:06] dm-murphy commented on #18528
@marvingay @ChargrilledChook

I believe I have resolved this issue. The 3 backticks for the pseudo code blocks were replaced with 3 tildes and that separated the lines. I have also submitted the same fix to the JavaScript Problem Solving page along with the rest of this page's editorial fixes so once that PR is merged the pseudo code blocks should have line spacing on both pages.

It should be not

[2020-07-28 04:28] marvingay commented on #18528
Will follow up on what the page looks like now that it's merged.

[2020-07-28 08:16] ghost opened #19611 "[RoR] Blog App project can’t be carried out with latest 5.2x Rails stable release"
Following through the [tutorial](http://tutorials.jumpstartlab.com/projects/blogger.html) for the Blog App, I got the following error when running `bin/rails console`:

[code]
It looks like to be an issue with bootsnap but I can’t understand what exactly. I didn’t encounter problems on my system when going through My First Rails App.

OS: Parabola GNU+Linux
Ruby: 2.7.1
Rails: 5.2.4.3

[2020-07-28 17:29] marvingay commented on #18528
@dm-murphy  THe text color is quite trivial. I am in agreement in terms of it not affecting the readability, as it is in a code block regardless.

Thanks again for your contribution.

[2020-07-28 17:29] #18528 closed

[2020-07-28 17:31] marvingay commented on #19019
@zachmmeyer Did he ever respond to you regarding this issue?

[2020-07-28 18:03] zachmmeyer commented on #19019
@marvingay no. He's currently MIA from the internet.

[2020-07-30 11:27] Northrain-cmd commented on #18314
Can I help? It's been a while

[2020-08-01 16:37] #19019 closed

[2020-08-02 06:04] lhuang61 opened #19764 "'Javascript: Webpack 2' Core Concepts Lessons at Webpack Academy Questionable Quality"
In the 'Webpack 2' lesson, I find the “Core Concepts lessons at Webpack Academy" very questionable in quality. The loader and plugin videos were just examples without proper explanation of the underlying concepts. It is highly unlikely someone without prior knowledge of loaders and plugins would be able to follow the videos (as was my case).

[2020-08-02 19:07] marvingay commented on #18314
Verified that this fix is reflected on the website.
@Northrain-cmd  Thanks again.

[2020-08-02 19:07] #18314 closed

[2020-08-02 19:14] marvingay commented on #19295
@bycdiaz  I agree with this.

The person who takes ownership of this issue should:
- [ ] Modify the Mac section of the [Web Development 101 - Installations Overview](https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/installations/installation_overview.md) lesson to be consistent with the suggestion commented above.

[2020-08-02 19:17] aaron-contreras commented on #19295
I'll take this

[2020-08-02 19:17] lukastan93 commented on #19295
I'll take care of it

[2020-08-02 19:19] marvingay commented on #19295
@aaron-contreras  Assigned.

[2020-08-02 19:20] marvingay commented on #19295
@lukastan93  Thank you for reaching out. Keep eyes on our discord community for other opportunities.

[2020-08-02 19:25] #19295 closed

[2020-08-02 19:25] jatin2003 commented on #19295
Whoa! That was fast & I'm looking forward to contributing in the future!

[2020-08-02 20:11] marvingay commented on #19544
Thank you for reporting this.

I read through both Methods and Basic Enumerable Methods and just reaffirming that "Methods" should be before the "Basic Enumerable Methods".

Re-arranging the lessons will take place at https://github.com/TheOdinProject/theodinproject/issues/1259

This issue will be used to add expository information to the introduction of the [Basic Enumerable Methods](https://gith

[2020-08-02 20:23] lukastan93 commented on #19544
I'll take this one

[2020-08-02 20:24] marvingay commented on #19544
@lukastan93  Thank you. If you have questions, do not hesitate to ask here or in our Discord community.

[2020-08-02 21:12] #19544 closed

[2020-08-04 23:57] Drew-Goddyn commented on #19545
@nguyenjessev thanks for the suggestion. Sometimes its hard to explain concepts when you're familiar with them for so long. Do you have any suggestions or maybe an example of how it can be rewritten?

Feel free to open a pull request with ideas you have. Even if they aren't merged it it's still a good way to document feedback!

[2020-08-12 13:35] lopezaxel opened #20090 "Apidock.com is down"
In the [Form Basics](https://www.theodinproject.com/courses/ruby-on-rails/lessons/form-basics#assignment) exercise and in the assignment point 5 they send you to read the Rails [Apidock](https://apidock.com/rails/ActionView/Helpers/FormHelper/form_with) but the page doesn't load, I researched and it seems the page is down since many days. Reddit [post](https://www.reddit.com/r/ruby/comments/i79vri

[2020-08-13 11:25] #20090 closed

[2020-08-13 11:26] lopezaxel commented on #20090
Apidock.com is works now.

[2020-08-13 22:49] Myvaleur opened #20151 "google_homepage_myvaleur"
<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;
        }

        header {
          width: 100%;
        }

        ul {
          list-style: none;
        }

/* NAV BAR */
        #nav_bar {
          float: right;
        }

        #nav_bar li {
          display: inline-block;
          paddin

[2020-08-13 23:17] marvingay commented on #20151
Solution submissions require you to submit a Pull Request, not an issue. Refer back to the lesson to see how.

[2020-08-13 23:17] #20151 closed

[2020-08-14 04:29] HristovCodes commented on #16011
I can start working on flexbox, grid, positioning if no one has done them yet. I don't see any assignees and the issue is not closed so I guess it still needs to be worked on.

[2020-08-14 17:46] ExpressHermes commented on #13764
Is @mKawi still working on this or can I take this issue?

[2020-08-14 18:39] I3uckwheat commented on #13764
@ExpressHermes I will assign it to you

[2020-08-15 02:12] gualygaete commented on #14554
I would like to try it out

[2020-08-15 11:50] ExpressHermes commented on #13764
@marvingay wouldn't be better to add website like [awwwards](https://www.awwwards.com/awwwards/collections/freelance-portfolio/) and [this](https://m.webdesign-inspiration.com/web-designs/type/portfolio) as they have whole section dedicated to portfolios. It would also avoid future dead links.

[2020-08-16 15:03] Sal-theSadmanShark opened #20224 "Suggestion : add tests for "Basic Ruby Projects" section of the ruby course"
**Ruby Programming** course has the  "Testing Ruby With Rspec" section later in the course but students have to complete two other project oriented sections to reach it . Web Dev 101's js section had projects with built in test cases and TDD was advised early on . The suggested practise sites ( exercism , codewars , hackerrank) also has test driven exercises . So the exclusion of testing functiona

[2020-08-20 17:43] I3uckwheat opened #20381 "Clarify calculator directions"
![image](https://user-images.githubusercontent.com/4411701/90806324-1584e400-e2da-11ea-8a02-3997e171940e.png)
In the image above, it almost encourages implementing PEMDAS, this should be removed, or edited to discourage it. PEMDAS is a much harder problem at this stage.

The calculator example is not accurate to the behavior of what we expect. Find a calculator that works like a very basic calcula

[2020-08-20 18:05] adam-goodrich commented on #20381
I got this issue

[2020-08-20 18:16] I3uckwheat commented on #20381
@adam-goodrich Thank you! Be sure to reference this issue in your PR :)

[2020-08-20 20:18] #20381 closed

[2020-08-20 22:47] I3uckwheat commented on #14554
@gualygaete Great! I'll assign it to you!

[2020-08-21 19:42] GraceSchwar opened #20416 "Sugesstion to move Problem Solving to WebDev101"
 
-not everyone comes from a background where they have had to do much problem solving
-pseudo code/the idea to write a plan even knowing to create ANY structured plan isn't obvious to everyone at first. We instinctively look at the bigger picture and just go for it
 
 
-When i was getting help, pseudo code was mentioned to me, and it blew my mind, and helped things make a lot of sense. Before tha

[2020-08-23 16:37] nguyenjessev opened #20466 "Fix wording of "depth" method in Binary Search Trees project"
Step 9 in the BST project instructs the learner to write a `depth` method that "accepts a node and returns the depth(number of levels) **beneath** the node." (emphasis mine)

Node depth in a binary search tree is commonly understood to be the number of levels **above** a node, or in other words, the number of edges between the given node and the root node of the tree.

I think the wording on this

[2020-08-23 23:38] #20466 closed

[2020-08-24 09:55] SubliminalGuy commented on #16011
Hey! Regarding flexbox and grid, i think the _Additional Resources_ section in _HTML and CSS Basics_ could include links to the awesome free Scrimba videos: https://scrimba.com/course/gflexbox/enrolled and https://scrimba.com/course/gR8PTE/enrolled . They helped me a lot. I could edit the .md file if that is regarded helpful ...

[2020-08-26 01:45] #20416 closed

[2020-09-09 04:39] #13764 closed

[2020-09-09 16:19] nearmint commented on #18910
I have checked the 'curriculum' repo locally, and it seems in this repo only the text content (.md files) are defined. All the other things happen in the 'theodinproject' repo, so I believe this issue might need to be moved there: https://github.com/TheOdinProject/theodinproject/issues

I have also tried to find the place in the theodinproject repo to do something about the issue, but I was unable

[2020-09-09 22:58] josiahmokob0 opened #21006 "Single Responsibility Principle wording"
I don't much about these principles, but I think the wording could be better. There is another school of thought that states the principle as `A given method/class/component should have a single reason to change`. This definition appeals to me because have only one reason to change means the class/component/method or class, well does one thing. I can easily relate the second definition to most of

[2020-09-11 04:12] dm-murphy commented on #21006
I believe this is the page you are referring to: https://www.theodinproject.com/courses/javascript/lessons/oop-principles

The wording in this section and in a few other parts of the page does sound confusing. It also seems to be written in a different syntax than many of the other curriculum pages. The page is also missing the Assignment section formatting and the Sandi Metz book might go well in

[2020-09-11 04:40] dm-murphy commented on #19545
@nguyenjessev @Drew-Goddyn

This section tripped me up the first time I went through it. So I looked it up and read more on bang methods and also think one of the article resources on the page makes mention of bangs too. But I took away the wrong lesson by focusing on the bang itself. I failed to understand that the variable, `johns_location`, was pointing to the same object as `desired_location`

[2020-09-12 08:51] jmnyarega commented on #21006
Sounds good

[2020-09-13 21:52] I3uckwheat opened #21121 "Missing note or installations with a Chromebook."
https://github.com/TheOdinProject/curriculum/edit/master/web_development_101/installations/installation_overview.md

Currently we do not support Chromebooks officially, the user is responsible for getting Ubuntu to run on it themselves. We should add a note that explicitly states this, or add some links/directions on how to get Ubuntu on a Chromebook properly.

If you choose to go the linked direc

[2020-09-13 22:10] xandora commented on #21121
Starting off, we can immediately eliminate any user that does not have a device on the [supported devices list](https://sites.google.com/a/chromium.org/dev/chromium-os/chrome-os-systems-supporting-linux). Additionally any Chromebook device released in 2019 will support the Linux Beta.

[2020-09-15 21:21] xandora commented on #21121
I ended up spending the better part of a day trying to get the Linux Beta working on a spare laptop that has CloudReady installed on it without any luck.

We might need someone with a officially supported Chromebook to volunteer as tribute.

[2020-09-17 04:21] xandora commented on #21121
Perhaps we can use https://flathub.org ?

[2020-09-17 13:17] mangonaise opened #21228 "Suggestion: Warn against uTorrent during virtual machine installation process"
Apologies if this is not the correct place to suggest this. I'm just starting the course and not knowledgeable enough about git/github to create a pull request for this issue yet.

At the beginning of the Odin introductory course it is recommended for Windows users to create a virtual machine using Xubuntu. On the Xubuntu page it is recommended to use a torrent to download the .iso file.

It is po

[2020-09-17 16:01] marvingay commented on #21228
We provide a direct download to the `.iso` file from a mirror in the "Prerequisites" lesson.

Was there a place where we link to the Xubuntu page itself?

[2020-09-17 16:42] mangonaise commented on #21228
Huh, weird. I remember going onto the Xubuntu page for some reason. I must have just searched for it myself.

Well, issue closed haha.

[2020-09-17 16:42] #21228 closed

[2020-09-18 02:01] I3uckwheat commented on #21121
What does this solve?

[2020-09-18 02:23] xandora commented on #21121
@I3uckwheat sorry was just jotting my thoughts down quickly. It's a way to install prepackaged Linux software on a Chromebook using Flatpack style installers.

[2020-09-18 09:12] xandora commented on #21121
Okay, so I rolled back to CloudReady 80.3 and was able to correctly enable the Linux Beta. I'll be able to further work on the required prerequisite steps now.

[2020-09-19 23:56] rlmoser99 commented on #19545
This issue was resolved in PR #21265

[2020-09-19 23:56] #19545 closed

[2020-09-21 21:04] I3uckwheat commented on #21121
@xandora Awesome, if this is viable, it will be a very cheap solution to help a lot of people with.

You tested a Rails install, yes? You can find it here:  https://www.theodinproject.com/courses/ruby-on-rails/lessons/your-first-rails-application-ruby-on-rails

Also Node + NVM: https://github.com/TheOdinProject/curriculum/blob/master/web_development_101/installations/installing_node.md

[2020-09-22 14:15] nmccooey opened #21379 "Broken link - 500 Internal Server Error"
https://github.com/TheOdinProject/curriculum/blob/master/javascript/organizing-js/oop-concepts.md

In Assignments number 2 "5 Principles that will make you a SOLID JavaScript Developer" - the link leads to a 500 Internal Server Error.

[2020-09-22 16:50] sidd-oo commented on #21379
It is working fine for me.

[2020-09-23 11:41] #21379 closed

[2020-09-23 13:27] #21006 closed

[2020-09-26 03:39] leavemydogalone opened #21506 "A section on React app testing"
With the addition of the new React specific section, I feel it would be a good idea to include how to test React Apps as the information out there is fairly limited. A lot of the info from youtube and articles use the Enzyme testing library, and now the React team says to just use the React testing library

[2020-09-28 06:20] timkellytk commented on #16011
Hey @I3uckwheat, I'd be very interested in helping you re-write the HTML and CSS course. I have never contributed to an open-source project and I would love to get started.

How do I get involved?

P.S. One easy win would be to remove this project from the curriculum -> [https://www.theodinproject.com/courses/html-and-css/lessons/design-your-own-grid-based-framework](https://www.theodinproject.com

[2020-09-28 10:25] clormor opened #21568 "Exhaustive dependency check fails on useEffect() example"
The [useEffect code sample](https://github.com/TheOdinProject/curriculum/blob/master/javascript/react-js/hooks.md#useeffect) throws an error in React (tested using 16.13.1) because of the exhaustive dependency check:

[code]

The `changeColorOnClick` should either be memoized or placed in the `useEffect` hook. Since it's not needed elsewhere, and the use of `useCallback` could add confusion to thi

[2020-09-28 13:11] I3uckwheat commented on #16011
@timkellytk

That project is less about the grid, and more about learning how to organize CSS, it's important to remember that the end product isn't always the goal of a lesson.

There's a lot that needs to be done and we need someone experienced with HTML and CSS to lead this, but a good start would be to come up with concepts that are important to HTML and CSS.

[2020-09-28 13:25] aaron-contreras opened #21572 "(WD101) Code block not properly formatted"
Bullet point #5 on the **Assignment** is not properly formatted as a code block.
Lesson: https://www.theodinproject.com/courses/web-development-101/lessons/rock-paper-scissors?ref=lnav#assignment

[2020-09-28 13:28] aaron-contreras commented on #21572
I'll take care of this one.

[2020-09-28 22:16] marvingay commented on #21572
Resolved in #21588

[2020-09-28 22:16] #21572 closed

[2020-09-29 21:38] #21568 closed

[2020-09-30 05:12] timkellytk commented on #16011
@I3uckwheat thanks for letting me know, that all makes complete sense. I'll keep grinding through the curriculum and come back when I've got enough experience.

[2020-10-01 22:53] nyd3lig commented on #16074
So I decided to build upon this, and list the lessons that has learning outcomes and knowledge checks, and the ones that dont.
I'm pretty new to this whole contribution thing so the format might be super messy, Added some comments etc on sections.

I listed learning outcomes at the top
and knowledge checks at the bottom

x means it doesn't have it.

Some I have written if they don't have it, this

[2020-10-02 22:40] xandora commented on #21121
Whoops, I swear I sent this reply over a week ago. Yes, I tested the installation instructions for NVM and Node, and rbenv and Rails. They all installed correctly.

Anyway, this was added in PR #21651 .

[2020-10-02 22:40] #21121 closed

[2020-10-06 13:12] nanoproductions opened #21753 "Working on Rewrite of React Section in JavaScript"
I am working on rewriting the React section of JavaScript with more context skills and building upon the foundations of each previous lesson with more mini-projects along the way to make the section more practical for anyone who goes through it.

If anyone has suggestions, drop them here and I will look into them.

[2020-10-06 13:16] #21753 closed

[2020-10-06 21:45] KevinMulhern commented on #20224
This is being worked on in this repo: https://github.com/TheOdinProject/ruby-exercises

[2020-10-06 21:46] KevinMulhern commented on #16011
This is being planned, closing.

[2020-10-06 21:46] #16011 closed

[2020-10-06 21:47] #5379 closed

[2020-10-06 21:48] #15994 closed

[2020-10-08 23:07] I3uckwheat commented on #12553
To follow up with @leosoaivan:

- [ ] https://github.com/TheOdinProject/curriculum/blob/master/javascript/finishing-up/conclusion.md
  - Add "node" equivalent to Rails, or just mention "backend of your choice"

- [ ] https://github.com/TheOdinProject/curriculum/blob/master/javascript/finishing-up/project_final_js.md
  - Add "node" equivalent to Rails, or just mention "backend of your choice"
  - A

[2020-10-08 23:13] I3uckwheat commented on #12553
Closing and breaking into individual issues

[2020-10-08 23:13] #12553 closed

[2020-10-08 23:15] I3uckwheat opened #21774 "Javascript conclusion mentions Rails but is missing Node"
Page: https://github.com/TheOdinProject/curriculum/blob/master/javascript/finishing-up/conclusion.md

Solution:
a. Rewrite section to accommodate both Node and Rails
b. Rewrite section to mention "back-end of your choice" instead.

Sentences must be complete, with good English.

[2020-10-08 23:17] I3uckwheat opened #21775 "Javascript final project mentions only Rails"
Page :https://github.com/TheOdinProject/curriculum/blob/master/javascript/finishing-up/project_final_js.md

Solution:
a. Rewrite section to accommodate both Node and Rails
a.1 Add additional resources for Node

b. Rewrite section to mention "back-end of your choice" instead.
b.1 Add additional resources for Node

Sentences must be complete, with good English.

[2020-10-10 16:26] The-sad-philosopher commented on #21774
I'm quite new to this community and I just found this issue through discord, can I have a go at this?

[2020-10-13 04:15] #21774 closed

[2020-10-13 04:17] #21775 closed

[2020-10-14 01:46] ZachBaird opened #21797 "Empty Additional Resources section on Rails Basics Views lesson"
**Problem:**
At the lesson [here](https://www.theodinproject.com/courses/ruby-on-rails/lessons/views), there is an Additional Resources section that has no content.

**Acceptance Criteria:**
Find some additional, useful content that explore the basics of Rails views further. Submit a pull request to the `curriculum` repository with these new resources.

Alternatively, we can compile a list of stuf

[2020-10-14 16:27] nhleto commented on #21797
I can dig into that. I recently watched some YouTube videos on views recently.

[2020-10-15 00:52] ZachBaird commented on #21797
Cool @nhleto ! Shall I assign this to you?

[2020-10-15 14:43] ZachBaird commented on #21797
@nhleto has addressed this in PR #21799 .

[2020-10-15 14:44] #21797 closed

[2020-10-18 17:34] KevinMulhern opened #21806 "Add Content About each of the Path Choices in Web Dev 101 Conclusion Lesson"
### Problem
Users often come into chat asking the same questions about which path to take.

### Solution
While this a problem is likely to stick around we can mitigate it a great deal by providing details about the different paths we provide to help with their decision making process.

### Acceptance Criteria
1. Go to the [conclusion lesson of Web Dev 101](https://www.theodinproject.com/courses/we

[2020-10-18 21:00] I3uckwheat commented on #21806
@KevinMulhern I think we need to remove number 3 from that. We are going to remove the frontend only path

[2020-10-18 21:04] I3uckwheat commented on #21806
I can also take this on

[2020-10-18 21:54] KevinMulhern commented on #21806
No worries @I3uckwheat, I just wanted to include it incase this went out before the frontend path was removed :)

[2020-10-18 22:11] rlmoser99 commented on #18613
Thank you for taking the time to submit this issue. We will be moving the Ruby testing section before the Computer Science section in the future. This move will take place after some revisions in the testing section.

[2020-10-18 22:11] #18613 closed

[2020-10-19 14:11] I3uckwheat commented on #14554
@gualygaete Any progress on this?

[2020-10-19 14:24] I3uckwheat opened #21809 "Github PR templates"
Now that we have released the student submission feature (Thanks Kevin!!!), we should remove the old template for PRs and replace it with something that helps the maintainers understand *what* has changed, *why* it was changed, and what issues it closes (if any), as well as some screenshots. This will help facilitate faster PR reviews for most PRs.

[2020-10-19 22:00] I3uckwheat commented on #21806
@KevinMulhern I'll be working on this as soon as frontend only path is removed

[2020-10-21 15:23] aaron-contreras opened #21819 "Formatting -> Additional resources section"
From the ["Views"](https://www.theodinproject.com/courses/ruby-on-rails/lessons/viewshttps://www.theodinproject.com/courses/ruby-on-rails/lessons/views) lesson on the rails section, the resources are not formatted as individual bullet points.
<img width="909" alt="Screen Shot 2020-10-21 at 10 23 00 AM" src="https://user-images.githubusercontent.com/61627014/96741466-6de26b80-1387-11eb-906f-e4f40f7

[2020-10-21 15:23] aaron-contreras commented on #21819
I'll handle this one.

[2020-10-21 19:12] ryanford-dev commented on #21809
#21810 Should resolve this

[2020-10-21 19:12] #21809 closed

[2020-10-21 19:14] ryanford-dev commented on #14554
@I3uckwheat can we close this with #21812 ?

[2020-10-21 19:15] ryanford-dev commented on #17304
#21810 resolves this. Closing.

[2020-10-21 19:15] #17304 closed

[2020-10-21 21:03] #21819 closed

[2020-10-21 21:04] I3uckwheat commented on #14554
@ryanford-dev I think so, at least for now. We can re-evaluate later too. This will also be solved by the upcoming git course material.

[2020-10-21 21:04] #14554 closed

[2020-10-21 21:29] #21806 closed

[2020-10-23 04:26] cfwong opened #21828 "Broken link: this quick interview with Matt Jording"
Assignment in Introduction to the Back End, under Web Development 101.

[2020-10-23 12:28] medaminefh opened #21830 "Typos issue in the Problem solving lesson of the Web Development 101 course"
Typos changes
This is how originally look
![Screenshot from 2020-10-23 13-14-05](https://user-images.githubusercontent.com/37845480/97002683-382db600-1532-11eb-952c-4b12e03734ae.png)

there is a missing increment in line 3 of the pseudo-code

[2020-10-23 21:53] #21830 closed

[2020-10-23 21:56] I3uckwheat commented on #21828
@cfwong Could you please attach a link to the TOP page?

[2020-10-23 22:01] I3uckwheat commented on #21828
This has been fixed with #21825 however, this is a temporary fix, we need to replace the archive link.

Here is the link to the lesson @cfwong forgot to add: https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-the-back-end

[2020-10-26 01:01] Merrit opened #21836 "Minor typo in web_development_101"
curriculum/web_development_101/the_basics/how_this_course_will_work.md

[2020-10-26 14:40] siduck76 opened #21839 "dead link"
![image](https://user-images.githubusercontent.com/59060246/97186364-36c8eb80-17c7-11eb-9d0e-6f2e34707949.png)
the wired* link doesnt work

TOP page : https://www.theodinproject.com/courses/web-development-101/lessons/introduction-to-frameworks-web-development-101

[2020-10-26 22:23] twalton83 commented on #21839
If you don't want to make the PR, I can fix this up.

[2020-10-30 18:50] igorradovanov opened #21864 "Add Linux Journey as resource"
I think it would be a great addition to add a Linux Journey (https://linuxjourney.com/) as an additional resource for the COMMAND LINE BASICS section of the Odin Project curriculum (https://www.theodinproject.com/lessons/command-line-basics-web-development-101)

[2020-10-31 13:13] igorradovanov opened #21866 "Foundations Course - Improve lesson link doesn't work"
Improve lesson link for all classes in Foundations Course resolves to 404 Page Not Found.

For example https://github.com/TheOdinProject/curriculum/edit/master/web_development_101/git_basics/introduction_to_git.md

It looks like the **web_development_101** path needs to be switched to **foundations** in order to work again.

[2020-10-31 17:11] DoviMaj opened #21867 "view old submitions link dead"
view old submissions leads to 404 error page in all of the react projects pages.

[2020-10-31 22:06] dm-murphy opened #21869 "Additional Resources Thoughtbot exercise for Ruby's TDD page requires Rails and other gem installations not covered in TOP"
After a discussion about this problem on Discord it was recommended I file a new issue.

The current [Test Driven Development page](https://www.theodinproject.com/courses/ruby-programming/lessons/test-driven-development) in the Ruby track lists one Additional Resource, a link to [Thoughtbot](https://thoughtbot.com/upcase/testing) exercises. There is a basic [Fundamentals of TDD](https://thoughtbot

[2020-11-02 10:49] PatrickMayoMoran opened #21871 "Installing Ruby: confusing directions for installing Ruby extension - Ruby or ruby-rubocop?"
Hi,

In the first "extras" paragraph for the [Installing Ruby Lesson](https://github.com/TheOdinProject/curriculum/blob/master/ruby_programming/introduction/installing_ruby.md), it currently says to search and install the "Ruby" extension, but it then has (Rubocop) at the end in parentheses.

As someone taking the lesson, this was confusing to me. This was because when I search "Ruby" in VSCode, t

[2020-11-03 15:56] dswhite11 opened #21873 "Repl.it exercise needs clearer language -- Foundations Fundamentals Part 2"
Towards the end of the Foundations Fundamentals Part 2 lesson, there is a section labeled 'Practice.' In that section are 4 exercises that are all hosted on Repl.it.

Exercise 2 -- [linked here](https://repl.it/@I3uckwheat/enter-a-number#script.js) -- could use clearer language in the comments, which serve as instructions for the exercise.

On line 5 of the JavaScript, 'logs' should be changed to

[2020-11-03 22:54] marvingay commented on #21836
This is not a typo.

-> computer programming
-> web programming

[2020-11-03 22:54] #21836 closed

[2020-11-04 00:31] #21839 closed

[2020-11-04 18:59] rlmoser99 commented on #21871
Thank you for taking the time to submit this issue and bringing it to our attention. This reference to rubocop is not necessary at this point in the curriculum and will be removed.

[2020-11-04 18:59] #21871 closed

[2020-11-07 16:21] rlmoser99 commented on #21869
Thanks for taking the time to create this issue. As we discussed on Discord, I had the exact same problem using that Thoughtbot repo. The original link has multiple Thoughbot testing lessons, but I think the link should be either to the Fundamentals of TDD lessons (with your suggested warning) or to its most useful video. I only did the first half of those lessons, but I found the Red-Green-Refact

[2020-11-08 17:32] dm-murphy commented on #21869
Thanks @rlmoser99 I will submit a PR this week. I also agree with linking directly to the Fundamentals of TDD lesson page instead of their general testing page.

[2020-11-09 16:25] mauryneipris opened #21882 "Grammar fix needed in foundations/javascript_basics/fundamentals-1.md"
In the 'Variables' section of JavaScript basics in Fundamentals Part 1, there is a grammatical error.

 "This variable tutorial will explain you everything" should be "This variable tutorial will explain **to** you everything you need to know!".

[2020-11-09 20:23] CodeVeish opened #21883 "Typo in Command Line Basics Web Dev 101"
There's a typo in the basics of command line section that might cause some confusion when understanding tab autofill in terminal. The highlighted within the below screenshot should be a 'f' instead of a 'w' for  '/foundations/' autofill with tab key.

Marvin on Discord confirmed that this was an error when the track changed from 'Web Development 101' to 'Foundations'  and requested I open an issue

[2020-11-09 21:02] xandora commented on #21883
Thank you for taking the time to raise this issue.

If you'd like to give it a go, feel free to edit the lesson page here: https://github.com/TheOdinProject/curriculum/edit/master/foundations/installations/command_line_basics.md

Make the change

[2020-11-09 23:51] barrage125 commented on #21883
Hi all. I'm working on this now and will be submitting a PR shortly.

[2020-11-10 19:50] #21883 closed

[2020-11-10 19:52] I3uckwheat commented on #21882
@mauryneipris Hey! We're going to need more information. A link to the lesson is a MUST when posting an issue :)

[2020-11-10 19:52] #21882 closed

[2020-11-10 20:15] I3uckwheat commented on #21873
Fixed :)

[2020-11-10 20:15] #21873 closed

[2020-11-10 20:21] I3uckwheat commented on #21867
@DoviMaj Please give links to the pages.

[2020-11-10 20:21] I3uckwheat commented on #21866
@igorradovanov Please give a link to the lesson

[2020-11-10 20:32] DoviMaj commented on #21867
https://www.theodinproject.com/courses/javascript/lessons/shopping-chart
https://www.theodinproject.com/courses/javascript/lessons/memory-card
https://www.theodinproject.com/courses/javascript/lessons/cv-application

someone on the chat mentioned (i think Marvin) that there are no old submitions for those. but anyhow he said to leave the issue open to fix.

[2020-11-10 21:04] marvingay commented on #21867
@DoviMaj  We were able to discuss the future of the "old submissions" link in regards to the Project Submissions feature. In the near future, this link/feature will be removed altogether as it has served its intended purpose. As such, it's not practical to put in unnecessary effort.

Thanks for keeping this up for us! We're good to close now.

[2020-11-10 21:04] #21867 closed

[2020-11-10 23:09] #21869 closed

[2020-11-10 23:11] DoviMaj opened #21887 "missing assignment header in lesson"
here: https://www.theodinproject.com/courses/javascript/lessons/async-and-await

solved here https://github.com/TheOdinProject/curriculum/pull/21886?

[2020-11-10 23:35] #21866 closed

[2020-11-10 23:37] #21887 closed

[2020-11-10 23:42] I3uckwheat commented on #21864
I do not think we want this in TOP at that stage. At that stage one doesn't have to know much more than the things we outline.

I agree we could have a bit more, but this is way too much and will distract people from actually getting to the important parts of TOP, the code.

[2020-11-10 23:42] #21864 closed

[2020-11-11 00:03] ryodaeva opened #21889 "Another CSS showcase"
Hello all,

there is [Style Stage](https://stylestage.dev/) : a modern CSS showcase styled by community contributions.

That would be great to add it with CSS Garden ?

[2020-11-11 00:05] I3uckwheat commented on #21889
@ryodaeva Please add a link to the page with the issue, thanks!

[2020-11-11 00:42] I3uckwheat opened #21890 "Remove "Forum" references from the website and lessons."
We're shutting down the forum :( It's time.

Because we're doing this, we need to remove references to it throughout the site, for example, in the screenshot below:

![image](https://user-images.githubusercontent.com/4411701/98750718-81279c00-2373-11eb-8769-80942bcc86b0.png)

we'll also need to make sure we have removed all the content from the lessons that reference the forum. This is a good time

[2020-11-11 13:39] ryodaeva commented on #21889
This the page : https://github.com/TheOdinProject/curriculum/blob/master/foundations/the_front_end/project_html_css.md

[2020-11-11 17:29] ryodaeva opened #21894 "Link broken"
In this page [https://www.theodinproject.com/courses/getting-hired/lessons/what-companies-want](https://www.theodinproject.com/courses/getting-hired/lessons/what-companies-want) , the link [The Best Way to Hire Software Developers](http://insights.dice.com/2013/05/31/hiring-software-developers/) is no more alive.

Page in github : [https://github.com/TheOdinProject/curriculum/blob/master/getting_h

[2020-11-11 19:35] sher-s7 commented on #21894
It seems to be working fine for me

[2020-11-11 22:41] CouchofTomato commented on #21894
Thanks @ryodaeva

As @sher-s7 said the link seems to be working so I'm going to close this.

[2020-11-11 22:41] #21894 closed

[2020-11-12 07:02] ryodaeva commented on #21894
Sorry , this is due to my firewall.

[2020-11-12 16:34] leosoaivan opened #21899 "Remove reference to WSL in Foundations: Command Line Basics"
In the [Foundations: Command Line Basics](https://www.theodinproject.com/courses/foundations/lessons/command-line-basics-web-development-101) lesson, under the Assignment subsection, there is a warning to all WSL users.

Because we discourage the use of WSL in earlier sections, it is confusing and unnecessary to reference WSL at this point of the curriculum.

**Deliverables:**
- Remove text, from

[2020-11-12 16:35] leosoaivan opened #21900 "Remove paragraph addressing WSL Users in Foundations: Command Line Basics"
In the [Foundations: Command Line Basics](https://www.theodinproject.com/courses/foundations/lessons/command-line-basics-web-development-101) lesson, under the Assignment subsection, there is a warning to all WSL users.

Because we discourage the use of WSL in earlier sections, it is confusing and unnecessary to reference WSL at this point of the curriculum.

**Deliverables:**
- Remove text, from

[2020-11-12 16:35] #21900 closed

[2020-11-12 19:05] YousifAbozid opened #21902 "Why there is no available course for react?, your website is made by react!!"
I hope to see a perfect course that discussing react because most modern websites created by react as your website as well, is there any plans to add new courses especially for react?, also I know that Odin Project is made for beginners, also is there any plans to add some professional content for who is not beginner?

Thanks :)

[2020-11-12 20:24] codyloyd commented on #21902
look closer brousif ;)

https://www.theodinproject.com/courses/javascript#react-js

[2020-11-12 20:29] I3uckwheat commented on #21902
I'd also like to point out that the site is pretty much only Rails. With a small sprinkling of React.

[2020-11-12 20:29] #21902 closed

[2020-11-12 21:03] #21899 closed

[2020-11-12 21:10] #21889 closed

[2020-11-12 21:17] #17979 closed

[2020-11-12 21:18] #11815 closed

[2020-11-12 22:28] YousifAbozid commented on #21902
Oh, thanks for that, my fault.

[2020-11-13 07:36] andrewjh271 opened #21903 "Description of rest-client gem's behavior possibly outdated in Kittens API project"
Lesson: [https://www.theodinproject.com/courses/ruby-on-rails/lessons/kittens-api#json-api](https://www.theodinproject.com/courses/ruby-on-rails/lessons/kittens-api#json-api)

Step 2 of the JSON API section describes the expected output of `response = RestClient.get("http://localhost:3000/kittens")` to be an HTML string, and the server request to process as XML.

As described in the [README](https

[2020-11-13 07:45] andrewjh271 commented on #21903
If approved, I could just edit the line so that it refers to `response.body` returning the HTML,  and switch the mention of `XML` to `*/*`.

[2020-11-13 10:22] CouchofTomato commented on #21903
Thanks @andrewjh271

We're happy to receive a PR on the issue. It's easier for us to resolve any issues with text modifcations once we see the PR. I'll assign this issue to you.

[2020-11-13 19:27] #10252 closed

[2020-11-14 19:42] I3uckwheat opened #21907 "Lesson on reading documentation"
It's come to my attention that many people aren't reading the documentation and are attempting to complete projects with a very incomplete view of the frameworks they're trying to use. After talking to them, it seems they're not reading the docs because they didn't understand that they should be reading them.

Completion criteria:

- [x] Find a place in the curriculum where this should land, it sh

[2020-11-14 19:43] bycdiaz commented on #21907
I'm very interested in taking this one. It'll be a few weeks before I can give it a ton of time but I should have progress on this in early December.

[2020-11-14 19:44] I3uckwheat commented on #21907
@bycdiaz The completion criteria are flexible, feel free to edit.

[2020-11-15 18:55] marvingay commented on #19611
Besides the fact that this user was using an unsupported operating system, I reviewed our Discord community chat history for issues regarding the Blog App, and this particular issue wasn't reproduced. Given the length of time since this issue's creation, closing.

[2020-11-15 18:55] #19611 closed

[2020-11-15 18:57] marvingay commented on #19764
We haven't received comparable feedback regarding this resource since the posting of this issues.

Closing for now.

[2020-11-15 18:57] #19764 closed

[2020-11-16 18:06] twalton83 commented on #21907
Per our discussion, we could find a place, somewhere, to add a section specifically for reading error messages and leveraging them as a valuable resource rather than a "digital reprimand".

[2020-11-18 11:33] LrdVnz opened #21918 ""Choosing coding bootcamps" book suggested in "alternative paths" isn't even published"
I was skimming throught the curriculum sessions, and in the getting hired, in "alternate paths" section
 https://theodinproject.com/courses/getting-hired/lessons/alternate-paths-to-a-web-development-job
in the "coding bootcamps" there's a link to a book that started in 2013 and isn't even published yet, so it is unobtainable. ( https://leanpub.com/coding-bootcamps ) I would suggest some other reso

[2020-11-18 16:52] sanderheieren opened #21920 "Clicking 'complete' button"
Once I click the 'complete' button it goes to incomplete first, stays there for 0.2 seconds and then it changes to "completed!". Not a big issue, but I guess it's because of some react rendering failure?

[2020-11-18 21:26] I3uckwheat opened #21921 "Javascript course review doesn't make sense coming from foundations in the fullstack JS path."
https://www.theodinproject.com/courses/javascript/lessons/a-quick-review

The lesson above comes directly after the foundations course, which is mostly JavaScript. If the student has just been doing JS, there's no reason to do the review that's there. Also the jQuery mention may be outdated and not needed anymore.

To close this issue this is what needs to be done:

- [ ] re-write the lesson to ma

[2020-11-18 23:48] ChargrilledChook commented on #21921
I'm happy to work on this.

[2020-11-19 10:00] CouchofTomato commented on #21918
Thanks @LrdVnz

I believe that section of the curriculum has now been removed.

[2020-11-19 10:00] #21918 closed

[2020-11-19 15:08] LrdVnz commented on #21921
This looks like a good change to talk about documentation, the importance of being able to look at it and use it . Let me try to write something about it

[2020-11-19 15:12] LrdVnz commented on #21921
Oh sorry didn't see there was an issue open about documentation ! Let's see how that goes, but I still think this isn't a bad place to make a review about it

[2020-11-20 01:27] I3uckwheat commented on #21921
@ChargrilledChook Thanks! I'll assign it to you!

[2020-11-20 01:29] I3uckwheat commented on #21921
I agree with this, we could link back to the future lesson on documentation, but this is off-topic for this. Keep it in mind @LrdVnz when that other one gets merged :)

[2020-11-20 01:33] I3uckwheat commented on #21920
Ahh, yes. Flashing. This is indeed a problem, but I do not think we use React here on this component.

[2020-11-20 01:44] sher-s7 commented on #21920
Seems to be working fine for me in Firefox. It goes from _incomplete state > submitting > completed_ with no flashing.

[2020-11-20 06:10] zedgamer9128 opened #21926 "Broken Link A more verbose explanation with plenty of diagrams in"

[2020-11-20 06:11] zedgamer9128 commented on #21926
the broken link is in
 3. A more verbose explanation with plenty of diagrams

[2020-11-20 08:19] sanderheieren commented on #21920
You are right! My bad, thanks for clearing it up though :)

[2020-11-20 17:42] xandora opened #21930 "Git Basics lesson instructions may not line up with screenshots"
As per comment from Discord by user **stryker2020**:

Is this right?

https://discord.com/channels/505093832157691914/505093832157691916/779380682069639178

This needs to be investigated to make sure we are giving accurate instructions to new learners.

[2020-11-21 03:42] #21903 closed

[2020-11-24 15:26] I3uckwheat commented on #16070
I think we can close this issue, let me know if this is an incorrect assumption @zachmmeyer

[2020-11-24 15:26] #16070 closed

[2020-11-24 15:26] #21920 closed

[2020-11-24 15:29] I3uckwheat commented on #21926
@zedgamer9128 Please attach a link to the lesson.

There's not much to go on here.

[2020-11-24 15:29] #21926 closed

[2020-11-24 15:29] I3uckwheat commented on #21921
@ChargrilledChook Have you had a chance to work on this?

[2020-11-24 15:29] zachmmeyer commented on #16070
That's correct @I3uckwheat I thought this was already closed! Definitely got this done and then we kept it as Xubuntu. I think Lubuntu had some setback with doing the guest additions and we ended up deciding that Xubuntu was easier in that regard.

[2020-11-24 15:54] #21921 closed

[2020-11-25 08:24] zedgamer9128 commented on #21926
it was fixed

[2020-11-25 22:21] I3uckwheat opened #21944 "Remove Bootstrap from HTML/CSS course"
https://www.theodinproject.com/courses/html-and-css#responsive-design-and-css-frameworks

As you can see here, we talk about CSS frameworks, and then introduce bootstrap. Bootstrap is something falling out of favor among companies, and having this framework in our course has the effect of people not practicing their CSS enough in their future projects. Removing this section will make it clear that

[2020-11-25 22:32] I3uckwheat opened #21945 "Remove Bootstrap mentions in the React portion of Javascript"
See: #21944 for more info on *why* we want to make this change.

Completion criteria:

- [x] Remove Bootstrap references from [this](https://github.com/TheOdinProject/curriculum/blob/3ab3f314d3d13b818db43fa4ed09d8b7042fbc17/javascript/react-js/inputs-and-lists.md) page.
- [x] re-work the content to make sense given the new context without bootstrap
- [x] identify other places in the JS section tha

[2020-11-26 12:54] egomadking opened #21947 "Blog author recommends updated post available on word logical operators"
[Conditional logic lesson](https://www.theodinproject.com/courses/ruby-programming/lessons/conditional-logic) links to http://www.virtuouscode.com/2010/08/02/using-and-and-or-in-ruby/

The post author recommends a new post with better explanation: https://avdi.codes/how-to-use-rubys-english-andor-operators-without-going-nuts/

[2020-11-27 03:22] developingathome opened #21949 "add the tittles to each lesson."
Add the Tittles to each lesson -  example JavaScript - Fundamentals Part 1.
some subtitles are self-explanatory but others are not.

Note: this is my first time reporting an issue & I would be happy to help!

[2020-11-27 10:41] xandora commented on #21930
Fixed in #21939 .

[2020-11-27 10:41] #21930 closed

[2020-11-28 18:15] I3uckwheat commented on #21949
@developingathome Hey, there's not enough information here to understand what you are saying fully, please attach screenshots and links to what you're talking about and i'll re-open this issue :)

[2020-11-28 18:15] #21949 closed

[2020-11-28 18:18] I3uckwheat commented on #21947
@egomadking Can you make a PR with this change?

[2020-11-29 01:28] matt-manning opened #21953 "Ruby Programming Loops section Until loop issue"
I was just reading through the Loops section in the Ruby course and found an error. In the Until Loop section, the lesson claims that this loop:
[code]
does the same thing as this while loop:
[code]
The problem is that the until loop would one more time than the while loop. The until loop would run 0 - 10, but the while loop would run 0 - 9.

[2020-11-29 17:43] I3uckwheat commented on #21953
@matt-manning Please attach a link to the lesson and I will re-open this issue.

[2020-11-29 17:50] #21947 closed

[2020-11-29 23:01] xandora commented on #21828
Here's a non-web archive link to a mirror of the interview:

https://www.bizjournals.com/washington/inno/stories/news/2014/03/31/what-is-back-end-web-development.html

[2020-11-30 00:50] I3uckwheat commented on #21828
@xandora Would you like to make a PR for this?

[2020-11-30 01:09] xandora commented on #21828
Yes, and no. I'm happy to make a PR to change the link, but perhaps this is an opportunity to reflect on the article and see if there is a better alternative now?

[2020-11-30 04:22] I3uckwheat commented on #21828
@xandora This resource seems to be OK for what it is, but I'm sure there are better ones out there.

I think that we should change the link to a proper link instead of an archived one first, then we can re-evaluate.

[2020-11-30 04:35] xandora commented on #21828
Sound good. Will raise a PR.

On Mon, 30 Nov 2020, 5:22 PM Briggs Elsperger, <notifications@github.com>
wrote:

[2020-11-30 12:06] nanyaDev opened #21958 "Low quality resource"
In the [Files and Serialization Lesson](https://www.theodinproject.com/courses/ruby-programming/lessons/files-and-serialization-ruby-programming), Assignment 3 links to an [article](https://skorks.com/2010/04/serializing-and-deserializing-objects-with-ruby/) that is very poorly formatted. The bulk of the article's lesson is contained in a 200+ line block of code that does not use word wrap. Since

[2020-11-30 14:18] I3uckwheat commented on #21958
This article is still good and relevant. Serialization is one of those super fundamental things.

[2020-11-30 15:34] rlmoser99 commented on #21958
I agree with @I3uckwheat that the article is well-written (besides the code snippets). The best way to read through these code snippets is to copy and paste it into your code editor and use word wrap.

However, I think it is worth seeing if someone can find a more updated resource before we decide.

[2020-11-30 16:11] matt-manning commented on #21953
Here is the link to the lesson. Sorry I didn't attach it before.

https://www.theodinproject.com/courses/ruby-programming/lessons/loops

[2020-11-30 18:54] I3uckwheat commented on #21953
@matt-manning You have copied the wrong parts of the code into your issue description, however, you are correct. the `until` example needs an `=` after the `>`

[code]

is the correct `until` loop syntax to match the `while` loop.

[2020-12-01 04:47] nanyaDev opened #21961 "Incorrect filepath in example code"
**EDIT: Original issue is mistaken. See the follow up comment instead.**

[Project: Event Manager](https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager-ruby-programming) instructs students to set up a file tree for the project, which can be boiled down to the following 2 quotes:

1. "The filepaths we use in this tutorial will assume that we have put our event_manager.rb fi

[2020-12-01 07:03] nanyaDev commented on #21961
As I worked through the rest of the lesson, I came across the part that requires inserting an html file next to the csv file. Here, the lesson notes that:

"It is important to define the form_letter.html file in the root of project directory [..] because **when the application runs it assumes the place that you started the application is where all file references will be located.**"

After reading

[2020-12-02 23:20] #21958 closed

[2020-12-03 01:30] rlmoser99 commented on #21961
@nanyaDev Thank you for taking the time to submit an issue, however I believe the directions are fairly clear in the Initial Setup section. It indicates to use `ruby lib/event_manager.rb` in 3 places and warns students to pay attention to file paths. https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager-ruby-programming#initial-setup

I understand that your instinct was to

[2020-12-03 01:30] #21961 closed

[2020-12-03 01:41] rlmoser99 commented on #21953
@matt-manning Would you be willing to make this change (adding a `=`) by submitting a PR?

[2020-12-03 15:09] nanyaDev opened #21969 "Update lesson to use new default branch name of 'main'"
The [Installing Rails](https://www.theodinproject.com/courses/ruby-on-rails/lessons/your-first-rails-application-ruby-on-rails) lesson uses `git init` in Step 2.1 and then uses `git push -u origin master`. This does not work anymore as the new default branch name is main. The rest of the lesson also references the non-existent master branch.

[2020-12-04 00:27] twalton83 opened #21971 "Add zsh related instructions for NVM/node installation"
- Currently [this lesson](https://github.com/TheOdinProject/curriculum/blob/master/foundations/installations/installing_node.md) references bash related files such as ~/.bashrc

- For those who are on Catalina and above, the default terminal is now zsh and the correlated file is ~/.zshrc

Lesson should be updated to include instructions on amending a `~/.zprofile or `~/.zshrc` file instead.

[2020-12-04 13:16] fortypercenttitanium opened #21973 "Teach about environment variables in API lesson"
In the [Javascript APIs lesson](https://theodinproject.com/courses/javascript/lessons/working-with-apis), we teach about using APIs and assign projects for students to use them, but we never instruct how to hide the keys in an environment variable. This is a very important aspect of working with APIs and, I believe, essential to this lesson. We have had several students commit their API keys to gi

[2020-12-05 05:17] I3uckwheat commented on #21973
Talked in chat about this.

[2020-12-05 05:17] #21973 closed

[2020-12-05 18:47] #21953 closed

[2020-12-08 22:55] minamyooui opened #21986 "Assignment #2 of Recursive Methods in course Ruby Programming has a dead link."
The link to vimeo shows no video exists.

[2020-12-09 07:10] shoebham commented on #21986
The second link
`Watch this Video on Recursion by Joshua Cheek but only until minute 17:36! (don’t want to give away the project…)`
in the assignment section of the chapter is broken , after clicking the [link](http://vimeo.com/24716767) it takes to a page that says

![image](https://user-images.githubusercontent.com/25881429/101596404-00fc6100-3a1b-11eb-93f6-5be290333117.png)

Link to the chapter

[2020-12-09 22:30] #21986 closed

[2020-12-16 13:20] vinicius77 commented on #21945
May I help with this issue? I could also make a brief introduction about styling React components using CSS in order to keep the styling context valid even without Bootstrap.

[2020-12-17 01:24] marvingay commented on #21945
@vinicus77 You're welcome to start working on this if you'd like, I'll go ahead and assign it to you.
If you have any questions, concerns, or comments do not hesitate to ask here.

[2020-12-17 06:36] vinicius77 commented on #21945
Thanks for assigning me @marvingay . I am already working on it. :)

[2020-12-19 06:19] twalton83 commented on #21969
Resolved with #22013.

[2020-12-19 06:19] #21969 closed

[2020-12-22 17:19] twalton83 commented on #21945
The first bullet has had changes merged. Thank you @vinicius77!

[2020-12-22 22:04] twalton83 opened #22020 "Evaluate Medium Content for possible replacement"
The Odin Project currently uses a few articles from Medium. Medium paywalls users after they view five articles in a month. Many of these authors crosspost these materials to other platforms, such as their personal blog, Dev.to, and the like. We should replace Medium links with these other free sources as much as possible.

Completion Criteria:
- [x] Identify all areas in which we use Medium in th

[2020-12-23 07:44] lucitemple commented on #22020
I'd be happy to work on this.

[2020-12-23 07:54] twalton83 commented on #22020
@lucitemple Awesome, thank you so much! I'll assign this to you. Please let me know if you have any issues. For each link fix, I'd appreciate if you grouped each module (each section within a course, for example,  the "Introduction" module in the "Foundations" course) together in one PR so it's easier to go over.

[2020-12-23 08:15] lucitemple commented on #22020
Sure thing @twalton83, thank you for the advice about how to best do it (grouping by course for PRs & keeping track of those I can't replace) - this is very helpful for someone new to this, as I am.

[2020-12-23 08:25] twalton83 commented on #22020
@lucitemple Be sure to check out our [contributing guide](https://github.com/TheOdinProject/curriculum/blob/master/CONTRIBUTING.md)!

[2020-12-24 02:32] lucitemple commented on #22020
Just completed the changes for the **nodeJS course**. There were three links I couldn't find an alternative to:

1. File: theOdinProject/curriculum/nodeJS/APIs/API-Security.md
- [Stateless Auth with Express Passport](https://medium.com/@paul.allies/stateless-auth-with-express-passport-jwt-7a55ffae0a5c)

2. File: nodeJS/APIs/APIs.md
- [Using Cors in Express](https://medium.com/zero-equals-false/usi

[2020-12-24 05:10] lucitemple commented on #22020
Have completed find/replace for the **foundations** and **javascript** courses.

Links I couldn't find alternatives for in these sections:

**Course: Foundations**
File: foundations/javascript_basics/fundamentals-3.md
- [Node Call Stack Explained](https://medium.com/javascript-in-plain-english/node-call-stack-explained-fd9df1c49d2e)

File: foundations/tying_it_all_together/conclusion.md
- [Choosin

[2020-12-24 18:15] twalton83 commented on #22020
@lucitemple Thank you so much for your help with this so far!

[2020-12-27 00:45] michpara opened #22033 "Fix Typo in "The Asset Pipeline" Lesson"
Fix the typo in the following sentence (bolded):

It used to be that the **Aset** Pipeline handled all assets but since the inclusion of Webpack and the webpacker gem to give Webpack some Rails type conventions, it is now better practice to handle Javascript assets through there.

[2020-12-28 18:35] AnimeshRy commented on #22033
Could you link up the lesson or do the change yourself and add a PR.

[2020-12-28 18:47] I3uckwheat commented on #22033
@AnimeshRy Feel free to make the PR yourself! :)

[2020-12-28 21:10] michpara commented on #22033
Link to the lesson: https://www.theodinproject.com/courses/ruby-on-rails/lessons/the-asset-pipeline

[2020-12-29 00:00] ZachBaird opened #22038 "404 URLs and link to newer, unvetted Ubuntu version"
The links in question are in Step 1 of the dual-booting section [here](https://github.com/ZachBaird/ZachBaird.github.io).

The 64-bit Ubuntu and Xubuntu iso downloads 404 and the first download link in the paragraph ends up linking to Ubuntu 20.

**Acceptance Criteria**:
- Find official URLs for the Ubuntu and Xubuntu iso files to replace the 404ed ones.

- Find an official download link for Ubunt

[2020-12-29 04:31] rlmoser99 opened #22040 "Clarify prerequisites note about supporting other operating systems"
Lesson:
https://www.theodinproject.com/courses/foundations/lessons/prerequisites

Acceptance Criteria:
- Clarify the last line "If you feel you can contribute and support Windows at The Odin Project, please create a PR with Windows installation directions, and fixes for wherever the Windows commands might differ from Linux."
- Optional: Add that our Discord community will not support anything outs

[2020-12-29 20:41] UdokaVrede commented on #22038
can I fix this?

[2020-12-29 22:56] ZachBaird commented on #22038
@UdokaVrede Go for it!

[2020-12-30 18:31] #22033 closed

[2020-12-30 19:10] DoviMaj opened #22049 "JavaScript conclusion lesson not accurate"
The JS course conclusion lesson dosent make much sense for those on the Node path since JS is the first course, only on the Rails path its the last one before getting hired. [lesson](https://www.theodinproject.com/courses/javascript/lessons/conclusion)

Examples:
* _"You know Javascript works, how to build back-end using a framework of your choice, for example, Rails or NodeJS. "_ (the student was

[2020-12-31 02:10] rlmoser99 opened #22051 "Add Nested Arrays Section in Basic Ruby Lesson"
Lesson: https://www.theodinproject.com/courses/ruby-programming/lessons/arrays

Background:

Students are often confused when they update one value in a 2D array and multiple values change. This happens when they create a create a 2D array similar to an example in our lesson, `Array.new(3, Array.new) #=> [[], [], []]`.

Currently, the lesson does not mention that the second optional argument popul

[2020-12-31 02:25] wise-king-sullyman commented on #22051
I would love to work on this one.

[2020-12-31 02:27] rlmoser99 commented on #22051
@wise-king-sullyman Thank you so much! Feel free to ping me if you have any questions.

[2021-01-01 23:22] buondevid opened #22054 "Projects solutions at the end of the lessons don't show 10 most recent submissions."
I've noticed that the projects "Solutions" section, at the end of the page, doesn't actually show the **10 most recent submissions**, e.g.:
- [Google Homepage](https://www.theodinproject.com/courses/foundations/lessons/html-css)
- [Rock, Paper and Scissors](https://www.theodinproject.com/courses/foundations/lessons/rock-paper-scissors)
- [Etch-a-Sketch](https://www.theodinproject.com/courses/found

[2021-01-02 12:44] cspablocortez opened #22058 "Code in Event Manager lesson doesn't follow Ruby style guide."
### Lesson:
https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager-ruby-programming

### Background:

The code written in the lesson for the Event Manager project could be rewritten to ensure that it follows the Ruby style guide, which is introduced in a previous lesson: https://www.theodinproject.com/courses/ruby-programming/lessons/object-oriented-programming-ruby-programm

[2021-01-02 14:34] rlmoser99 commented on #22058
@cspablocortez Thanks for taking the time to bringing this to our attention! Would you be interested in making these changes and submitting a PR?

[2021-01-02 14:57] cspablocortez commented on #22058
Absolutely, I'd love to work on this one

[2021-01-02 14:57] cspablocortez commented on #22058
Absolutely, I'd love to work on this one

[2021-01-02 15:34] marvingay commented on #22054
I realized this issue actually belongs in https://github.com/TheOdinProject/theodinproject , would you be able to re-post it over there?

[2021-01-02 15:46] buondevid commented on #22054
Done! Thanks

[2021-01-02 15:46] #22054 closed

[2021-01-03 01:37] I3uckwheat commented on #17302
@KevinMulhern What do you think? ☝️

[2021-01-03 02:39] UdokaVrede commented on #22038
Hi, @ZachBaird I think there is a mix-up here, the link in "here" points to https://github.com/ZachBaird/ZachBaird.github.io. Please verify this.

[2021-01-03 10:48] lucitemple commented on #22020
@twalton83 Did you want me to check the links in the archived courses too? I've gone through everything else, mostly having trouble finding an open source alternative for them.

There is the option to swap links for a cached text only version, but many of them include images and formatting important for understanding.

Or perhaps there is a way to inform people of the workaround to accessing Mediu

[2021-01-03 15:20] twalton83 commented on #22020
@lucitemple No need, this comment suffices I just wanted to see the remaining. And no, archived courses are archived :)

I personally don’t want to inform people of a workaround because to me, it’s not a good look for the platform to promote that, and if people are interested, they’ll find it.

Thank you for doing this, it’s much appreciated!

[2021-01-04 01:54] zachmmeyer commented on #22040
I think with the PR closed, that means this issue can be closed as well. Do you agree @rlmoser99 ?

[2021-01-04 01:58] rlmoser99 commented on #22040
Yes, totally. I just assumed it closed it automatically, but I should have checked.

[2021-01-04 01:58] #22040 closed

[2021-01-06 17:00] OptimBro commented on #22049
+1

[2021-01-06 17:19] TaylorJonesTRT commented on #21945
I have found another mention of Bootstrap in the React course on this [page](https://github.com/TheOdinProject/curriculum/blob/master/javascript/react-js/project-cv.md) that I'll take care of removing!

[2021-01-06 17:19] twalton83 commented on #21945
Thank you @TaylorJonesTRT!

[2021-01-07 04:58] twalton83 commented on #21945
The last PR fulfilled the criteria of completion for removing all instances of Bootstrap from the Javascript course, so this may now be closed.

[2021-01-07 04:58] #21945 closed

[2021-01-07 17:43] ZachBaird commented on #22038
You're correct, I must have gone back in my clipboard too far. Thanks for catching this! The lesson is [here](https://theodinproject.com/courses/foundations/lessons/prerequisites).

[2021-01-07 19:40] jwern opened #22074 "Remove reference to "destructuring assignment syntax" in JavaScript Path Lesson "Factory Functions and the Module Pattern""
In the JavaScript path - Organizing Your JavaScript Code - Lesson 4. Factory Functions and the Module Pattern: https://www.theodinproject.com/lessons/factory-functions-and-the-module-pattern#back-to-factory-functions

The second code example under the anchor linked above (directly under the sub-head "Inheritance with factories") uses an example with destructuring assignment syntax.  This syntax ha

[2021-01-08 02:44] #22051 closed

[2021-01-09 00:58] marvingay commented on #22038
Fixed in #22062

[2021-01-09 00:58] #22038 closed

[2021-01-09 01:06] marvingay commented on #22074
Given that we're out of our Foundations path at this point, while people are still novices, I don't believe it's appropriate to skimp out on syntax that will become critical later.

Your recommendation is valid though, using a destructuring assignment and when it's to be preferred is dependent on a few factors.

I think adding a note would be best. We will get that added.

[2021-01-09 01:48] marvingay commented on #22074
Upon re-reading the lesson material, we already have a comment pointing out what the syntax is, it should remain an exercise for the reader to look up if they feel inclined.

Closing.

[2021-01-09 01:48] #22074 closed

[2021-01-11 22:40] #22058 closed

[2021-01-12 05:48] twalton83 opened #22094 "Remove or replace Webpack Resource"
[Modern Javascript for Dinosaurs](https://peterxjang.com/blog/modern-javascript-explained-for-dinosaurs.html) is frequently a source of issues for students, and currently we have made it optional for them to code along. We need to reevaluate this resource and replace it, or simply emphasize that they should not code along.

[2021-01-14 05:00] MaurizioTonelli opened #22096 "ESLint setup tutorial for VSCode triggers many 'deprecated' warnings"
From this chapter of the Odin Project JS track: https://www.theodinproject.com/courses/javascript/lessons/linting

This tutorial is mentioned as a resource for configuring ESLint in your VSCode project: http://shripalsoni.com/blog/configure-eslint-in-visual-studio-code/

However, many 'deprecated' warnings appear while following it, I'll attach screenshots below:
<img width="647" alt="Captura de P

[2021-01-14 20:40] dwiehoff opened #22097 "Ruby / OOP: Two linked quizzes largely ignore style guide and best practices"
[OOP](https://www.theodinproject.com/courses/ruby-programming/lessons/object-oriented-programming-ruby-programming)

The quizzes linked at the bottom (#5 and #7) ignore what's being taught before that and should likely be removed or replaced.

[2021-01-14 22:56] rlmoser99 commented on #22097
@dwiehoff Thank you for taking the time to submit an issue. I have reviewed those quizzes and I think the biggest style guide violations were:
- double quotes instead of single quotes
- explicitly using `return`
- parenthesis in `method_name()`
- explicitly using self in `self.method_name`

While these quizzes largely ignore the style guide, I think they cover a lot of useful material and should n

[2021-01-14 23:09] CouchofTomato commented on #22097
@dwiehoff

Thanks for the feedback. Can you be a little more specific on what they are ignoring as I'm not clear what you are referring to. If it is just style guide stuff then it's not worth us investing the time to find a replacement although will happily review any material you think is better. If it's something more fundamental then we can prioritise it as we don't want to show students someth

[2021-01-15 04:44] xandora opened #22098 "MacOS Instructions for NVM installation are outdated."
Since [MacOS Catalina](https://support.apple.com/en-us/HT208050) (late 2019), Apple have moved to using zsh (Z Shell) by default over the bash shell.

However, our instructions still suggest that users modify their `~/.bash_profile` file. This file does not exist on Catalina.

Lesson should be updated to includes instructions on amending a `~/.zprofile or `~/.zshrc` file instead.

https://github.c

[2021-01-15 04:56] twalton83 commented on #22098
This is dupe of #21971, I never got to it though.

[2021-01-15 05:07] xandora commented on #22098
https://giphy.com/gifs/abcnetwork-modern-family-phil-dunphy-l3q2NboZyZSrDTM7S

[2021-01-15 05:28] xandora commented on #22098
Dupe of #21971

[2021-01-15 05:28] #22098 closed

[2021-01-17 02:32] I3uckwheat commented on #22097
Style guides are often enforced by automatic linters. I don't think these minor violations are worth replacing this resource.

[2021-01-17 20:26] I3uckwheat commented on #22097
Closing due to lack of replies from the PR author.

[2021-01-17 20:26] #22097 closed

[2021-01-17 20:42] dwiehoff commented on #22097
Thanks for the quick response and sorry for not getting back immediately. For me, personally, I might not see as much value in the exercises as you do and would consider them quite confusing to a beginner learner. I figured there should be a better resource which you might be aware of. If that's not the case and you see it differently, that's alright. Just thought I'd let you know my thoughts and

[2021-01-17 22:32] Jorgelhus opened #22105 "Deprecated Extension Suggested"
In the [Text Editor's Page](https://www.theodinproject.com/courses/foundations/lessons/text-editors) is suggested the Live Server Extension. This extension, however, is being dropped by the maintainer. If there is someone in the community interested in picking it up, it's a good idea. If there isn't, maybe we should look for another extension that could fill its position before it becomes too outd

[2021-01-18 15:31] CouchofTomato commented on #22097
@dwiehoff Thanks for coming back to us.

We would love to write more of our own material but that comes with the cost of having to maintain it more than just having to find a new resource if any become out of date. That's not easy as we are a relatively small team.

We do welcome feedback though so please keep it coming if you see any areas you feel could be improved.

[2021-01-19 20:16] twalton83 opened #22108 "Update Google Homepage lesson formatting and instructions"
The Google Homepage lesson has some shoddy formatting for [this list](https://www.theodinproject.com/courses/foundations/lessons/html-css#setting-up-your-projects-github-repository-optional) which goes from points 1-3, then back to points 1-2. This is due to some extra spacing issues.

Additionally, point 5 (displayed at the second point 2 on the website) is outdated as we no longer use markdown f

[2021-01-20 03:52] thatblindgeye commented on #22108
I can take a look/make an attempt at this.

[2021-01-20 03:53] twalton83 commented on #22108
Thanks! Please let me know if you have any questions.

[2021-01-21 04:51] SidWorks commented on #21971
I am working on it!

[2021-01-21 04:54] twalton83 commented on #21971
Thank you.

[2021-01-22 00:52] xandora commented on #22105
We're definitely open to all suggestions for improvements to the curriculum. Live-Server has been extremely useful, although a bit troublesome for some to get working correctly. On the other hand, the last commit to the latest release was about 2 years ago, and the extension is still working pretty well for the majority of users.

[2021-01-23 07:00] Derobos opened #22118 "Push to Github"
Instructions to push to GitHub are currently:

**"Push Your Work to GitHub
Finally, let’s upload your work to the GitHub repository you created at the start of this tutorial.

Type git push origin main."**

This produced a "failed to push some refs" error for me.  Using "git push origin master" seemed to work.

[2021-01-23 12:26] marvingay commented on #22118
@Derobos  What lesson is this from?

Is your default branch on Git set to `main` as we instruct?

[2021-01-23 12:54] Derobos commented on #22118
My mistake, I missed the suggestion to rename it "main" during setup.  Thank you for the quick response.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Marvin Gay <notifications@github.com>
Sent: Saturday, January 23, 2021 6:26:58 AM
To: TheOdinProject/curriculum <curriculum@noreply.github.com>
Cc: Derobos <Derobos@outlook.com>; Mention <mention@noreply.git