[2022-05-04 04:34] PARKER-X commented on #24073
Any django course in future???

[2022-05-04 06:57] 01zulfi commented on #24073
Currently we don't have plans for a Django course.

[2022-05-04 14:20] thatblindgeye commented on #23941
@itswhom I've assigned you this issue if you would still like to work on it.

[2022-05-05 06:57] 01zulfi opened #24103 "JavaScript folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update JavaScript folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`

[2022-05-05 17:08] bappyasif opened #24104 "Positioning lesson: 'Additional Resources' heading is shown without any content"
in positioning [article](https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-positioning), "Additional Resource" section has no "content in it" but "Heading remains" without even it's usual 'explanation' section in it

![image](https://user-images.githubusercontent.com/19854521/166975926-0c48c3e7-9375-4bfe-8be3-19531375cc18.png)

section link: https://www.theodinproject.com/

[2022-05-05 17:36] nguyens20 commented on #24103
Can I take this one ?

[2022-05-06 09:31] 01zulfi commented on #24104
@bappyasif Thanks for reporting!

If anyone wants to work on this issue, please comment below to be assigned.

Here's the acceptance criteria:

- [ ] Align the Additional Resources section of the [Positioning lesson](https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-positioning#additional-resources) with the [Layout Style Guide](https://github.com/TheOdinProject/curriculum

[2022-05-06 12:23] iawong commented on #24104
Hey, can I take this?

[2022-05-06 12:45] #22947 closed, assigned to regifronda

[2022-05-06 13:05] bappyasif commented on #24104
i am also interested!

[2022-05-06 14:19] 01zulfi commented on #24104
@bappyasif Unfortunately this issue is already assigned. For reference, if you are interested in working on an issue you created, make sure to use our issue templates, we have a checkbox specifically for interest.

[2022-05-06 20:19] #24104 closed

[2022-05-07 13:29] bappyasif commented on #24104
@01zulfi just a thought experiment, dont you think we should tack this issue from 'js perspective' as in,  same text is going into all chapters, why not deal with it 'programatically'! same kind of thing but not quite same, me and @KevinMulhern dealt few weeks earlier where path 'course list' heading being shown 'when there is multiple course list in that path but not for solo course', if that mak

[2022-05-08 06:24] #24103 closed

[2022-05-08 11:15] ChargrilledChook opened #24112 "Ruby: Update recommended Ruby version to 3.1"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-05-08 16:40] itswhom commented on #23941
What is the best way to make this type of change? I opened the first page and found how I can modify the markdown directly on GitHub, but should I be practicing using git somehow to bring it down to my computer, make changes there, then commit/push that way?

Also, how do I commit/push in a way that ties it to this assigned issue? Thanks.

[2022-05-08 23:02] scheals commented on #24112
The Ubuntu 22.04 issues Chook mentions have already started to crop up. Possible fixes are here:
https://deanpcmad.com/2022/installing-older-ruby-versions-on-ubuntu-22-04/
https://github.com/rbenv/ruby-build/discussions/1940#discussioncomment-2663209

They are even known by the rbenv maintainers (as linked above) and Ruby maintainers:
https://bugs.ruby-lang.org/issues/18658#note-4

It's all pretty

[2022-05-10 03:22] itswhom commented on #23941
I finished this and did a pull request. I figured I'd check another folder of pages and submit those separately, but I guess I didn't make branches for any of this so it's all together in the same PR.

I have since learned about branches and more about PRs in general, so this shouldn't happen again from me.

[2022-05-10 17:39] Mclilzee opened #24115 "NodeJS - React - Hooks : Update Code Snipper"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-05-11 19:01] bappyasif opened #24120 "Bug - :Lesson: Browser compatibility, Frameworks and Preprocessors, Introduction to grid, Creating a grid, Advanced grid properties, Positioning grid elements all of them are missing "Additional Resources' heading statement"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-05-12 16:27] boostaboosh opened #24122 "Add page to alignment tutorial in the flex box section of the foundations course"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-05-18 00:49] Jessemccallums opened #24133 "I want to contribute to this open source project"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-05-18 03:51] Tribhuwan-Joshi commented on #24133
@Jessemccallums  For contribution you have to commit changes in the file and _must_ complete the Required checkboxes

[2022-05-18 15:10] scheals opened #24135 "Foundations: Text Editors | Assignment video changed causing users to have trouble following it"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:
-   [x] I wou

[2022-05-19 00:23] wise-king-sullyman commented on #23552
Sounds like a decent amount of work...

@KevinMulhern are there any plans currently involving this lesson in the Ruby reworking you have planned?

[2022-05-19 00:30] wise-king-sullyman commented on #23562
@melihthedev I'm not sure if this paragraph was a new addition since you filed this issue, but the below paragraph discusses self closing tags and follows where the p tag you reference is in the lesson.

![image](https://user-images.githubusercontent.com/7115053/169177224-435338dc-d448-4090-8e6c-e77fc3130960.png)

Since it seems like this has already been addressed I'm going to close this issue, b

[2022-05-19 00:30] #23562 closed

[2022-05-19 00:37] wise-king-sullyman commented on #23557
I see that this issue has been stagnant for a while now but a solution was proposed, @Pratik-Karale were you wanting to be the one to apply the solution @thatblindgeye suggested?

[2022-05-19 01:33] wise-king-sullyman commented on #23593
I don't feel that this resource delivers information all that well, and our CSS specificity content has been improved since this issue was opened so I'm going to close it. Thank you for taking the time to file this issue though!

[2022-05-19 01:33] #23593 closed

[2022-05-19 02:13] wise-king-sullyman commented on #23746
This seems like a pretty substantive resource!

Before we look at where it might be best though I would appreciate if you could do one more scan of the curriculum to make sure we won't be over-covering it since this issue has been open for a while now.

Are you open to doing that?

[2022-05-19 02:25] wise-king-sullyman commented on #23816
I think that the duplication is indeed intentional, I assume the idea is that the first instance it's brought up as a "here's a thing you can do" and the second as a "here's what's really happening here".

@CouchofTomato can you comment on if this was intentional?

[2022-05-19 03:07] wise-king-sullyman commented on #23817
It's hard to give a solid yes/no on if this is something that's needed without a replacement resource suggestion, do you have one in mind?

[2022-05-19 03:17] wise-king-sullyman commented on #23853
@linkonsat sounds good to me as well, is this something you're still wanting to do yourself?

[2022-05-19 03:20] wise-king-sullyman commented on #23870
@LeoKirasic do you think @DaeguDude would be good to take on this issue even if he hasn't read the book, or do you think the work would be greatly benefitted by having someone who has read it?

[2022-05-19 17:22] wise-king-sullyman commented on #23821
I agree, if a suitable replacement resource can be found moving away from medium would be nice. Thank you for putting up this issue!

[2022-05-19 17:23] KonradLach commented on #23821
I would like to be assigned to the issue!

[2022-05-20 11:01] CouchofTomato commented on #23816
@wise-king-sullyman Yeah it initially introduced just under the umbrella of the two ways of doing pattern matching and the second example was specifically to showcase rightward assignment. I'm open to using a different example for either of them if anyone wants to do a PR but I'm not particuarly concerned that it needs to change enough to do it myself.

[2022-05-20 15:12] wise-king-sullyman commented on #23746
I think that the [objects and object constructors lesson](https://www.theodinproject.com/lessons/node-path-javascript-objects-and-object-constructors) is probably the place in the curriculum that would make the most sense.

I go back and forth about if I think it should be added to the additional resources or added to the main content of the lesson. Do you have an opinion on this?

[2022-05-20 15:28] wise-king-sullyman commented on #23816
Sounds like if you still want to improve this the issue is all yours @MLGabe!

[2022-05-20 17:00] wise-king-sullyman commented on #23746
I could see that. Let me talk this over a bit with some other members of the team and I'll let you know which direction we want to go in 🙂

[2022-05-20 17:23] dm-murphy commented on #24133
Thank you for your interest in contributing @Jessemccallums! Please read through [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md) which will detail the process on all the ways you can make that happen.

[2022-05-20 17:23] #24133 closed

[2022-05-21 02:41] wise-king-sullyman commented on #24012
I think this would be a great addition to the curriculum! If anyone is interested in working on this please comment here and ping me.

@Sankalp-G thank you for taking the time to create such a detailed issue!

[2022-05-21 02:50] wise-king-sullyman commented on #24026
@13colours are you still interested in this issue?

[2022-05-21 02:54] wise-king-sullyman commented on #24031
@yadunandanbhat I believe that this issue is more concerning the content of the lesson, but please correct me if I'm wrong @I3uckwheat

[2022-05-21 02:58] wise-king-sullyman commented on #24063
@boostaboosh you're assigned! Thank you for taking the time to craft this issue and for wanting to help make the curriculum better 🙂

[2022-05-21 03:01] wise-king-sullyman commented on #24064
@boostaboosh you're assigned on this one as well, and thanks again!

I think that 5 lessons might be a *bit* much, but if that's what you would like to propose you can of course PR it and we can evaluate it then 🙂

If you have any questions please don't hesitate to reach out.

[2022-05-21 03:05] wise-king-sullyman commented on #24112
@ChargrilledChook @scheals before I put the help wanted and good first issue tags on this, are either of you wanting to knock this issue out?

[2022-05-21 04:45] ArjunSaili1 opened #24140 "Using Flexbox or Grid Lesson - Update Grammar, Simplify Wording, Improve Explanations"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-05-21 04:52] ArjunSaili1 commented on #24012
@wise-king-sullyman I'm down to work on this! I haven't wrote a whole lesson before but this seems like a great opportunity.

[2022-05-21 09:22] ChargrilledChook commented on #24112
@wise-king-sullyman my bandwidth is fairly low at the moment and I think it's a good one for a beginner, so I'm happy to pass for now. If no one has picked it up in week or so I can come back to it.

Either as part of this issue or in a separate one, it would be good to update the Ruby version in the Ruby exercise and testing repos (maybe custom enumberbales too?)

[2022-05-21 13:37] scheals commented on #24112
Looked into how rbenv discussion is looking like https://github.com/rbenv/ruby-build/pull/1974 it seems that they've begun work on some kind of a solution recently but aren't really happy with it and for now rbenv is only supporting 3.1+ for 22.04.

@wise-king-sullyman Yeah, I'll gladly work on this but I might need help if problems occur.

@ChargrilledChook Given that the idea would be to update

[2022-05-21 14:34] liridonloku opened #24141 "Bug - NodeJS Authentication basics: The step on passport logout throws an error"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-05-21 15:09] wise-king-sullyman commented on #24012
@ArjunSaili1 you're assigned!

As for next steps on this there are two options:

1. You can start drafting things as you think are best, with the understanding that major changes might be requested during PR review.
2. I can consult with the rest of the maintainer team to get these requirements more nailed down. This would significantly lower the chances of you having to completely rework things a

[2022-05-21 15:15] wise-king-sullyman commented on #24112
@scheals since you're interested in it and this issue seems to be kind of growing in scope to include a decent amount of investigation I think I'd rather see you work on this than bring a new contributor in. If you do run into problems please don't hesitate to reach out.

And thanks for wanting to do this!

[2022-05-21 20:49] ArjunSaili1 commented on #24012
Hey @wise-king-sullyman, I think I'll that 2nd approach since this is my first time writing a lesson.

[2022-05-22 02:00] ChargrilledChook commented on #24112
@wise-king-sullyman sounds good.

@scheals  I'm happy to assist if you want any input / a second pair of eyes. Feel free to reach out if you need :+1:

[2022-05-22 04:32] wise-king-sullyman commented on #24115
While yes, this isn't perfect React (and there is definitely good logic behind not wanting our examples to show code that isn't best practices), I'm not sure I fully agree with the solution proposed here. If we were going to really get into what would be the "best" way to implement the behavior in the code snippet referenced above I believe that would be to completely omit the useEffect and pass t

[2022-05-22 13:42] 01zulfi commented on #24141
Version 0.6.0 does indeed throw the error you stated. Thanks for catching this, you've been assigned!

[2022-05-22 14:24] scheals commented on #24112
@ChargrilledChook Thank you!

Yeah, was rather absent-minded when it came to the gems and the fact it is different repos. Still, I'll be going through it so I'll try my best to touch on that as well.

[2022-05-22 17:45] scheals commented on #24112
I found the past issue about upgrading to 3.0 https://github.com/TheOdinProject/curriculum/issues/23434 stashing it here for continuity's sake.

[2022-05-22 18:25] afkus3r commented on #23886
I would like to work on this issue

[2022-05-25 02:38] ArjunSaili1 commented on #24012
Hey @wise-king-sullyman, let me know when you and the rest of the maintainer team come up with the basic requirements. Ready to start working on it as soon as possible :)

[2022-05-25 16:23] Pratik-Karale commented on #23557
Apologies, I won't be able to due to my incapability to use Github and git to a certain extent. I do not want to make any harm to this project. I'm still learning how git rebase works...

but having a comment in the codepen code or having a better note similar to `***Try resizing/zooming the output  window***` would help reduce confusion for people who are just getting started with the topic.

[2022-05-25 18:09] robertguss opened #24159 "JavaScript Course: Add lessons on end-to-end testing"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-05-27 15:11] Magmusacy opened #24165 "Code shown in a lesson is not working and is probably deprecated"
In that [lesson](https://www.theodinproject.com/lessons/ruby-on-rails-apis-and-building-your-own) in section "Rendering Nothing or Errors" there is this code:

    def index
      render :nothing => true, :status => 404
    end

which according to this [article](https://ogeek.cn/qa/?qa=921266/) is not working since rails 5.1.
I suppose the correct version of this code snippet should be:

    def i

[2022-05-28 19:52] DevlinRocha opened #24168 "Add guest sign-in to final NodeJS project"
Complete the following REQUIRED checkboxes:

-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [X] I would like to be assigned this i

[2022-05-29 05:19] ZDunc commented on #24026
@wise-king-sullyman I can take care of this issue as well. Just let me know :)

[2022-05-29 05:28] ZDunc commented on #23957
I can take care of this issue!

[2022-05-29 19:18] wise-king-sullyman commented on #23870
@DaeguDude are you still up for this? I know it's been a while since you last commented.

[2022-05-29 19:24] wise-king-sullyman commented on #24012
@ArjunSaili1 thanks! Sorry, but I've been extremely busy this past week and haven't been able to plan on it much yet. This is high on my todo list though!

[2022-05-29 19:26] wise-king-sullyman commented on #23557
@Pratik-Karale since we would need to review the PR that is made you shouldn't need to worry about hurting anything, but if you're not feeling up to it at the moment that is, of course, fine!

Thanks for making this issue 🙂

[2022-05-29 19:28] wise-king-sullyman commented on #24026
@ZDunc I would like to give @13colours another 5 days to respond. If we still haven't heard back from them by that time I will assign you 🙂

[2022-05-29 21:51] wise-king-sullyman commented on #23746
@BlizZard-bot you've got a greenlight for adding it as main content!

[2022-05-30 03:24] ArjunSaili1 commented on #24012
@wise-king-sullyman No worries

[2022-05-30 16:18] matristle opened #24174 "Ruby Course: Add Additional Resources to the Test Driven Development lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

-   [x] I would like to be assigned this issue to

[2022-05-30 20:54] aziham opened #24177 "Bug - Flexbox Growing and Shrinking lesson needs a rewrite"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-05-31 01:18] wise-king-sullyman commented on #23957
@ZDunc all yours, thanks!

[2022-05-31 01:26] wise-king-sullyman commented on #23746
Yes I would create an assignment section in the lesson, and if you'd like to also go ahead and refactor the lesson a bit to have the other articles we're linking out to placed in the new assignment section as well rather than in the body of the content as they currently are that would be great.

If you don't want to do that there's no obligation though and I can just make a separate issue for that

[2022-05-31 18:00] ManonLef opened #24180 "Foundations Course Revisiting RPS lesson: Rewrite Sharing code example"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-06-01 01:35] wise-king-sullyman commented on #23746
Awesome, thanks 🚀  I or one of the other maintainers will try and answer your question as best as possible on the PR!

[2022-06-02 09:51] ChargrilledChook commented on #24174
G'day @matristle, would you like to work on this?

[2022-06-02 12:45] CouchofTomato commented on #24174
@matristle Thanks. Additional resources is perfect for this

[2022-06-02 15:56] dm-murphy commented on #24180
This sounds great @ManonLef! I've assigned you to this issue.

Perhaps when reworking that paragraph there could also be a note or an additional line mentioning that learners will get to practice something along these lines in the Assignment section. Your call if you think that would be helpful or not!

One last thing that sticks out to me is this line from the 4th list item: "You (or anyone else

[2022-06-02 21:07] egemen-github opened #24186 "Out of date Action Cable lesson for Rails 7"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-02 22:10] ashoofly opened #24187 "All Projects: Default option to order submissions by latest submitted"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-06-03 12:31] #23941 closed

[2022-06-03 14:26] bappyasif commented on #23886
perhaps keeping instructions "out of editor" might help, as people are more inclined to read from a 'web page' than from an 'editor'

i might be totally wrong here, considering that assumption to be true....

[2022-06-04 00:50] ChargrilledChook commented on #24186
@egemen-github Thanks for the detailed write up and all the context, great report :+1:

Were you able to finish this lesson with the fixes from the previous discussion, or any other approaches?

[2022-06-04 01:44] ChargrilledChook commented on #24186
Related PR: #24088

[2022-06-04 04:28] Maheshkumar-novice commented on #24188
@thatblindgeye if this is still available, I will take this one.

[2022-06-04 05:09] Maheshkumar-novice commented on #23649
Working on it.

[2022-06-04 05:31] Maheshkumar-novice commented on #23284
Hi, Any updates on this issue?

[2022-06-04 06:42] xandora commented on #23284
@Maheshkumar-novice I think we can probably consider this one abandoned. I'm going to unassign this. Are you interested in working on it? If not, I'll pick it up myself.

[2022-06-04 06:45] Maheshkumar-novice commented on #23284
@xandora You can pick it, I'm not interested.

[2022-06-04 09:57] Magmusacy commented on #24165
Sure, I can give it a go

[2022-06-04 10:04] ChargrilledChook commented on #24165
@Magmusacy Thanks! It's all yours.

[2022-06-04 10:12] 01zulfi commented on #24168
Thanks for creating this issue. I think this is a fine suggestion. Adding a guest user sign in should at least be in the extra credits section.

You've been assigned.

[2022-06-04 10:17] 01zulfi commented on #24140
Hello 👋

I like the suggestions above. Please create a pull request with all the changes you'd like to see for the lesson. Thanks, @ArjunSaili1

[2022-06-04 10:30] ChargrilledChook commented on #23753
@nicolasseine This issue seems to have been resolved by the fixes in #23797. If you think there are still some potential problems, please feel free to open another issue per the last comment

[2022-06-04 10:30] #23753 closed

[2022-06-04 10:34] ChargrilledChook commented on #23247
Closed by #23446

[2022-06-04 10:34] #23247 closed

[2022-06-04 11:37] egemen-github commented on #24186
@ChargrilledChook I changed "turbolinks:load" with "turbo:load" in JS controller, but this didn't solve the problem. I copy pasted everything from the lesson, however real time message update is still an issue. I need to reload the page to see the message that was sent. I decided to stop working on this lesson and went back to https://www.theodinproject.com/lessons/ruby-on-rails-turbo and watched

[2022-06-04 13:25] #24165 closed

[2022-06-04 19:50] zfz commented on #24186
@egemen-github Hi, thank you so much for your PR!

I found only changing `turbolinks:load` is not enough, we should also assign `consumer.subscriptions.create` to a const object `messageChannel`, which will be called later to send the message. The final working version of `app/javascript/channels/message_channel.js`:
[code]

The tutorial should remind us to declare `messageChannel`, while Rails ge

[2022-06-05 16:01] ArjunSaili1 commented on #24019
Hey @01zulfi & @DaeguDude, just recommended the same idea in the suggestions channel on Discord. I made a basic list of advice I think should be included for this lesson (if it gets made):

- Use Media in READMEs (Photos, Videos, Gifs, etc.)
- Explain your development process
- Explain your motivation behind the project
- List out the technologies you used
- Provide information on how to run the p

[2022-06-05 17:35] thejwuscript commented on #24186
Hi guys,

@egemen-github Did your issue of real-time message update occur after signing in and trying to post a message? If that's the case, I also had the same problem. I fixed it by disabling turbo on the sign in form.

@zfz I read the e-mail you sent me, thanks. I agree with your suggestion to tell users to add the `const messageChannel `declaration. As it stands, It is a little confusing to sa

[2022-06-05 18:05] wise-king-sullyman commented on #24026
@ZDunc are you still interested in tackling this issue?

[2022-06-05 19:25] bappyasif commented on #24177
@Hamza-Aziane could you share any document reference for supporting this fact "The flex-basis initial value is 'auto' not '0%'."
thanks :)

[2022-06-05 19:35] thatblindgeye commented on #24188
@Maheshkumar-novice sure! You've been assigned. Any questions feel free to ask 🙂

[2022-06-05 20:40] egemen-github commented on #24186
@zfz Thanks for the additional info. I checked my app and ```app/javascript/channels/message_channel.js``` file is containing ```const messageChannel``` object as you mentioned above.

@thejwuscript

Exactly. Message is going to server successfully but not displaying on the html for the both sides (sender and receiver).

This is not a huge issue for me as I passed this lesson but I want to start t

[2022-06-05 22:40] Hamza-Aziane commented on #24177
I've already quoted w3c (the main international standards organization for the World Wide Web) documentation in the description of the bug. Please read the issue's description again. Thank you.

[2022-06-06 13:26] bappyasif commented on #24177
@Hamza-Aziane  thanks for pointing that out, i was busy reading through description but missed that 'w3c' citation somehow!!

i also looked into mdn articles, and they also cited same in this article https://developer.mozilla.org/en-US/docs/Web/CSS/flex#formal_definition

on an another note, perhaps that code snippet of `flex: 0 1 0%` was to tally pointing at "example" at hand!! in that case perha

[2022-06-06 15:26] Hamza-Aziane commented on #24177
If it's somehow pointing to the example at hand i.e. flex: 1 then it should be flex: 1 1 0%.

I've already mentioned that in the issue's description:

The problem is both cases will lead to a rewrite of the whole section.

[2022-06-06 16:10] Maheshkumar-novice commented on #24188
Okay sure @thatblindgeye. Thank you!

[2022-06-06 19:27] ZDunc commented on #24026
@wise-king-sullyman yes, I can do it!

[2022-06-06 23:32] wise-king-sullyman commented on #24012
@ArjunSaili1 the question of where to add this content has actually caused a bit of debate, and we're currently re-evaluating how we structure our Git content because of that.

Until we can do some investigation and come to a decision on that front this issue will, unfortunately, have to be on hold, but I will reach out to you once we're ready to move forward with it 🙂

[2022-06-07 03:00] ChargrilledChook commented on #24112
@scheals The three exercise updates look good at a glance, have you given them a quick test drive with Ruby 3.1 to make sure nothing blows up? ( I doubt there would be any major issues, but you never know).

Once the changes in the curriculum PR are made we should be good to wrap this up.

Thanks again for all your work on these :tada:

[2022-06-07 05:37] xandora opened #24201 "It says type code . to open all files in directory. Shouldnt it be code *?"
### Discussed in https://github.com/TheOdinProject/curriculum/discussions/23657

<div type='discussions-op-text'>

<sup>Originally posted by **qasimala** February 26, 2022</sup>
In the installations section of the foundations chapter, it says to type "code ." to open all files in that directory. However, on every terminal that I've tried, that doesn't work. A new empty vscode window just pops up.

[2022-06-07 05:38] xandora commented on #24201
Good catch. It should say something like:

    [...] if you have VS Code installed, you can cd into the project directory and then type code . (with the period) to open up that folder in VS Code.

This is an easy one for a first time contributer.

[2022-06-07 12:09] ChargrilledChook commented on #24112
Not a bad idea at all, but I'm personally not fussed if it doesn't make it in with this set of changes (although feel free if you'd like to do the legwork). Probably worth raising another issue for it if you would prefer to do it down the track

[2022-06-07 12:15] Hamza-Aziane commented on #24177
I opened a PR and closed it afterwards because I didn't know what the writer of that section was referring to with that flex example.

@bappyasif  You are right, this issue needs a maintainer to clear the confusion, then decide how it  should be fixed.

[2022-06-07 13:09] CouchofTomato commented on #23649
Might be nice to provide the update to show the latest version of ruby but I agree it's not a priority. Happy to merge if someone wants to pick this up though.

[2022-06-07 14:12] thejwuscript commented on #24201
I'd like to take this on if it is still available.

[2022-06-07 16:07] scheals commented on #24112
I will raise a new issue, seems most reasonable to me.

[2022-06-08 03:17] #23746 closed

[2022-06-08 12:40] thejwuscript commented on #24186
I'd prefer if we can address those issues in a separate PR.

[2022-06-08 19:28] xandora commented on #24201
Thanks for volunteering. I'm not married to the wording in my example, so word it how you think would read best and we'll review it from there.

[2022-06-09 11:58] ChargrilledChook commented on #24112
@scheals Great effort, thanks for your work on this. I don't currently have access to the Custom Enumerables repo so I can't merge that one, but the rest are all sorted. It should be fine in the meantime.

[2022-06-09 11:58] #24112 closed

[2022-06-09 12:01] 01zulfi opened #24206 "Git Basics lesson: move bonus section before the conclusion"
**1. Description of the Feature Request:**

[Changing The Git Commit Message Editor](https://www.theodinproject.com/lessons/foundations-git-basics#bonus-changing-the-git-commit-message-editor) is currently a bonus section of the lesson. I believe it should be part of the lesson itself. The reason being is we don't want users to skip setting up VSCode for Git, as it might cause confusion with VIM/N

[2022-06-09 20:43] tramio commented on #24206
Hello! I'd love to take over this issue, may I have it assigned? 😃

[2022-06-10 14:21] palmerusaf opened #24210 "React Router Lesson: Add small blurp/section on why use router"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-06-10 15:32] scheals commented on #24135
Another occurence:
https://discord.com/channels/505093832157691914/690639791380758558/984836328132866048

[2022-06-10 17:03] SedlavJ opened #24213 "Block and Inline Lesson page: Unnecessary Link"
On the Block and Inline Lesson web page in the additional resources section there is a link which leads to : http://web.archive.org/web/20210813033024/https://learnlayout.com/no-layout.html that is creating a delay in loading in the browser.

Suggesting to eliminate the http://web.archive.org/web/20210813033024/ part of the URL. https://learnlayout.com/no-layout.html works fine.

[2022-06-10 18:29] SedlavJ commented on #24213
Hi. I thought I created it. Confused. I just wanted to let staff know about
my bug report is all.

On Fri, Jun 10, 2022, 1:11 PM Leo Kirasić ***@***.***> wrote:

[2022-06-10 19:06] LeoKirasic commented on #24213
Gotcha! Thank you for creating the issue!

If anyone would like to work on this, please tag me and I'll assign you !

[2022-06-10 19:15] matristle commented on #24213
I'll take this one @LeoKirasic. Seems like a simple link swap at first glance.

[2022-06-10 19:33] SedlavJ commented on #24213
Awesome, thanks!

On Fri, Jun 10, 2022, 2:15 PM Khutch ***@***.***> wrote:

[2022-06-10 20:01] liridonloku opened #24214 "Bug - NodeJS Members Only project: Inconsistency in instructions"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-11 04:03] ChargrilledChook commented on #22949
Hey @Sparky-code, any updates on this?

 Let me know if you'd still like to do it or if we should open it up again

[2022-06-11 08:27] #24206 closed

[2022-06-11 08:39] 01zulfi commented on #24214
Hello 👋

I feel the intent of point 9 is to show the author **and** the date of the message to users who are members and/or admins. Signing up should **only** allow users to post messages.  What do you think about this?

[2022-06-11 09:02] 01zulfi commented on #24210
Hello 👋

Thanks for bringing this up. I feel that updating the introduction of the Router lesson should be sufficient. We can expand a little on client-side routing and touch on the need for React Router. What do you think?

[2022-06-11 10:15] liridonloku commented on #24214
I think that was the intent too, but I also think it would be beneficial to add the  "and date" to point 9 to prevent any confusion, since both point 7 and 9 refer to members and not regular users, and they should use the same wording.

Based on how the instructions are written now, I understand that a regular user can post and they can't see post authors, but it's unclear whether they should be a

[2022-06-12 00:23] michael-duke opened #24223 "Project: Embedding Images and Video | How to add my solution"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-06-12 06:24] 01zulfi commented on #24223
Hello 👋

The YouTube video player project has been archived, as we have released new HTML/CSS material on The Odin Project few
months back.

Nevertheless, once you complete an Odin project, you can submit it right on our website by following these steps;
1. Navigate to the project page on [https://www.theodinproject.com/](https://www.theodinproject.com/) of the project you completed
2. Make sure y

[2022-06-12 06:24] #24223 closed

[2022-06-12 06:30] #24168 closed

[2022-06-12 13:10] palmerusaf commented on #24210
Sound good to me!

[2022-06-12 20:10] #24213 closed

[2022-06-13 00:10] ZachPoole opened #24228 "Intermediate HTML and CSS > Form Basics > Textarea: Add info about Textarea resize style"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

<hr>

**1. Description of the Feature Request:**

[2022-06-13 00:52] rurikid opened #24229 "Intermediate HTML and CSS > Form Basics: Include Form Control Examples"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:
-   [x] I wou

[2022-06-13 07:34] fridolinba opened #24231 "Foundations course | HTML Foundations section | Introduction to HTML and CSS: Contradictory labeling of HTML & CSS as programming languages"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-06-13 17:03] matristle commented on #24242
I'd like to take on this set of changes @thatblindgeye if that's okay!

[2022-06-13 21:10] xandora commented on #24135
We could drop the video entirely. It's just an introduction to VS Code anyway, and only confuses people when it goes into installing Node.js and starts talking about Python after that.

[2022-06-13 22:15] scheals commented on #24135
Doesn't seem like a bad solution to me either.

[2022-06-14 01:22] #24201 closed

[2022-06-14 12:00] ChargrilledChook commented on #24231
@fridolinba Sounds like a reasonable idea, although I'd probably want to keep it reasonably simple / brief. I think I prefer the second option (ie a quick note) as it seems like a decent introductory resource otherwise. What do you think?

 Would you like to open a PR for this?

[2022-06-14 12:06] ChargrilledChook commented on #24229
@rurikid Can you clarify what kind of examples you want to see that aren't covered by the ones [here](https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-form-basics#form-controls)?

[2022-06-14 13:47] rurikid commented on #24229
It would be great to see how each of the form controls actually renders as they are introduced.
For instance we have this line under "The Input Element"

Which is a code block showing HTML and not what a text input form control looks like.

For example, I did not know what an opt group was before this lesson, I'm sure I've seen them on past forms I've completed, but it didn't seem to me that the t

[2022-06-14 14:36] ChargrilledChook commented on #24229
@rurikid if you did expand it, how would you do it? Via codepen embed? Something else?

[2022-06-14 17:04] liridonloku commented on #24031
I remember thinking the wording was a bit weird when I reached this page, but actually thought this part:

 "However, we’re not done yet. There is yet more to learn!"

...referred to the Node course that comes after. So I don't think it's a pressing matter, but if you want to change it, something that would work imo is separating last paragraph in two parts. Specifically after the "So where do you

[2022-06-14 19:10] fridolinba commented on #24231
I would give it a shot but I'm new here and it's not quite clear to me what I should do: should I open a separate issue similar to this one or should I try to formulate the disambiguation note myself? In the second case am I supposed to clone the TOP repository and make a pull request? (it would me my first time).

[2022-06-14 19:43] ZachPoole commented on #24228
Ah I didn't know it was in one of the articles. Just being honest though I feel people might not read all the articles, however it is just a minor thing, if people really want to know it they can google it

[2022-06-14 20:41] thatblindgeye commented on #24242
You're assigned @matristle !

[2022-06-15 00:01] Sparky-code commented on #22949
@ChargrilledChook Sorry for just sitting on it, been a lot busier than expected. You should open it back up, I'll go ahead and unassign myself

[2022-06-15 05:29] ChargrilledChook commented on #24228
@ZachPoole thanks for the suggestion! If you think it's a change worth making I'm happy for you to make a PR, but your call.

[2022-06-15 05:30] #24228 closed

[2022-06-15 05:38] ChargrilledChook commented on #24231
@fridolinba No worries at all, we're here to help.

There's two main ways you can do it - click the 'improve this lesson button' at the bottom of the lesson and it will open a PR for you to directly edit the lesson.

That's fine, but if you want to do it the 'proper' way you can fork the curriculum repo, make a change locally, push your fork up and then make a PR. A bit longer but a bit more real

[2022-06-15 20:35] Retr0-Flow opened #24247 "Bug - CSS Foundations: Minor grammatical error"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-15 20:42] fridolinba commented on #24231
Thank you! I'd try to do it the hard way (i.e. by forking the curriculum) because I think it's a learning opportunity. If I get stuck I'll ping you. Thanks!

[2022-06-15 21:42] afkus3r commented on #24247
Hi, I'm available to work on this issue :)

[2022-06-16 01:06] dm-murphy commented on #24247
Thanks @Retr0-Flow, good catch! I've assigned this issue to you so you can go ahead and make a pull request to make the change.

Please be sure to include this issue number in the pull request template so it will automatically close this issue after merging. If you have any questions, please let me know :-)

[2022-06-16 11:19] andras-tsitskan opened #24250 "Bug - Understanding Errors lesson: Image not corresponding to the example code"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-16 11:21] 01zulfi commented on #24214
Thanks for clarifying. Totally agreed with what you said. Here's the acceptance criteria:

- [ ] Modify point 9 in the [Members Only assignment](https://www.theodinproject.com/lessons/nodejs-members-only#assignment) that only users that have member privileges should be allowed to see authors AND date of the message

Do you want to take this on @liridonloku, if you don't want to, that's okay as wel

[2022-06-16 11:45] liridonloku commented on #24214
Yeah I can make the change @01zulfi. Though if you want to use it as a good first issue for someone else, that's ok with me too.

I'll wait for your response/assignment before moving ahead with it.

[2022-06-16 11:46] 01zulfi commented on #24214
Cool, thank you. You're assigned, @liridonloku !

[2022-06-16 20:34] fridolinba commented on #24231
I tried to do it the 'proper' way, i.e by forking, cloning, staging, commiting, pushing and finally pulling : ). Hope everything's fine. By the way, I followed the tutorial at https://github.com/TheOdinProject/curriculum/wiki/Contributing-Guide and got stuck for a while towards its end because the fact that one should first stage and commit the changes is not mentioned at all. After point 2 (creat

[2022-06-17 02:05] jproads opened #24255 "Bug - Foundations Path, Block and Inline Lesson: Rickrolled in lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-17 04:03] ZachPoole opened #24256 "Intermediate HTML and CSS -> CSS Units: Remove empty "Additional Resources" section"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

<hr>

**1. Description of the Feature Request:**

[2022-06-17 10:17] #24214 closed

[2022-06-17 10:45] LeoKirasic commented on #24255
Hey, Thank you for creating the issue.

Unfortunately, we think adding a bit of fun to our content is a positive thing and thus we have decided to leave this in.

[2022-06-17 10:45] #24255 closed

[2022-06-17 11:21] Retr0-Flow commented on #24247
Sorry for the delay! I'll make the pull request today with the issue number. 😄

[2022-06-17 12:17] sheilaJava commented on #24256
Hi! I'm available to work on this issue if @ZachPoole doesn't want to do so himself :)

[2022-06-17 12:28] Retr0-Flow commented on #24247
@dm-murphy Pull request made! This is my first request ever, thank you for the opportunity! 😃

[2022-06-17 12:44] ChargrilledChook commented on #24256
We generally want to leave these in, even when empty so people know where to add resources and pages stay consistent.
It might be a good idea to add the placeholder line
[code]

You can check the `LAYOUT_STYLE_GUIDE.md` file in the curriculum repo if needed.

[2022-06-17 12:45] ChargrilledChook commented on #24256
@sheilaJava happy for you to take this on if @ZachPoole doesn't want to :+1:

[2022-06-17 14:31] Retr0-Flow commented on #24247
Closing issue as the issue was misinterpreted as a typo.

[2022-06-17 14:31] #24247 closed

[2022-06-17 15:15] sheilaJava commented on #24256
Great, I'll wait for @ZachPoole response!

[2022-06-17 18:32] DigitalKnight0 opened #24259 "Bug - : Image contradicts with inspector in html - css inspection lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-17 19:00] ZachPoole commented on #24256
Feel free to do it if you want.

[2022-06-17 23:03] ChargrilledChook commented on #24256
Thanks guys, I've assigned it to you @sheilaJava

[2022-06-18 02:15] ChargrilledChook commented on #24231
@fridolinba Nice work figuring it out, and good work on your first open source contribution :tada:

Thanks for the feedback with the instructions - I'm happy for you to open an issue about it if you think it could be improved. In this case I think there is a bit of assumed knowledge and we probably don't wan't to get _too_ detailed with instructions lest it get too long, but I could see how a sing

[2022-06-18 02:15] #24231 closed

[2022-06-18 02:21] #24026 closed

[2022-06-18 02:55] ChargrilledChook commented on #24229
@rurikid to play devil's advocate a bit here, I think we don't _necessarily_ want to spoon feed this kind of information in every situation. Especially as people start to get out of Foundations, I would hope that they are running code examples they see and experimenting with them.

My main concern would be (as you point out) doing this properly is a reasonable amount of work, and I'm not sure how

[2022-06-18 03:08] ChargrilledChook commented on #24186
@thejwuscript @zfz @egemen-github Thanks everyone for sharing your thoughts and insights on this! I'm not currently super across all the issues in the lesson as I haven't had a chance to run it with the Rails 7 changes.
Could you guys tell me if we still need to make some more changes for the lesson to function correctly, even after the changes [here](https://github.com/TheOdinProject/curriculum/p

[2022-06-18 03:15] JoshDevHub commented on #22949
I could take this on if that's okay :slightly_smiling_face:

[2022-06-18 03:17] ChargrilledChook commented on #22949
@JoshDevHub of course, thanks!

[2022-06-18 05:02] muditchoudhary commented on #24240
Hello, there is a PR already merged for this.
So isn't this issue already solved?

[2022-06-18 05:31] muditchoudhary commented on #24236
Hello! I would like to work on this.

[2022-06-18 12:45] thatblindgeye commented on #24240
@muditchoudhary ++ You're right! I forgot this lesson was done by another maintainer to provide a working example for contributors to view. Thank you for pointing that out!

[2022-06-18 12:45] #24240 closed

[2022-06-18 12:45] thatblindgeye commented on #24236
@muditchoudhary you're assigned!

[2022-06-18 13:12] #24256 closed

[2022-06-18 13:21] thatblindgeye opened #24263 "Intermediate HTML/CSS: Form Basics lesson needs updates to Input section"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-06-18 13:30] thatblindgeye commented on #24229
There is a Codepen included that shows the `input` element in action further down from where the input element is first mentioned, though that is more to show why one should use the `name` attribute.

Providing a Codepen embed for every type of form control (input, select, checkbox, radio,  textarea) just to show what they look like when rendered I think might be a bit much, especially since at th

[2022-06-18 14:04] zfz commented on #24186
@ChargrilledChook  Hi, with the PR [Action Cable Assignment: Update 'Simple Messaging App' code-along](https://github.com/TheOdinProject/curriculum/pull/24088), I can successfully pass through this lesson with `Rails 7`. But not sure if there's any issue with lower versions of Rails.

[2022-06-18 14:05] ChargrilledChook opened #24264 "Ruby Installation Lesson: Update with instructions for updating ruby-build"
**Overview**

We have recently updated our recommended Ruby version to 3.1. As part of this upgrade, we have encouraged learners to go back and update their Ruby version using the [Installing Ruby Lesson](https://www.theodinproject.com/lessons/ruby-installing-ruby).

One potential issue when attempting to update Ruby via rbenv is missing versions for Ruby build. While the fix for this is relativel

[2022-06-18 14:16] ChargrilledChook commented on #24186
@zfz Thanks for getting back to me. If it's now Rails 7 safe, I think that's good enough for now. It doesn't seem to be cropping up as an issue in chat so we can revisit if it continues to be an issue.

[2022-06-18 14:16] #24186 closed

[2022-06-18 14:56] matristle commented on #24264
I'm up for this! @ChargrilledChook

[2022-06-18 14:56] ChargrilledChook commented on #24264
@matristle All yours, thanks!

[2022-06-18 15:20] ChargrilledChook commented on #24177
@Hamza-Aziane Definitely seems like a fix is in order. I have only had a quick glance through the lesson. Do you think the actual examples are incorrect, or is it just a matter of updating a handful of values throughout the lesson?

[2022-06-18 15:41] egemen-github commented on #24186
That's very good to know. Can't wait to try it out!

[2022-06-18 19:13] xandora commented on #24177
The confusion here might be that there is no "default flex value". It's not something you can write `flex: ;` in your css and have it work. You *need* to use: `element {  flex: auto }` OR `element {  flex: none }` OR specifiy the `grow`, `shrink`, and `basis` values yourself.

With `grow`, `shrink`, and `basis`, if you *omit* any of them, then they revert to their default values of `1 1 0` respect

[2022-06-18 22:23] dm-murphy commented on #24229
Thanks for the suggestion @rurikid 👋

It's worth noting that examples of what form controls look like are provided in multiple resources within the Assignment section. Please see the first section of MDN's Different Form Controls (https://developer.mozilla.org/en-US/docs/Learn/Forms/Basic_native_form_controls) and the guide from Interneting Is Hard (https://web.archive.org/web/20210515225808/https

[2022-06-19 01:52] dm-murphy commented on #24177
Thanks @Hamza-Aziane 👋

This issue has come up enough times in PRs and on Discord that I believe it's worth addressing. Some good points already made from @xandora!

In my opinion, the confusion in our lesson stems from the screenshot and the first line following the screenshot:

<img width="753" alt="Screen Shot 2022-06-18 at 9 13 56 PM" src="https://user-images.githubusercontent.com/60681378/174

[2022-06-19 05:41] ChargrilledChook commented on #23649
Closed by #24267

[2022-06-19 05:41] #23649 closed

[2022-06-19 05:59] Maheshkumar-novice commented on #24263
@thatblindgeye Can I take this one?

[2022-06-19 11:46] fridolinba commented on #24231
@ChargrilledChook Thanks for assisting me and for the feedback. I'm glad the change was accepted. I can open another issue regarding the tutorial "Contributing Guide". I am not sure though whether I should open it inside the TOP/curriculum or some place else. I'm asking this trivial question because this particular article, i.e. wiki/Contributing-Guide doesn't seem to appear within the structure o

[2022-06-19 13:14] matristle commented on #24264
- [ ] Instructions are updated for Linux

#### Proposed Addition

I'm thinking of adding it:

![image](https://user-images.githubusercontent.com/97355883/174480448-4b056ab9-7616-44aa-afe4-aa91f95487a6.png)

That way, it doesn't interrupt the flow of the paragraph after `rbenv install 3.1.2 --verbose` and only extends it.

#### Source
https://github.com/rbenv/ruby-build/wiki#updating-ruby-build

--

[2022-06-20 11:53] thatblindgeye commented on #24263
@Maheshkumar-novice you got it!

[2022-06-20 15:32] Maheshkumar-novice commented on #24263
Thank you!

[2022-06-20 18:11] bappyasif opened #24275 "Responsive images lesson: should include an article link in it"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-06-20 23:13] ChargrilledChook commented on #24231
Hey @fridolinba, no worries and my pleasure.
The way wiki's work is slightly different and I actually think it may not be possible to edit them as a public user. I'm happy for you to open a new issue and we can figure it out there, but before you do that - do yout think the instructions here cover the missing information in the wiki? [Link](https://github.com/TheOdinProject/theodinproject/blob/mai

[2022-06-21 04:51] 01zulfi commented on #23926
@eltonbautista Closing this now, if you have any questions, feel free to share.

[2022-06-21 04:51] #23926 closed

[2022-06-21 23:19] Cazolion opened #24281 "Testing"
For Chook

[2022-06-21 23:19] #24281 closed

[2022-06-21 23:22] Cazolion opened #24282 "Bug - :"
Testing permissions for Chook

[2022-06-21 23:23] #24282 closed

[2022-06-22 06:28] 01zulfi commented on #23639
@thatblindgeye Any progress on how we want to tackle this?

[2022-06-22 06:28] 01zulfi commented on #23358
@linkonsat Any progress on this?

[2022-06-22 06:56] linkonsat commented on #23358
@01zulfi In all honesty it completely slipped my mind that I got assigned to this. I'm going to start working this one and get it finished although.

[2022-06-22 17:55] bappyasif commented on #24120
issue is already resolved and merged with this [pr](https://github.com/TheOdinProject/curriculum/pull/24130)

[2022-06-22 17:55] #24120 closed

[2022-06-22 19:25] fridolinba commented on #24231
Hey @ChargrilledChook. Yes, I think the missing information in the wiki is pretty much covered by the instructions in the [tutorial ](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md#setting-up-your-local-clone)linked by you. The commit stage is mentioned there. The staging is not mentioned but I guess a commit is not possible without stage...(?). Thanks a lot!

[2022-06-23 01:17] frobertb4 opened #24287 "504 error to link in curriculum."
Hey team, their server simply might be down at the moment but I can't access the link in Javascript Fundamentals Part 3 where it instructs on call stacks and how return works in the context of chained function calls. [dysfunctional link here](https://www.javascripttutorial.net/javascript-call-stack/). [TOP lesson here](https://www.theodinproject.com/lessons/foundations-fundamentals-part-3).

Cheer

[2022-06-23 22:10] zachmmeyer opened #24290 "Choose Your Path Foward: Enhance Choice Wheel"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-06-23 22:22] #24290 closed

[2022-06-23 23:03] thatblindgeye commented on #23639
@01zulfi For now we should restructure the lessons in Intermediate HTML/CSS (noted in the issue linked above this comment in the website repo).

From there, a separate lesson on form styling can be added after the fact.

[2022-06-23 23:42] #22949 closed

[2022-06-23 23:55] ChargrilledChook commented on #24020
@linkonsat I was browsing the backlog, saw this and had a look at the original author's youtube. Stroke of luck because they literally added an entirely new version updated for Rails 7 2 days ago.

It's quite long, so might take a bit of time to review but a good time to revisit this one I think

[2022-06-24 02:20] edgardooliveras commented on #24263
"Using Form Controls Outside of Forms" sub-section, update the final paragraph to, "Try changing the name attributes of some of the input fields in the form and removing the attribute entirely, then submit the form again to see how the form data in the response changes." GooD

[2022-06-24 06:55] ChargrilledChook commented on #23817
This issue popped up in discord again recently: [see discussion here](https://discord.com/channels/505093832157691914/540903304046182425/984501342309580860)

I did a bit of research and it seems the purpose of this site is simply to improve the default formatting of rdoc generated pages. The author was actually selected to improve the official Ruby docs, but the project is on hold due to conflict

[2022-06-24 12:02] thatblindgeye commented on #23197
Not stale

[2022-06-24 14:39] linkonsat commented on #23358
Possible resources found so far:
1. https://hibbard.eu/rails-react-crud-app/
2. https://hibbard.eu/rails-react-crud-app/

[2022-06-24 21:40] matristle commented on #23886
@wise-king-sullyman I could give this a go!

Here's my first attempt at clarification:
https://replit.com/@alkirkel/direction-follow#follow.js

[2022-06-25 01:44] ChargrilledChook commented on #23816
Closing, but feel free to ping me here if this is something you still want to work on @MLGabe

[2022-06-25 01:46] ChargrilledChook commented on #23816
Closing as this is both a fairly minor change and stale, but happy to re-open if you would still like to take this on @MLGabe

[2022-06-25 01:47] #23816 closed

[2022-06-25 04:54] ManorSailor commented on #24177
I agree with @Hamza-Aziane, the lesson should be modified to teach the reader what has been shown in the flex example i.e, flex: 1. Besides, the following [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/flex) article about the flex can be used as reference in the course or maybe even in the assignment. Flex property is one of most confusing properties, linking the learner to an appropriate

[2022-06-25 18:03] scheals commented on #24135
@xandora
Have Maints talked about this? Would love to fix this issue.

[2022-06-26 05:00] ChargrilledChook commented on #23481
@linkonsat I've added an `On Hold` tag on the linked issue based on the discussion there.

What would you like to do with this one? Although it's related, it seems like a much smaller scope so could be completed independently of that work

[2022-06-26 10:59] notmyf4ulty opened #24300 "Bug - Foundations/Git Basics: GitHub links are broken"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-26 17:16] sheilaJava commented on #24300
Hi, it looks like the entire _Git Basics_ directory is missing. I'm available to work on it to create the directory and the MD files.

[2022-06-26 19:45] KevinMulhern commented on #23552
Sorry just catching up with GH @wise-king-sullyman, no plans at the moment. Our focus is on the Rails course. But this has been added to our backlog to have a look at.

[2022-06-27 06:28] #23639 closed

[2022-06-27 13:45] aaronlrv commented on #24241
Hey is help still needed? Would love to work on this!

[2022-06-27 13:54] giovanniPepi commented on #24250
Screenshot is actually accurate if you copy the entire code, because there is an empty line between the variable declarations and the console.log :

![image](https://user-images.githubusercontent.com/5255535/175958227-0d867f88-a8d8-4e77-b6d6-efa70f55ea3d.png)

Whereas if you type the code without an empty line, it shows the error as happening on line 3:

![image](https://user-images.githubusercont

[2022-06-27 14:04] giovanniPepi commented on #24275
It's currently linked before the Knowledge Check on the Assignment list, item 3

![image](https://user-images.githubusercontent.com/5255535/175960447-f17705d8-6115-44af-a731-8a7793681e86.png)

[2022-06-27 15:45] giovanniPepi commented on #24259
I could update this if the team needs. Just want to confirm if we should update every other screenshot to keep the same browser pattern or not.

[2022-06-28 03:28] dm-murphy commented on #24300
Good catch, thanks for bringing this up @notmyf4ulty! 🙏

@01zulfi Is this included in your curriculum repo cleanup?

The README hasn't been updated since February and is missing the Commit Messages lesson under HTML Foundations too.

@sheilaJava 👋  Thanks so much for volunteering. Just waiting to find out more on the status of this issue and will get back to you!

[2022-06-28 03:34] 01zulfi commented on #24210
Thinking more on this, I suppose we can add a section on "Client-side Routing". Here's the acceptance criteria if anyone wants to pick it up:

- [ ] Add a section called "Client-side Routing" right after Learning Outcomes
- [ ] In the new section, discuss client-side routing and why it's useful. Then, briefly touch upon how React Router is handy for routing in React applications. For writing this

[2022-06-28 03:44] 01zulfi commented on #24300
The Git Basics lesson can be found in the [`curriculum/git` directory](https://github.com/TheOdinProject/curriculum/tree/main/git). We moved all the git lessons to this directly except for the "Setting Up Git" lesson.

The Foundations README is outdated, this should be fixed whenever I have a chance to get around to conforming the foundations directory to the [Suggested Implementation in this issu

[2022-06-28 08:02] notmyf4ulty opened #24305 "Bug - Foundations/Inspecting HTML and CSS: Different style applied to h1 than shown in the lesson's screenshot"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-06-28 21:15] dm-murphy commented on #24300
Thanks for clarifying @01zulfi 🙏

If you are looking for any community contributors to help you on this when the time comes, please consider reaching out to @sheilaJava

@01zulfi We can either close this issue out now if it's covered by your on-going project or leave this issue open as a reminder. Whatever works best for you, thanks!

[2022-06-29 00:23] dm-murphy commented on #24177
@Hamza-Aziane and @ManorSailor Just want you both to know this issue has not been forgotten about and we really appreciate the input! 🙏

@Hamza-Aziane Are you still willing to take on this issue and make a pull request? It is likely to take a number of iterations to work through this lesson.

We will also need to update this issue with the criteria of what exactly we want to address in reworking t

[2022-06-29 04:21] 01zulfi commented on #24300
@dm-murphy I don't see a reason to keep this issue open.

[2022-06-29 08:37] 01zulfi commented on #24159
Hello Robert (@robertguss )👋

Thanks for creating this issue, and wanting to contribute to The Odin Project. With this issue, we are considering to add end-to-end testing content for our JavaScript course but have concerns if it would be a great fit. Additionally, the team isn't sure about re-purposing the [learn.cypress.io](https://learn.cypress.io/) content for TOP (because of copyright concerns

[2022-06-29 13:44] dm-murphy commented on #24300
@notmyf4ulty Closing out the issue per the above conversation. Thanks again for bringing this up! 🙂

[2022-06-29 13:44] #24300 closed

[2022-06-29 16:10] robertguss commented on #24159
@01zulfi that sounds great!

I will be sure to check out the current testing lessons and review them. I would love to keep in touch and help out TOP any way that I can whether that be with E2E testing resources, component testing, or just web development in general.

I think you all are doing amazing work.

[2022-06-29 16:38] sheilaJava commented on #24305
Hi 👋 Are you talking about the size and margin of the heading ?
  If so I think they're different on your screen because they are defined using % and rem units in the CSS, as you can see in the _Styles_ tab in the _DevTools_. % and rem are **relative [units](https://www.w3schools.com/cssref/css_units.asp)**, which would explain why the elements' sizes are different on every screen (**depending on

[2022-06-30 05:27] himanshud2611 opened #24318 "Foundation Course:Add questions at Knowledge Check on Block and Inline lesson"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-06-30 05:29] himanshud2611 commented on #24318
I would like to be assigned this issue to work on it.

[2022-06-30 08:41] notmyf4ulty commented on #24305
Hi @sheilaJava, thanks for your comment.

It's not what I meant though. If you compare two links that I provided in my original post, you will notice that it's not about specific dimensions / other properties being different, but **the whole classes**.

1. In the lesson's screenshot there are the following assigned to the `h1` element: `accent`, `hero__main-heading`
2. In my case it's: `text-4xl`,

[2022-06-30 12:46] notmyf4ulty commented on #24305
@sheilaJava That's what I think as well. Although I didn't have a problem with this part of the lesson as I'm somewhat proficient with frontend dev basics, it took me some time to figure out that probably this is a problem with a screenshot.

The reason why I created the issue is that I thought about other participants (many of them probably at the very beginning of their web dev journey), and thi

[2022-06-30 20:55] thatblindgeye commented on #24241
It is! You've been assigned @aaronlrv

[2022-07-01 14:06] aaronlrv commented on #24241
Thank you! Just wanted to ask a quick question, The following lessons

- Fundamentals Part 1
- Fundamentals Part 2
- Fundamentals Part 3
- Understanding errors

All don't have assignment tabs added on, Which means I shouldn't create an assignment tab to move them correct? Based on this criteria listed "If this section does not exist in a lesson, it should not be added.".

[2022-07-01 14:11] aaronlrv commented on #24241
Because as a result of this, All the lessons meet the criteria. The following lessons listed above all have practice sections but no assignment sections. Thus matches the criteria above perfectly

[2022-07-01 14:12] aaronlrv commented on #24241
Because as a result of this, All the lessons meet the criteria. The following lessons listed above all have practice sections but no assignment sections. Thus they do not need to be moved and match the acceptance criteria perfectly.

[2022-07-01 14:47] #23557 closed

[2022-07-01 17:04] thatblindgeye commented on #24241
Looks like I received notifications about a reply from you @aaronlrv . Did you delete the reply or did you still have a question?

[2022-07-01 17:09] #24188 closed

[2022-07-01 17:18] 91Flavio91 opened #24325 "Grammatical error on Javascript Basics/Foundamentals Part I"
Hi! I noticed that there is an unecessary question mark on the Javascript Basics/Foundamentals Part I. If you go on the "Knowledge Check" section and take a look at the first link, you will spot the unecessary question mark. I mean, I found it unecessary because the sentence sounds affirmative!

[JS Fundamentals Part 1 knowledge check](https://www.theodinproject.com/lessons/foundations-fundamental

[2022-07-01 18:28] thatblindgeye commented on #24318
@himanshud2611 Can you clarify the question you think should be added and how it would be useful for users to be able to answer?

[2022-07-01 18:34] thatblindgeye commented on #24305
I wouldn't object to a PR being made to update this screen shot, but I think it's important to keep in mind that the point of that section of the lesson isn't to show the current styles of the home page, but rather to give an overview of what the inspector looks like when inspecting an element.

So while updating the screenshot would work *for now*, a better solution might be to just mention that

[2022-07-01 18:37] #24275 closed

[2022-07-01 18:40] thatblindgeye commented on #24259
This was also mentioned in #24305 which I have opened up to be taken on. @DigitalKnight0 if you'd like to take that on please comment there and let me know.

[2022-07-01 18:40] #24259 closed

[2022-07-01 18:45] thatblindgeye commented on #24250
@giovanniPepi the code they are referring to is the one that ends with `const message = str1.push(str2);`.

@andras-tsitskan I've assigned you to this issue.

[2022-07-01 18:53] DigitalKnight0 commented on #24305
@thatblindgeye coming from the other issue, i personally think that directing learners to site's main page is bit unnecessary (partially because it displays a ton of tailwinds classes, which new learners might find intimidating due to the complexity). Maybe we can redirect them to a someplace simpler with minimal and simple css? Or just exclude the redirection at all and just use the picture as is

[2022-07-01 18:53] himanshud2611 commented on #24318
The question would be, Can an inline element will contain a block-level element or not?
The answer being No.
As block-level element can contain inline ones using display property.
It would be logic based ques to users to understand the property.

[2022-07-01 19:02] thatblindgeye commented on #24064
@boostaboosh just wanted to check in to see if you were still interested in doing this?

[2022-07-01 19:05] thatblindgeye commented on #24063
@boostaboosh Wanted to check if you were still interested in resolving this issue?

[2022-07-01 19:15] thatblindgeye commented on #23741
I am also unable to reproduce this. @SemiSentientFungus if you can provide more details about how to reproduce please feel free to reply, but for now I will be closing this issue.

[2022-07-01 19:15] #23741 closed

[2022-07-01 19:45] leinierperez commented on #24342
I can work on this

[2022-07-01 20:17] justEstif commented on #24341
I can work on this.

[2022-07-01 20:40] SaadShah11 commented on #24325
The question mark seems correctly placed; not all questions start with what, when, where, why, how etc. This sentence is grammatically correct with and without the ? so it seems unnecessary to remove it.

[2022-07-01 22:26] robroskie commented on #24340
I can work on this issue

[2022-07-01 23:19] Overlandcoder commented on #24325
I think the question mark would only make sense if the sentence was changed to "Can you name the three ways to declare a variable?". Otherwise it should be removed.

[2022-07-01 23:34] Overlandcoder commented on #24339
I'd like to take this on if it's still available!

[2022-07-01 23:39] Overlandcoder commented on #24239
I'd like to work on this please.

[2022-07-02 04:44] raineedust commented on #24331
I can work on this!

[2022-07-02 10:21] boostaboosh commented on #24064
Hi @thatblindgeye, I am still interested in doing this but I am not able to do it yet because I don't know how. When I get further along in the course and am able to I will be happy to do it. It may be a while.

[2022-07-02 10:21] boostaboosh commented on #24063
Hi @thatblindgeye , I am still interested in doing this but I am not able to do it yet because I don't know how. When I get further along in the course and am able to I will be happy to do it. It may be a while.

[2022-07-02 10:47] aleksandar-code commented on #24329
I would like to be assigned this issue!

[2022-07-02 12:57] #24241 closed

[2022-07-02 13:04] #24236 closed

[2022-07-02 13:11] thatblindgeye commented on #24342
@leinierperez thanks for wanting to take this on! Just to let you know, you do not need to update the level 3 heading "Important note" in Project Calculator as another PR is making a change to that.

[2022-07-02 14:15] aaronlrv commented on #24238
Hey is this still available? Would love to take it on!

[2022-07-02 15:07] linkonsat commented on #24020
@ChargrilledChook indeed. so the total time is roughly 2 hours and 34 minutes and I will give it a watch. Although at this length, I wonder if it's worth just writing our own "practice" lesson. With an emphasis on how you can use Devise as a core concept. We already write up creating your own app for another lesson and I am a bit concerned it would be very easy to zone out if your just coding alon

[2022-07-02 15:10] ChargrilledChook commented on #24020
I agree that it's probably better to avoid codealongs at this point, but perhaps recommending the first two vids in additional resources could be worthwhile (if the content is any good)

[2022-07-02 15:14] linkonsat commented on #23481
@ChargrilledChook I can go ahead and start working on the example. Although I would still want to break up the lesson when this section gets reviewed.

[2022-07-02 15:17] linkonsat commented on #24020
@ChargrilledChook The first two could definitely be good. I am watching them and they are the only ones with Devise it seems. So definitely think recommending the first two in additional resources and saying the rest are optional could be a good touch? What do you think?

[2022-07-02 15:19] ChargrilledChook commented on #24020
Sounds great, I like it :ok_hand: I'll try to give them a watch when I get a chance

[2022-07-02 15:55] leinierperez commented on #24342
@thatblindgeye Sorry, I won't be able to work on this.

[2022-07-02 16:27] thatblindgeye commented on #24238
@aaronlrv yep, you've been assigned!

[2022-07-02 17:04] Maheshkumar-novice opened #24351 "Bug - Ruby Debugging: title attribute on the images needs to be updated"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-07-03 04:19] linkonsat commented on #24020
Sweet. I'll make the PR tonight or tomorrow.

[2022-07-03 13:25] aaronlrv commented on #24238
Hey I think all these lessons are up to date with their assignment sections? I can't seem to find any sort of relevant Practice/Exercise sections besides the "Preparation" section in

- Links and Images

Which I wouldn't really classify as a exercise/practice. Please do check this and let me know!

[2022-07-03 15:35] abhilash-mukherjee opened #24355 "Bug - CSS Foundations : HTML and CSS Codes in the Specificity Section Does Not Get Rendered Properly"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-07-03 15:55] Tabarna88 commented on #24355
Commented just 18 minutes ago, amazing! hahahaha I came to raise the same problem but you acted faster than me.

[2022-07-03 16:02] fortypercenttitanium commented on #24355
@abhilash-mukherjee Thanks for catching this. It was my mistake. Would you be able to fix it today?

[2022-07-03 16:04] fortypercenttitanium commented on #24325
The issue is correct, the question mark doesn't belong there. @91Flavio91 Would you like to be assigned?

[2022-07-03 16:23] abhilash-mukherjee commented on #24355
Sorry. It's sleep time at my place so, I don't think I would be able to solve it today. But I will surely try to fix it by tomorrow.
But, if its urgent, it can be assigned to someone else.

[2022-07-03 16:36] fortypercenttitanium commented on #24355
Within 24 hours would be fine, just let me know if you have problems getting to it.

[2022-07-03 16:55] abhilash-mukherjee commented on #24355
@fortypercenttitanium Hey. I had a small query.. Maybe a bit silly.. but still will ask:
When I go to the github code [here](https://github.com/TheOdinProject/curriculum/blob/main/foundations/html_css/css-foundations.md?plain=1), it is rendering fine.

But, its not working properly in the browser. So, can it be at all rectified by making changes in this [code ](https://github.com/TheOdinProject/cu

[2022-07-03 18:00] fortypercenttitanium commented on #24355
Try removing the line break on line 294. It seems to work fine in the other instances when there is no line break between the two blocks.

[2022-07-03 18:09] abhilash-mukherjee commented on #24355
Okay

[2022-07-03 19:27] 91Flavio91 commented on #24325
@fortypercenttitanium yes I would, thank you!

[2022-07-04 08:58] abhilash-mukherjee commented on #24355
@fortypercenttitanium I tried fixing this issue by removing the line break in #24359. I hope it will work now

[2022-07-04 09:34] mbatson commented on #24332
I would like to be assigned to this issue if that's ok

[2022-07-04 18:03] c-yip commented on #24342
Hi! I can take this on.

[2022-07-04 19:42] chri-ss commented on #24339
Could I take this on? First timer here.

[2022-07-04 20:11] xandora commented on #24355
This is still faulty even after the fix in #24359. The fault is caused by insufficient whitespace before the `~~~html` markdown at the start of the code block.

Bugged:
[code]

Corrected:
[code]

[2022-07-04 21:11] c-yip commented on #24342
I renamed the "Writing Clean Code" heading to "Introduction" as requested in the issue. However, this leaves the page with two "Introduction" headings. Please let me know if I misunderstood the issue so that I can address it accordingly. Thank you!

[2022-07-04 21:11] xandora commented on #24355
This has been resolved: https://github.com/TheOdinProject/curriculum/commit/abbe98219cedc8aef5a40faec4ed7ac0eb30a33c

[2022-07-04 21:11] #24355 closed

[2022-07-05 05:21] aaronlrv commented on #24177
Hey just my two cents but, I feel like this is a familiar feeling amongst all learners (even I felt it going through it) and I think we could split all the details about flex-grow, flex-basis, and flex initial properties into a separate lesson or maybe an assignment.

The lesson's central message is to explain what flex: 1 is and we should only explain growth shrink and basis properties to that ex

[2022-07-05 11:50] ritikaaaa177 commented on #24330
/assign

[2022-07-05 11:51] ritikaaaa177 commented on #24330
please assign me this issue or can I start working on this ?

[2022-07-05 12:29] thatblindgeye commented on #24330
@ritikaaaa177 you got it!

[2022-07-05 12:32] thatblindgeye commented on #24342
@c-yip I see what you mean! I may have made this issue before there was a proper introduction section, or I may have made that comment in error. Don't update anything yet as I will take a look at the other files for this issue to see if there is anything else that needs to be updated, but thank you for pointing that out!

[2022-07-05 12:32] thatblindgeye commented on #24339
@chri-ss yep, you got it!

[2022-07-05 12:33] thatblindgeye commented on #24332
@mbatson you're assigned!

[2022-07-05 12:42] thatblindgeye commented on #24238
@aaronlrv Thank you for catching that! I see what you mean about that links and images lesson. As a user, do you like the flow of that lesson where as you're learning things you're asked to update a file you created at the start?

Or do you think it would work better to learn that information then go through an assignment where you're tasked with "Create a file then do XYZ"?

[2022-07-05 12:49] thatblindgeye commented on #24305
@DigitalKnight0 I wouldn't be opposed to using a site that has simpler CSS, but at the same time we do several times link to things that may include concepts beyond what a user should know at that point because the user is meant to zoom out and focus on the higher level thing rather than a specific piece. In this case users should just get a feel for what inspecting a page's HTML/CSS looks like, n

[2022-07-05 13:18] aaronlrv commented on #24238
@thatblindgeye Hey! Me personally, I've always been a more application learner. Where you learn something then apply it till it works rather than a hand hold process so I'd prefer the latter.

However, This is normally always harder on the user and  I think it would be better if we stick with the current flow of the lesson, As we have the recipe's project to go ahead and reinforce those concepts t

[2022-07-05 14:01] itsaflamingo commented on #24338
I can work on this one

[2022-07-05 14:06] c-yip commented on #24342
@thatblindgeye No problem! I closed the pull request I made. I will be on the lookout for any other issues you may post re the other files.

[2022-07-05 14:19] thatblindgeye commented on #24238
In that case I would say the lesson could be left as-is for now, and perhaps a refresh of the lesson down the line could be done (which would ultimately be unrelated to this issue). Since it does look like no other lessons require an update, I will close this issue as "invalid". If you do notice anything or have further questions, though, feel free to comment in here, and thank you for looking thr

[2022-07-05 14:19] #24238 closed

[2022-07-05 16:32] thatblindgeye commented on #24338
@itsaflamingo all yours!

[2022-07-06 02:30] xandora commented on #23284
LIES. I am dealing with it. I promise.

[2022-07-06 03:11] itsaflamingo commented on #24338
Sent in the pull request:) Thank you!

[2022-07-06 10:55] mbatson commented on #24332
@thatblindgeye Thanks!
One quick question: I've noticed that these lessons so far have one space of indentation before each paragraph and list item in the Additional Resources section. The rest of the file does not have this indentation in any other section.
Here's an example of what I'm talking about: https://github.com/TheOdinProject/curriculum/blob/7919f89a1e498f6dde12e66584551d16c4a593d0/found

[2022-07-06 12:01] aaronlrv commented on #24337
Hey does this still need help? I can take it on

[2022-07-06 12:35] thatblindgeye commented on #24337
@aaronlrv yep, you're assigned!

[2022-07-08 02:06] RTnhN commented on #24335
Hello!

Could I take this issue?

[2022-07-08 07:23] Sajwan055 opened #24389 "To add additional resources on the Foundation Course : introduction-to-flexbox"
Hi , So I'm myself student of Odin project and was going through foundation courses lesson on introduction to flexbox and i did not find any resources there so i want to add one resource there.

- I would like to be assigned this issue to work on it

<hr>
-By adding additional resource to this introductory lesson on Flexbox it will benefit the community in the way that they will have deeper unders

[2022-07-08 11:41] aleksandar-code commented on #24328
I would like to be assigned this issue to work on it!

[2022-07-08 12:01] thatblindgeye commented on #24328
@aleksandar-code all yours!

[2022-07-08 12:02] thatblindgeye commented on #24335
@RTnhN yep! you're assigned

[2022-07-08 14:16] Lakshmikant-2001 commented on #24210
@01zulfi I am willing to pick this up, shall I?

[2022-07-08 14:36] BlizZard-bot opened #24393 "JavaScript Classes lesson: Knowledge Checks expect knowledge of topics not present in lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-07-08 16:52] lucychen0103 opened #24394 "Instructions on how to install git needs to be updated"
This section is irrelevant (I believe) on this page: https://www.theodinproject.com/lessons/foundations-setting-up-git. There are no longer extra steps to take and may confuse the student.
"Note: On an Apple Silicon Mac you will have an extra step to take. If you look at the terminal output after installing Homebrew, you will see “Installation Successful!”. Further down in the terminal there will

[2022-07-08 20:19] LuVernon commented on #24394
Tested on my m1 silicon Mac, with latest version of macOS installed. For myself at least, I still needed to follow the extra steps in the HomeBrew command line output in order to get up-and-running. Once I used the provided commands HomeBrew was added to my PATH and could use $brew to install packets.

[2022-07-09 07:02] ChargrilledChook commented on #24351
@Maheshkumar-novice I'm happy for you to work on this, but I don't have strong opinions about changing it vs removing it. This is not an area of expertise for me, but my understanding is that title's are (generally) not as important for accessibility and can be skipped if they're uneeded.

I'm not sure the hover pop up showing the source is particularly useful, so I would lean towards just removin

[2022-07-09 07:06] Anikaaasingh opened #24401 "UI enhancement in dark mode"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-07-09 07:12] Maheshkumar-novice commented on #24351
Thanks @ChargrilledChook . Yeah. I think removing is the better idea here.

`Short answer: Don't use them (title), except in special circumstances.` => https://www.a11yproject.com/posts/title-attributes/

[2022-07-09 07:30] #24351 closed

[2022-07-09 10:33] ChargrilledChook commented on #23552
Some new but related issues have started popping up with this lesson, perhaps due to some broken dependencies in the gem
https://discord.com/channels/505093832157691914/995029097103249508

[2022-07-09 10:40] ChargrilledChook commented on #24394
Hi @lucychen0103, can you provide any context or references as to why you don't think this is needed anymore?
The fact that @LuVernon was able to re-create this so easily makes me feel it should still be there

[2022-07-09 14:57] #24335 closed

[2022-07-09 15:46] #24332 closed

[2022-07-09 16:30] thatblindgeye commented on #24342
@c-yip These lessons still need some updates/checking, mainly making sure the sections are in the correct order and that they all use Wikipedia style title case. Did you still want to work on this issue?

[2022-07-09 16:34] c-yip commented on #24342
@thatblindgeye Yes, I still want to work on this issue.

[2022-07-09 21:24] #24389 closed

[2022-07-10 08:12] ChargrilledChook commented on #24393
@BlizZard-bot Love the detailed write up on this, great work :ok_hand:

This all looks really good to me, but I'm not especially keyed in with JS stuff at the moment. @thatblindgeye @01zulfi do you have any thoughts on this?

[2022-07-10 10:42] aleksandar-code commented on #24329
I'm not sure if i did exactly what i was asked to.. I added newlines before and after some lists that didn't have them (i followed the style guide). Sometimes the newline at the end of file was missing too. I think i probably shouldn't have made those changes?
Sorry it is my first PR, should i make a new PR without the changes i wasn't asked to do? @thatblindgeye

[2022-07-10 13:47] ManorSailor commented on #24326
Hello there. I noticed some inconsistencies with [Calculator Project](https://www.theodinproject.com/lessons/foundations-calculator) in the Foundations curriculum. Firstly, assignment section sub-items do not use bulleted list & the next thing is that the heading for `Extra Credit` section is broken, on inspecting the element it turns out its a `<p>` tag with hashes inside of it.

I didn't want to

[2022-07-10 15:50] tramio opened #24405 "NodeJS path : add sentence to minimize confusion in "Preparing for Deployment" lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-07-10 20:11] aaronlrv commented on #24237
Hey does this still need any help?

[2022-07-11 04:34] 01zulfi commented on #24210
Yes, you're assigned, @Lakshmikant-2001

[2022-07-11 09:48] ehcrae commented on #24327
I can have a go at this!

[2022-07-12 06:42] Maheshkumar-novice commented on #24263
@thatblindgeye Sorry for the delay. Raised the PR.

[2022-07-12 07:07] Maheshkumar-novice commented on #24336
@thatblindgeye Can I take this one?

[2022-07-13 01:22] lucychen0103 commented on #24394
@ChargrilledChook If someone else was able to replicate the need for the instructions then perhaps I am mistaken. This issue can be closed.

[2022-07-13 12:41] ChargrilledChook commented on #24393
@BlizZard-bot I think you've got a really solid plan here so I've assigned this to you, looking forward to seeing how it turns out :rocket:

[2022-07-15 17:38] mrmchughes commented on #24325
Is this still open?

[2022-07-15 18:10] mrmchughes commented on #24237
Is this available to be worked on?

[2022-07-15 18:11] mrmchughes commented on #24336
Is this available to be worked on?

[2022-07-15 23:12] Frittenfred97 commented on #24325
that i was asking my self also :D

[2022-07-15 23:28] 91Flavio91 commented on #24325
@mrmchughes @Frittenfred97 I’ve corrected the error a few days ago but I’m waiting for someone to let me know. On the contribution guide is written to wait after to have pulled. Let’s wait!

[2022-07-16 11:19] Maheshkumar-novice commented on #24334
@thatblindgeye Can I take this one?

[2022-07-16 18:06] #24263 closed

[2022-07-16 18:10] #24328 closed

[2022-07-17 10:22] roman-thapa opened #24426 "Broken link in Foundations curriculum's Git Basics section"
[Github's Foundation repository](https://github.com/TheOdinProject/curriculum/tree/main/foundations)
In this repository in [README.md](https://github.com/TheOdinProject/curriculum/tree/main/foundations#readme) link to [Git Basics section's](https://github.com/TheOdinProject/curriculum/tree/main/foundations#:~:text=Up%20Git%20%2D%20lesson-,Git%20Basics,-Introduction%20to%20Git) lesson link are brok

[2022-07-18 06:41] ChargrilledChook commented on #24393
@BlizZard-bot makes sense while you're working on it if you want to add it on, good idea :star:

[2022-07-19 02:33] Anluhen opened #24434 "Bug - : Fundation: Commit Messages - Broken Link"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-07-19 05:50] roman-thapa commented on #24426
seems like problem with [Github repository](https://github.com/TheOdinProject/cu%20rriculum)
is fixed now it redirecting to correct repository
I'll be removing that part from the issue
since broken link of [Git Basics section's](https://github.com/TheOdinProject/curriculum/tree/main/foundations#:~:text=Up%20Git%20%2D%20lesson-,Git%20Basics,-Introduction%20to%20Git) is yet to be fixed Im not closin

[2022-07-22 13:59] ericjmorey commented on #24426
I'm not familiar with the intent of the maintainers. It looks like different topics were grouped under main. For example all **git** topics in the curriculum would be under:
main/git
with subdirectories:
foundations_git
intermediate_git

The new structure seems to intend to place each topic in sequence of presentation to learners. For example all topics presented to learners in the Foundations pat

[2022-07-22 20:40] ericjmorey commented on #24325
Is this still open?

It looks like the change was merged but the change removes the "?" without replacing it with a "."

[2022-07-22 20:42] fortypercenttitanium commented on #24325
It should have closed. We're not concerned about a missing period. Thanks for the help!

[2022-07-22 20:42] #24325 closed

[2022-07-23 01:16] #24020 closed

[2022-07-23 15:05] ZionLG commented on #24336
Can i work on it?

[2022-07-24 10:43] aaronlrv commented on #24177
Hey! @dm-murphy , I was wondering if I could take on the flex:auto section  task now as I've finished with the assigmment section. Please do let me know!

[2022-07-24 11:22] RolandStuder opened #24447 "Ruby: Basic Enumerable Methods: Add `each_with_object`"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-07-24 12:26] ChargrilledChook commented on #24447
@RolandStuder I've thought the same thing before and I think I agree, but just to play devil's advocate:

* Reduce is a more foundational method to learn
* This use case might not be appropriate in Ruby, but it would be a use case for JS - so it's perhaps important to learn this is something you can do
* If we're gong to suggest a more appropriate method, why not got for `Enumerable#tally`?
* If w

[2022-07-24 13:41] ManorSailor opened #24448 "CSS Functions Lesson (Both Paths): Extend assignment section by adding video(s) explaning the concepts"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-07-24 16:18] dm-murphy commented on #24177
Hi @aaronlrv 👋 Go for it! Thanks!

[2022-07-25 03:53] #24210 closed

[2022-07-25 21:24] andyglover opened #24456 "Bug - DOM Manipulation: Multiple Broken Knowledge Check Links"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-07-26 04:44] xandora commented on #24135
@scheals I'm glad GitHub thinks about these things, because I didn't see that ping.

If you still want to work on this, it's all yours. We probably want to either find a more appropriate VSCode tour, or just remove it entirely if there isn't a suitable replacement.

[2022-07-26 18:13] tmbruce opened #24463 "Full Stack Javascript - Javascript OOP principles: Replace culturally inappropriate materials"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-07-27 10:19] KevinMulhern commented on #24456
Thanks for reporting @andyglover 💪

This was inadvertently caused by us turning auto_id's off for headings https://github.com/TheOdinProject/theodinproject/pull/3124/files#diff-4710541af8b76b8861587e9525eff23a8f9a224a8291f6466a18ae646df916deR13

We will get a fix out today.

[2022-07-27 23:00] jampamatos opened #24467 "Bug - Ruby Advanced Section: Blocks syntax not working as represented"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-07-27 23:52] GabrielRuizVarela commented on #24327
Can I work on this?

[2022-07-28 01:26] andyglover commented on #24456
Well done, thanks @KevinMulhern !! : )

[2022-07-28 01:26] #24456 closed

[2022-07-29 23:29] #24250 closed

[2022-07-30 12:06] Overlandcoder commented on #24326
I'd love to work on this if it's still available.

[2022-07-30 13:34] Hoslok-1 commented on #24305
Hello @thatblindgeye, I've almost finished resolving this issue. I've replaced the screenshots in the img folder and re-written parts of the lesson to reflect the said new screenshots. That being said, I do not know how to replace ![Chrome Inspector] part in the .md file.

For reference:
![doubt](https://user-images.githubusercontent.com/107808312/181916422-b6c8ba2c-2141-405f-af77-276963bfbd99.png

[2022-07-30 15:51] exertustfm commented on #24305
@Hoslok-1 I just submitted a pull request at the same time you've made this comment, lol. Admittedly I didn't do anything except change the first image. (the way you do that is by [hyperlinking with markdown](https://anvilproject.org/guides/content/creating-links), you need the link to your new image which for mine is in my repository fork where I've uploaded it).
I didn't notice that maybe more t

[2022-07-31 00:23] Hoslok-1 commented on #24305
Haha no worries @exertustfm, I replaced all the images because I didn't want one of the reference images to be the home page and the other one to be on the current page. But, I am still a little confused on how to replace the images. In my case, I've simply deleted the previous images and replaced it with the new one with the same name. Do I still need to change the link for it?

With the post you

[2022-07-31 08:09] aaronlrv commented on #24177
Hey @dm-murphy! Just wondering if I can  finish up this issue and take the remaining 2 tasks that need to be done (knowledge check, and the image)

[2022-07-31 13:22] dm-murphy commented on #24177
Thanks for asking @aaronlrv! Since aziham is already working on the image task, how about you get started on the Knowledge Check task? Please be sure to follow the [Layout Style Guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) for how to properly format a Knowledge Check link. Thanks again for all your help on this issue 🙂

[2022-07-31 13:48] exertustfm commented on #24305
@Hoslok-1 Yes you need to change the links for them. I didn't know what statically.io was until I just researched it now, it's basically a type of file caching service. It already works with files on Github by
 [following this conversion method called "staticzap"](https://statically.io/docs/using-staticzap/)

[How to hyperlink](https://user-images.githubusercontent.com/54768149/182029267-4447f5b6-

[2022-08-01 02:28] Hoslok-1 commented on #24305
Thank you @exertustfm, I was able to replace the images!

[2022-08-01 15:35] linkonsat commented on #23853
I am going to do this.

[2022-08-01 17:14] TidalSana commented on #24336
I'm down to work on this one!

[2022-08-02 16:50] scheals commented on #24135
@xandora What about digging up the old one through waybackmachine?

[2022-08-03 20:43] JoshDevHub opened #24487 "Ruby: Custom Enumerables Project: Add description of relationship between `Enumerable` and `#each`"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-08-04 01:28] scheals commented on #24135
Stashing the link to old video, directly from microsoft:
https://www.microsoft.com/videoplayer/embed/RWz32O

[2022-08-04 02:20] #24330 closed

[2022-08-04 02:30] zachmmeyer opened #24489 "Revisiting RPS: Update screenshot to say main branch instead of master"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-08-04 02:39] #24180 closed

[2022-08-04 13:44] #24337 closed

[2022-08-04 14:47] #24333 closed

[2022-08-04 17:02] #24339 closed

[2022-08-04 17:22] #24239 closed

[2022-08-04 17:44] #24331 closed

[2022-08-04 17:49] linkonsat opened #24490 "Add system testing lesson for Ruby on Rails path"
**Description**
Currently, the RoR path does not have any testing lessons for Rails. This issue aims to resolve by adding a new lesson for system testing within a new testing section in the Ruby on Rails curriculum. There are many useful resources that go over system testing and you can find this within Rails guides [here](https://guides.rubyonrails.org/testing.html) and by googling resources on i

[2022-08-04 17:52] linkonsat opened #24491 "Add model tests to the RoR section."
**Description**
Currently, the RoR path does not have any testing lessons for Rails. This issue aims to resolve by adding a new lesson for model testing within a new testing section in the Ruby on Rails curriculum. There are many useful resources that go over system testing and you can find this within Rails guides [here](https://guides.rubyonrails.org/testing.html) and by googling resources on it

[2022-08-04 17:58] linkonsat opened #24492 "Add api testing lesson."
**Description**
Currently, the RoR path does not have any testing lessons for Rails. This issue aims to resolve by adding a new lesson for API testing within a new testing section in the Ruby on Rails curriculum. There are many useful resources that go over system testing and you can find this within Rails guides [here](https://guides.rubyonrails.org/testing.html) and by googling resources on it.

[2022-08-05 15:31] #24264 closed

[2022-08-05 20:34] #24342 closed

[2022-08-06 11:30] thatblindgeye commented on #24336
Sorry for the delay, y'all! @mrmchughes are you still interested in this issue?

[2022-08-06 11:43] thatblindgeye commented on #24318
@himanshud2611 If this is a question that is answered in the content of the lesson, or one of the linked resources in the assignment section, I'd say it could be worth adding in, though it may be better to reword it (technically an inline element *can* contain a block element, though it may not be best practice/may not be valid HTML).

[2022-08-06 11:45] thatblindgeye commented on #24326
@ManorSailor are you still interested in this issue? @Overlandcoder if they aren't I'll reach out to you next! 🙂

[2022-08-06 11:46] thatblindgeye commented on #24327
@GabrielRuizVarela you're assigned if you'd still like to work on it!

[2022-08-06 11:48] thatblindgeye commented on #24334
@Maheshkumar-novice if you're still interested I've assigned you, if not just let me know! 🙂

[2022-08-06 11:49] thatblindgeye commented on #24237
@aaronlrv were you still interested in this?

[2022-08-06 12:09] cagriatalay opened #24502 "The link given on the "Linting" page does not work, the suggested page is broken (404 Error)."
Complete the following REQUIRED checkboxes:
-   [ X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox

[2022-08-06 12:28] Maheshkumar-novice commented on #24334
@thatblindgeye Yes. I'm interested. I'll work on it.

[2022-08-06 12:45] aaronlrv commented on #24237
Yep, Go ahead!

[2022-08-06 16:22] ManorSailor commented on #24326
@thatblindgeye Hey! Thanks for reaching out, however, my hands are full at the moment. However, I appreciate the incentive! You may assign this issue to someone else.

[2022-08-06 19:22] #24341 closed

[2022-08-06 19:33] #24329 closed

[2022-08-06 19:47] #24340 closed

[2022-08-06 19:50] zachmmeyer commented on #24237
@aaronlrv To be clear: Do you want this issue assigned to you?

[2022-08-06 19:51] zachmmeyer commented on #24326
@Overlandcoder Would you like to be assigned?

[2022-08-06 19:53] zachmmeyer commented on #24502
https://mikecavaliere.com/javascript-linting-what-developers-need-to-know
Here's the link. Would you like to fix this?

[2022-08-07 06:28] cagriatalay commented on #24502
Of course! thank you!

[2022-08-07 06:51] cagriatalay commented on #24502
@zachmmeyer Nicely done, thanks for the opportunity!

[2022-08-07 06:52] zachmmeyer commented on #24502
@cagriatalay I commented on your forked PR.

[2022-08-07 07:06] cagriatalay commented on #24502
Okay thanks, i am on it.

[2022-08-07 11:09] cagriatalay commented on #24502
@zachmmeyer I hope it is working now sir.

[2022-08-07 12:14] #24393 closed

[2022-08-07 14:45] binarygit commented on #24492
Heyy! I want to take this on!

[2022-08-07 16:39] #24502 closed

[2022-08-08 12:12] xandora commented on #24434
This URL appears to be working now.

[2022-08-08 12:12] #24434 closed

[2022-08-08 17:30] mrmchughes commented on #24336
Yes I am!

[2022-08-08 23:52] Overlandcoder commented on #24489
I'd love to work on this!

[2022-08-09 01:58] zachmmeyer commented on #24489
@Overlandcoder All yours!

[2022-08-09 08:49] #24327 closed

[2022-08-10 12:29] 01zulfi opened #24526 "Intermediate HTML/CSS folder: add README.md"
**1. Description:**

This folder lacks a `README.md` file.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Add Intermediate HTML/CSS folder's `README.md` file similar to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`<>`) bracke

[2022-08-10 14:23] edu2907 commented on #24526
I would like to work on it

[2022-08-11 08:58] #24526 closed

[2022-08-11 16:41] #23853 closed

[2022-08-13 00:45] Pete-Fowler commented on #24336
@thatblindgeye - Hi - I would also be willing to work on this. Thanks.

[2022-08-16 01:47] jernestmyers opened #24547 "Foundations: Landing Page - Improve clarity about hosting on GH"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-08-16 01:55] jernestmyers commented on #24547
@LeoKirasic per our discussion about this particular issue.

[2022-08-16 02:19] LeoKirasic commented on #24547
@jernestmyers Assigned!

[2022-08-16 12:51] zachmmeyer commented on #24237
All yours!

[2022-08-21 01:13] szmazhr commented on #24326
I would love to work on it, please assign it to me.

[2022-08-21 02:31] szmazhr commented on #24338
can I be assign here?

[2022-08-21 16:12] zachmmeyer commented on #24326
@amit-srt all yours, thanks for your patience

[2022-08-21 21:32] marcusicaro commented on #24336
Hey, are there any issues still avaiable?

[2022-08-22 17:11] Leo-U opened #24569 "Code examples in Ruby lesson: misnamed variables?"
Apologies in advance if in fact I just don't understand the lesson content.

The lesson section is [here](https://www.theodinproject.com/lessons/ruby-nested-collections#creating-a-new-nested-array).

It states "To create an array of **mutable** objects (string, array, hash, etc), you will need to pass the default value for Array.new via a block, using curly braces, instead of the second optional a

[2022-08-22 20:03] Uaitt commented on #24569
I think the variable names are right, but the description should be switched to:
"To create an array of **immutable** objects...".

[2022-08-23 12:14] 91Flavio91 opened #24581 "Inaccurate info. in the "Project: Landing Page" chapter in Foundations"

[2022-08-24 00:13] rlmoser99 commented on #24569
I understand that this is confusing and you are not the only person that has questioned this. Let me see if I can clear this up.

The variable names in the code examples point indicate whether or not the entire array will be mutable or immutable. So they are correct.

The wording of "To create an array of mutable objects" is referring to the type of object INSIDE the array, like string, array, has

[2022-08-24 17:19] rlmoser99 commented on #24569
The best place to ask these types of questions is going to be our Discord community, so I really encourage you to ask these types of questions there in the future.

Below is the lesson's code example using a string, that is mutated with `upcase!`.

The entire `mutable` array can be mutated if an object inside is mutated. However, the entire `immutable` arrays will not be mutated if an object insid

[2022-08-24 21:57] Leo-U commented on #24569
Thank you again for your attention. I will be sure to ask questions in Discord from now on.

So the entire array is mutable/immutable. Gotcha. And your second code example is an immutable array of mutable objects. If I might suggest a possible content change, the phrase

might be changed to

[2022-08-26 11:18] Uaitt opened #24586 "Pattern Matching lesson (Ruby) - Incorrect info about return statement"
Inside of the [Pattern Matching lesson](https://www.theodinproject.com/lessons/ruby-pattern-matching), in the paragraph about the return values of a Pattern Matching statement, this is said:

While the second statement is true (when there is no pattern that matches and no else guard, a NoMatchingPatternError is raised), the first one is wrong.
When there is a match with a pattern, the return value

[2022-08-28 17:07] msespos opened #24590 "Bug - JS OOP Principles lesson reading material: Tasteless/offensive jokes in the reading"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-08-28 17:08] msespos commented on #24590
I'm happy to work on this issue, but left that box unchecked in case anyone else would like to take it on.

[2022-08-29 04:42] Eduardo06sp commented on #24590
Duplicate issue (although it hasn't been reviewed): https://github.com/TheOdinProject/curriculum/issues/24463

[2022-08-29 06:54] RolandStuder commented on #24447
@ChargrilledChook Very good points of @ChargrilledChook I had the same thoughts before, but it bugged me. But thinking again about the context, yes I think using reduce/inject even if not the ideal method is probably a good choice.

[2022-08-29 06:54] #24447 closed

[2022-08-29 08:36] KevinMulhern commented on #24447
Would `each_of_object` fit in an "Intermediate Enumerables" lesson perhaps? - we once had plans of introducing more enumerables somewhere in the middle of the Ruby course - https://github.com/TheOdinProject/curriculum/blob/main/archive/ruby/future_lessons/advanced_enumerables.md (ignore the "advanced" title lol)

[2022-08-29 20:35] msespos commented on #24590
Happy to take care of this this - please feel free to assign this to me - thanks!

[2022-08-29 22:30] ChargrilledChook commented on #24590
Thanks Mike, appreciated. Feel free to replace the resource if you think it's required or simply remove it - use your best judgement

[2022-08-30 18:19] #24590 closed

[2022-08-30 18:24] #24326 closed

[2022-08-31 07:46] ChargrilledChook commented on #24463
@tmbruce Thanks for reporting this, it's appreciated. This has now be solved :+1:

[2022-08-31 07:46] #24463 closed

[2022-08-31 17:44] gefgu opened #24607 "Bug - "Preparing to Interview and Interviewing": the link "Mastering the phone screen by Monster" is broken."
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-09-01 02:20] klaw772 commented on #24607
This site seems to be back up @gefgu - I can't reproduce the bug that you're seeing.

[2022-09-01 22:49] polycont opened #24609 "Etch-a-Sketch in Javascript Basics: Consider dropping mention of CSS Grid from instructions"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:
-   [x] I wou

[2022-09-01 23:39] altruisticnode commented on #24609
I partially agree with this. Pushing the directive of the project towards Flexbox is a massive plus as it "strikes the iron while it's hot". However, I do believe that there's still a strong middle-ground. Although CSS Grid is taught further in the curriculum, it's still a nice experience to allow a slight push of exploration and **self-directed research**. Just in a way that would avoid a rabbit

[2022-09-02 08:18] polycont commented on #24609
I think that could be a good middle ground! As long as the use of Grid and Float/Clear are not treated as a normal option like any other and are disincentivized to some extent, it could work well.

I'd like to hear some other opinions as well if anyone has time to share them.

[2022-09-02 17:24] #24607 closed

[2022-09-03 21:19] scheals commented on #24135
I know that you've changed this in the meantime @xandora (sorry for not doing it myself...) but we've had a user refer to the original MS's video being a better fit here:
https://discord.com/channels/505093832157691914/505093832157691916/1015727446311583825
They'll hopefully leave some more feedback later.

[2022-09-05 07:22] duckpunch opened #24617 "General curriculum: Consider adding mermaid to better express topics that are suitable for diagramming"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-09-08 04:58] #24489 closed

[2022-09-08 04:59] linkonsat commented on #24492
Hey @binarygit . Sorry for the late response. Are you still interested on taking this up?

[2022-09-08 06:43] binarygit commented on #24492
Hey @linkonsat
Even I've been a bit busy so didn't work on this till now. I'll try to submit a PR by late next week if that's okay! :slightly_smiling_face:

[2022-09-09 04:39] linkonsat commented on #24492
@binarygit Awsome that will work! thanks for getting back to me. I'll go ahead and assign you.

[2022-09-09 19:55] OmerFI opened #24633 "Python course: Add a learning path like "Full Stack Python""
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-09-10 07:13] #24058 closed

[2022-09-11 01:10] Pete-Fowler commented on #24031
If you want to assign me, I can do some minor rewording to make this more clear, and add links to rails and node paths.

[2022-09-12 15:01] eslang50 opened #24638 "Bug: Link under Javascript Classes section"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-09-15 08:30] ChargrilledChook commented on #24447
@KevinMulhern I think that's a great idea - particularly since it's a nice way to teach the core concept / low level way, and later introduce people how to leverage the core library

[2022-09-15 14:16] Kingbot13 commented on #24063
I would be interested in taking over this issue @thatblindgeye if @boostaboosh no longer wants to work on it or isn't able to work on it. I can add a few lines describing the display property or link to an mdn article which in my opinion does a great job of explaining the display property.

[2022-09-15 14:31] boostaboosh commented on #24063
@Kingbot13 Hey, that sounds good to me.

[2022-09-15 18:27] Kingbot13 commented on #24063
@boostaboosh , upon further review, I feel like the linked article to the box model does a sufficient job of explaining outer and inner displays as well as how to use the display property. It also links to the article I mentioned in my earlier comment, so readers can learn more about display if they so choose. Do you mind glancing over the mdn article again and letting me know if you still feel li

[2022-09-17 05:23] Heromazing opened #24647 "Bug - Foundation Git Basics Section: Missing parenthesis and hard to read backtick in assignment"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-09-17 17:08] Maheshkumar-novice commented on #24334
Hi @thatblindgeye Sorry for the delay. I've raised the PR.

[2022-09-18 11:07] Heromazing commented on #24647
Sorry, I think I got confused between the 2 repositories, but there is a missing parenthesis.

[2022-09-19 03:15] rlmoser99 commented on #24569
@Leo-U I agree with your suggestion. Would you like to make a PR for this change?

[2022-09-20 12:01] Cherifi-Houdaifa opened #24654 "Bug - :"
Complete the following REQUIRED checkboxes:
-   [ x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox

[2022-09-21 20:58] iarobinson opened #24665 "Bug - Rails Basics - Controller:ln 166: Remove link to SnapChat - Help users avoid Wormhole"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-09-23 17:05] Leo-U commented on #24569
@rlmoser99 Yes that sounds like a good learning opportunity for me since I haven't done that before.

[2022-09-23 22:35] Shinobione-Kinobi opened #24676 "Hoslok-1:replacing_screenshots_issue#24305"
Hoslok-1:replacing_screenshots_issue#24305

_Originally posted by @Shinobione-Kinobi in https://github.com/TheOdinProject/curriculum/issues/24653#issuecomment-1256719143_

[2022-09-24 15:33] Aminady opened #24679 "Broken Link in Javascript Recursion Project"
Complete the following REQUIRED checkboxes:
-   [✓] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [✓] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-09-25 01:17] rlmoser99 commented on #24676
@Shinobione-Kinobi I am not sure if you intended to make an issue, as this does not provide any information. Since this looks like a mistake, I am going to close this issue. However, if you intended to leave more information, please create a new issue using our `Bug Report` or `Feature Request` issue templates.

[2022-09-25 01:17] #24676 closed

[2022-09-25 11:39] #24654 closed

[2022-09-26 00:05] Tribhuwan-Joshi opened #24687 "Bug - : Project - Weather APP - Use of https instead of http in the API call"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-09-26 00:06] Tribhuwan-Joshi commented on #24687
If we are using the url provided by openweather api , github pages is throwing error . We have to use `https` instead of `http`

[2022-09-26 00:56] alfonsusac opened #24688 "Foundation Path/Foundations Course/HTML Boilerplate: Briefly explain what an attribute is"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-09-26 07:57] KevinMulhern commented on #24688
Thanks for the suggestion @alfonsusac.

We include an explanation about html attributes in the [images and links](https://www.theodinproject.com/lessons/foundations-links-and-images) lesson. I believe that is a better place for it from a learning experience point. Front loading an explanation about html attributes long before they are needed won't help learners retain what they are learning.

Happ

[2022-09-27 15:16] rtins commented on #24679
This has been fixed in a recent PR. Try again :)

[2022-09-28 08:44] #24679 closed

[2022-09-28 09:39] CouchofTomato commented on #24688
Agreed. I think it's easy to want to introduce concepts early with hindsight but we need to be careful we don't overwhelm learners.

[2022-09-28 09:39] #24688 closed

[2022-09-28 10:02] CouchofTomato commented on #24586
Hey @Uaitt

Thanks for creating this issue. Ruby used to have that behaviour initially but it was considered unstable so seems it has been changed. Are you happy to open a PR to update this?

[2022-09-29 20:39] mrmchughes commented on #24336
Apologies for the delay in starting this, the notifying email got buried in my inbox. I'll start working on this in the morning! Excited to get some open source contribution experience!

[2022-09-30 11:12] amnindersingh12 commented on #24665
Hi @iarobinson , I would love to fix this issue. Can you please assign this to me?

[2022-09-30 15:19] mrmchughes commented on #24336
Hi @thatblindgeye, how do I mark an item as completed? I went over the Installation Overview and didn't see anything that needed to be updated per the issue, so I was attempting to check it off.

[2022-09-30 15:25] Lofty-Brambles commented on #24647
If this is still an issue that needs to be solved, I'd like to work on it. The condition it is in right now seems more confusing.

[2022-09-30 18:44] mrmchughes commented on #24336
I've gone over the lessons brought up in the issue, and I think they are good to go. I didn't see anything wrong with the Installation Overview lesson, so I'm unsure of how to mark that one off. I've submitted pull requests for the other 4 lessons that required some level of fixing.

[2022-10-01 00:28] alissongdev opened #24713 "Bug - CSS Foundations: Additional resource link without content"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-01 15:41] KarimElsayad247 opened #24717 "Bug - Rails Assets and Navigation section: CSS/SCSS Files no longer auto-generated"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-01 17:53] keshav-rockwinder commented on #24140
Hello 👋

I like the suggestions above. Please create a pull request with all the changes you'd like to see for the lesson. Thanks, @ArjunSaili1

[2022-10-01 17:55] keshav-rockwinder commented on #24305
hey i would like to contribute to this project.please create a pull request

[2022-10-02 12:51] ziayanj opened #24723 "Bug - : Foundations - Fundamentals Part 2 - Linked article (#6) under Conditionals has incorrect information"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-02 14:08] EuphCodes opened #24724 "Bug - :Foundations - HTML Foundations - HTML Boilerplate:Charset article link does not go to an article"
Complete the following REQUIRED checkboxes:
-   [ +] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ +] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox

[2022-10-02 17:15] mrmchughes commented on #24336
@thatblindgeye I think this issue is all set, if you could please take a look at the pull requests when you've got a chance

[2022-10-02 21:30] #24334 closed

[2022-10-03 15:19] LeoKirasic commented on #24633
We appreciate the suggestion. We have discussed this before, and considering how much time and effort is needed to add and support another language the current stance is that we'd like to use our energy on making what we already have even more high quality!

[2022-10-03 15:19] #24633 closed

[2022-10-03 16:02] scheals opened #24737 "Bug - Text Editors: Possibly unnecessary paragraph"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

-   [x] I would like to b

[2022-10-03 17:43] arkii1 opened #24738 "Modify wording of extra credit for Etch-a-Sketch project to improve clarity"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-10-03 18:22] #24569 closed

[2022-10-03 19:36] #24336 closed

[2022-10-03 20:32] Uaitt commented on #24586
hey @CouchofTomato , thanks for answering!

I will try to put down a PR for the issue in question this week. However, I'm not that good at explaining things with words, if you can come up with a neat explanation feel free to comment down here or open a PR with the changes yourself.

[2022-10-04 18:04] miscany opened #24747 "Node.Js Curriculum full of dead links"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-04 18:08] scheals commented on #24747
Related bug report in #suggestion-bugs forum:
https://discord.com/channels/505093832157691914/1025809999517200425/1025809999517200425

Related PR that attempted to fix the original issue #24683

[2022-10-04 22:59] wise-king-sullyman commented on #24031
@Pete-Fowler are you still interested in taking a swing at this?

[2022-10-04 23:42] miscany commented on #24747
Thanks

[2022-10-05 01:11] Pete-Fowler commented on #24031
Sure, I could do it Friday or this weekend.

Pete Fowler
970-366-1515

- Sent from a mobile phone

On Tue, Oct 4, 2022, 5:00 PM Austin Sullivan ***@***.***>
wrote:

[2022-10-05 02:30] scheals commented on #24135
Since #24513 's change we don't see any more issues regarding the video it seems. Closing the issue.

[2022-10-05 02:30] #24135 closed

[2022-10-05 10:15] #24713 closed

[2022-10-05 12:57] wise-king-sullyman commented on #24031
👍 you're assigned, thanks!

I'm not sure about having links to the other courses in it (since they should be able to follow the same workflow to reach whichever course is next in the same way they have previously) but you can try something like that if you want and we can see how it looks come PR time.

[2022-10-06 10:09] zapxcero commented on #24737
I think it was fine but a bit unclear. The instruction above that included downloading a .deb file and then installing itl. However, the alternative installation probably meant using sudo apt install code, **downloading** and **installing** the program from the repository itself.

[2022-10-06 12:40] crespire opened #24765 "Rails: Installations Update for Rails 7"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-10-06 13:10] crespire opened #24766 "Rails/Node Course: Add path agnostic regular expressions introduction"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-10-06 13:27] crespire commented on #24765
Doing some investigating, it seems that usage of bootstrap (unsure about other CSS engines/frameworks) will not work unless `yarn` is installed, even on Rails 7.

Doing some testing on my own, the following css bundling options rely on `yarn` when generating a new app:
* `-c bootstrap`
* `-c bulma`
* `-c postcss`
* `-c sass`

Options for css bundling that rely on importmaps when generating a new a

[2022-10-06 13:46] crespire commented on #24765
I'm not sure about the binstub, but I uninstalled Yarn classic and generated a `rails new blog -c bootstrap` and I didn't get any errors and am able to run the app with `bin/dev` though I do see a `unknown command: yarn build:css --watch` in the bin/dev startup messages.

I suspect if I were to actually build with this app template, I would run into issues with missing `yarn`.

I'll go ahead and m

[2022-10-06 14:04] crespire commented on #24765
@ChargrilledChook

Is there any reason we avoid installing `yarn` via `npm`? It is now the preferred option on that page, with an "Alternatives" fold. The older instructions say to pick the operating system then follow instructions, which is the flow now hidden by default.

I wonder if the yarn page has simply changed, or if we have always instructed users to use the "Alternative" method of instal

[2022-10-06 14:22] ChargrilledChook commented on #24765
Good question, not that I know of. You would have to ask the person who originally wrote it / have a look at the git blame.

It's possible it was written at a time when Node wasn't introduced prior to Rails, but I'm unsure.

Personally not opposed to following the recommended path

[2022-10-07 03:33] #24765 closed

[2022-10-08 01:24] scheals commented on #24724
I believe #24748 fixed this issue.

[2022-10-12 01:16] xandora opened #24793 "Installations: Update VirtualBox Instructions to reflect VirtualBox 7.0 release"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-10-12 05:48] zapxcero commented on #24793
I installed the latest version and the steps were somewhat reduced or compressed. For example, it didn't show the option to dynamically allocate/fixed size hard disk file. Definitely needs an update.

[2022-10-12 05:56] scheals commented on #24793
Just my silly take on this - link to previous version and wait like two months until they iron out everything with 7.0 and then switch. Looking at their forums yesterday didn't give me much confidence in the release. They have also released 6.1.40 today.

[2022-10-12 06:12] xandora commented on #24793
That's definitely another possibility, I didn't set any acceptance criteria for the Issue for this reason. :D

On Wed, Oct 12, 2022, at 6:56 PM, Antoni Sobolewski wrote:

[2022-10-12 06:22] scheals commented on #24793
I have ninja-edited the comment about people having issues with 7.0.0 - not as many reports as I thought there were. Yet.

I'm happy to do whatever changes needed to the instructions, I've already attempted to improve them in proposed #24776 but that's for the current version.  I imagine various changes would still transfer to the new instructions if y'all decide to move to 7.0.0. I could also rei

[2022-10-12 15:33] crespire opened #24795 "Rails: Install PostgreSQL for Development"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:
-   [x] I wou

[2022-10-13 03:09] ChargrilledChook commented on #24795
@crespire @JoshDevHub sounds like a good idea to me, I'll run it by the team briefly to check there aren't any issues but happy to give this a tentative green light :+1:

[2022-10-13 03:28] crespire commented on #24795
Will wait to hear back!

[2022-10-13 06:34] ChargrilledChook commented on #24795
@crespire go for it, look forward to seeing how it turns out 🤌

[2022-10-13 19:44] Cherifi-Houdaifa opened #24804 "Bug: in Authentication basics"
https://github.com/TheOdinProject/curriculum/blob/547c13f0a87c04fea485448c39ab0a0c400ee096/nodeJS/authentication/authentication_basics.md?plain=1#L329-L337
This code is asynchronous and then there is a return statement after it
which will cause it to return two times
which will throw an error: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client
you may consider usin

[2022-10-14 15:02] crespire commented on #24795
I've completed a first draft for review, but as we are still missing the macOS content, I will leave the PR in draft.

@scheals Pinging you for feedback as well, as our initial conversation sparked this issue/PR.

[2022-10-14 17:34] ahmeducf opened #24807 "Bug - Foundations - Introduction - Join the Odin Community: Typo in the first sentence of "How to Help Others Solve Coding Problems" Section"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-14 19:13] xandora commented on #24793
@scheals I think that's the best option for now. Would you like to make that PR?

[2022-10-14 19:40] scheals commented on #24793
#24808 ready!

[2022-10-15 12:33] omalsa04 commented on #24807
I think the original wording is correct.

[2022-10-15 18:15] DNeel10 opened #24811 "Ruby Course: Update usage of open-uri gem (open(filename) needs to now be URI.open(filename)"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-10-15 23:26] zapxcero commented on #24717
Just encountered this and was about to create an issue. Up!

[2022-10-16 02:32] ChargrilledChook commented on #24807
@ahmeducf Thank you for the suggestion and the detailed report.

In this case the original is grammatically correct. While normally it should be 'it is', typically this is inverted after 'not only'. For instance 'Not only do we...', 'Not only should you...' etc.

Thanks again for such a detailed write up - this makes it a lot easier for the Maintainer team to respond to issues.

[2022-10-16 02:32] #24807 closed

[2022-10-20 13:02] #24795 closed

[2022-10-22 15:26] linkonsat commented on #24492
@binarygit Just wanted to reach out and ask how progress has been going on this issue. Thank you!

[2022-10-23 04:26] shonebinu opened #24836 "Foundations -> Fundamentals 5: Add a readable course in the "Intermediate/Advanced Array Magic"."
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-10-23 04:30] shonebinu commented on #24836
![Screenshot from 2022-10-23 09-57-20](https://user-images.githubusercontent.com/62597277/197373733-a73043a8-2434-4e98-b7d4-ddd0108757a7.png)
We could add this article as a third option here to crosscheck with the videos or to completely study alone with it.

[2022-10-26 09:37] ChargrilledChook commented on #24811
@DNeel10 can you provide any information about where this needs to be updated? You're correct that this is deprecated and removed in Ruby 3.0 +, but this is difficult to action without knowing where to look for it

[2022-10-26 10:27] cagriatalay commented on #24836
This can be very useful!

[2022-10-27 02:43] JuanVqz commented on #24638
This issue can be closed, it's already solved.

It is using this link
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[2022-10-28 00:11] #24031 closed

[2022-10-28 04:05] DNeel10 commented on #24811
Hi, @ChargrilledChook

This usage is was actually in the bastards book of ruby examples within the Files and Serialization Lesson in the Ruby path.

The final Assignment item is "Read the [Chapter on File I/O](http://ruby.bastardsbook.com/chapters/io/) of the Bastard’s Book of Ruby."  In one of the examples in this chapter (importing hamlet and running some code on it) it asks you to use the open-

[2022-10-30 22:47] ChargrilledChook commented on #24811
@DNeel10 Thanks for getting back to me! Your suggestion sounds like a good idea, would you like to try implementing it yourself or should we open it up to contributions?

[2022-10-31 18:43] GeorgeCiesinski opened #24857 "Bug - Getting Hired Course:Unreachable Link"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-10-31 18:48] GeorgeCiesinski commented on #24857
Sorry in advance if this comment doesn't help the progress of this issue. I just wanted to add that I find value in this link as I was curious how an IT job would help finding a programming job. If possible, I would like to have this content preserved or replaced with a substitute rather than removed as a non working page, although I will leave this decision to the repo maintainers.

[2022-11-01 18:28] DNeel10 commented on #24811
I think it would be good for me to try and update myself.  I'll give it a go, but if i run into any complications (this is my first PR and open source contribution) am i able to comment back here to seek help?

Thank you!

[2022-11-01 21:07] ChargrilledChook commented on #24811
@DNeel10 Of course, I'll be happy to help if you have any issues. Ping me here if you need anything. Thanks for taking this one on!

[2022-11-02 02:56] DNeel10 commented on #24811
@ChargrilledChook Hey, Chook - I'm not too familiar with .md files, but i noticed that the way the assignment section looks (prior to me even forking/cloning) is off.  I was able to get everything set up and ready for my changes though, but i'm not sure how to actually change how the md renders.

[2022-11-02 21:02] ChargrilledChook commented on #24811
Thanks @DNeel10, at a glance it looks perfect - I'll have a closer look in the next 24 hours or so.

For seeing how the markdown renders on the site, we can use the [lesson preview tool](https://www.theodinproject.com/lessons/preview) - just paste the raw content of the lesson and it should render how it does on the site

[2022-11-04 12:49] #24687 closed

[2022-11-05 10:34] #24665 closed

[2022-11-06 11:34] Asmatzaile opened #24874 "clarify fibonacci assignment in ruby recursion project"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-11-07 04:27] #24811 closed

[2022-11-07 13:38] thatblindgeye commented on #24237
Thanks for double checking these lessons, @amit-srt ! Either someone else may have made the updates or more likely it may have just slipped by me when going through the lessons 😆

[2022-11-08 01:04] pharshavardhan2 opened #24880 "Bug - : foundations, js basics, fundamentals 2"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-11-08 02:31] NeptuneRjo commented on #24857
I can take this up if it's alright.

[2022-11-08 18:48] GeorgeCiesinski commented on #24857
That would be fine with me as I don't have any intention of pushing this fix myself. If the maintainer of this repo is cool with it, it's all yours!

[2022-11-09 04:49] NeptuneRjo commented on #24115
Would it be too complex to use an onClick listener on the div that fires "setColor(color)"? This essentially removes the need for mounting an event in the hook AND the "changeColorOnClick" function can be simplified to just the if/else statement.

I think it would actually be easier to read while still communicating that updating "color" will cause useEffect to fire because it is a dependency.

It

[2022-11-13 16:38] Asartea opened #24894 "Bug - Working with APIs : Messed up wording in Assignment point #2"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-11-14 13:32] ManonLef commented on #24581
Noticed the same thing. Here's a screenshot from the Pages section in settings.

![Screenshot 2022-11-14 at 14 31 01](https://user-images.githubusercontent.com/81025586/201672759-b8efb609-d2d5-442e-b530-a1f22483a1af.png)

[2022-11-14 13:35] ManonLef commented on #24581
I'd be more than willing to update this lesson so feel free to assign me if you want

[2022-11-14 14:30] thatblindgeye commented on #24581
@91Flavio91 would you still like to be assigned this issue?

[2022-11-14 14:45] thatblindgeye commented on #23105
@parent-tobias @EmilioAK been a minute, but wanted to check to see whether y'all think this is still an issue, and if either of you would be interested in submitting a PR for it?

[2022-11-14 14:56] thatblindgeye commented on #23821
@KonradLach been a while, but have you made any progress on this issue?

[2022-11-14 14:57] thatblindgeye commented on #23847
@CouchofTomato Is the link you last mentioned still viable to replace in this lesson?

[2022-11-14 15:01] thatblindgeye commented on #24064
@boostaboosh I've unassigned you for now and opened this up as help wanted. If you'd like to personally work on this just let us know and we can reassign you.

[2022-11-14 15:06] thatblindgeye commented on #24115
@01zulfi do you feel this issue would be made invalid by the React lessons revamp?

[2022-11-14 15:07] 91Flavio91 commented on #24581
@thatblindgeye Hi! yes, I'd like to!

[2022-11-14 15:30] 91Flavio91 commented on #24581
@thatblindgeye Allright!

[2022-11-14 16:38] ManonLef commented on #24647
![Screenshot 2022-11-14 at 14 41 06](https://user-images.githubusercontent.com/81025586/201714582-32f1a764-fea0-4104-938c-79217d81810f.png)

I found the lesson [here](https://www.theodinproject.com/lessons/foundations-git-basics#assignment)
and it looks like the screenshot currently so this issue seems resolved.

[2022-11-14 21:00] ChargrilledChook commented on #23817
@thatblindgeye Yes, and I believe an extra duplicate has snuck in too

[2022-11-15 02:26] rlmoser99 commented on #23343
@TheOdinProject/rails-path I am not sure we have this idea documented with our newer plans for rails updates. I still very much want to see this, but it just hasn't been a top priority.

https://github.com/TheOdinProject/top-meta/issues/173

[2022-11-15 15:27] Asmatzaile commented on #24874
Just to be sure, which is the expected output, the array up to the number or just the number? If it's the array, what is that 3-line (or crazy-1-line) solution?

[2022-11-16 02:42] adiferrer opened #24901 "Bug - : Objects and Object Constructors Section: Knowledge check link privacy error"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-11-16 09:35] Sharkri opened #24902 "Bug - Project: Blog API: Minor typo error"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-11-16 09:45] CouchofTomato commented on #24901
Might be worth waiting to see if they update their certs to fix this unless we have another resource ready to roll

[2022-11-16 10:23] CouchofTomato commented on #23847
@thatblindgeye Yes, I think it's a pretty comprehensive resource.

[2022-11-17 02:04] #24902 closed

[2022-11-17 02:29] ChargrilledChook commented on #24874
@Asmatzaile for this version it's expecing an array.

The intent here is that both of the methods should have the exact same output.

Two rough examples, you can probably find cleaner ones by googling:

[code]

Note that in this version I've begun counting from 0, which is slightly different to what's expected in lesson exercise

[2022-11-17 07:06] ChargrilledChook commented on #24894
Hi @Asartea, thanks for this suggestion, good catch - I've assigned it to you :+1:

It looks like the original intent was to follow this [point in the style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md#links) and provide descriptive links, but the wording got a bit messed up in the process.

[2022-11-17 07:10] ChargrilledChook commented on #24857
Thanks for the report @GeorgeCiesinski and the offer @NeptuneRjo, looks like the link is working fine - maybe a temporary outage? I'm going to close this but I'm happy to re-open it if it's still having issues

[2022-11-17 07:10] #24857 closed

[2022-11-17 07:13] ChargrilledChook commented on #24901
The archive version seems ok, could be a decent temporary (?) replacement
https://web.archive.org/web/20220915195800/http://javascriptissexy.com/javascript-prototype-in-plain-detailed-language/

[2022-11-17 10:54] JaeGif commented on #24064
Hi, since the issue is reavailable may I be assigned?

[2022-11-17 13:00] thatblindgeye commented on #24064
@JaeGif You got it! If you have any questions about how to go about it or anything feel free to ask them in here

[2022-11-17 14:45] EmilioAK commented on #23105
I think this is still relevant. I could create a PR for it if it's wanted

[2022-11-17 19:37] GeorgeCiesinski commented on #24857
@ChargrilledChook Thanks for checking. You're right, I can reach the link again so it must have been temporary.

[2022-11-17 23:53] JaeGif commented on #24064
Thanks @thatblindgeye. Quick question about the scope of the issue as this is my first contribution. Does this include editing anchor links and handling routing to the new lessons on TOP main repo or is that handled by the main app already when I add new MD files?

[2022-11-18 03:52] roman-thapa opened #24908 "Intermediate HTML and CSS Course/Introduction: Broken link"
### Describe your suggestion

There is a broken link in Node JS path's Intermediate HTML and CSS Course [Introduction](https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-introduction) lesson
In [Introduction lesson's aassignment](https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-introduction#assignment) second assignment link for CSS Cheat Sheet is

[2022-11-18 10:11] ChargrilledChook commented on #24908
Hi @roman-thapa , thanks for making a report.

When I try the link ([this one](https://websitesetup.org/wp-content/uploads/2019/11/wsu-css-cheat-sheet-gdocs.pdf)) it seems to work fine. Is that the one you were having trouble with?

On desktop it links to a PDF file, on mobile I get the option to save / download it. Is there any more information you can provide?

[2022-11-18 11:41] 01zulfi commented on #24115
Yeah, this issue would be made invalid when the new React lessons ship. That said, I'd like to keep this issue open until we have the new React lessons out just as a reminder that the code examples need to be clear and easily understood. I'd also like to reread the points made in the above discussion when the newer lessons are ready. I hope that makes sense.

[2022-11-18 12:47] ChargrilledChook commented on #24467
Hi @jampamatos, thanks for the report and and sorry for the delay getting back to you.

You're absolutely right - I think there was a change in Ruby operator precedence that affected this behavior, can't recall exactly when.

In this particular case, we would need to do `formatted_transactions << (yield transaction)` to disambiguate. But maybe it's less confusing to simply remove the last sentence

[2022-11-18 13:03] thatblindgeye commented on #24115
@01zulfi  Sounds good. Put an on hold label just so it doesn't get worked on/closed

[2022-11-18 16:23] ChrisSturgeon opened #24909 "Introduction to MongoDB: Outdated Course and Link"
### Describe your suggestion

This lesson currently suggests to take the entirety of MongoDB University's "Mongo Basics" course, however from 15th Nov they seem to have [refreshed their university](https://learn.mongodb.com/pages/welcome-to-the-new-mongodb-university) and you cannot seem to start this course (and have until 1st Dec to finish it if already underway).

Instead, it appears to have be

[2022-11-18 23:29] ChargrilledChook commented on #24909
@ChrisSturgeon Thanks for the report, much appreciated.

 I'm unfamilar with this content but it seems like a good idea to find a way to link to the original, or find a suitable replacement. Using [the wayback machine](https://archive.org/web/) could be a useful tool to have a look at the previous content for anyone wanting to work on this issue.

[2022-11-19 03:06] JoshDevHub commented on #24487
Hi @CouchofTomato

This is something I'd like to work on yeah. I might want a little direction for the best approach to take for getting the information across. I know from experience helping people through this exercise in the discord that it can be a tricky subject. I thought I might post a couple of different ideas here in this issue for feedback before making the PR. I should be able to get th

[2022-11-19 04:17] ChargrilledChook commented on #24487
@JoshDevHub

This sounds like a great approach :ok_hand:

[2022-11-19 14:55] thatblindgeye commented on #24063
Based on the above comment, I will be closing this issue out. If there are still updates to be made, it can be reopened.

[2022-11-19 14:55] #24063 closed

[2022-11-19 15:10] thatblindgeye commented on #24305
@keshav-rockwinder are you still interested in this? I've updated the original comment with acceptance criteria for guidelines on how this issue should be resolved.

[2022-11-19 15:34] thatblindgeye commented on #23105
@EmilioAK That'd be great! I've assigned you

[2022-11-19 15:36] thatblindgeye commented on #24064
@JaeGif So new lessons would require also making a PR in our web app repo. The wiki there has some information about adding new content: https://github.com/TheOdinProject/theodinproject/wiki

If you want to split the lesson files in this repo, but aren't sure about making a PR in our web app repo, just let me know and we can see about either opening a separate issue there for someone else to pick

[2022-11-19 18:30] msespos commented on #24467
Happy to work on this issue! -Mike

[2022-11-19 21:22] ChargrilledChook commented on #24467
@msespos thanks! All yours

[2022-11-19 21:32] BernardKwesi opened #24913 "Nodejs : Add sequelize lesson for sql queries"
### Describe your suggestion

Implementing of a sql track for nodejs path .Implementing of sequelize for quering database

### Path

Node / JS

### Lesson Url

Nodejs course

### Checks

- [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/.github/blob/main/CONTRIBUTING.md)
- [ ] Would you like to work on this issue?

### (Optional) Di

[2022-11-20 00:59] JaeGif opened #24915 "Installing Ruby: MacOS arm architecture will often need to reinstall command line tools before installing Ruby"
### Describe your suggestion

In Installing Ruby, the instructions for installing on MacOS are slightly dated as the process for new Apple Silicon chips could be slightly different.

When running the command:
`rbenv install 3.1.2 --verbose`
in the terminal, if a user's computer has an ARM chip, they will instead get an error:

`xcrun: error: unable to load libxcrun (dlopen(/Library/Developer/Comma

[2022-11-20 01:32] ChargrilledChook commented on #24915
Thanks for the detailed report @JaeGif, much appreciated.

I personally don't have experience with this but can cross reference with some people at work who use M1 Macs and see if there's an alternative. Open to ideas from others as well, but your proposed solution seems good at a glance

I agree with your additional comments, but it's not necessarily a deal breaker in this case as it is something

[2022-11-20 01:57] JaeGif commented on #24915
No worries, I'm not entirely sure why I only got this error when trying to install Ruby as I'm following the Node path and haven't had any issues with installing node libraries or git. Cruising the forums seems to imply it might be related to updating the OS mentioned [here](https://apple.stackexchange.com/questions/433751/git-not-working-on-m1-chip-after-migration.) and [here](https://stackoverfl

[2022-11-20 03:10] JaeGif commented on #24064
@thatblindgeye I've broken the foundations section into 2 smaller sections, changing the wording in the introduction and the assignments sections so they follow with the new lesson structure.

I'm debating whether to break it into 3, but I don't see a logical place to reduce the lesson right now.
Currently, the 2 sections are:
1. Basic Syntax, Selectors, Properties, and Adding CSS to HTML
2. The C

[2022-11-20 18:57] Overlandcoder commented on #24909
I'd love to be assigned so I could fix this using the wayback machine.

[2022-11-20 21:11] ChargrilledChook commented on #24909
Thanks @Overlandcoder, all yours :+1:

[2022-11-20 23:51] msespos commented on #24467
I'm just removing the comment here. PR coming shortly!

[2022-11-21 00:39] #24467 closed

[2022-11-21 10:13] roman-thapa commented on #24908
Hello @ChargrilledChook thank you for the response.

Yes, I'm talking about the [same link](https://websitesetup.org/wp-content/uploads/2019/11/wsu-css-cheat-sheet-gdocs.pdf) I had tried to access that link through laptop and mobile too but it shows Access denied Error code 1020.

[2022-11-22 00:38] Overlandcoder commented on #24909
@ChargrilledChook Here's a [link to the course](https://web.archive.org/web/20221101005831/https://university.mongodb.com/courses/M001/about) using the wayback machine. I'm not too familiar with how wayback machine works, but I think this may not work since starting the course requires a login.

[This](https://learn.mongodb.com/learning-paths/introduction-to-mongodb) is the new course they've adde

[2022-11-22 00:47] Overlandcoder opened #24919 "Ruby on Rails Course: Add tips for using Rails short-cut commands"
### Describe your suggestion

There are a few handy short-cut Rails commands that could be listed in either the Micro-Reddit project or the Forms project. The main short-cut commands that I know of: `c` for `console`, `s` for `server`, `g` for `generate`.

### Path

Ruby / Rails

### Lesson Url

https://www.theodinproject.com/lessons/ruby-on-rails-micro-reddit

### Checks

- [X] I have thoroughly

[2022-11-22 09:43] ChrisSturgeon commented on #24909
I'm ~75% of the way through [the new Node course](https://learn.mongodb.com/learning-paths/introduction-to-mongodb) and have already covered all points on the agenda @Overlandcoder has found on the wayback machine.

Chapter 1: What is MongoDB?
Chapter 2: Importing, Exporting, and Querying Data
Chapter 3: Creating and Manipulating Documents
Chapter 4: Advanced CRUD Operations
Chapter 5: Indexing an

[2022-11-23 11:15] CouchofTomato commented on #24919
@Overlandcoder Are you happy to work on this? If yes what support do you need?

[2022-11-23 11:49] ChrisSturgeon commented on #24909
I've been through the rest of the Node specific course and, whilst interesting, I don't think the last three modules listed in my previous comment are all that useful as they use MongoDB's native driver - but the remainder of the TOP Node JS course (including the MDN tutorials) revolves around Mongoose. I think the most appropriate of the new courses would therefore be [Introduction to MongoDB](ht

[2022-11-23 20:21] ChargrilledChook commented on #24909
Really appreciate the legwork you've done for this, happy to assign it to you. Thanks @ChrisSturgeon  🙌

[2022-11-23 22:28] ChargrilledChook commented on #24919
Some ideas we discussed that could potentially be good to do as part of this (but not necessary - could be out of scope)

- Would it help to have a section or lesson on the Rails command line more generally?
- Would it help to have a section explaining bin scripts? Both what a binstub is, and what conveniences you get out of the box, possibly how to write your own. I believe @JoshDevHub has raised

[2022-11-24 13:09] Overlandcoder commented on #24919
I made a PR to add the tips in.

@ChargrilledChook My thinking is that it may overload the students with info, since the RoR path is already very dense. I've noticed that students risk burnout with chess, then go through a few marathon lessons on Forms, and then the new world of Rails overwhelms even the grittiest of students (personally noticed this with one or two students recently).

If those s

[2022-11-26 02:05] #24909 closed

[2022-11-26 05:44] ChargrilledChook commented on #24908
No worries @roman-thapa.

As I mentioned the link seems fine on my end - [googling the error code](https://www.google.com/search?q=1020+error+code&oq=1020+error) it looks like this could be something that's caused by your firewall or VPN.

Since this isn't something we can control your best bet may be to see if there are any workarounds.

I'm going to close this issue, but message me here if you n

[2022-11-26 05:44] #24908 closed

[2022-11-26 19:01] sheilaJava commented on #24880
Hi, it seems like the issues you mentioned have been resolved.

-  The eight data are listed in the first linked resource in the [introduction](https://www.theodinproject.com/lessons/foundations-fundamentals-part-2#introduction) :

- The "regex vs builtin" link in the [additional ressources](https://www.theodinproject.com/lessons/foundations-fundamentals-part-2#additional-resources) does point to

[2022-11-29 12:30] ChrisSturgeon opened #24933 "Project: Express 105: Forms And Deployment: Password Vulnerability Risk with MDN Tutorial"
### Describe your suggestion

I've just completed the MDN library tutorial on deploying the local library app to Railway, however I think their instructions on using environment variables within project files to hide database usernames/passwords aren't very clear at all. It seems I'm not alone as 6 of the top 10 project submissions have their database credentials hard-coded into their app.js files

[2022-11-30 07:07] ChargrilledChook commented on #24933
@ChrisSturgeon Managing this for Node is not an area of experience for me, but dotenv sounds like a reasonable solution and an improvement. I'll see if I can find someone with some more expertise to weigh in but I think your suggestion is a pretty safe bet if you want to have a go at it:+1:

[2022-11-30 14:28] ChrisSturgeon commented on #24933
Thanks! Just submitted my PR.