[2021-01-23 15:40] marvingay commented on #22118
No worries, if it gives you further issues, do not hesitate to comment here.

For now, closing as this appears to be fixed.

[2021-01-23 15:40] #22118 closed

[2021-01-30 09:13] lrocampo opened #22125 "Ubuntu link goes to 18.04.5 download when 20.04 LTS is available."
In the [Prerequisites page](https://www.theodinproject.com/courses/foundations/lessons/prerequisites), more precisely in the **Ubuntu/Windows Dual-Boot** section,  there is a link that goes to the Ubuntu 18.04.5 LTS download page when 20.04.1 LTS is available.
In my humble opinion, the link should go to 20.04.1 LTS download page since is the latest LTS available.

[2021-02-01 23:26] xandora opened #22129 "Replace Rufus Guide"
The Ubuntu.com guide linked in our dual booting lesson is out of date and has caused confusion on a number of occasions.

This should be replaced with a more up-to-date guide that includes screenshots from a more recent (preferably current) version of Rufus.

https://github.com/TheOdinProject/curriculum/blob/3a0668b03ad3b3db21ce533ceab939087be1ce5c/foundations/installations/prerequisites.md#L164

[2021-02-01 23:31] xandora commented on #22125
18.04 is the release that was tested with TOP instructions. It is also still under support until sometime in 2023. Unless you have some good reasons as to why we should start suggesting 20.0 instead,, I think we can probably stick with 18.04 for the time being.

[2021-02-02 16:49] #22125 closed

[2021-02-02 16:55] #22105 closed

[2021-02-05 00:40] MossValley opened #22136 "Fix typo in "Using git in the real world" lesson"
Just a typo in the section "A git workflow for open source contribution"; no space at "... website(check..."

![Screen Shot 2021-02-05 at 1 36 16 PM](https://user-images.githubusercontent.com/57896973/106973167-32916e80-67b7-11eb-865f-09daeefbc3b9.png)

I'm happy to solve this myself as I'm currently on this section, so I hope this is the right way to go about it.

[2021-02-05 00:57] twalton83 commented on #22136
Go ahead and make the PR, we have a [contributing guide ](https://github.com/TheOdinProject/curriculum/blob/master/CONTRIBUTING.md)!

[2021-02-05 10:34] #15979 closed

[2021-02-05 10:52] CouchofTomato commented on #12979
@mindovermiles262

Hey mate. Is this still of interest for keeping alive?

As student submissions have now been moved out this may be more realistic to set up in github actions. Are you still interested in taking it on?

[2021-02-05 10:53] #13488 closed

[2021-02-05 23:47] twalton83 commented on #22136
Closed with #22137

[2021-02-05 23:47] #22136 closed

[2021-02-05 23:48] #22094 closed

[2021-02-07 22:55] BoxenOfDonuts opened #22144 "Dead link for memory game example in Memory Card lesson"
The example for the memory game links to a dead site.
project: https://www.theodinproject.com/courses/javascript/lessons/memory-card

http://demo7.downloader.tech/ is dead

![image](https://user-images.githubusercontent.com/7082618/107161897-5692b280-6965-11eb-8f1d-b9ff775a1c0d.png)

[2021-02-11 17:25] SidWorks commented on #17302
I will do it!

[2021-02-15 23:57] ZaidKhan144 opened #22153 "[Good First Issue] Two broken links in JavaScript conclusion section"
In the Additional Resources section of [JavaScript conclusion](https://www.theodinproject.com/courses/javascript/lessons/conclusion), there are two links that are broken.

- Front End Programming best practices from betterfrontend ([Link](http://findresultsonline.com/?_nozc_=1))
- D3 and other visualization tool examples ([Link](http://tributary.io/))

[2021-02-17 22:15] leavemydogalone opened #22157 "W3 school node tutorial is outdated"
Many parts of the url API have been deprecated and so it is rather difficult to complete the first node project with the information provided in NodeJS ch.1 lesson 2

new:
https://nodejs.org/api/url.html#url_the_whatwg_url_api

[2021-02-27 01:12] es-rene99 opened #22173 "Broken link Objects and Object Constructors section"
Hello, I found a broken link on the Javascript curriclum: https://javascriptissexy.com/javascript-prototype-in-plain-detailed-language/
![image](https://user-images.githubusercontent.com/43294836/109370555-6fa4ca00-7866-11eb-93ae-185f76f5d376.png)

I noticed this link had been restored previously (#22109) as it was working but now is no longer working anymore, I believe we should replace the link

[2021-02-27 02:19] zachmmeyer commented on #22173
Definitely submit the PR and I won't change it back next time haha.

[2021-02-27 17:38] CatQueenCodes opened #22174 "Installations Overview: Make it obvious we have instructions on how to set up Windows computers to do TOP"
https://www.theodinproject.com/courses/foundations/lessons/installation-overview#os-options

Have been noticing people thinking they NEED a mac to Odin so they never start, and say things like "I wish I could do this without a mac/you had options to make it work for Windows people"

It was briefly discussed in Discord. People see **Mac** and **Linux** and nothing about **Windows** in bold at first

[2021-02-28 03:33] #22173 closed

[2021-02-28 04:04] FriskySaga opened #22176 "Add clarification to step 11 for installing and enabling guest additions"
In regards to step 11 from here: https://theodinproject.com/lessons/prerequisites#step-3-install-and-enable-guest-additions

Here are the surrounding steps for context.

For me, after completing steps 9 and 10, a File Manager window pops up on my screen. Instead of minimizing my open windows to navigate to the desktop, I can skip to step 12 and open a terminal from that File Manager window.

I sug

[2021-02-28 04:05] FriskySaga commented on #22176
[I will address this issue on my branch.](https://github.com/TheOdinProject/curriculum/compare/master...FriskySaga:fix/install-guest-additions-step-11)

[2021-02-28 18:34] wise-king-sullyman commented on #22174
I can take a crack at this if you'd like.

[2021-02-28 21:05] CatQueenCodes commented on #22174
@wise-king-sullyman assined ya! Have at it :)

[2021-03-02 18:08] Web-Dev-Rich opened #22179 "Rock Paper Scissors game - add a reminder to plan before coding"
With regards: https://www.theodinproject.com/courses/foundations/lessons/rock-paper-scissors

This page encourages students to jump straight into coding in my opinion (that is what I initially did!).

Planning is implied, I guess, but I would like to add in a reminder for students to plan their code with pseudo-code before starting to code.

Many thanks.

[2021-03-02 22:04] twalton83 commented on #22157
Thank you for bringing this to our attention, we are discussing the way to best address this.

[2021-03-03 11:05] RJK-1 opened #22181 "Broken link on Common Data Structures & Algorithms (Ruby)"
Link in bullet points 3 of assignments not functional. A google search of the article in question doesn't bring any direct results. Page possibly removed.

Article in question - Gentle Introduction to Algorithms for Web Developers

https://www.theodinproject.com/lessons/common-data-structures-and-algorithms

[2021-03-07 00:21] twalton83 opened #22185 "Webpack Academy series is outdated"
The Webpack Academy link on this lesson is outdated. Should be replaced with something similar. https://www.theodinproject.com/courses/javascript/lessons/webpack-2

[2021-03-07 17:36] CatQueenCodes commented on #22179
@Web-Dev-Rich It looks like we do: "Finally, this is your first JavaScript program built from scratch, so don’t forget the previous lesson on problem solving and plan your solution before writing any code."

<img width="932" alt="Screen Shot 2021-03-07 at 12 35 39 PM" src="https://user-images.githubusercontent.com/59713017/110248977-b74fe380-7f41-11eb-9980-fa05f80186fa.png">

[2021-03-07 17:43] Web-Dev-Rich commented on #22179
Yep that was my PR 😃

[2021-03-07 18:30] CatQueenCodes commented on #22179
oh thanks! Next time link the issue in your pull request (if you didn't this time!) so we know to close the issue when we merge the pull request! Good addition!

[2021-03-07 18:30] #22179 closed

[2021-03-07 18:49] Web-Dev-Rich commented on #22179
Oops apologies, will do. I'm new at this. Thanks.

[2021-03-07 22:21] xandora commented on #22174
Those poor Widows!

[2021-03-07 22:25] wise-king-sullyman commented on #22174
Since Windows is the most common OS and it requires "extra work" to set up as a development environment; should it be moved to come before the Mac and Linux sections so that people don't read **Mac** and think the rest of the page doesn't apply to them?

If so should:
- The whole thing (VM/dual-boot section and "Concerned About Installing A New OS" section since that appears to be targeted at Wind

[2021-03-08 20:50] CouchofTomato opened #22186 "Update FAQs"
The FAQs need to be updated to reflect recent changes to our courses.

The section on which technologies we use still mentions we enrol students in the rails track. This is no longer relevant since we enrol everyone into foundations. It also still references a front end path that no longer exists

We also need to remove the why ruby on rails question and answer as we no longer only offer that as a

[2021-03-10 00:46] #22176 closed

[2021-03-10 15:25] twalton83 commented on #21971
Closed with #22187

[2021-03-10 15:25] #21971 closed

[2021-03-14 05:38] smaylath opened #22193 "Broken link in Foundation Course, Intro to Git Lesson"
**Location**
Assignment section, Introduction to Git lesson, Foundations course

**Issue**
First link in the section routes to a 500 error. Google search of the article leads to same result.

**Reference Screenshot 1**

![Screen Shot 2021-03-13 at 11 21 11 PM](https://user-images.githubusercontent.com/77697559/111058523-cc9ea380-8454-11eb-8737-2967c24b3c09.jpg)

**Reference Screenshot 2**

![Scree

[2021-03-14 16:12] twalton83 commented on #22193
Looks like they resolved the issue on their end, so it’s back online! Thanks for bringing this to our attention anyways!

[2021-03-14 16:12] #22193 closed

[2021-03-25 15:21] twalton83 opened #22202 "Google Debugging Lesson is outdated"
It looks like Google has recently made updates to this page: https://developer.chrome.com/docs/devtools/css/, and the instructions don't exactly align with the actual HTML from the page.

We reference this tutorial in [this lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/developer-tools-2), and should include a note about the change but that students should sti

[2021-03-26 12:40] rlmoser99 commented on #22181
Issue resolved in #22205

[2021-03-26 12:40] #22181 closed

[2021-03-26 18:41] xandora opened #22207 "Update Chromebook guide to include git from source instructions"
The Chromebook instructions don't mention that users will need to build git from source as the Linux Beta repository doesn't include a sufficiently high enough version of git and there is no ability to add the git ppa repository.

Requirements for completion:
- [ ] Update the [Prerequisites](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites) lesson to inclu

[2021-03-29 16:32] CatQueenCodes opened #22216 "Update discord invite link"
Currently our Discord community invite link lands users on the #rules channel. Due to the recent change to use Discord's membership screening feature (where users are exposed to the rules before agreeing to join), it's more sensible to have them land on the #faq channel upon joining.  The new invite code (which can be appended  to the base discord invite link already there) is: fbFCkYabZB

The lin

[2021-03-29 16:51] timjacksonm commented on #22216
I am willing to take this on.

[2021-03-29 19:32] #22216 closed

[2021-03-30 18:01] curt4207 opened #22220 "Xubuntu 20.10"
Ubuntu's 20.10 update ,removed a lot of the programs I had installed & lowered display resolution to a max in the low 720's .i searched online and tried all the commands that people advised ,none worked so i found Grub Customizer  . It helped me revert back to the previous version of [Ubuntu ,with Linux 5.4.0-66-generic] with all the installed programs  .

[2021-04-08 18:31] bycdiaz commented on #22220
@curt4207 I'm not really sure what this issue is meant to flag for us.

In your lesson, we invite learners to install the 18.04 version of Xubuntu. Was there a place in our curriculum that directed you to install 20.10?

[2021-04-09 01:58] twalton83 opened #22234 "Setting Up Git MacOS instructions should include fix for common error"
Frequently those on older devices using Homebrew encounter broken symlinks, among other issues, that need to be identified with `brew doctor` and resolved with the resulting prompts. This comes up frequently enough in the Discord chat that it should be included  in our instructions, in addition to: `If the version number is less than 2.28, follow the instructions again.`

[2021-04-09 23:39] twalton83 commented on #22234
Closed by #22235

[2021-04-09 23:39] #22234 closed

[2021-04-12 15:28] bycdiaz commented on #22220
@curt4207 I'm closing the issue. If you'd like to propose a change to the curriculum in the future, please feel free to do so by creating an issue or submitting a pull request with an update.

[2021-04-12 15:28] #22220 closed

[2021-04-13 02:51] BoxenOfDonuts commented on #22144
I think the lesson was changed and no longer points to this resource, should I close this out?

[2021-04-13 13:48] aayushmau5 opened #22240 "Update the instructions to be more clear when Installing Node for linux users."
Update the instructions to be more clear that Linux users need to skip over the Mac instructions to finish installing Node and emphasize that users must initialize NVM.

CC @twalton83

[2021-04-16 15:59] twalton83 opened #22242 "Clarify Restaurant Project Instructions"
Because many students overlook that Tabsy should be taken as visual representation, we need to make it clear that students should not be installing the package and only take visual and behavioral inspiration. Alternatively, we should just consider pointing to the behavior of a student submission instead of sending them to an NPM package.

[2021-04-18 00:06] Nathan-Galipeau commented on #22153
If no one has taken this on yet, I'd love to, but are we looking to replace the deadlinks with the same resources, or would it be okay to find very similar, maybe more recent and updated resources?

[2021-04-18 00:27] ZaidKhan144 commented on #22153
@Nathan-Galipeau I think it would be best to replace it with the same resources if they are discoverable, and if not, anyhow, you can reinstate with similar or updated ones.

[2021-04-18 00:52] Nathan-Galipeau commented on #22153
@ZaidKhan144 Do I need to be assigned in order to submit a PR? And okay, sounds good.

[2021-04-18 01:13] Nathan-Galipeau commented on #22153
I submitted a PR.

[2021-04-18 01:13] ZaidKhan144 commented on #22153
@Nathan-Galipeau No, you can still submit a PR.

[2021-04-18 01:16] ZaidKhan144 commented on #22153
@Nathan-Galipeau Glad to hear that. Maintainers will approve when they will see it.

[2021-04-18 01:26] Nathan-Galipeau commented on #22202
I'd like to take this on, but just to clarify, is the main goal here to just to create a note within the lesson that explains the google page has been updated since the original lesson was created, but students should still utilize the resource in the way that the lesson outlines?

[2021-04-18 17:45] twalton83 commented on #22202
Yes.

[2021-04-18 19:34] Nathan-Galipeau commented on #22202
Submitted.

[2021-04-20 02:04] Nathan-Galipeau commented on #22242
@twalton83 This seems like a good beginner issue, is it okay if I submit a potential PR that might make this more clear?

[2021-04-20 22:14] twalton83 opened #22254 "Clarify Practicing Git Basics Example"
Often students are worried by the warning that the upstream does not exist. This is not an error, but a feature. We should add a quick explanation that what they see may differ slightly, but that this message is not indicative of an error or that they've done something wrong, and what it means.

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/practicing-git-basics

[2021-04-23 02:05] twalton83 commented on #22254
@wise-king-sullyman

[2021-04-23 04:14] wise-king-sullyman commented on #22254
@twalton83 my apologies I hadn't noticed that you'd posted this. If you're wanting me to take this so that I can do another screenshot and keep it consistent with my previously submitted screenshots I'll be more than happy to.

[2021-04-23 17:15] rlmoser99 opened #22259 "Update Foundation Lessons with Knowledge Checks"
Background: Only some of the Foundation Lessons that have Learning Outcomes also have a section at the end of the lesson called Knowledge Checks. These knowledge checks can be very beneficial to students, therefore let's make all of the lessons that have Learning Outcomes also have Knowledge Checks.

Suggestions:
Ten of the Foundation lessons need to have a Knowledge Check section added. For refer

[2021-04-23 17:33] aayushmau5 commented on #22259
I'm interested to work on this.

[2021-04-23 19:51] dylan-workhub commented on #22259
I can take a crack at `Practicing Git Basics`.

[2021-04-24 00:29] Henry-Cantrell commented on #22259
I'd be happy to take on `HTML and CSS basics`.

[2021-04-24 03:02] dylan-workhub commented on #22259
If you'd like, I can also do `Developer Tools` tomorrow.

[2021-04-24 22:22] jaredmez commented on #22259
I'd like to tackle Introduction to the Front End

[2021-04-24 23:58] zjcrumpton commented on #21506
I agree that we need this, I'll be working on it now.

[2021-04-25 00:16] marvingay commented on #21506
@zjcrumpton  If this is something that you are interested on working on, for the sake of efficiency, it may be be better to write up a lesson(s) proposal or outline before committing to any content work.

There's potential for a conversation to be had about incorporating the Battleship project into becoming something done via React and testing it as a derivative of the lesson or lessons that would

[2021-04-25 06:01] MC-Rawlings commented on #22259
I'd like to take on Fundamentals 1

[2021-04-25 07:04] dylan-workhub commented on #22259
I can take `How Does the Web Work?` tomorrow. Just wondering, if I were to update it to match the current style, would I also be updating the Learning Outcomes so that they aren't a drop down, or would I leave those and only update the Knowledge Checks?

[2021-04-25 15:50] rlmoser99 commented on #22259
@dylan-workhub Yes, you will need to update the Learning Outcomes so that they are not a drop down, whether you decide to go with the newer style or the previous style for the Knowledge Check.

[2021-04-25 15:52] dylan-workhub commented on #22259
Cool, I can do that later today in that case.

[2021-04-26 01:17] thatblindgeye commented on #22259
Since I'm taking a little more time to properly understand React before continuing onto a project, I can try and tackle the Fundamentals Part 2 by early-mid this week (if you need it done sooner just let me know).

[2021-04-26 02:39] rlmoser99 commented on #22259
@thatblindgeye That timeline will be just fine! Thanks for letting me know!!

[2021-04-26 07:30] Nathan-Galipeau commented on #22207
Has this been completed yet?

[2021-04-26 07:33] xandora commented on #22207
@Nathan-Galipeau Not yet. I've been busy. If you want to take a shot at it, I can chuck it your way.

[2021-04-26 11:30] Nathan-Galipeau commented on #22207
Sounds good, please assign when you get the chance, thanks

[2021-04-26 22:29] xandora commented on #22207
@Nathan-Galipeau It's all yours.

[2021-04-26 23:32] dylan-workhub commented on #22259
I can take DOM Manipulation, though it may take me a couple of days this time!

[2021-04-28 15:31] aaron-kidwell commented on #22259
Is it too late to jump on Git basics or HTML/CSS section? Thanks

[2021-04-28 16:14] rlmoser99 commented on #22259
@aaron-kidwell All of the lessons for this issue have been claimed, but I am not 100% sure if that is what you are asking.

[2021-04-28 16:25] aaron-kidwell commented on #22259
Yep that's what I was asking, thanks!

[2021-04-28 19:34] Nathan-Galipeau commented on #22207
PR submitted

[2021-04-29 08:52] Noah670 commented on #22259
Awesome

[2021-05-02 12:54] harshetmaruff commented on #22259
Hi Everyone, #22279 This is my pull request to Foundation Github Basics, I added only one knowledge check and only one commit

[2021-05-02 22:19] xandora commented on #22207
Fixed under #22266

[2021-05-02 22:19] #22207 closed

[2021-05-02 22:20] xandora commented on #21828
Fixed under #21959

[2021-05-02 22:20] #21828 closed

[2021-05-02 23:45] Henry-Cantrell commented on #22259
Hey, you can reassign my portion to @aaron-kidwell if you'd like. Unsure of when I'm going to be able to start work, got sidetracked with stuff.

[2021-05-03 01:33] rlmoser99 commented on #22259
@Henry-Cantrell Thanks for letting me know!

@aaron-kidwell Are you still interested in helping with this issue for the HTML/CSS Basics lesson, or should I open it up to others?

[2021-05-03 02:10] aaron-kidwell commented on #22259
@rlmoser99 I would love to give it a shot yes!

[2021-05-03 07:51] siduck76 commented on #22259
I have found a link to promises tutorial which no longer works. I get this error
![image](https://user-images.githubusercontent.com/59060246/116852714-71965b00-ac12-11eb-8ad9-b38a1ecc6f3b.png)

It has been referenced here https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/async , first link . https://davidwalsh.name/promises

[2021-05-03 17:50] rlmoser99 commented on #22259
@siduck76 You should make a new issue. The problem that you are experiencing does not have anything to do this issue.

[2021-05-05 17:00] K-Sohal opened #22287 "Incorrect bullet point formatting. Foundation -> How does the web work? -> Learning outcomes"
https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/how-does-the-web-work

[2021-05-05 17:37] #22287 closed

[2021-05-12 04:08] #22254 closed

[2021-05-13 01:30] #22240 closed

[2021-05-13 01:35] twalton83 commented on #22202
Closed with #22248

[2021-05-13 01:35] #22202 closed

[2021-05-13 01:35] twalton83 commented on #22174
Hey team! Can we revisit this?

[2021-05-13 01:36] #22144 closed

[2021-05-13 01:38] twalton83 commented on #21944
All good if I take a swing to finish this out?

[2021-05-13 02:23] twalton83 opened #22301 "Bump suggested Xubuntu version to 20.04"
Support for Xubuntu 18.04 ran out in April 2021. The suggested version should be the LTS, 20.04.

https://xubuntu.org/news/xubuntu-18-04-release/

[Lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites)

[2021-05-13 04:28] #22242 closed

[2021-05-13 04:48] #22301 closed

[2021-05-15 15:42] CatQueenCodes commented on #22174
I think Having a "Mac" drop-down, and then a "Windows/Other" drop-down that then has the VM/Dualboot options inside it (possibly as drop downs as well)

[2021-05-15 15:53] ZachBaird commented on #10253
@codyloyd What all needs left proofread? It's been some time since this has been revisited.

[2021-05-16 18:29] #22174 closed

[2021-05-17 13:24] codyloyd commented on #10253
@ZachBaird i am so far removed from this project lol... i say it's time to close this issue and move on.

[2021-05-17 20:00] KevinMulhern opened #22309 "The master branch has been renamed to main for this repo"
If you have a local copy of this repo run `git branch -m master main` to rename your master branch locally.

[2021-05-18 13:52] tornadodobird opened #22312 "Git Authentication Via Password Will Be Depreciated"
Hi tOP,

So far I'm enjoying the Odin Project's course! I'm learning a lot and its coming easliy.

In the "Foundations" course (and throughout other courses I am sure), you teach learners how to set up an SSH key with GitHub and show how to authenticate with a password.

Shortly after doing some basic Git commits and pushes through the CLI with a basic repository of mine, I was emailed with this n

[2021-05-18 14:00] twalton83 commented on #22312
This means you use HTTPS, not SSH.

[2021-05-18 14:01] #22312 closed

[2021-05-18 18:08] bokonist opened #22313 "Suggestion for getting students to get more acquianted with git workflows"
At various points in the curriculum, students are asked to revisit older projects and refactor them with something that they've just learned in the course. These points can be a great place to suggest that students use a new git branch in their repository to work on their new 'features' and merge them back into master.

From a cursory find command, these are the lessons in the curriculum that sugg

[2021-05-18 18:16] rlmoser99 commented on #22313
I'm not sure about the javascript ones, but the ruby Mastermind refactor is during the initial project & is not being asked to revisit an old project.

One lesson that ruby does have students revisit is their caesar_cipher and tic_tac_toe project when they learn testing in this lesson: ruby_programming/testing_with_rspec/project_testing_your_ruby_code.md

[2021-05-20 02:53] #22259 closed

[2021-05-20 11:51] bokonist commented on #22313
Thanks Rachel! I'm wasn't familiar with the ruby track, I'll add the suggestion there too!

[2021-05-20 21:04] rlmoser99 opened #22322 "Remove Drop Down functionality from Knowledge Checks"
**Before working on a lesson, please comment on this issue indicating what lesson that you would like to work on and wait to be assigned. In addition, please review our contributing guide:**
https://github.com/TheOdinProject/curriculum/wiki/Contributing-Guide

Background:
There are 3 lessons in the beginning of Foundations that have Knowledge Checks with drop down functionality. We recently added

[2021-05-20 21:08] 7u1ian commented on #22322
I'd like to tackle one of these please! By the way, is the acceptance criteria a list of which lessons need updating?

[2021-05-20 21:10] rlmoser99 commented on #22322
@7u1ian Yes, the lessons are listed in the acceptance criteria. Which one do you want to do?

[2021-05-20 21:11] 7u1ian commented on #22322
Git Basics please. Thank you!

[2021-05-20 21:21] dylan-workhub commented on #22322
I can take command line basics.

[2021-05-21 00:39] mdlugosz1 commented on #22322
I can work on introduction to git.

[2021-05-21 05:32] 7u1ian commented on #22322
That was my first contribution. Let me know if everything went smoothly! By the way, is my name supposed to be assigned next to the item under Acceptance Criteria?

[2021-05-21 13:30] rlmoser99 commented on #22322
Yes, it was. Sorry about that. I've fixed it. I'm not sure why/how that happened.

[2021-05-22 03:07] #22322 closed

[2021-06-06 14:14] agentlemanthief opened #22358 "Typo"
### Description
Typo on following page:

https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/your-first-rails-application-ruby-on-rails

"First, open GitHub.com in your browser and sign in (if you aren’t already). Next, look for your profile picture in the upper right-hand corner, click the “+” symbol next to it, and then click New repository. Give the repos

[2021-06-06 14:28] twalton83 commented on #22358
Also, didn't realize this at first, curriculum issues belong in the curriculum repo, the other repo is for the website itself! Thanks!

[2021-06-06 14:30] agentlemanthief commented on #22358
Yeah, thanks, still working it all out! Took me a second to notice the content is separate.

[2021-06-08 04:47] wise-king-sullyman commented on #22358
Closed in #22356

[2021-06-08 04:47] #22358 closed

[2021-06-08 10:09] PinkieBarto opened #22365 "A reading resource no longer available in the command line basics module"
Specifically chapter 1 of Conquering the Command Line is no longer available and the webpage doesn't load
http://conqueringthecommandline.com/book/basics

This is a reading resource in an assignment for command line basics https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/command-line-basics-web-development-101

![brave_2021-06-08_11-05-39](https://user-images.githubuser

[2021-06-08 10:38] #22365 closed

[2021-06-09 00:12] #22185 closed

[2021-06-10 16:35] JoshTheBlack opened #22369 "Non-working code in Ruby Basic Enumerables lesson"
https://github.com/TheOdinProject/curriculum/blob/main/ruby_programming/basic_ruby/basic_enumerable_methods.md

The first code block in this lesson has code that doesn't work in Ruby 2.7.2 (the version referenced in the installation lesson.)

[code]

Removing the 'do' allows the code to run properly.

[code]

My current installed version of Ruby is 2.7.2p137 (2020-10-01 revision 5445e04352).

[2021-06-10 17:01] JoshTheBlack commented on #22369
Stranger still,

[code]

This works.  Maybe its an issue with Ruby 2.7.2p137?

[2021-06-22 20:42] alexeiMikhail commented on #16074
Hey there! Looks like this hasn't been updated in a while. I'd like to help with this task.

I'm new, and the contributing documentation mentioned needing to be assigned to a task, so I'll wait for a response before I get started.

[2021-06-30 16:02] RolandStuder commented on #22369
Just a note, this issue has come up twice in the last three weeks:

- https://discord.com/channels/505093832157691914/543074220691947531/852578738029854753
- https://discord.com/channels/505093832157691914/543074220691947531/859809842125471775

[2021-06-30 19:32] zachmmeyer opened #22414 "Prerequisites VirtualBox instructions includes images from Imgur"
The curriculum is currently using images hosted by Imgur for the Prerequisites VirtualBox section (by yours truly).
The images should be uploaded directly to the repository.

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites

[2021-06-30 19:35] zachmmeyer opened #22415 "Project: Practicing Git Basics is including images from Imgur"
The curriculum is currently using images hosted by Imgur for the Project: Practicing Git Basics.
The images should be uploaded directly to the repository.

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/practicing-git-basics

[2021-07-02 01:37] danmenjivar opened #22420 "Spreadsheet Template for Job Search"
I love the DIY spirit of TOP, but I think it would benefit everyone if there was a Google doc or csv template attached to that lesson.

[2021-07-02 23:26] #22414 closed

[2021-07-04 17:03] #22415 closed

[2021-07-05 15:32] sonali-dudekula commented on #22049
@DoviMaj can I please work on this issue?

[2021-07-05 15:36] twalton83 commented on #22049
Hello, DoviMaj is not a maintainer and cannot assign issues, however, I will discuss with the team how we would like to approach this and if they don’t want to work on this, you can take this issue.

[2021-07-05 16:28] sonali-dudekula commented on #22049
Thanks for letting me know @twalton83

[2021-07-05 18:51] wise-king-sullyman opened #22425 "Replace Git Basics assignment with Project: Practicing Git Basics"
The current assignment for the Git Basics lesson is just a single video with some outdated/confusing aspects and it's causing repeat problems for students as they try to follow along.

Since Project: Practicing Git Basics is a step-by-step walkthrough of using Git (and not really a project) it makes sense to use it as the Git Basics assignment in place of any video.

# Completion Criteria

- [x] R

[2021-07-09 21:37] #10253 closed

[2021-07-10 21:34] wise-king-sullyman opened #22433 "Upload all images linked in the curriculum to the curriculum repo"
### Background
It's been discovered that our current method for linking images in the curriculum has issues. We need to change it.

### What needs to be done
We need to upload all of our images to the curriculum repo itself, then update the links to use a free CDN (Content Delivery Network) that we've selected. This will need to be done in two parts and the PR associated with *this* issue should *

[2021-07-11 03:30] xiaozhong21 commented on #22433
I'm new to TOP contribution, and I'll be happy to work on this one!

[2021-07-11 04:14] wise-king-sullyman commented on #22433
Sounds good, thanks for taking it on @xiaozhong21!

[2021-07-12 10:45] NaiveDJack opened #22437 "Typo in Ruby Advanced/pattern matching lesson"
https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/pattern-matching#return-values

has the second paragraph

"all of part" seems incorrect, should likely be "all or part"

[2021-07-13 01:21] #22369 closed

[2021-07-13 21:56] #22425 closed

[2021-07-14 16:09] #22437 closed

[2021-07-15 18:06] ZachBaird commented on #17302
Hey @SidWorks ! Feel free to shoot up a PR! Make sure to link this issue #.

[2021-07-15 18:08] ZachBaird commented on #21944
This looks like it might be complete. Can @I3uckwheat or @twalton83 confirm?

[2021-07-15 18:17] ZachBaird commented on #22313
It looks like this task may be complete. Can @bokonist or @rlmoser99 confirm?

[2021-07-15 23:22] bokonist commented on #22313
yep, @ZachBaird , complete under [this PR](https://github.com/TheOdinProject/curriculum/pull/22320#event-4940667692)

[2021-07-16 14:58] twalton83 commented on #21944
It’s done!

[2021-07-16 14:58] #21944 closed

[2021-07-16 15:10] #22313 closed

[2021-07-16 15:52] I3uckwheat commented on #12979
@mindovermiles262 With the new submissions feature, I think we can easily implement this and not worry about student's names.

[2021-07-17 04:04] joe-mccann-dev opened #22453 "Link to API explanation in Rails curriculum no longer leads to an actual article."
### Steps to reproduce

  1. Go to https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/apis-and-building-your-own
  2. Click on the first link "read the Skillcrush explanation"
  3. The link leads to https://skillcrush.com/blog/ instead of an article explaining what an API is.

Skillcrush must have removed the article as the link now just redirects to their

[2021-07-17 09:21] KevinMulhern opened #22456 "Feature: Create Custom Enumerable Project Test Cases"
### Description
Create test cases the verify the student has correctly implemented each of their methods in [the custom enumerable project in the Ruby course](https://github.com/TheOdinProject/custom_enumerable_project).

We have set up a new repo for this here: https://github.com/TheOdinProject/custom_enumerable_project

* Use RSpec to add tests for each of the methods we instruct students to bui

[2021-07-17 19:04] wise-king-sullyman opened #22457 "Ruby Testing Lessons - TDD"
Write a lesson introducing the TDD workflow to be included in the new Ruby testing section.

Topics should include:

- [ ] What is TDD and its benefits.
- [ ] Explain the red green refactor cycle.
- [ ] Walk the student through TDD'ing a couple of methods of a small class.
- [ ] Exercise: Finishing TDD'ing a few more methods in the example class used in the content.
- [ ] Exercise: TDD a value obj

[2021-07-18 10:19] KevinMulhern opened #22460 "Ruby Testing - RSpec Basics Lesson"
This lesson will introduce students to all the basic RSpec syntax they need to know.

Topics Include:
- [x]  Installing RSpec.
- [ ] Structuring test files with describes and it blocks.
- [ ] Anatomy of expectations.
- [ ] lets and before blocks.
- [ ] Exercises: Matcher Exercises from the testing playground.

Proposed lesson outline in #22455

[2021-07-19 14:57] Wdavery opened #22462 "Redundant link"
Similar to my last pull request (#22452), I've come across two links that introduce the same article as new. This time it's a little more complex than a simple one line removal so I figured opening an issue would be a better choice.

The offending link is: https://medium.com/@gordon_zhu/how-to-be-great-at-asking-questions-e37be04d0603

First instance is a required reading assignment and was added

[2021-07-19 15:04] twalton83 commented on #22462
We definitely want to keep it in the “Asking for Help” lesson as that lesson will be a frequent resource in our Discord chat, and serve as a reference for all of our most common “getting help” resources. I’m more inclined to remove it from the second link.

[2021-07-19 15:04] Wdavery commented on #22462
If removed from the second link, a small rewording will be required here: https://github.com/TheOdinProject/curriculum/blob/d123ae89af9b7a4bc49143ea3a2d01490357c67e/foundations/introduction/join_the_odin_community.md#6-ask-for-clarifications

[2021-07-19 15:05] twalton83 commented on #22462
We can just remove the “referenced above” part in that case.

[2021-07-19 15:08] Wdavery commented on #22462
I'll go ahead and create PR with those changes then :+1:

[2021-07-20 03:28] rankoliang commented on #22456
I can work on this one! You ended up linking the repo twice. I assume it's this lesson in the course?https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/custom-enumerables

[2021-07-20 17:49] ruben-vl commented on #22129
Is this still an issue? I don't immediately see the problems with the ubuntu.com tutorial.

If so, this seems to be a recently updated [tutorial](https://itsfoss.com/create-live-usb-of-ubuntu-in-windows/)
It also mentions a second method with Universal USB Installer, which might be helpful for people experiencing problems with Rufus.

[2021-07-20 22:39] xandora commented on #22129
@ruben-vl The problem with the ubuntu.com guide is that it refers to a rather old version of Rufus, as such some of the instructions are no longer necessary.

Your link is a good alternative, do you want to create a PR and link it to this issue?

[2021-07-20 22:58] bilalmaleq opened #22465 "Broken Link on Foundations > Project: Google Homepage"
### Description

The "Project: Git Basics" under the "[Setting Up Your Project’s GitHub Repository (optional)](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/html-css#setting-up-your-projects-github-repository-optional)" section leads to a broken page on the "Project: Google Homepage"

#### Steps to Reproduce

1. Navigate to https://www.theodinproject.com/paths/founda

[2021-07-20 22:59] twalton83 commented on #22465
Feel free to make a pull request to resolve this by clicking on the "Improve this lesson" button at the bottom of the page. https://discord.com/channels/505093832157691914/516751477306294273/867171810251243520

[2021-07-21 01:38] #22462 closed

[2021-07-21 01:44] ZachBaird commented on #16074
I'm going to start grooming out tasks based on the great work @kashura and @hiimdines have done in regards to the learning outcomes and knowledge checks. I'm going to create a task **per course** to add knowledge checks and/or learning outcomes to missing lessons within that task's course.

Additionally, there's some additional ideas that have been introduced for the *knowledge checks* specificall

[2021-07-21 01:45] ZachBaird opened #22466 "Add missing Knowledge Checks, Lesson Outcomes, and Knowledge Check links to Foundations"
Related to #16074

This task is to go through the following lessons in the [Foundations](https://www.theodinproject.com/paths/foundations/courses/foundations) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer links created.

[2021-07-21 02:22] ZachBaird opened #22467 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check answer-links to Ruby course"
Related to #16074

This task is to go through the following lessons in the [Ruby Programming](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just nee

[2021-07-21 02:30] ZachBaird opened #22469 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Database course."
Related to #16074

This task is to go through the following lessons in the [Database](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/databases) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer links

[2021-07-21 02:38] ZachBaird opened #22470 "Add missing Knowledge Checks, Learning Outcomes, & answer-links to Ruby on Rails"
Related to #16074

This task is to go through the following lessons in the [Database](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/databases) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer links

[2021-07-21 02:46] ZachBaird opened #22471 "Add missing Knowledge Checks, Learning Outcomes & answer-links to HTML and CSS"
Related to #16074

This task is to go through the following lessons in the [HTML and CSS](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/html-and-css) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer

[2021-07-21 02:59] ZachBaird opened #22472 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript"
Related to #16074

This task is to go through the following lessons in the [JavaScript](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/javascript) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer lin

[2021-07-21 03:06] ZachBaird opened #22473 "Add missing Knowledge Checks, Learning Outcomes & answer-links to NodeJS"
Related to #16074

This task is to go through the following lessons in the [NodeJS](https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs) course and:

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- add answer links in the Knowledge Checks

Below I've created a list of the courses we will need to work on and what they need. Most just need answer links created.

[2021-07-21 03:08] ZachBaird commented on #16074
The new tasks are listed above! I will be closing this one so work can start being committed to the individual courses over time.

[2021-07-21 03:08] #16074 closed

[2021-07-21 03:23] #22465 closed

[2021-07-21 03:25] ZachBaird commented on #22465
Thanks for the heads up @bilalmaleq , this was a fallout from an earlier task we did. Should be fixed now!

[2021-07-21 13:12] KevinMulhern commented on #22456
Yeah thats the lesson, sorry @rankoliang I should have double checked those links before I posted.

Thanks for taking this one on, if you have any questions about it don't hesitate to let me know.

[2021-07-21 15:24] #17302 closed

[2021-07-21 15:33] ZachBaird commented on #22153
@ZaidKhan144 @Nathan-Galipeau Looks like the PR for this was merged but the issue wasn't closed, so I'll close it here. Great work guys!

[2021-07-21 15:33] #22153 closed

[2021-07-21 17:24] joe-mccann-dev opened #22477 "Link to "This older blog" in API section of Rails curriculum leads to "page not found" error."
### Steps to reproduce

  1. Go to https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/apis-and-building-your-own
  2. Click on "This older blog" link under the "Rendering Nothing or Errors" section.
  3. The link leads to a "Page Not Found" page.

This issue is similar to #22453.

[2021-07-21 20:45] ZachBaird commented on #22096
Hey @MaurizioTonelli, it's been a bit but glad you brought this up.

We don't really have the bandwidth at the moment to identify a new resource. Are you open to finding an up-to-date tutorial? If so, I can assign this task to you and you can get started.

If not, or this task sits awhile longer, I think we'll close. While the deprecations are annoying, the tutorial is still effective at showing s

[2021-07-22 00:06] twalton83 opened #22478 "Add VS Code tutorial"
The official VSC tutorial should be added to one of the existing lessons so students have a better understanding of the environment they have set up.

[2021-07-22 12:37] ruben-vl commented on #22129
You can find the PR in the refs above. I think that closes this issue. :)

[2021-07-22 14:11] #22049 closed

[2021-07-22 15:52] #12979 closed

[2021-07-22 18:32] greenteaisgreat commented on #12881
It seems to be dead again, as that the link now says that web archive's servers aren't responding

[2021-07-22 18:36] twalton83 commented on #12881
@greenteaisgreat it appears to be working, I just accessed it. However, if web archive's servers are down, that's more so an issue with web archive. I know there was a major outage across the internet earlier today that could be related.

[2021-07-22 18:53] ZachBaird commented on #22129
Merged!

[2021-07-22 18:53] #22129 closed

[2021-07-22 19:14] greenteaisgreat commented on #12881
Hmm, strange. It's giving me a ERR_NAME_NOT_RESOLVED description. I'm also trying to access it from my work's network, which has a bunch of strange restrictions (state laboratory), so that could very well be the issue.

Appreciate your prompt response! I'll check it out once I'm on my home network.

[2021-07-23 11:41] ruben-vl commented on #22478
Where would be a good place to add it in your opinion? I have done the foundations course in the past couple of days and the simple instructions given throughout have been more than enough. Also, students are not obliged to use VSCode, but can use another IDE/text editor. The tutorial certainly has its merits in 'additional resources', but I don't see the need for it in the obligated readings.

[2021-07-23 14:57] twalton83 commented on #22478
We expect students to be follow our suggestions, so we expect VSC regardless of what they choose. Similarly, we expect students to use Chrome, and a lot of Chrome content is required.

Unfortunately, we do get a lot of students stuck on even understanding how to open a file. This would probably go in the Text Editors lesson.

[2021-07-25 02:57] #22157 closed

[2021-07-25 02:58] #22453 closed

[2021-07-25 02:58] #22477 closed

[2021-07-28 02:26] mgrigoriev8109 commented on #22478
Not sure if @ruben-vl  was interested in doing this, but if not then I'd like to add it to that Lesson.

[2021-07-28 02:39] mgrigoriev8109 commented on #22466
I'd love to tackle the first two tasks of this issue. So adding links to the Introduction section - 'Asking for help' and 'How does the web work?'.

[2021-07-28 03:35] Maheshkumar-novice commented on #22466
May I know how to do this? Like where to edit the HTML.

[2021-07-28 04:20] jtcaovan commented on #22472
Hi, I would like to work on the first 3 sections in Organizing your Javascript code (Objects and Object Constructors, Factory Functions and the Module Pattern, Classes)

[2021-07-28 06:22] ruben-vl commented on #22478
@mgrigoriev8109 go ahead! I was not planning on doing it

[2021-07-29 01:18] wise-king-sullyman commented on #22457
Relocating this issue to https://github.com/TheOdinProject/top-meta/issues/12

[2021-07-29 01:18] #22457 closed

[2021-07-29 01:39] #22460 closed

[2021-07-29 16:10] Maheshkumar-novice commented on #22466
I will add links for Introduction to Git

[2021-07-29 23:37] #22309 closed

[2021-08-02 14:58] BLooDBRothER commented on #22466
I'll make changes for the lessons
- Introduction to the Front End (add links)
-  HTML and CSS Basics (add links)

[2021-08-02 15:03] Jayashakthi28 commented on #22466
I'll add links to the lessons

- Fundamentals Part 2 (add links)
- Problem Solving (add links)

[2021-08-02 15:05] Lakshmikant-2001 commented on #22466
I'll add links to the lessons

      Developer Tools (add links)
      Fundamentals Part 1 (add links)

[2021-08-02 15:05] Jayashakthi28 commented on #22466
I'll add links to the lessons

- Fundamentals Part 2 (add links)
- Problem Solving (add links)

[2021-08-04 23:44] rankoliang commented on #22456
Just an update, I got a bit caught up with the game jam that I wasn't initially planning, but I'll get to working on this afterwards!

[2021-08-07 06:03] xandora opened #22508 "Google Homepage projects being flagged as"deceptive""
There have been several reports of student submissions for the Google Homepage project being flagged as deceptive by the Google Safe Browsing initiative:

![](https://i.imgur.com/9D0eN9n.png)

To alleviate this issue, we should reconsider the branding used for the project.

[2021-08-07 18:45] twalton83 commented on #22478
Closed by #22499

[2021-08-07 18:45] #22478 closed

[2021-08-07 18:46] twalton83 commented on #22020
At this point with the minimal number of Medium articles, the issue of running into the article limit is far less great than was prior, so this issue will be closed.

[2021-08-07 18:46] #22020 closed

[2021-08-10 00:32] zachmmeyer commented on #22508
What if there was an alternate logo supplied
![foogle](https://user-images.githubusercontent.com/34407561/128790725-887f6747-71d7-474a-8c34-93a08dc4c908.png)
and students were told to call it Foogle instead that way Google doesn't think the page is trying to scam you.
They'd just have to resize it with some CSS, which is a good way to apply some learned skills.

[2021-08-10 20:12] refaelsh opened #22513 "If found a typo."
Look here please guys: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/hooks.
The second paragraph end with the following sentence:
[code]
There is a dot missing and the end of the sentence.

[2021-08-10 20:45] rankoliang commented on #22456
@KevinMulhern I can't seem to fork or even make prs to the repository since it's empty. I'm not sure if there's something I'm missing since I don't have access to push to the repository directly or if I'll be able to submit a pr if I make my own repository that isn't a fork. Do you think you could add a license or empty readme to start it off?

[2021-08-10 21:06] KevinMulhern commented on #22456
Apologies @rankoliang, I thought it would still allow you to fork it. I've sent you an invite to that repo mate.

[2021-08-11 07:08] refaelsh commented on #22513
Sure. Thank you. Gladly. Cool :-) I will open a Merge Request as soon as possible.

[2021-08-11 19:43] rankoliang commented on #22456
No worries, thank you!

[2021-08-11 19:53] #22513 closed

[2021-08-12 22:08] AstroMike101 opened #22526 "Introduction to Frameworks wording"
<img width="794" alt="Screen Shot 2021-08-12 at 3 04 18 PM" src="https://user-images.githubusercontent.com/65747601/129275880-0ac7199c-7bcf-46d6-96d2-165d7b4731d7.png">

In the introduction section of the "Introduction to Frameworks" lesson, it states that "If you’re programming with any other language, you pretty much start with a blank text file and go from there. Programmers, the best of whom a

[2021-08-13 01:14] rankoliang commented on #22456
@KevinMulhern I've submitted a pr to the repository with my changes so far, if you wanted to see what I have. I also had some questions/found some issues I thought would be worth discussing; I just made test cases for the existing project instructions so far and can edit them if this repo seems good to point students to it.

- Currently, students are implementing `#my_each` on the `Enumerable` mod

[2021-08-13 05:54] KevinMulhern commented on #22456
Thanks for all your work on this @rankoliang, the tests are looking really good.

Yeah that makes a lot of sense, getting it working for just Array seems like the best approach for this initial version. Then we could maybe add it in for hash later if we needed to.

Just to keep things simple I think we shouldn't have it as a requirement for now.

I'll have a play with the tests this weekend, it wo

[2021-08-13 10:27] Dakota-Leonard opened #22528 "Heroku Application error on Foundations Command Line Basics assignment link"
# Description of issue

In the command line basics portion of the Foundations course, the second assignment's link leads to an application error. This results in a rather confusing start to the learning of the command line as the remainder of the page assumes that the material at the provided link has been read.

# Steps to reproduce

1. Head to the assignments section for Command Line Basics foun

[2021-08-14 01:38] twalton83 commented on #22528
Closed with #22530

[2021-08-14 01:38] #22528 closed

[2021-08-14 01:38] twalton83 opened #22531 "Removed cached Conquering The Command Line link"
The publisher is currently having issues with Heroku. When it is resolved the link should no longer be the cached version.

[2021-08-18 03:04] ChargrilledChook opened #22541 "Getting hired introduction still has a work in progress tag"
The getting hired path introduction (https://www.theodinproject.com/paths/full-stack-javascript/courses/getting-hired/lessons/how-this-course-will-work) has the following text:

This is a Work In Progress!
This course is currently under construction, which means that the explanations may not be as rich as you’re used to from the other courses and some stuff may still be marked “TO-DO”. If you find

[2021-08-20 15:52] twalton83 commented on #22531
Closed with #22547

[2021-08-20 15:52] #22531 closed

[2021-08-21 04:44] #22541 closed

[2021-08-21 15:23] Abban-Fahim commented on #22526
Actually, programmers are lazier than most web developers. Here, **programmers** were referred to those who wtite any sort of code, which is'nt limited to web developers. Web developers also includes designer's, who somethime doent even have to write code!

[2021-08-21 15:30] KevinMulhern commented on #22526
That is my take as well. "Programmers" is an umbrella term that web development fits under.

[2021-08-22 22:31] coelhored opened #22554 "Command line basics: add how to enable full tab completion for MacOs users"
The lesson implies that in Mac Terminal, tab completion will behave similarly to Linux, but this is not the case.

for MacOS Users:
By default, tab completion only works for commands, but not directory and file names as described in this lesson.  To enable these completions, edit the file named .zshrc in the home directory, and add this line:

  autoload bashcompinit && bashcompinit

Save the file

[2021-08-22 22:32] coelhored commented on #22554
I would be happy to adapt these comments  to add to the lesson.  It would be my first pull request!

[2021-08-22 22:51] coelhored opened #22555 "Foundations Github: clarify ending of SSH key for macOS"
The lesson states:

   Highlight and copy the output, which starts with ssh-rsa and ends with your email address.

At least for me on macOS 11.4, the ssh key doesn't end with my email, but rather username@name-of-device.local

[2021-08-23 23:24] LeoKirasic commented on #22466
I would like to work on Developer Tools 2 (Learning Outcomes, Knowledge Checks, add links).

[2021-08-25 06:44] paulhenri opened #22557 "Ruby lessons / Pattern Matching : Inversion of two code blocks"
In the section **Ruby 3 / Find pattern** it appears that the two code blocks should be switched. The first code block should show when a find pattern works and the second one when it does not.
Right now it is the opposite.

[2021-08-27 15:59] jomalone111 opened #22589 "Xubuntu download link broken"
### Description
As of 8/27/21 the link to download xubuntu version 20.04 takes the user to a 404 not found page

#### Steps to Reproduce
Got to Foundations Course, Prerequisites, Virtual Machine Download, Step 1.2 "Download Xubuntu" and click the link

#### Expected Behaviour
I would expect it to take me to the correct [webpage](url)

 #### Additional Information

[2021-09-01 15:05] #22433 closed

[2021-09-01 18:48] #22508 closed

[2021-09-01 23:16] twalton83 commented on #22526
Please do. @AstroMike101

[2021-09-02 19:08] LeoKirasic commented on #22466
I will start working on:
- Fundamentals Part 3 (Learning Outcomes, Knowledge Checks, add links)
- Understanding Errors (add links)
- Clean Code (Learning Outcomes, Knowledge Checks, add links)

[2021-09-04 21:36] UnmadeBed opened #22588 "Broken link found"
### Description
Found a broken link under the 'Additional Resources' section of the 'Foundations: Introduction to the Front End' [page](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-the-front-end).

#### Steps to Reproduce
The bug can be found [here](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-the-front

[2021-09-05 21:29] KevinMulhern commented on #22589
I transferred this over from the main site repo. Is this still an issue?

[2021-09-06 01:46] binarygit commented on #22470
I can do a Railsy Web Refresher, would it be ok if it takes me like 2 weeks or so?

[2021-09-06 15:31] LeoKirasic commented on #22466
I will start working on:
- Fundamentals Part 4 (Learning Outcomes, Knowledge Checks, add links)
- DOM Manipulation (add links)
- Fundamentals Part 5 (Learning Outcomes, Knowledge Checks, add links)

[2021-09-06 16:47] erdemYigitoglu commented on #22588
the link works on my computer with crome. which device and browser did you try the link?

[2021-09-06 21:22] UnmadeBed commented on #22588
Using Chrome on MacBook. Just to clarify, the Odin Project page loads just fine, it's the link to a resource from Drupal which doesn't seem to work.

[2021-09-07 23:10] JonathanYuan900 opened #22601 "Typo on new HTML lesssons"
### Description
`Links to pages op other websites` contains a typo

![image](https://user-images.githubusercontent.com/76597944/132421263-569177fc-c905-4030-9cef-aa74ea09ef76.png)

#### Steps to Reproduce
[link to lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/links-and-images)
The typo lies in the `Absolute Links` paragraph

#### Expected Behaviour
`Links to

[2021-09-08 01:48] nguyenlekhtn opened #22605 "Incorrect codes in Ruby's PATTERN MATCHING lessons"
### Description
In Pattern Matching lesson, there is a code sample
[code]

I believe the line
[code]
should be changed to
[code]

####  Reason

As I understand,
[code]
only looking at the last element of the data array. This led to the code prints `nil` to console instead of `italian` as the lesson says

[2021-09-08 07:11] SNikhill commented on #22601
I can take this one.

I shall also like to suggest a slight change in wording for the way an Absolute Link is defined.

[2021-09-08 13:42] jomalone111 commented on #22589
Sorry for the delay. I just checked and it is working correctly now.

On Sun, Sep 5, 2021 at 5:29 PM Kevin Mulhern ***@***.***>
wrote:

[2021-09-09 03:35] Maheshkumar-novice commented on #22466
Hey Leo! Don't forget to add `class="knowledge-check-link"` to `<a>` tag.

[2021-09-09 08:57] refaelsh opened #22621 "Wrong instruction on how to install `supertest`"
In [this](https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs/lessons/testing-routes-and-controllers) lesson (which corresponds to [this](https://github.com/TheOdinProject/curriculum/blob/main/nodeJS/testing/Testing.md) Markdown file), it is stated that:

[code]

I think it should be like this: `npm install supertest --save-dev`.

A penny for you thoughts guys :-)

[2021-09-10 02:34] kashura commented on #22601
PR merged.

[2021-09-10 02:34] #22601 closed

[2021-09-10 02:40] kashura commented on #22588
Link seems to be functional. Maybe an outage for their web server.

[2021-09-10 02:40] #22588 closed

[2021-09-10 02:40] #22589 closed

[2021-09-10 02:43] kashura commented on #22526
@AstroMike101 do you still want to PR this or should we offer it to others? :-)

[2021-09-10 02:47] kashura commented on #22621
@refaelsh good catch; want to open a Pull Request and fix it?

[2021-09-10 02:51] kashura commented on #22554
@coelhored which version of Mac OS are you on? Since Catalina bash is replaced with zsh by default, and it does auto complete directories.

[2021-09-10 13:18] LeoKirasic commented on #22466
I will start working on:
- Introduction to the Back End (add links)
- Introduction to Frameworks (add links)

[2021-09-10 18:43] kashura commented on #22555
Did you follow the guide and enter this command the same way?
`ssh-keygen -C <youremail>`

[2021-09-10 21:50] johnhitz203 opened #22641 "Small issue in Foundations GitHub Basics"
### Description
In the Add Another File section step 1 says “Create a new file in the git_test folder called hello_world.txt. In the terminal, type git status, and notice hello_world.txt is not staged.” I think it should say “…type git status, and notice hello_world.txt is not tracked.” The next 2 step are to make a change in README.md and check the status “…and notice that README.md is now shown

[2021-09-10 23:05] jtcaovan commented on #22472
I'll go ahead and continue off with ES6 Modules and OOP Principles

[2021-09-11 11:53] wasim7raja10 opened #22631 "link given in the lesson is broken."
http://web.archive.org/web/20160925155912/http://www.happybearsoftware.com/how-to-get-a-programmer-job.html
from lesson https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-web-development#why-odin

[2021-09-11 17:25] refaelsh commented on #22621
Yes, very much so, gladly. Thanks! :-)

[2021-09-11 19:13] kashura commented on #22631
Works just fine. Try the link on multiple devices, and make sure it's not an issue on your network.

[2021-09-11 19:13] #22631 closed

[2021-09-11 19:16] kashura commented on #22621
@refaelsh thanks!

[2021-09-11 19:16] #22621 closed

[2021-09-12 00:31] msespos opened #22637 "Missing example in Rails Callbacks Article"
In the Callbacks article at https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/active-record-callbacks there is a bullet point as follows:

"Finding – When you’ve searched for the object. Often gets triggered by Rails working with objects behind the scenes (e.g. when )"

The parenthetical statement "e.g. when" is unfinished.

I would have made a PR but I di

[2021-09-12 06:28] wasim7raja10 commented on #22631
changing the  "http" to "https" worked for me. It would be better if you change it I guess.

[2021-09-12 12:25] KevinMulhern commented on #22641
Hi @johnhitz203, I've transferred this issue to the Curriculum repo where all the lesson content lives.

[2021-09-12 12:28] KevinMulhern commented on #22641
Resolved in https://github.com/TheOdinProject/curriculum/commit/089c5289b3c7fe9b6f82ccd8bf345e950982ce35

[2021-09-12 12:28] #22641 closed

[2021-09-12 18:58] kashura commented on #22555
Closing as stale.

[2021-09-12 18:58] #22555 closed

[2021-09-12 21:03] kashura commented on #22420
Can you be more specific about the suggestion?

[2021-09-14 13:19] #22526 closed

[2021-09-19 10:13] bijoysijo commented on #22470
@ZachBaird I can take up the Routing.

[2021-09-19 23:36] mattdimicelli opened #22683 "Character encoding in Exercise 07-flex-layout-2 from the flex CSS exercises from Foundations"
I am doing exercise 07-flex-layout-2 and I have noticed that in the provided index.html the "person" emoticon, which is the icon for link two in the sidebar, does not seem to be rendering in the browser nor does it appear correctly in VSCode.  I'm not sure what the solution is for this.

[2021-09-20 14:30] twalton83 opened #22686 "Add Node debugger to Node course"
Students should learn how to use the Node debugger in VSC at the beginning of the Node course.

The official VSC tutorial should be added as a lesson.

[2021-09-21 13:20] wise-king-sullyman opened #22688 "Assignment article in lesson "asking for help" has a linked video that is no longer present"
The [asking for help lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/asking-for-help) links to [this article](https://medium.com/@gordon_zhu/how-to-be-great-at-asking-questions-e37be04d0603) in its assignments. The article links to a video about debugging that is no longer available.

[2021-09-21 13:33] roshaan005 commented on #22688
Hi, I want to work on this issue

[2021-09-21 16:07] wise-king-sullyman opened #22690 "JavaScript course Objects and Object Constructors lesson has "additional resources" repeated twice"
# Summary

The [Object and Object Constructors lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/objects-and-object-constructors) in the JavaScript course has "additional resources" both before and after the Knowledge Check section.

## Acceptance Criteria
- [ ] The additional resources only appear once in the lesson
- [ ] The additional resources sectio

[2021-09-21 16:14] digidub commented on #22690
I'll take it. Thanks

[2021-09-21 16:21] wise-king-sullyman opened #22691 "Additional resource in the Rails course Active Record Association lesson has a broken link"
# Summary

The "Understanding Polymorphic Associations in Rails" additional resource in the Rails [Active Record Associations lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/active-record-associations#additional-resources) no longer leads to the blog it is supposed to lead to.

## Suggested Fix

If a new link to that article can't be found the li

[2021-09-21 16:25] qpongratz commented on #22691
Hello from the discord, I'll take this issue please.

[2021-09-21 16:27] wise-king-sullyman commented on #22690
@digidub assigned! Thanks for volunteering to contribute!

[2021-09-21 16:28] wise-king-sullyman commented on #22691
@qpongratz assigned! Thanks for volunteering to contribute!

[2021-09-21 16:44] wise-king-sullyman commented on #22691
Fixed in #22693

[2021-09-21 16:44] #22691 closed

[2021-09-22 01:34] #22690 closed

[2021-09-22 09:22] #22605 closed

[2021-09-22 09:30] digidub commented on #22472
I'll start by taking the Async lesson.

Having looked at the lesson, I think the Learning Outcomes could do with a reformat, they are currently worded in a Knowledge Check style (see here: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/async#learning-outcomes)

[2021-09-22 14:36] CouchofTomato commented on #22557
Hi @paulhenri

Apologies I missed this one.

It would be helpful if you could provide links or code snippets when reporting issues like this. Or even better feel free to submit a PR addressing this.

[2021-09-22 15:03] paulhenri commented on #22557
Hi,

No problem. Actually i can close this issue, it seems that the problem is rather on my side.. I think i misunderstood the chapter and i did not read the text correctly.

Thank you for your time and sorry for the false alarm. Next time i will be more careful.
Paul-H

[2021-09-22 15:03] #22557 closed

[2021-09-22 15:05] CouchofTomato commented on #22557
@paulhenri No need to apologise. We appreciate you taking the time to reach out.

Good luck with your learning.

[2021-09-23 03:55] linkonsat commented on #22467
I would love to take on the basic ruby lessons.

[2021-09-24 17:33] yamanidev opened #22706 "Deprecated instruction in linting JavaScript lesson"
Hello everyone.
On this [page](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/linting)
You have a [link](http://shripalsoni.com/blog/configure-eslint-in-visual-studio-code/) that redirects to a blog, explaining how to set up eslint in VSCode.
The blog has a section that is deprecated under "Step 2: Enable ESLint In Your Workspace" which is "eslint.enable": tr

[2021-09-24 17:33] twalton83 commented on #22554
@coelhored Do you mind replying to the above? Otherwise the issue will be closed because it is stale and not relevant to the latest versions of MacOS.

[2021-09-24 17:34] twalton83 commented on #22706
Duplicate of #22096

[2021-09-24 17:34] #22706 closed

[2021-09-24 17:34] yamanidev commented on #22706
My bad. Should've checked the existing issues first.

[2021-09-25 08:25] roshaan005 commented on #22472
I want to work on the testing portion : testing basics and more testing

[2021-09-25 08:33] roshaan005 commented on #22472
Could I work on the testing portion?
1. testing basics
2. More testing

[2021-09-26 01:45] kevinhisel opened #22715 "Add explanation for step 4.4 of Foundations Javascript Fundamental Part 1 assignment"
https://discord.com/channels/505093832157691914/690590001486102589/891494836283248651

[2021-09-26 18:07] kashura commented on #22554
Stale.

[2021-09-26 18:07] #22554 closed

[2021-09-28 03:30] twalton83 commented on #22686
Closed with #22696

[2021-09-28 03:30] #22686 closed

[2021-09-28 03:31] twalton83 commented on #22096
Closed by #22712

[2021-09-28 03:31] #22096 closed

[2021-09-28 15:24] twalton83 commented on #22466
@Lakshmikant-2001 @BLooDBRothER @mgrigoriev8109 and @Maheshkumar-novice, did we get all of our sections done? If so, can you please update your closed PRs to reference this issue so they can be listed such as above?

[2021-09-28 15:36] Maheshkumar-novice commented on #22466
I got introduction to git done and referenced it. I fill finish git basics soon.

[2021-09-28 15:48] BLooDBRothER commented on #22466
I'm half way done and notify you asap.

[2021-09-28 16:27] Jayashakthi28 commented on #22466
I am Half way done..I will notify asap.

[2021-09-28 18:33] LeoKirasic commented on #22472
I'll start working on:
- Webpack (Learning Outcomes, Knowledge Checks, add links)
- Linting (Learning Outcomes, Knowledge Checks, add links)

[2021-09-29 04:52] twalton83 commented on #22472
@roshaan005 Go ahead if you haven't already started.

@digidub Any updates?

[2021-09-29 08:17] digidub commented on #22472
@twalton83 PR submitted.

[2021-09-29 10:42] digidub commented on #22472
I'll also take on the rest of the **Asynchronous JavaScript and APIs** section.

[2021-09-29 13:07] BLooDBRothER commented on #22466
@twalton83  What about the newly added lessons in the foundations.

[2021-09-29 13:24] twalton83 commented on #22466
That needs to be broken out into a separate ticket.

[2021-09-30 06:51] digidub commented on #22472
I'll work through the **React JS** section next.

[2021-09-30 16:00] mattdimicelli opened #22748 "Knowledge check in Node.JS Getting Started asks about local vs global npm installs but there is no content re: this"
Knowledge check in Node.JS Getting Started asks about local vs global npm installs but there is no content re: this in the assigned readings.

Maybe there should be a link to https://nodejs.dev/learn/npm-global-or-local-packages   ?

[2021-10-01 22:26] martenmatrix opened #22758 "Lesson states that reader has completed the Google homepage project, however that project was removed"
In the HTML & CSS course in Lesson 5 (https://www.theodinproject.com/paths/full-stack-javascript/courses/html-and-css/lessons/embedding-images-and-video) it is stated "Back in the Foundations course you built Google’s homepage.". This might confuse some learners, as the project was completely removed from the curriculum and replaced with two new projects.

[2021-10-02 13:12] ewerton-azevedo commented on #22473
Hi @ZachBaird I would like to start working on this.
Is there anyone already working on this curriculum?

[2021-10-02 19:59] LeoKirasic commented on #22472
I'll start working on:

- Dynamic User Interface Interactions (Learning Outcomes, Knowledge Checks, add links)
- Forms (Learning Outcomes, Knowledge Checks, add links)

[2021-10-02 21:12] Andrsrz commented on #22471
@ZachBaird hello, I would like to work on this one. Is that ok? Would you assign it to me?.

[2021-10-03 02:09] twalton83 commented on #22466
@Lakshmikant-2001 any update?

[2021-10-03 04:01] Lakshmikant-2001 commented on #22466
I will finish within today!!

[2021-10-03 18:15] martenmatrix commented on #22471
I would like to work on HTML Basics (Knowledge Checks, add links)

[2021-10-03 20:19] martenmatrix commented on #22683
I think this may have to do with your system, the emoticon is displayed well on Ubuntu 20.04.3 LTS.

[2021-10-03 22:12] wise-king-sullyman opened #22776 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Introduction to HTML and CSS"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-03 22:30] martenmatrix commented on #22776
I would do it for the 4 lessons of CSS Foundations. @wise-king-sullyman

[2021-10-03 22:35] martenmatrix commented on #22776
I'll do it. You mean this [lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-html-and-css), right?

[2021-10-03 22:43] wise-king-sullyman commented on #22776
@martenmatrix correct. You're assigned! Thank you for volunteering to contribute!

Also regarding your last post, I will be making issues for the other lessons shortly. Once your PR for this lesson is merged feel free to request assignment for one of them if they're still available, but we don't want contributors to have multiple of these issues out at once.

[2021-10-03 22:45] martenmatrix commented on #22776
Yes, sorry. I did not read it carefully enough.

[2021-10-04 02:37] wise-king-sullyman opened #22778 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Elements and Tags"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:37] wise-king-sullyman opened #22779 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/HTML Boilerplate"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:38] wise-king-sullyman opened #22780 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Working with Text"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:38] wise-king-sullyman opened #22781 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Lists"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:39] wise-king-sullyman opened #22782 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Links and Images"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:39] wise-king-sullyman opened #22783 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/CSS Foundations"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:39] wise-king-sullyman opened #22784 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Inspecting HTML and CSS"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:39] wise-king-sullyman opened #22785 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/The Box Model"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:40] wise-king-sullyman opened #22786 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Block and Inline"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:41] wise-king-sullyman opened #22787 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Introduction to Flexbox"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:41] wise-king-sullyman opened #22789 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Growing and Shrinking"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:41] wise-king-sullyman opened #22790 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Axes"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:42] wise-king-sullyman opened #22791 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Foundations/Alignment"
Related to #22466

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 02:52] wise-king-sullyman opened #22793 "JavaScript/classes knowledge checks aren't bullet points"
The knowledge checks in the Classes lesson of the JavaScript course aren't bullet points.

[2021-10-04 03:00] wise-king-sullyman opened #22795 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/OOP Principles"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:01] wise-king-sullyman opened #22796 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Dynamic User Interface Interactions"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:01] wise-king-sullyman opened #22797 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Forms"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:02] wise-king-sullyman opened #22798 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Handle Inputs and Render Lists"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:04] wise-king-sullyman opened #22799 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Lifecycle Methods"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:04] wise-king-sullyman opened #22800 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Hooks"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:05] Ishmam156 commented on #22797
I would like to take this one, @wise-king-sullyman :)

[2021-10-04 03:05] wise-king-sullyman opened #22801 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Router"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:05] wise-king-sullyman opened #22802 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Advanced Concepts"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:06] wise-king-sullyman opened #22803 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Testing Basics"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:06] wise-king-sullyman opened #22804 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/More Testing"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:06] wise-king-sullyman opened #22805 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Using Ruby on Rails or BaaS For Your Back End"
Related to #22472

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-04 03:16] #22776 closed

[2021-10-04 03:25] wise-king-sullyman commented on #22472
@jtcaovan @digidub @LeoKirasic @roshaan005 to make this more manageable I have created standalone issues for each lesson and this issue will be getting closed momentarily.

If you've *already* started work on a lesson please comment on the issue for it and let me know. If you haven't started but would like to, just comment on that issue and request it be assigned to you if it's still available.

I

[2021-10-04 03:25] #22472 closed

[2021-10-04 03:27] wise-king-sullyman commented on #22466
We are moving to independent issues for each lesson needing this work going forward.

[2021-10-04 03:27] #22466 closed

[2021-10-04 03:36] wise-king-sullyman commented on #22797
@Ishmam156 all yours! Thanks for volunteering :smile:

[2021-10-04 07:25] LeoKirasic commented on #22796
I am currently working on this one.

[2021-10-04 07:45] digidub commented on #22799
Hey, I can take this issue on.

[2021-10-04 12:29] NueMe commented on #22471
Hello @ZachBaird, kindly assign me a task to work on

[2021-10-04 13:08] martenmatrix commented on #22778
I would like to this. @wise-king-sullyman

[2021-10-04 13:11] martenmatrix commented on #22779
I'll also do this. @wise-king-sullyman

[2021-10-04 13:15] martenmatrix commented on #22795
I'll take this. @wise-king-sullyman

[2021-10-04 13:43] wise-king-sullyman commented on #22799
@digidub assigned! Thanks!

[2021-10-04 13:46] wise-king-sullyman commented on #22779
@martenmatrix we are only wanting contributors to have one of these issues claimed at a time, but if once your PR for #22778 is merged this issue is still open and unassigned I will assign you to it.

[2021-10-04 13:53] wise-king-sullyman commented on #22795
@martenmatrix see my reply on #22779. Once the issue assigned to you is merged please comment again on whichever issue you would like to take on next.

[2021-10-04 16:37] #22758 closed

[2021-10-04 17:36] martenmatrix commented on #22779
Oh, that is understandable, sorry!

[2021-10-05 02:01] Lakshmikant-2001 commented on #22783
@wise-king-sullyman I am interested to work on this!

[2021-10-05 02:02] Jayashakthi28 commented on #22785
@wise-king-sullyman  I will complete this issue

[2021-10-05 02:36] BLooDBRothER commented on #22784
@wise-king-sullyman, I'm interested to complete this issue.

[2021-10-05 03:25] Andrsrz commented on #22787
@wise-king-sullyman I'll work on this one

[2021-10-05 03:46] wise-king-sullyman commented on #22783
@Lakshmikant-2001 assigned! Thanks for volunteering!

[2021-10-05 03:46] wise-king-sullyman commented on #22785
@Jayashakthi28 assigned! Thank you for volunteering!

[2021-10-05 03:47] wise-king-sullyman commented on #22784
@BLooDBRothER all yours, thanks for volunteering!

[2021-10-05 03:48] wise-king-sullyman commented on #22787
@Andrsrz you're assigned! Thanks for volunteering!

[2021-10-05 05:49] Maheshkumar-novice commented on #22786
I will take care of this.

[2021-10-05 13:26] wise-king-sullyman commented on #22786
@Maheshkumar-novice you're assigned, thanks!

[2021-10-06 16:59] eshaanagarwal commented on #22800
@wise-king-sullyman I would like to work on this issue !

[2021-10-06 19:36] pllealfunes commented on #22779
Hi, I'm a beginner and I would like to try completing this. Please let me know if possible
Thanks!  @wise-king-sullyman

[2021-10-07 02:22] Maheshkumar-novice commented on #22782
@wise-king-sullyman I will take care of this.

[2021-10-07 03:23] roshaan005 commented on #22804
I am working on this

[2021-10-07 03:30] #22797 closed

[2021-10-07 03:34] wise-king-sullyman commented on #22804
@roshaan005 you're assigned on these! Thank you for coming and commenting.

Please note though that going forward we want to only have one of these Knowledge Check/Learning Outcome/Link issues assigned to a contributor at any given time.

Thanks again for volunteering to contribute!

[2021-10-07 03:48] Ishmam156 commented on #22780
I would like to take this on next, @wise-king-sullyman  :)

[2021-10-07 05:34] wise-king-sullyman commented on #22780
@Ishmam156 You're assigned! Thanks again!

[2021-10-07 05:39] #22779 closed

[2021-10-07 06:09] Maheshkumar-novice commented on #22781
@wise-king-sullyman I will take care of this.

[2021-10-07 09:34] roshaan005 commented on #22804
@wise-king-sullyman thank you for assigning it to me , I had actually submitted a PR with the tasks it was reviewed and a few changes were requested , should I submit the same PR with the requested changes or create a new one?

[2021-10-07 21:48] wise-king-sullyman commented on #22801
@digidub thanks for volunteering to take more on, you're assigned!

[2021-10-08 22:37] wise-king-sullyman commented on #22795
@leau-void you're assigned! Thank you for volunteering to contribute!

[2021-10-09 02:38] #22781 closed

[2021-10-09 03:01] #22780 closed

[2021-10-09 03:11] Ishmam156 commented on #22790
Would like to take this on next if that is okay, @wise-king-sullyman :)

[2021-10-09 03:25] #22785 closed

[2021-10-09 03:27] wise-king-sullyman commented on #22790
@Ishmam156 of course! Thanks again!

[2021-10-09 03:49] #22778 closed

[2021-10-09 16:05] twalton83 commented on #22715
Closed by #22813

[2021-10-09 16:05] twalton83 commented on #22420
Closing because stale.

[2021-10-09 16:05] #22420 closed

[2021-10-09 17:15] martenmatrix commented on #22805
I would like to work on this.

[2021-10-09 18:33] wise-king-sullyman commented on #22805
@martenmatrix you're assigned, thanks!

[2021-10-09 19:22] refaelsh opened #22839 "Broken link"
Hi all,

I found a broken link here: https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs/lessons/api-security.
At the very button of the page, in section `Additional Resources`, the first link is broken.

Thanks.

[2021-10-09 20:22] martenmatrix opened #22840 "'CDN tab' is not on the website"
In the lesson JavaScript/Using Ruby on Rails or BaaS For Your Back End, in the Firebase assignments (Number 3) it is stated that "if you’re not going to be hosting your app on Firebase Hosting, but prefer to leave it where it is (e.g. on GitHub Pages), make sure to click the ‘from the CDN’ tab in step 3!". I am unable to find a ‘from the CDN’ tab in step 3 of the linked [website](https://firebase.

[2021-10-10 15:42] Andrsrz commented on #22839
@refaelsh The server for that article was down yesterday. Is up again.

[2021-10-10 22:15] #22783 closed

[2021-10-10 22:29] #22839 closed, assigned to nobody

[2021-10-12 01:50] BLooDBRothER commented on #22840
Yes from web v9 firebase changed all as modules. So user needs to import modules from the cdn or install it using npm and import it.

[2021-10-12 23:43] twalton83 opened #22852 "Update Git Basics project to emphasize using SSH clone link"
Students typically overlook the instruction which asks for learners to use the SSH tab when cloning their Github repository, and often become confused when they run into issues that arise when using HTTPS.

**Solution**: Step 4 [in this lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/git-basics) should be updated to further explain the necessity of using SSH. T

[2021-10-13 04:14] wise-king-sullyman opened #22854 "Additional screenshot needed in Foundations/inspecting HTML and CSS"
In https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/inspecting-html-and-css#inspecting-elements the difference between applied and overwritten styles could be significantly clarified with the addition of a "new" screenshot that focuses on those items.

I recommend using this image:
![image](https://user-images.githubusercontent.com/7115053/137065300-8c356366-49d8-4273-a

[2021-10-13 04:38] #22790 closed

[2021-10-14 10:21] zachmmeyer commented on #22852
It's worth mentioning that this is getting addressed in the Git Basics rework.

[2021-10-14 13:41] #22852 closed, assigned to linkonsat

[2021-10-15 07:12] BLooDBRothER commented on #22854
@wise-king-sullyman Hi, shall I proceed with the below screenshot or should I modify it?
![final_ss](https://user-images.githubusercontent.com/63643748/137446896-3af73371-45f5-459d-a8ee-6ca6543b552d.png)

[2021-10-15 14:42] zachmmeyer opened #22862 "VirtualBox instructions should include how to safely shut down the VM"
There are more than a few posts in the help channels about corruption in students VMs. It turns out that they are just exiting the VM instead of shutting down like a regular computer.

I propose that additional instructions be provided to explain that the VM is like any other operating system and needs to be safely shut down, and show two different ways to do so.

I have already taken the screensh

[2021-10-15 18:49] zachmmeyer commented on #22862
@I3uckwheat told me to move ahead with this.

[2021-10-16 23:27] wise-king-sullyman commented on #22854
@BLooDBRothER I would switch to red for the arrows, and have them pointing to the style rather than pointing to the text, other than that looks great!

[2021-10-17 01:19] BLooDBRothER commented on #22854
@wise-king-sullyman Hi! Ok, I will change and make a PR

[2021-10-17 16:31] wise-king-sullyman opened #22875 "Add missing Knowledge Checks, Learning Outcomes & answer-links to JavaScript/Using Ruby on Rails or BaaS For Your Back End **Rails section**"
The Rails portion of the `Using Ruby on Rails or Baas For Your Back End` lesson in the JavaScript course still needs knowledge checks and knowledge check links added.

I'd like to see someone doing/finished with the Rails course do this issue as knowledge of Rails will be very helpful in determining if knowledge check questions and links are adequate.

See #22805 for details.

[2021-10-17 17:18] #22802 closed

[2021-10-18 21:42] vabrahams638 commented on #22471
Hi there!

Sure, what can I help you with?

Best,

Vanessa

On Mon, Oct 18, 2021 at 3:05 PM Alvin Cousins ***@***.***>
wrote:

[2021-10-18 21:49] #22840 closed, assigned to nobody

[2021-10-21 03:24] #22854 closed

[2021-10-21 05:48] Jayashakthi28 commented on #22875
The Knowledge check links are only given for the firebase section and not for the ruby section. shall I do the ruby baas section knowledge check links?

[2021-10-21 17:19] mattdimicelli opened #22894 "initialization of git repo seems to be missing from Mini Message Board Instructions"
See the instructions here (https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs/lessons/mini-message-board#null).

I followed this instructions (as a student), and the last step `git push heroku main` resulted in the following error: `fatal: not a git repository (or any of the parent directories): .git`.

[2021-10-22 18:19] I3uckwheat opened #22901 "Clarify API keys and secrets in Weather App lesson"
In this lesson: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/weather-app, there is no documentation about api keys and keeping them secret. Students are being flagged on Github as having exposed API keys. We need to let them know this is OK but ONLY FOR THIS APPLICATION.

Outcome:
Help students understand what needs to be secure with API keys and the pitfal

[2021-10-22 22:40] #22894 closed, assigned to nobody

[2021-10-24 01:55] Jayashakthi28 commented on #22875
No sir.I haven't done Ruby on Rails course. My track is fullstack Javascript.

[2021-10-24 03:54] #22901 closed, assigned to I3uckwheat

[2021-10-25 01:18] wise-king-sullyman opened #22910 "Add missing Knowledge Checks, Learning Outcomes & answer-links to Ruby/Basic Data Types"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 01:26] #22910 closed, assigned to nobody

[2021-10-25 02:13] wise-king-sullyman opened #22911 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Variables"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:13] wise-king-sullyman opened #22912 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Input and Output"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22913 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Conditional Logic"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22914 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Loops"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22915 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Arrays"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22916 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Hashes"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22917 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Methods"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:14] wise-king-sullyman opened #22918 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Basic Enumerable Methods"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:15] wise-king-sullyman opened #22919 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Predicate Enumerable Methods"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:15] wise-king-sullyman opened #22920 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Nested Collections"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:15] wise-king-sullyman opened #22921 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Debugging"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:15] wise-king-sullyman opened #22922 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Object Oriented Programing"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:15] wise-king-sullyman opened #22923 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Files and Serialization"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22924 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Blocks"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22925 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Pattern Matching"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22926 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/A Very Brief Intro to CS"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22927 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Recursive Methods"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22928 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Common Data Structures and Algorithms"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:16] wise-king-sullyman opened #22929 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Test Driven Development"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:17] wise-king-sullyman opened #22930 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Introduction to RSpec"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:17] wise-king-sullyman opened #22931 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/A Deeper Look at Git"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 02:17] wise-king-sullyman opened #22932 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby/Using Git in the Real World"
Related to #22467

This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 03:19] wise-king-sullyman opened #22933 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Databases/Databases"
Related to #22469

This task is to go through the Databases lesson in the Databases course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of

[2021-10-25 03:19] wise-king-sullyman opened #22934 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Databases/Databases and SQL"
Related to #22469

This task is to go through the Databases and SQL lesson in the Databases course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should co

[2021-10-25 03:27] wise-king-sullyman opened #22935 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/A Railsy Web Refresher"
Related to #22470

This task is to go through the A Railsy Web Refresher lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links

[2021-10-25 03:27] wise-king-sullyman opened #22936 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Routing"
Related to #22470

This task is to go through the Routing lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist

[2021-10-25 03:27] wise-king-sullyman opened #22937 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Controllers"
Related to #22470

This task is to go through the Controllers lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should cons

[2021-10-25 03:27] wise-king-sullyman opened #22938 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Views"
Related to #22470

This task is to go through the Views lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of

[2021-10-25 03:27] wise-king-sullyman opened #22939 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/The Asset Pipeline"
Related to #22470

This task is to go through the The Asset Pipeline lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links shou

[2021-10-25 03:27] wise-king-sullyman opened #22940 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Webpacker"
Related to #22470

This task is to go through the Webpacker lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consis

[2021-10-25 03:27] wise-king-sullyman opened #22941 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Deployment"
Related to #22470

This task is to go through the Deployment lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consi

[2021-10-25 03:28] wise-king-sullyman opened #22942 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Active Record Basics"
Related to #22470

This task is to go through the Active Record Basics lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links sh

[2021-10-25 03:28] wise-king-sullyman opened #22943 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Form Basics"
Related to #22470

This task is to go through the Form Basics lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should cons

[2021-10-25 03:28] wise-king-sullyman opened #22944 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Sessions Cookies, and Authentication"
Related to #22470

This task is to go through the Sessions Cookies, and Authentication lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledg

[2021-10-25 03:28] wise-king-sullyman opened #22945 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Active Record Queries"
Related to #22470

This task is to go through the Active Record Queries lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links s

[2021-10-25 03:28] wise-king-sullyman opened #22946 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Active Record Associations"
Related to #22470

This task is to go through the Active Record Associations lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check li

[2021-10-25 03:28] wise-king-sullyman opened #22947 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Active Record Callbacks"
Related to #22470

This task is to go through the Active Record Callbacks lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links

[2021-10-25 03:28] wise-king-sullyman opened #22948 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Advanced Forms"
Related to #22470

This task is to go through the Advanced Forms lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should c

[2021-10-25 03:28] wise-king-sullyman opened #22949 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/APIs and Building Your Own"
Related to #22470

This task is to go through the APIs and Building Your Own lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check li

[2021-10-25 03:28] wise-king-sullyman opened #22950 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Working with External APIs"
Related to #22470

This task is to go through the Working with External APIs lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check li

[2021-10-25 03:28] wise-king-sullyman opened #22951 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Mailers"
Related to #22470

This task is to go through the Mailers lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist

[2021-10-25 03:29] wise-king-sullyman opened #22952 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Advanced Topics"
Related to #22470

This task is to go through the Advanced Topics lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should

[2021-10-25 03:29] wise-king-sullyman opened #22953 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Websockets and Actioncable"
Related to #22470

This task is to go through the Websockets and Actioncable lesson in the Ruby on Rails course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check li

[2021-10-25 03:36] wise-king-sullyman opened #22954 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Introduction to Express"
Related to #22473

This task is to go through the Introduction to Express lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should

[2021-10-25 03:36] wise-king-sullyman opened #22955 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Express 101"
Related to #22473

This task is to go through the Express 101 lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of

[2021-10-25 03:36] wise-king-sullyman opened #22956 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Express 102: CRUD and MVC"
Related to #22473

This task is to go through the Express 102: CRUD and MVC lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links shou

[2021-10-25 03:36] wise-king-sullyman opened #22957 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Preparing for Deployment"
Related to #22473

This task is to go through the Preparing for Deployment lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links shoul

[2021-10-25 03:37] wise-king-sullyman opened #22958 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Express 103: Routes and Controllers"
Related to #22473

This task is to go through the Express 103: Routes and Controllers lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check

[2021-10-25 03:37] wise-king-sullyman opened #22959 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Express 104: View Templates"
Related to #22473

This task is to go through the Express 104: View Templates lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links sh

[2021-10-25 03:37] wise-king-sullyman opened #22960 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Authentication Basics"
Related to #22473

This task is to go through the Authentication Basics lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should c

[2021-10-25 03:37] wise-king-sullyman opened #22961 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Security Configuration"
Related to #22473

This task is to go through the Security Configuration lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should

[2021-10-25 03:37] wise-king-sullyman opened #22962 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/API Basics"
Related to #22473

This task is to go through the API Basics lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of a

[2021-10-25 03:37] wise-king-sullyman opened #22963 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/API Security"
Related to #22473

This task is to go through the API Security lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of

[2021-10-25 03:37] wise-king-sullyman opened #22964 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Testing Routes and Controllers"
Related to #22473

This task is to go through the Testing Routes and Controllers lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links

[2021-10-25 03:37] wise-king-sullyman opened #22965 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to NodeJS/Testing Database Operations"
Related to #22473

This task is to go through the Testing Database Operations lesson in the NodeJS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links sh

[2021-10-26 15:28] dm-murphy opened #22975 "Fix specificity bullet list and clarify rules in CSS Foundations lesson"
The first CSS Foundations lesson (https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/css-foundations) includes some confusion in explaining the rules of specificity in CSS. This issue was discussed on the Discord thread `#html-css-rewrite-discussion` with Mr. ARL and 'thatblindgeye': 'Eric'.

Currently the lesson includes a bullet list on selector specificity as sourced f

[2021-10-27 02:43] #22957 closed, assigned to nobody

[2021-10-27 02:46] #22912 closed, assigned to robocopyZer0

[2021-10-27 15:41] #22911 closed, assigned to asadrjhk

[2021-10-29 03:32] #22927 closed, assigned to pudu87

[2021-10-29 03:47] #22933 closed, assigned to pllealfunes

[2021-10-29 18:10] fortypercenttitanium commented on #22958
Can I get this?

[2021-10-29 18:11] twalton83 commented on #22958
Yes thanks!

[2021-10-29 18:12] fortypercenttitanium commented on #22962
Can I get this? Also, is the API Basics lesson [this one](https://github.com/TheOdinProject/curriculum/blob/e53fbdc8b6ffb1782f459f3d4dd6273a7a18e558/nodeJS/APIs/APIs.md)?

[2021-10-29 18:28] twalton83 commented on #22962
All yours.

[2021-10-29 23:57] #22914 closed

[2021-10-30 00:43] wise-king-sullyman commented on #22956
Closed in #22979

[2021-10-30 00:43] #22956 closed

[2021-10-30 00:46] wise-king-sullyman commented on #22801
@digidub you still working on this? Or did the PR fall through the cracks somewhere without the issue getting closed?

[2021-10-30 00:47] wise-king-sullyman commented on #22800
@eshaanagarwal are you still working on this? Or was there already a PR that resolved this issue already but didn't close it?

[2021-10-30 06:54] asadrjhk commented on #22919
I want to work on this issue.

[2021-10-30 14:14] fortypercenttitanium commented on #22961
Can I have this?

[2021-10-30 14:48] fortypercenttitanium commented on #22961
@wise-king-sullyman  sorry forgot to ping!

[2021-10-30 14:55] #22915 closed

[2021-10-30 15:35] wise-king-sullyman commented on #22961
@fortypercenttitanium yeah we're only wanting contributors to have one of these issues claimed at a time, but if once your open PR's are merged this issue is still open and unassigned I will assign you to it.

[2021-10-30 17:11] fortypercenttitanium commented on #22916
@wise-king-sullyman can I get this one?

[2021-10-30 20:36] wise-king-sullyman commented on #22916
Once your other PRs are merged (and if it's still unclaimed) I'll assign you.

[2021-10-30 20:59] pudu87 commented on #22928
Just to be sure... I can't link to any of the 'Additional Resources', right?

[2021-10-31 00:47] wise-king-sullyman commented on #22928
@pudu87 correct we only want to link to lesson or resources linked in the core part of the lesson

[2021-10-31 14:23] #22958 closed

[2021-10-31 14:36] #22962 closed

[2021-10-31 14:59] #22916 closed

[2021-10-31 16:24] #22955 closed

[2021-10-31 17:44] #22917 closed

[2021-10-31 18:18] #22918 closed

[2021-10-31 18:38] #22919 closed

[2021-10-31 19:05] wise-king-sullyman opened #22999 "Ruby/Basic Enumerable Methods each_with_index section heading formatting is broken"
![image](https://user-images.githubusercontent.com/7115053/139597823-463a4fed-5d7d-4073-8066-12215e097bec.png)

[2021-10-31 19:07] wise-king-sullyman opened #23000 "Knowledge Check preamble missing on some lessons"
The:

"This section contains questions for you to check your understanding of this lesson. If you’re having trouble answering the questions below on your own, review the material above to find the answer."

preamble that should come after the Knowledge Check heading is missing on some lessons.

[2021-10-31 20:50] asadrjhk commented on #22926
@wise-king-sullyman I would like to work on this.

[2021-11-01 00:15] tiagoheras commented on #23000
That's a great idea! I have seen something like this in codecademy, where you had different multiple choice questions related to the topics of its respective sections. It also didn't let you advance if you didn't get those questions right, just as a test.
![codecademy quiz](https://user-images.githubusercontent.com/65797374/139606048-fb2f2614-df34-48ab-929b-fb63e826a6e0.png)

[2021-11-01 01:58] wise-king-sullyman commented on #23000
@tiagoheras I believe we're on slightly different wavelengths, as I'm not sure how that is related to a bit of text explaining the Knowledge Check sections that are already in our lesson.

Your interest in a multiple choice quiz of some sort has been noted though.

[2021-11-01 02:45] tiagoheras commented on #23000
@wise-king-sullyman I'm sorry I totally misunderstood the issue

[2021-11-01 03:08] rusty-reebs commented on #22960
I can do this one, @wise-king-sullyman

[2021-11-01 08:15] digidub commented on #22801
@wise-king-sullyman this will be done today!

[2021-11-01 21:02] #22999 closed

[2021-11-01 22:14] #22928 closed

[2021-11-02 14:12] pudu87 commented on #22935
@wise-king-sullyman , Looks like the Rails-section is not to popular, so I can continue here.

[2021-11-02 21:43] pudu87 commented on #22935
@wise-king-sullyman
I'm trying to discover something new every time on the Github-interface, but this time I messed up it seems. I wanted to open a new branch directly on Github, but I couldn't add a second commit after that. Can I just ignore this PR and do it the traditional way and everything will be ok?
Also, I got your rocket, but no assignment yet (don't know if that's necessary).

[2021-11-02 23:48] wise-king-sullyman commented on #22935
@pudu87 sorry about not assigning you!

Also, yes closing that PR should've been fine :slightly_smiling_face:

[2021-11-03 03:54] jmsmith1018 commented on #22920
I can take this one on if that's cool :ok_hand:

[2021-11-03 03:58] wise-king-sullyman commented on #22920
@jmsmith1018 all yours! Thank you for volunteering to contribute!

[2021-11-03 05:10] MrButak commented on #22965
Hello, I'd like to contribute to this issue

[2021-11-03 07:16] Mr-Bowtie commented on #22921
I'd be happy to help with this one. @wise-king-sullyman

[2021-11-03 13:28] wise-king-sullyman commented on #22921
@Mr-Bowtie Have at it! Thanks for volunteering!

[2021-11-03 13:35] MrButak commented on #22965
Great! I'll get started this evening.

[2021-11-03 13:37] wise-king-sullyman commented on #22965
👍 if you have any questions don't hesitate to ask them.

[2021-11-03 17:42] wise-king-sullyman commented on #22935
@pudu87 Don't worry too much about your grammar/vocabulary. Trust me, there's plenty of native English speakers that frequently need grammar/vocab edits, myself included :laughing:

[2021-11-03 20:40] twalton83 opened #23013 "Update relative pathways examples"
We have a significant amount of people getting stuck and confused on the Recipes project due to 404s when using relative paths without `.` prepended to their route when deploying to Github Pages. Ex. `recipes/beef.html` versus `./recipes/beef.html`.
This is because Github serves all projects from `github.io/username/projectname`, and `directory/filename` will search in the root `github.io/username

[2021-11-03 20:51] LeoKirasic commented on #23013
I'd like to take this on!

[2021-11-03 21:15] Deetss commented on #22953
@wise-king-sullyman I'd like to take on this issue

[2021-11-04 01:54] Deetss commented on #22875
Ill take on this issue if available

[2021-11-04 02:20] #22961 closed

[2021-11-04 02:37] #22913 closed

[2021-11-04 02:59] #22960 closed

[2021-11-04 03:15] MrButak commented on #22965
quick question before I start. What would you recommend naming the new branch I create?

[2021-11-04 03:27] rusty-reebs commented on #22963
I can do this, @wise-king-sullyman 😃

[2021-11-04 04:06] wise-king-sullyman commented on #22965
Doesn't matter a ton. I'd probably just do add-node-testing-database-operations-knowledge-checks

[2021-11-04 09:26] LeoKirasic commented on #22922
I'd like to work on this! @wise-king-sullyman

[2021-11-04 15:11] eneamuskaj commented on #22959
I can take this :)

[2021-11-04 16:01] asadrjhk commented on #23000
@wise-king-sullyman i have found some in JavaScript section where it is missing, can i make a PR

[2021-11-04 17:15] #22954 closed

[2021-11-04 17:18] wise-king-sullyman commented on #23000
@asadrjhk I want this PR to add it to every lesson where it's missing, so if you're up for finding them / fixing them all I'll assign you.

[2021-11-04 17:20] asadrjhk commented on #23000
@wise-king-sullyman in the entire curriculum, either way I'm ready for it

[2021-11-04 20:45] wise-king-sullyman commented on #23000
@asadrjhk yes in the entire curriculum. Since this is the same thing being copied to each lesson (and many lessons already have it) it doesn't make sense to split into a bunch of different issues IMO.

[2021-11-05 16:35] esiale commented on #22964
I'll do it

[2021-11-05 22:09] itspatrickchoi opened #23030 "Link to article in Fundamentals Part 3 doesn't work"
![image](https://user-images.githubusercontent.com/70690276/140583565-c4615411-e666-476a-a680-99920b733aba.png)
https://www.javascripttutorial.net/javascript-call-stack/ This link doesn't work anymore, Fundamentals Part 3

[2021-11-06 00:15] #22921 closed

[2021-11-06 00:57] #22920 closed

[2021-11-06 17:40] twalton83 opened #23033 "Update React Router lesson to v6"
Breaking changes were made and this lesson should be updated.

[2021-11-06 17:50] Dainelli opened #23034 "Lists Lesson"

[2021-11-06 17:51] #23034 closed

[2021-11-06 17:51] Dainelli commented on #23034
..

[2021-11-07 05:25] DevlinRocha commented on #23033
I'd like to take this on. I can replace all the references to `<Switch>` on [this page](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/javascript/lessons/router) with `<Routes>` instead.

[2021-11-07 05:28] twalton83 commented on #23033
Thanks, please provide a sandbox demonstrating that this properly compiles and works with your PR.

[2021-11-07 07:02] DevlinRocha commented on #23030
Link seems to be working again.

[2021-11-07 17:46] #22926 closed

[2021-11-09 01:11] PlaustralCL commented on #22924
@wise-king-sullyman I would like to work on this

[2021-11-09 02:26] #22935 closed

[2021-11-09 13:23] pudu87 commented on #22936
@wise-king-sullyman I can take this.

[2021-11-09 14:32] #22963 closed, assigned to rusty-reebs

[2021-11-09 15:58] itspatrickchoi commented on #23030
Great

[2021-11-09 15:58] #23030 closed

[2021-11-09 18:26] pudu87 commented on #22936
@wise-king-sullyman As I am going over this lesson, TOP is mentioning on several occasions to check out the "helpful comments" in `config/routes.rb`. This is outdated I think. In Rails 6.1.4.1 there is only a link to the Rails-guide in the comments. Can I adjust this too in this issue or is that bad practice?

[2021-11-09 22:23] wise-king-sullyman opened #23045 "Move Knowledge Checks to end of lesson in NodeJS/Authentication and NodeJS/API Security"
The Knowledge Check section in these lessons is before the Additional Resources section, it should come after that/at the very end of the lesson.

[2021-11-10 00:20] wise-king-sullyman commented on #22936
@pudu87 as you did in your PR let's keep the scope for this PR limited to this issue. I'm not sure if this is an issue or not and I'll have to ask some of the other members of the team, but if you think this is something that should be addressed please create an issue for it :slightly_smiling_face:

[2021-11-10 03:16] rusty-reebs commented on #23045
I'll fix this, @wise-king-sullyman

[2021-11-10 03:19] linkonsat commented on #22923
Could I take up this issue? @wise-king-sullyman

[2021-11-11 02:35] #22936 closed

[2021-11-11 13:44] pudu87 commented on #22937
@wise-king-sullyman At your service.

[2021-11-11 19:02] #23045 closed

[2021-11-11 22:07] thomss23 commented on #22931
@wise-king-sullyman can i help and start working on this in a few days?

[2021-11-12 03:10] #23013 closed

[2021-11-13 01:39] wise-king-sullyman commented on #22953
Closed in #23029

[2021-11-13 01:39] #22953 closed

[2021-11-13 18:10] #23000 closed

[2021-11-15 04:19] rusty-reebs commented on #22934
I can help with this, @wise-king-sullyman

[2021-11-15 18:17] YS-Abstract opened #23067 "Syntax typo in CSS Foundations, external CSS section"
![Screenshot 2021-11-15 at 10-10-49 CSS Foundations The Odin Project](https://user-images.githubusercontent.com/58709138/141833026-27a938b7-95fb-495a-b09f-06e434cd1481.png)

As shown in the screenshot, the example shows:

[code]

The `<link>` should not have a forward slash at the end since it is a self-closing tag.

[2021-11-15 19:50] #22964 closed

[2021-11-15 20:15] osamamammar opened #23068 "fix typo in factory function"
I found the letter "s" here is unimportant and unnecessary, especially since it has a strange shape during reading.
# Screenshot:
![fix typo](https://user-images.githubusercontent.com/42181138/141847533-414a64e1-6bac-4b91-8743-fc1e80723dd0.png)

[2021-11-17 08:38] digidub commented on #22800
@eshaanagarwal I'm very happy to pick this up if you're focusing on other matters - but if you've got it covered then no problem. Feel free to use me if you need though.

[2021-11-17 12:25] bigfatbird opened #23072 "Rubyrogues 131 Episode has really bad audio quality"
I am doing the curriculum at the moment and the RR Ep 131 about learning has really bad audio quality. It is very difficult to understand sometimes.

Is there anything we can do about this, or find a better resource?

[2021-11-17 12:52] rlmoser99 commented on #23072
@bigfatbird In the future it would be very helpful to include links so that we can easily find the lesson & resource that you are referencing.

Lesson: https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/gearing-up
Podcast: https://devchat.tv/ruby-rogues/131-rr-how-to-learn/

I just listened to a few minutes of it and skipped around and although the audio quality is not th

[2021-11-17 13:00] bigfatbird commented on #23072
@rlmoser99 I am hearing it right now and the speaker that i dont understand mentions he has a disease if i understand correctly... I wasn't aware of that, so I am sorry if that came of as rude. I thought his/her audio stream or mic was broken. So I guess there is that.

Doesn't change the fact that I have to really concentrate hard to understand the things he/she says. I think i will just try to l

[2021-11-17 13:19] #23072 closed

[2021-11-17 15:23] GitHubBlues commented on #22929
Hi, I would like to solve this issue.

[2021-11-18 02:07] #22959 closed

[2021-11-18 18:54] DevlinRocha commented on #23067
Since this is such a small fix I went ahead and submitted a PR, I hope that's okay.

[2021-11-18 22:07] #22937 closed

[2021-11-19 01:59] #22922 closed

[2021-11-19 04:26] #23067 closed

[2021-11-19 13:15] LeoKirasic commented on #22925
Hey, I'd like to work on this one! @wise-king-sullyman

[2021-11-19 14:11] pudu87 commented on #22938
@wise-king-sullyman , Ready for the next one.

[2021-11-19 15:47] fortypercenttitanium commented on #23068
I understand why you wanted to change this now. I think the best way to make this look better is just by changing the sentence altogether. I'll offer a suggestion: ~~Then, every time we run the function it console.logs count and increments it.~~ "Then, every time we run the function is logs `count` to the console and increments it."

If you PR this change I will approve and merge.

[2021-11-19 16:17] osamamammar commented on #23068
Thank you for your patience, I did the PR @fortypercenttitanium

[2021-11-19 16:31] #23068 closed

[2021-11-19 16:33] fortypercenttitanium opened #23089 "Typo in NodeJS Testing Lesson"
https://github.com/TheOdinProject/curriculum/blob/main/nodeJS/testing/Testing.md

This lesson has a typo on line 159. The word "conjunction" is misspelled.

[2021-11-19 16:34] digidub commented on #23089
I'll take it on.

[2021-11-21 13:29] fortypercenttitanium commented on #23089
@digidub just following up. Still want this one? If not there are others who would like to get their feet wet with contributions.

[2021-11-21 19:18] wise-king-sullyman commented on #22800
@digidub ping me on here when you get the conflicts fixed in your open Knowledge Check PR and it's merged, and I'll assign you if we still haven't heard from @eshaanagarwal.

[2021-11-22 01:11] #23089 closed

[2021-11-22 19:25] rfponce opened #23104 "Suggestion: Change ambiguous information in Flex shorthand"
I've noticed that is a mistake in the information about the initial value of "flex". In the lesson "[Growing and Shrinking](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/growing-and-shrinking)" the information says that the initial value of "Flex: 1" = "Flex: 0 1 0%". But MDN says in his [Flex article](https://developer.mozilla.org/en-US/docs/Web/CSS/flex) that the i

[2021-11-22 23:39] EmilioAK opened #23105 "Factory functions lesson doesn't mention performance penalty compared to constructors"
[The lesson in question](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/factory-functions-and-the-module-pattern)

The resources in the previous lessons talked about how important it was to put methods on the prototype instead of the constructor itself, since that would mean the method isn't duplicated on every instance. However, that isn't done on factory fu

[2021-11-23 09:12] digidub commented on #22800
@wise-king-sullyman I can take this on! :)

[2021-11-23 13:45] DaeguDude commented on #22932
I have been a little busy with all the works, will finish this PR by this week. Sorry for being late

[2021-11-23 14:49] #22801 closed

[2021-11-23 15:07] Deetss commented on #22875
Sorry didnt realize I was assigned to this! Ill get started!

[2021-11-24 03:45] #22934 closed

[2021-11-24 13:41] DaeguDude commented on #22932
@wise-king-sullyman I have a question about the [USING GIT IN THE REAL WORLD lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/using-git-in-the-real-world) I am working on.

It has a Learning Outcomes section but missing knowledge check, so I was thinking to add them, however, Learning outcomes section more of looks like knowledge check and it's

[2021-11-24 14:20] wise-king-sullyman commented on #22932
@DaeguDude refactor the Learning Outcomes section as part of this PR. Many lessons (like this one) have Learning Outcomes that don't meet the standards we're currently going for (as listed in that wiki post on the bottom of this issue) and just haven't been updated yet.

[2021-11-24 16:59] #22924 closed

[2021-11-25 01:30] #22938 closed

[2021-11-25 04:27] Manoj0Marmat commented on #23104
@rfponce sir, then we need to edit the image and change 0% into the auto is it correct?

[2021-11-25 04:31] Manoj0Marmat commented on #23104
@rfponce I think the default value is flex: 1 1 0%. ?

[2021-11-25 04:34] Manoj0Marmat commented on #23104
@rfponce assign me

[2021-11-25 06:31] Manoj0Marmat commented on #23104
@rfponce fixed

[2021-11-25 13:12] DaeguDude commented on #22932
Okay. I will refactor them according to the wiki

[2021-11-25 14:02] twalton83 commented on #23104
Hi so you’re aware, this user is not a maintainer, and ideally never do work unless you’re assigned.

[2021-11-25 14:40] Manoj0Marmat commented on #23104
@twalton83 oh sorry I'm a beginner can you please give me review

[2021-11-25 14:48] Manoj0Marmat commented on #23104
@twalton83 mam/sir, can you assist me, I wanna contribute. i sended my skillsets on your mail . assign me some work

[2021-11-25 15:07] rfponce commented on #23104
Analyzing in detail the information in the lesson looks like it refers to the default value of the _flex: 1_, not _flex_ in general, that is _flex = initial = 0 1 auto_ .

So I've changed the issue to "suggestion" about being more specific with the information in that paragraph. This might avoid confusion with newcomer students like me :)

[2021-11-25 15:14] rfponce commented on #23104
Hi! I suggest you read the [contributing guidelines](https://github.com/TheOdinProject/curriculum/blob/416cd575842154bc2bb561bbf9b106ac6ff75d76/CONTRIBUTING.md).

[2021-11-25 15:16] Manoj0Marmat commented on #23104
@rfponce yes i read it i also create pr request

[2021-11-25 16:16] I3uckwheat commented on #23104
@Manoj0Marmat Please be patient, trying to get attention in the way you are is a good way to make yourself difficult to work with and disqualify yourself from participating. Please slow down and understand that everyone is a volunteer and nobody is obligated to respond to you.

[2021-11-25 16:19] Manoj0Marmat commented on #23104
@I3uckwheat oh got it my bad thank you

[2021-11-26 02:32] #22800 closed

[2021-11-29 13:25] otaku-leelu opened #23126 "Cascading Specificity isnt clear and confusing to solve the assignment in the CSS Foundations"
The [assignment, 6-cascade-fix](https://github.com/TheOdinProject/css-exercises/tree/main/foundations/06-cascade-fix) is tough to solve and the lesson [CSS Foundation](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/css-foundations) didnt covered much concept. Even after overlooking the solution its hard and confusing. It would be great if you include more Specificity

[2021-11-29 13:33] otaku-leelu commented on #23126
maybe i need to read and practise again.. the concepts are good ig! sorry.

[2021-11-29 13:33] #23126 closed

[2021-11-29 18:03] pudu87 commented on #22939
@wise-king-sullyman , I can take this

[2021-11-30 01:20] ChargrilledChook opened #23129 "Rails | Advanced Forms Lesson uses soft deprecated methods"
The [Rails Advanced Forms](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/advanced-forms#prepopulating-select-tags-with-collections) lesson is currently using examples based on `form_for`, which has been soft deprecated.

Ideally the examples should be updated to use `form_with`, as we've done in the [Basic Forms](https://www.theodinproject.com/paths/fu

[2021-11-30 07:31] #23033 closed

[2021-11-30 23:57] thatblindgeye commented on #22975
@dm-murphy Just wanted to check in since it's been a lil bit. Did you still want to take this issue on?

[2021-12-01 01:08] #22931 closed

[2021-12-01 01:36] dm-murphy commented on #22975
@thatblindgeye Thanks for the follow up, Eric! I absolutely want to fix this one and can have a PR ready this week.

[2021-12-01 16:54] CouchofTomato commented on #23129
@ChargrilledChook Are you looking to take this on or are you wanting someone to pick this up?

[2021-12-01 18:25] Conor-Developer opened #23139 "Adjust Minor Content Error"
### Description

The wording in "Additional Resources" states there are more methods than covered in the lesson (with the example of #one). However, the lesson does in-fact cover the "**#one?**" enumerable method. Students will learn this during the exercise and within the article you read as part of the assignment.

#### Steps to Reproduce

#### Expected Behavior

https://www.theodinproject.com/p

[2021-12-01 21:32] ChargrilledChook commented on #23129
I'm happy to have a run at it, I can probably carve out some time in the next few weeks

[2021-12-02 08:47] CouchofTomato commented on #23129
I've assigned it to you @ChargrilledChook

If you are unable to take it on in the next few weeks just let me know so we can open it up to someone else.

[2021-12-02 15:22] jackalot opened #23142 "JS Forms Lesson links to the wrong link"
https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/forms
[![image](https://user-images.githubusercontent.com/68657425/144450191-9618c1bc-e06d-4204-9ea1-b00c9c29ec9b.png)](https://cdn.discordapp.com/attachments/540903304046182425/915983511205318736/unknown.png)
this link links to https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/dom-mani

[2021-12-03 07:02] asadrjhk commented on #23142
can i take this one?

[2021-12-03 10:39] jackalot commented on #23142
@asadrjhk sure go ahead

[2021-12-04 04:38] rusty-reebs commented on #22930
I can do this one, @wise-king-sullyman

[2021-12-04 17:35] thatblindgeye commented on #22975
Closing this as it has been fixed in #23138

[2021-12-04 17:35] #22975 closed

[2021-12-04 17:45] thatblindgeye commented on #23139
@Conor-Developer Just an FYI for the future when submitting a PR, please be sure to include a keyword and the Issue number in your PR if one exists so that when the PR is merged, the issue will also be closed. You had accidentally used "N/A" for Step 2 of your PR triage questions.

Closing this as the issue has been fixed in  #23140

[2021-12-04 17:45] #23139 closed

[2021-12-04 18:01] thatblindgeye commented on #23142
@asadrjhk If you would like to be assigned to fix this issue, please confirm and I will assign you :)

[2021-12-04 18:08] asadrjhk commented on #23142
@thatblindgeye thanks i want to, but i think this PR #23146 already solved this issue.

[2021-12-04 18:12] thatblindgeye commented on #23142
That should have been for a different lesson on Classes. The Forms lesson looks like it still has an incorrect link. I've assigned you if you want to double check and fix the issue if it still persists.

[2021-12-04 20:13] #23142 closed

[2021-12-06 10:16] CouchofTomato commented on #22930
All yours @rusty-reebs

[2021-12-07 01:03] #22932 closed

[2021-12-07 19:57] msespos opened #23154 "Broken Links in Rails Advanced Topics Lessons"
This is an issue because I don't know the exact fix for it.

The links "this metaprogramming guide from ruby-metaprogramming.rubylearning.com", in the body of the lesson, and "http://ruby-metaprogramming.rubylearning.com/", in assignment #6, both lead to "Sorry, the page you were looking for does not exist or is not available."

Again, I don't have a good fix because I don't know the best resource

[2021-12-09 01:48] #22875 closed

[2021-12-10 02:35] abarnes1 commented on #22942
@wise-king-sullyman I can work on this.

[2021-12-10 03:59] #22930 closed

[2021-12-11 03:05] msespos commented on #23154
_Totally_ did not think of the Wayback Machine. Thank you Zach! This is a great plan. I will edit the links to the ones you've provided here.

[2021-12-11 03:21] msespos commented on #22952
@wise-king-sullyman I can take this one!

[2021-12-11 04:01] #23154 closed

[2021-12-11 07:40] zachmmeyer commented on #23104
This issue is closed by PR #23119

[2021-12-11 07:40] #23104 closed

[2021-12-11 22:51] msespos opened #23171 "Proposed Removal of Additional Resources from Ruby Tic-Tac-Toe Project"
I'm making this issue to propose that the three Additional Resources in the Ruby Tic-Tac-Toe Project be removed.

The first resource is already labeled as "not directly helpful", and it really seems irrelevant to the project at hand.
The second resource is a walkthrough of coding a Tic-Tac-Toe game, which also includes testing, so that even if the user does attempt to code through the walkthrough

[2021-12-11 23:33] msespos commented on #23171
Just want to say I know there could very well be good arguments for keeping any or all of these resources. These are just my arguments for removing them.

[2021-12-12 00:28] zachmmeyer commented on #23171
I have had and heard this exact discussion before. I do not believe you are alone in wanting the additional resources to be removed for this project. I am personally fully for it. I do think we need a second opinion.

[2021-12-12 01:06] rlmoser99 commented on #23171
I am for removing these from the curriculum. @msespos would you be willing to make the PR?

[2021-12-12 02:38] msespos commented on #23171
I can definitely make the PR. I'll do it tomorrow. Thanks!

[2021-12-13 03:33] #22923 closed

[2021-12-14 02:33] khunhour opened #23180 "Dead link in React/State and Props section"
Issue: there is a dead link in the React>State and Props section, specifically under the State lesson.
Link to Lesson: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/state-and-props
Screenshot(the second link `This article` ):
![Screenshot 2021-12-14 113043](https://user-images.githubusercontent.com/12671115/145922284-e1e370b5-5d3c-4b8e-9c34-504beeca6f29.png)

[2021-12-14 03:01] zachmmeyer commented on #23180
I'm going to try and reach out to them.

[2021-12-14 03:31] zachmmeyer commented on #23180
I reached out. Regardless if we get a response, we can use a Wayback Machine link for now.
http://web.archive.org/web/20211101150139/https://lorenstewart.me/2017/01/22/javascript-array-methods-mutating-vs-non-mutating/

@khunhour Would you be up for making the PR?

[2021-12-14 05:15] twalton83 opened #23182 "explain purpose of setting git editor"
Many students are confused with the wording in Setting Up Git when setting the commit editor to VSC. We need to update this to better explain why they need to update this setting and the expected output (nothing).

[2021-12-14 07:35] khunhour commented on #23180
Yes I would thank you. I'll get right on in.

[2021-12-14 09:57] #23180 closed

[2021-12-14 13:50] zachmmeyer commented on #23182
I didn't mean to add a blocked label here, I meant to have that on my PR.

[2021-12-14 14:05] #23182 closed

[2021-12-15 13:55] #23171 closed

[2021-12-16 13:42] thatblindgeye opened #23197 "Lessons could use improved titles"
This mainly refers to the JavaScript lessons in Foundations, though could be a curriculum-wide thing to keep in mind.

Instead of having several lessons that are "X Part 1", "X Part 2", etc., I believe these lessons should have more descriptive naming. This would actually tell users immediately what the lesson is about when starting them, but also make it a lot easier to navigate back to a previou

[2021-12-16 18:12] zachmmeyer opened #23200 "Dual-Booting Ubuntu instructions should mention possible error about Intel RST and provide solution"
The [Prequisites](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites) lesson, more specifically Dual-Booting Ubuntu instructions, should include information about needing to switch from RAID to AHCI when you get an error about Intel RST while trying to install Ubuntu.

This [solution](https://askubuntu.com/a/1233644), specifically choice 2, has personally wo

[2021-12-17 21:08] ezrahnyanat opened #23207 "Broken link in Array lesson in Ruby"
I'm going through the Ruby course, noticed in the Array lesson the link for the last item in [Additional Resources](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/arrays#additional-resources) re: Set Operations is broken.

Maybe this can be a good replacement? https://www.rubyguides.com/2018/08/ruby-set-class/

[2021-12-17 21:11] zachmmeyer commented on #23207
https://www.endpointdev.com/blog/2011/06/using-set-operators-with-ruby-arrays/
Here is the fixed link that I just found.
@ezrahnyanat Do you want to open a PR to fix this?

[2021-12-17 23:10] ezrahnyanat commented on #23207
Sure, will raise one this evening after the kids go to bed

[2021-12-17 23:11] ezrahnyanat commented on #23207
Oops... didn't know that button did that. Thought it was a toggle

[2021-12-18 03:42] #23207 closed

[2021-12-18 21:19] I3uckwheat opened #23211 "Final JS project unification"
Currently the[ final project](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/javascript-final-project) in the JS course is an open ended project, we would like to instead move to using a common project much like the rest of the course. However, it is difficult to think about what this project should be. There have been good suggestions however, we would like

[2021-12-18 21:47] TaylorJonesTRT commented on #23211
What about a simplified and bare bones old school bulletin board (XenForo, Invision Power Board, vBulletin as examples)?

- Learners will need to implement a user system (signing up, logging in, alongside a default "admin" user).
- They would need to build a way for that default admin user to create new categories and forums within those categories.
- Functionality for allowing registered users to

[2021-12-18 22:30] savwiley commented on #23211
I very recently [finished the JS project](https://github.com/savwiley/mockSite) and there were several cons for me, namely the amount of time it took to complete compared to the previous projects. At the same time, it's an excellent resume piece, so I'm hesitant to suggest massive changes to the project overall. That said, here's my generalized suggestion based on both my experience on the project

[2021-12-18 23:57] isaiahaiasi commented on #23211
I have some thoughts on this that I need a little more time to iron out, but before that I want to bring one thing up, since it's already come up in both suggestions so far:

I think whatever the project is, it should probably ***not*** ask the user to implement image uploading. It creates a huge liability for both the learner and TOP itself. What happens when someone decides to upload CSAM to an

[2021-12-19 03:29] Ishmam156 commented on #23211
I believe in accordance with how TOP is structured, a fulfilling final project for the JS section would be to create a replica of TOP.

- Title of the project: TTP (The Thor Project)
- Description of the project: A working replica of TOP where learners can follow a certain track of lessons and where admin can log in to make changes to the curriculum.
- Requirements of the project:
1. 0Auth or use

[2021-12-19 04:13] twalton83 commented on #23211
@Ishmam156 keep in mind learners haven't done ANY backend at this point sans perhaps Firebase for basic things :)

[2021-12-19 04:29] Ishmam156 commented on #23211
Ah, my bad, that is a fair point.. Without the backend part (auth/fetching the lessons), the suggested project then might not be that big of a task for a final project.

I'd like to make another suggestion then with trying to keep the backend usage to an absolute minimum:

- Title of the project: TOB (The Odin Blog)
- Description of the project: A blog website which allows a visitor to quickly loo

[2021-12-19 06:25] aayushmau5 commented on #23211
Though there is a Blog API project in the NodeJS section, I think with what @Ishmam156 suggested, one can make the Blog project at the end of JS section with firebase, and then swap out the backend(i.e. firebase) with their own API. Thus, reusing the final JS project in the Blog API project.
We can also project some features like authentication, etc. to build on top of the existing project.

[2021-12-19 16:47] parent-tobias commented on #23105
As a general rule, though, the memory/performance hit between either a constructor function or a factory function aren't that significant. Unless you're making hundreds of thousands of 'em.

I do agree, though, that a discussion of why inheritance is more brittle, and how factories address that brittleness, might be in order.

[2021-12-19 17:13] krimoelbahri commented on #23211
So, what i would suggest is doing a simple Social app
**Mini Social Media**

**Requirement**

- Using Authentication. to have users sign in and out.
- The project should have a main page, profile page.
- It should  show Users and allow subscription.
- adding and removing posts.
- showing posts of users that you are subscribed to.

I think this will cover as much lessons from top as possible. It al

[2021-12-20 14:48] dm-murphy commented on #22948
@wise-king-sullyman Happy to take on this issue. Currently there are only Learning Outcomes in this lesson, but they are in-depth questions that might be more suited as Knowledge Checks. I can rework both sections here and add in the Knowledge Checks answer links. Let me know, thanks!

[2021-12-20 21:15] #23200 closed

[2021-12-20 23:09] EmilioAK commented on #23105
What confused me was that in the previous lesson the prototype was introduced with a focus on that its important to use it because of efficency. To me at least, just one sentence as I suggested would have alleviated that confusion. Since that wasn't there I sort of assumed that the prototype was being used here in some way not metioned since it seemd off to me that efficiency was mentioned as impo

[2021-12-21 04:43] #22942 closed

[2021-12-21 04:47] wise-king-sullyman commented on #22948
@dm-murphy sounds like a plan, thank you for volunteering!

[2021-12-21 07:41] ZachPoole commented on #23211
I've got a list of ideas for apps that I want to make in a google doc, but I don't know too much about both the curriculums where this project will be replaced. So I'll just drop them here just to get people's minds rolling with some possible ideas.

- Successful People Scheduler
  - There's some [interviews](https://www.linkedin.com/pulse/elon-musk-bill-gates-schedule-days-5-minute-chunks-sebasti

[2021-12-22 03:09] khunhour opened #23217 "Proposal: Adding a section on "React Dev Tools" in "React Introduction""
I propose to briefly introduce the `React Dev Tools` inside the [React Introduction](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/react-introduction) Lesson just after React-Testing.

I haven't work on a draft yet, but I just want to confirm with the team if this is a good idea or not before making a pull request.

The section includes a brief introduction

[2021-12-22 03:23] twalton83 commented on #23217
I agree. I discussed this in the server with someone and looks like they didn't follow through on adding this. Please make a pull request.

[2021-12-22 03:29] #22925 closed

[2021-12-22 03:34] khunhour commented on #23217
Nope. It's me. We discussed it on discord. I just thought I had to make it as an issue first to check if the resources mentioned is valid or sth. Alright, I'll work on the pull request.

[2021-12-22 18:47] #22939 closed

[2021-12-23 14:28] rlmoser99 opened #23224 "Prepare Ruby's Debugging lesson to move before Enumerable lessons"
**Lesson:**
https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/debugging

**Description:**
People have a difficult time solving the TDD exercises for basic enumerables, predicate enumerables, and nested collections because they have not been introduced to debugging. We need to remove references to all enumerables from the debugging lesson, so that we can

[2021-12-23 15:03] Maheshkumar-novice commented on #23224
I'd like to work on this.

[2021-12-23 15:05] rlmoser99 commented on #23224
@Maheshkumar-novice Thank you for offering to complete this issue. I'm sure you've seen people struggle with those TDD exercises, so I appreciate your help solving the root cause of this problem.

[2021-12-23 15:08] Maheshkumar-novice commented on #23224
I'm glad I could help.

[2021-12-23 22:37] CouchofTomato opened #23228 "Rails 7 upgrade: Update rails installation"
#### Lesson

[Rails installation guide](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/introduction/installing_rails.md)

#### Description

In order to update our rails course to the latest version we need to update the installation lesson.

#### Acceptance Criteria

  - [ ] The install command does not specify a Javascript version
  - [ ] Step 1.2 needs to explain that n

[2021-12-27 01:49] Mclilzee opened #23232 "CORS is the default option in Fetch docs"
in https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/working-with-apis#cors

we get told "For security reasons, by default, browsers restrict HTTP requests to outside sources" and the fix is to put `{mode: 'cors'} `.

Yet in the documentation, it says that `mode: 'cors'` is the default option for fetch.
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/

[2021-12-28 16:58] SaezMD opened #23234 "Typo errors"
In this page:
https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/inspecting-html-and-css

The text says:
Testing Styles In The Inspector

The Styles pane also allows you to edit styles directly in the browser. You can click inside of any individual selector to add a new rule, or click on an existing attribute or value to alter it.

It should says:

The Styles **panel** al

[2021-12-28 17:07] twalton83 commented on #23234
"Pane" is valid here.
<img width="627" alt="Screen Shot 2021-12-28 at 7 06 56 AM" src="https://user-images.githubusercontent.com/22967723/147590008-98ed5deb-bc15-4394-b146-c07a1fdc13e1.png">

[2021-12-28 17:07] #23234 closed

[2021-12-28 17:35] SaezMD commented on #23234
Ok. Thanks!

[2021-12-28 17:36] twalton83 opened #23235 "Update Command Line Basics Knowledge Checks"
This task is to go through the lesson referenced in the title of this issue and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should consist of an `<a>` tag w

[2021-12-29 11:58] CouchofTomato opened #23243 "Rails 7 Upgrade: New lesson on importmaps"
#### Description

In order to update our rails course to the latest version we need a new lesson to cover the now default importmaps for importing third party Javascript packages.

#### Acceptance Criteria
  - [ ] A brief explanation of what the default was in rails 6 (webpacker and webpack) and why importmaps were chosen for rails 7.
  - [ ] An explanation of what importmaps are
  - [ ] An explan

[2021-12-29 12:08] CouchofTomato opened #23244 "Rails 7 Upgrade: New Lesson on JS bundling"
#### description

In order to update the rails course to version 7 we need a new lesson to cover the JsBundling gem. Although importmaps are the default they won't be suitable in every situation and students will need to know where to look for the next option

#### Acceptance Criteria
  - [ ] A brief explanation of what jsbundling is and why it is needed
  - [ ] An explanation of what bundler opti

[2021-12-29 12:34] CouchofTomato opened #23245 "Rails 7 Upgrade: Update Webpacker Lesson"
#### Lesson

[Rails installation guide](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/rails_basics/webpacker.md)

#### Description

In order to update our rails course to the latest version we need to update the webpacker lesson.

#### Acceptance Criteria

  - [ ] Modify the introduction to state this was the detault in Rails 6 and that the webpacker gem is still being m

[2021-12-29 13:10] CouchofTomato opened #23246 "Rails 7 Upgrade: New lesson on turbo"
#### Description

In order to update our rails course to the latest version we need a new lesson to cover turbo

#### Acceptance Criteria
  - [ ] A brief explanation of what turbo is and what it replaces (turbolinks)
  - [ ] An explanation of turbo drive
  - [ ] An explanation of turbo frames
  - [ ] An explanation of turbo streams
  - [ ] An explanation covering redis, why it's needed for turbo s

[2021-12-29 13:21] CouchofTomato opened #23247 "Rails 7 Upgrade: New lesson on stimulusJS"
#### Description

In order to update our rails course to the latest version we need a new lesson to cover stimulusJS

#### Acceptance Criteria
  - [ ] A brief explanation of what stimulus is
  - [ ] An explanation of how to link html to a controller
  - [ ] An explanation of actions and how they are triggered
  - [ ] An explanation of targets
  - [ ] An explanation of managing state, including sta

[2021-12-29 13:31] RolandStuder commented on #23247
I might take that on. Also happy to collaborate it, or just support / review, if someone else is interested.

[2021-12-29 13:47] CouchofTomato commented on #23247
Thanks @RolandStuder

[2021-12-29 14:32] MchaseCov commented on #23246
Hey I'd love to contribute to this one. If you'd like some "proof of understanding", my recent repos have been using the Turbo package, including a scaffold generation gem related to it..

(also down to collaborate with others if anybody else is interested!)

[2021-12-29 15:19] CouchofTomato commented on #23246
Thanks @MchaseCov

Looking forward to the lesson

[2021-12-29 23:16] programmurr opened #23248 "Change the installing_node.md instructions to be a lesson"
Based on this [Discord chat](https://discord.com/channels/505093832157691914/540903304046182425/922597388412133487).

I propose breaking the [Node installation instructions](https://github.com/TheOdinProject/curriculum/blob/main/foundations/installations/installing_node.md) out into their own lesson that is placed immediately before [Fundamentals Part 4](https://github.com/TheOdinProject/curriculu

[2021-12-31 15:14] thatblindgeye opened #23256 "HTML Boilerplate lesson needs lang attribute"
In the [HTML Boilerplate lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/html-boilerplate), all code blocks should have the `lang` attribute added to the opening `<html>` tag, like so:

[code]

There should also be a Heading 4 `####` section (within the "HTML Element" Heading 3 `###` section) explaining **briefly** what this attribute is for, and why it is need

[2022-01-01 16:29] 01zulfi commented on #23256
I can take this on @thatblindgeye

[2022-01-01 17:40] asadrjhk commented on #23235
I would like to take this one.

[2022-01-02 20:43] Bnyth opened #23264 ""Additional Resources" section on lesson "Block and Inline" of the "Foundations" path unavailable"
The website the link points to (https://learnlayout.com/no-layout.html) is down, making it unreachable to whoever tries to access it.

**Solution:**

Redirect the user to a web archive snapshot of the website: the latest snapshot available is from August 2021, and contains the necessary slides appointed on the lesson (https://web.archive.org/web/20210813033024/https://learnlayout.com/no-layout.htm

[2022-01-02 20:51] twalton83 commented on #23264
<img width="1839" alt="Screen Shot 2022-01-02 at 12 51 06 PM" src="https://user-images.githubusercontent.com/22967723/147889155-b073fce2-3ef6-479a-9aee-983b66ab6c7b.png">
Sure it's not your network?

[2022-01-02 20:55] Bnyth commented on #23264
Weird, it won't load on Firefox but it will on Chrome. I don't think it's a problem with my extensions, since even when disabling them it just won't load.

[2022-01-02 20:58] twalton83 commented on #23264
I can access it on Firefox as well.

[2022-01-02 20:59] twalton83 commented on #23264
I'll close this for now, but I would triple check if there's anything on your side that may be causing this. Since it's nothing to do with their servers, I'll close this.

[2022-01-02 20:59] #23264 closed

[2022-01-03 13:25] LeoKirasic commented on #22803
Hey, @wise-king-sullyman I'll start working on this.

[2022-01-03 14:22] fortypercenttitanium commented on #23232
@Mclilzee Thanks for pointing this out! I think the best solution is to keep the intent of introducing CORS in the lesson intact while still removing the part about adding the `mode: 'cors'` to the options object. I also think we should still be teaching about passing the options object to the fetch method.

Would you like to take on this issue or do you want me to find someone else to assign it t

[2022-01-04 08:26] julianchuk opened #23270 "Feedback to improve git lesson"
For rookies like me this git and GitHub could be overwhelming, so i had to do extra job and found awesome Youtube playlist with very nice and friendship explanation, so suggest to include it

https://www.youtube.com/watch?v=BCQHnlnPusY&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV

[2022-01-04 16:46] zachmmeyer commented on #23270
Hello! Could I ask what about the content in the curriculum you found overwhelming that the videos in this playlist were able to help you with? Could you also tell me where you are at in the curriculum currently?

[2022-01-05 02:44] #22948 closed

[2022-01-05 15:48] julianchuk commented on #23270
Hi, ty for answer, actually i´ve completed: HTML Foundations:

Git Basics:
1. Introduction to GIT
2. Git Basics

[2022-01-05 15:50] zachmmeyer commented on #23270
I'm glad you found that playlist helpful in your learning. This playlist provides more information than what is required at that level, and the curriculum does go into more detail later on after graduating from Foundations.

Additionally, an 11 video playlist where the videos average 15 minutes is a lot to ask in the beginning of your learning journey. While it is totally fine for an individual to

[2022-01-05 15:50] #23270 closed

[2022-01-05 15:54] julianchuk commented on #23270
ye, though same as u, but believe me is very friendly to explain, so u get kinda absorbed when start to watch and get very good fundamentals, faced many issues with this part as involves many commands in terminal and how to cd in proper file and link repositories from terminal for example, as i said for rookies like me could be overwhelming, delayed me like two days stucked until i saw this first

[2022-01-05 15:59] zachmmeyer commented on #23270
It sounds like you may have missed [Command Line Basics](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/command-line-basics-web-development-101).

Git Basics is structured to have you create your repository online first and then clone it locally. Do not forget that if you have other questions, you can also ask in the Discord, but it is also encouraged to seek this inf

[2022-01-05 16:30] julianchuk commented on #23270
i didn´t missed sir, just feedbacking that was overwhelming, at the end of the day is ur call if hear someone who don´t have any experience, followed even the diffuse method (from mindset section) to aboard it and cost me a lot.

[2022-01-05 16:56] thatblindgeye commented on #23256
@01zulfi You've been assigned! Let me know if you have any questions :)

[2022-01-07 15:02] I3uckwheat opened #23284 "Convert `nvm` and `rvm` directions to use asdf instead"
#### Description

`asdf` is a package manager much like `nvm`, but has some very useful features. One of which being the terminal startup time, another being compatible with multiple languages and plugins. It is generally considered nicer to work with as well and has been gaining in popularity. It should also be used to handle Ruby.

#### Completion Criteria
Convert [this file](https://github.com/

[2022-01-07 15:33] 7ze commented on #23284
I would love to do this.

[2022-01-07 16:11] I3uckwheat commented on #23284
@7ze Sure thing! Please try to get some verification on directions with the supported OSses within reason as well. The Discord chat is a good place to ask for some help. Touch base with me there if you need some help finding people.

It's all yours! Do you have an estimate when you can have this completed?

[2022-01-07 19:07] rusty-reebs commented on #22804
I can do this one, @wise-king-sullyman

[2022-01-07 20:17] xandora commented on #23284
@7ze While testing I put together some minimum required code snippits, feel free to use these as a template while working on the changes.

## Installing asdf

[code]
NOTE: What about `zsh` or macOS users?

## Installing nodejs with asdf

[code]

## Installing ruby with asdf

[code]

## Verifying correct nodejs/Ruby versions are set globally

Run the following command in your terminal:
[code]

Outp

[2022-01-08 01:34] #23224 closed

[2022-01-08 08:40] 7ze commented on #23284
@I3uckwheat Thank you, I'll check in with the discord chat for sure. I should be able to complete this in a couple of days for sure.

@xandora Thank you so much for these snippets. Will sure keep them as reference while making the changes.

[2022-01-08 22:19] #22803 closed

[2022-01-09 01:54] #23217 closed

[2022-01-10 20:20] ManonLef opened #23297 "Lesson Navigation sidemenu missing in safari"
In safari the "lesson navigation" is missing on the left side of the screen.
This happens in all sizes of the browser window. Here's a preview with safari on the left and chrome on the right:

![Screenshot 2022-01-09 at 20 10 12](https://user-images.githubusercontent.com/81025586/148833336-acd204a3-6422-4f75-8fb7-502fb1cc50a1.png)

I will share the inspector for both below.

Safari:
![Screenshot 2

[2022-01-11 18:45] #23256 closed

[2022-01-12 07:14] linkonsat commented on #23228
I can take this on.

[2022-01-12 10:37] CouchofTomato commented on #23228
@linkonsat All yours

[2022-01-13 04:41] twalton83 opened #23305 "Add Chrome Installation to installation prereqs"
To streamline the curriculum and bring users in line with our debugging and inspector lessons, we should include a Chrome installation for Mac and Linux in the installations section of the course.

Completion Criteria:

- Update to [this lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/installation-overview) to add Google Chrome as part of the installation plan

[2022-01-13 04:51] twalton83 opened #23306 "Remove Firefox Inspector/Debugging from curriculum"
Blocked by #23305

To achieve parity across our userbase, we should focus on Google Chrome instead of suggesting Firefox at different junctures and maintaining two sets of instructions.

Completion Criteria:

- Mentions of Firefox are removed from the following lessons:
- [x] https://github.com/TheOdinProject/curriculum/blob/5f37d43908ef92499e95a9b90fc3cc291a95014c/html_css/grid-lessons/creating-a

[2022-01-13 04:55] Maheshkumar-novice commented on #23305
I'd like to work on this.

[2022-01-13 04:56] twalton83 commented on #23305
Thanks.

[2022-01-13 05:08] Zadag commented on #23306
I can take this issue.

[2022-01-13 05:55] Eduardo06sp commented on #22943
I'm willing to work on this. Just one question, would you like me to modify the question in Learning Outcomes at all?

It seems to me that a lot of those questions would make excellent Knowledge Checks.

[2022-01-13 10:17] CouchofTomato commented on #23297
Thanks @ManonLef

We'll investigate.

[2022-01-13 12:17] leosoaivan commented on #23297
I confirmed on Safari v15.1.

A `d-none` class is being applied, which adds `display: none !important`.

<img width="1680" alt="Screen Shot 2022-01-13 at 7 03 15 AM" src="https://user-images.githubusercontent.com/13614862/149328823-a472caa0-21b4-4157-ad97-8bae793ae791.png">

[2022-01-13 14:48] kazumaneet opened #23310 "link to the faker module in the odin book project needs to be updated"
The faker module that was linked before no longer has any code in it because the user deleted it so it should be updated with this https://github.com/faker-js/faker instead.

[2022-01-13 15:21] scheals opened #23311 "Knowledge check in Introduction to Frameworks checks what wasn't mentioned"
In [Introduction to Frameworks](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-frameworks-web-development-101) a question:
_What are the four general tasks that developers have to handle?_
is asked at the end of the lesson with a link to [this post](https://web.archive.org/web/20180402231229/https://www.wired.com/2010/02/get_started_with_web_frameworks

[2022-01-13 17:16] dm-murphy commented on #23306
If you're splitting this up I'm happy to do the two grid lessons I wrote and remove mention of the Firefox Developer Tools. I'm already reworking these lessons with the new Practice sections.

I also want to clarify, you are only suggesting removing the mention of Firefox Developer Tools right? The MDN resources on Grid are one of the main external resources throughout the Grid lessons and are qui

[2022-01-13 17:26] twalton83 commented on #23306
Yes, MDN is unaffected, we're focusing in on the browser itself. Please go ahead and take on your Grid lessons, thanks ! @dm-murphy

[2022-01-13 17:38] dm-murphy commented on #23306
Sounds good! Thanks Tati!

[2022-01-13 18:00] wise-king-sullyman commented on #22943
@Eduardo06sp if you think that some of the Learning Outcomes don't meet the guidelines set in our LO vs KC wiki post yes  I encourage you to update them 🙂

[2022-01-14 02:15] khunhour opened #23318 "links blend in with text when focused"
When links are focused, they blend in with the text. Here are some screenshots to demonstrate.
![Screenshot_20220113_205404_com.android.chrome.jpg](https://user-images.githubusercontent.com/12671115/149439956-b0ebb336-f8ed-41d9-a1bb-101043b47ba0.jpg)
![Screenshot_20220113_205414_com.android.chrome.jpg](https://user-images.githubusercontent.com/12671115/149439975-03f8409b-1d83-458e-b89e-25c78fb40e1

[2022-01-14 13:14] Zadag commented on #23306
Should I start working on removing firefox mentions from the 6 remaining lessons?

[2022-01-14 16:06] Deetss commented on #23129
If this hasn't been started id like to take a shot at it! @ChargrilledChook @CouchofTomato

[2022-01-14 16:07] Deetss commented on #23243
If this is still available id like to take a shot. @CouchofTomato

[2022-01-14 16:15] CouchofTomato commented on #23243
Go for it mate @Deetss

[2022-01-14 16:16] CouchofTomato commented on #23129
Thanks. We'll see what @ChargrilledChook says.

[2022-01-14 17:12] twalton83 commented on #23306
@Zadag go for it.

[2022-01-14 20:48] ChargrilledChook commented on #23129
@Deetss @CouchofTomato I've had less time than I would have liked and haven't made a ton of progress on this, so I am happy to hand it over. Happy to help proofread / review etc when the time comes

[2022-01-14 23:32] #23306 closed

[2022-01-14 23:48] #23305 closed

[2022-01-16 11:26] rog2054 opened #23326 "Missing closing `>` on "CodePen Embed - flex-alignment example 2" (Foundations - HTML/CSS - Flexbox)"
url: https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/alignment

In the `GAP` section, the CodePen example HTML is missing the closing `>`  at the end, currently it says `</div` instead of `</div>`

[2022-01-16 11:33] NaincyKumariKnoldus commented on #23326
Hey @rog2054 I would like to do this. Can I Please?

[2022-01-16 15:45] rog2054 commented on #23326
Yes of course, please do.

I'm unsure how to edit the codepen sections.

On Sun, 16 Jan 2022, 11:33 NaincyKumariKnoldus, ***@***.***>
wrote:

[2022-01-16 15:47] NaincyKumariKnoldus commented on #23326
Here I found only .md files.

[2022-01-16 16:13] twalton83 commented on #23326
Well, @rog2054 is not a maintainer and cannot assign this, and only TOP maintainers have access to codepen. We’ll take a look and get it resolved. @NaincyKumariKnoldus

[2022-01-16 16:20] NaincyKumariKnoldus commented on #23326
okay no problem @twalton83

[2022-01-16 23:54] thatblindgeye commented on #23326
Thank you for letting us know, @rog2054. The codepen has been updated and the lesson should reflect the update now!

[2022-01-16 23:54] #23326 closed

[2022-01-17 08:38] CouchofTomato commented on #23245
Hey @linkonsat

Thanks for offering to take this up and I apologise for the delay. The decision on this has since changed so we're now going to add a webpacker section to the end of the jsbundling lesson just to mention it because people will still come across it. No need to have an entire lesson dedicated to this.

[2022-01-17 08:39] CouchofTomato commented on #23129
@Deetss All yours mate

[2022-01-17 08:41] CouchofTomato commented on #23310
Are you happy to make a PR for this @kazumaneet

[2022-01-17 16:08] linkonsat commented on #23244
Could i take up this one?

[2022-01-17 17:55] Deetss commented on #23243
Added PR to close this. I believe I have met all requirements for acceptance. @CouchofTomato
Acceptance Criteria:

- [x] A brief explanation of what the default was in rails 6 (webpacker and webpack) and why importmaps were chosen for rails 7.
- [x] An explanation of what importmaps are
- [x] An explanation of how to use importmaps
- [x] An explanation of using the ./bin/importmap command and how

[2022-01-17 18:30] kazumaneet commented on #23310
It's a bit late for me today but I can do it tomorrow?

[2022-01-17 20:56] rog2054 commented on #23326
Thank you Eric.

------ Original Message ------
From: "Eric Olkowski" ***@***.***>
To: "TheOdinProject/curriculum" ***@***.***>
Cc: "Roger" ***@***.***>; "Mention" ***@***.***>
Sent: 16/01/2022 23:54:54
Subject: Re: [TheOdinProject/curriculum] Missing closing `>` on "CodePen
Embed - flex-alignment example 2" (Foundations - HTML/CSS - Flexbox)
(Issue #23326)

***@***.***>

[2022-01-18 15:06] kazumaneet commented on #23310
@CouchofTomato I forked it and i was trying to clone the repo but unfortunately my wifi is to slow and cloning keeps interrupting.

[2022-01-18 15:08] kazumaneet commented on #23310
I forked it and I was trying to clone the repo but unfortunately, my wifi is too slow and cloning keeps interrupting. @CouchofTomato

[2022-01-18 15:11] ldgurvich opened #23335 "Format Assignment heading in JavaScript Fundamentals Part 1"
Assignment heading is displaying as regular weight and smaller than main text.

[2022-01-18 21:08] CouchofTomato commented on #23310
Ok, no issue @kazumaneet

[2022-01-18 21:09] CouchofTomato commented on #23310
I'm gonna create another issue that details the steps someone can take on this because it's a good first issue for someone to take on

[2022-01-18 21:09] #23310 closed

[2022-01-18 21:22] CouchofTomato opened #23339 "Update Javascript OdinBook instructions to use the correct faker library"
Because of the recent controversy around the faker js library the original maintainer is now longer in control of the project

Point 4 under the getting started section [here](https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs/lessons/odin-book) need to be updated to point to [the new library](https://github.com/faker-js/faker).

Acceptence criteria
  - [ ] The link directs

[2022-01-18 21:26] ayoubmissaoui commented on #23339
I want to take this

[2022-01-18 21:26] CouchofTomato commented on #23339
All yours @ayoubmissaoui

Thank you

[2022-01-18 21:38] #23129 closed

[2022-01-18 21:46] CouchofTomato commented on #23244
@linkonsat Yeah for sure mate.

Just remember to add the section on webpacker. I'll update the issue too

[2022-01-18 23:16] zachmmeyer commented on #23339
Closed by https://github.com/TheOdinProject/curriculum/pull/23340

[2022-01-18 23:16] #23339 closed

[2022-01-19 07:27] Eduardo06sp commented on #22943
One question. Let's say we link a knowledge check to an answer found inside the lesson.
Do you prefer:
**1)** I add a span with an id, so the user is taken to the exact location of the answer.
**2)** Just link to the section header element, so that the user is taken to the correct section, and has to look for the answer in that section

I have noticed both methods being used in different places of

[2022-01-19 10:30] karlheinsen opened #23341 "Broken link for Grit"
on this page https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/gearing-up

this link isn't working https://www.ted.com/talks/angela_lee_duckworth_the_key_to_success_grit

shows as a can't find page

[2022-01-19 12:53] zachmmeyer commented on #23341
Looks like the link changed to https://www.ted.com/talks/angela_lee_duckworth_grit_the_power_of_passion_and_perseverance.
Would you be up for making a PR to replace the link?

The way I found this was by trying to use the [Wayback Machine](https://web.archive.org) and it gave me an updated link.

[2022-01-19 18:16] DigitalKnight0 opened #23343 "Add answers to warm up data model exercises in rails"
In the micro-reddit and private events project, The warmup part should have some answers linked so the users can compare their solutions to check whether they got it right or not. This helps in understanding associations better as they can research and rectify their mistake before starting the project. Currently, the only option they have is to post their solutions in the discord and ask for feedb

[2022-01-19 19:06] rlmoser99 commented on #23343
I do not think providing a repo with the answers is the best solution, because there can be different ways to implement associations. One thought that I've had in the past, but haven't developed is to create a test-driven approach to this. If the tests pass, you can be certain that you've written the associations correctly.

Is this something you'd be interested into working on?

[2022-01-19 19:11] DigitalKnight0 commented on #23343
@rlmoser99 I would love to, but i am myself currently on private events project and quite unsure of how testing is done with rails. I can prolly get started with some guidance but still your call

[2022-01-19 19:24] rlmoser99 commented on #23343
Ok. Before we decide on anything, let me touch base with the rest of the Rails team and see where this fits in with our current plans. Thanks for creating an issue to help find a way to provide feedback on those association warm ups. 👍

[2022-01-20 13:04] zachmmeyer commented on #23341
@BlizZard-bot All yours!

[2022-01-20 13:21] zachmmeyer commented on #23341
@BlizZard-bot What it looks like is Ted didn't have a URL redirect in place when they changed the link, and now they do. We should still change the link to be correct, so we don't have to get redirected.

[2022-01-20 13:28] jmmarco commented on #23335
I can take this 👍 if that's ok with everyone.

[2022-01-20 15:18] #23335 closed

[2022-01-20 17:56] jmmarco commented on #23311
I took a look at this lesson and it does seem that it can be simplified and improved. For example, throwing technical jargon like [MVC](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller) at this stage (foundations) can be overwhelming for beginners. In my opinion, we should do our best to briefly describe why software frameworks exist and what problems do they solve.

I concur wi

[2022-01-20 21:15] dm-murphy commented on #23343
If you're seeking contributors to help add a test-driven approach here or elsewhere in the Rails curriculum, I'd love to help! :-)

[2022-01-21 14:20] I3uckwheat commented on #23232
The specification for fetch directly says:

See here: https://fetch.spec.whatwg.org/#concept-request-mode

---

In reality, the context of how this gets decided is more complicated than a default, see here: https://stackoverflow.com/questions/44121783/fetch-api-default-cross-origin-behavior

Because the specification directly states 'no-cors' as the value when not passing anything, It's best to le

[2022-01-21 14:20] #23232 closed

[2022-01-21 21:23] Mclilzee commented on #23232
This is weird, the site you posted is conflicting with the documentation. I thought the information provided by the documentation is reliable.

[2022-01-22 01:17] wise-king-sullyman commented on #22943
Generally, I go for linking directly to the line if the section is really long and the relevant part is in the last half of the section, otherwise, I think linking to the section is more than adequate.

[2022-01-22 07:21] 01zulfi opened #23358 "Possibly outdated rails links in additional resources in javascript final project"
[project_final_js.md](https://github.com/TheOdinProject/curriculum/blob/main/javascript/finishing-up/project_final_js.md) has two rails links in the additional resources section. These links mention the rails version 5/5.1. They are:

1. [A Rock Solid, Modern Web Stack—Rails 5 API + ActiveAdmin + Create React App on Heroku](https://blog.heroku.com/a-rock-solid-modern-web-stack)
2. [How to Build a

[2022-01-22 21:09] #22804 closed

[2022-01-23 04:55] linkonsat commented on #22944
Could I take this one on? @wise-king-sullyman

[2022-01-23 05:05] linkonsat commented on #22940
@wise-king-sullyman Just wanted to give you a heads up that according to this issue by CouchofTomato the webpacker lesson won't be included after the Rails 7 update for the Rails course. Specifically, in the last criteria, it is stated  that the lesson will be removed from the Rails course https://github.com/TheOdinProject/curriculum/issues/23244

[2022-01-23 09:58] RolandStuder commented on #23228
@CouchofTomato Question, will we stick to import maps for the entire rails course as it is currently the default? I think that would make sense, as currently it is very unclear what the industry most common practice will be, so just taking the default would make most sense to me. Do you aggree? Was this discussed anywhere?

[2022-01-23 10:05] CouchofTomato commented on #23228
@RolandStuder yeah that's the plan. The js bundling lesson won't be until much later in the course. No need to introduce that for no obvious benefit when we're trying to stick as close to the core rails stack as possible. In the future we might just do one project requiring some transpiling or something just to show why you'd need to reach for something else but importmaps will be the default for

[2022-01-24 01:45] thatblindgeye commented on #22965
Closing this issue as it has been completed per #23022

[2022-01-24 01:45] #22965 closed

[2022-01-24 01:47] wise-king-sullyman commented on #22940
@linkonsat thanks for the heads up! I'll go ahead and close this issue if this lesson will be trashed soon 🙂

[2022-01-24 01:47] #22940 closed

[2022-01-24 02:00] thatblindgeye commented on #23235
@asadrjhk Would you still like to take this on?

[2022-01-24 02:11] thatblindgeye commented on #22456
Closing this as it looks to have been completed and merged per [Custom Enumerable Project Test PR](https://github.com/TheOdinProject/custom_enumerable_project/pull/1)

[2022-01-24 02:11] #22456 closed

[2022-01-24 02:15] thatblindgeye commented on #21506
Adding a Status of Completed to this as two PR's have been opened regarding this issue, #23222 and #23223

[2022-01-24 02:44] thatblindgeye commented on #20224
Closing this issue per the above comment about work already being done in another repo, and over a year of inactivity.

[2022-01-24 02:44] #20224 closed

[2022-01-24 03:04] thatblindgeye commented on #21907
I'm going to be closing this due to over a year of inactivity. If this is something we still want to work towards, a new issue may be better to re-evaluate what work needs to be done.