[2022-01-24 03:04] #21907 closed

[2022-01-24 16:55] asadrjhk commented on #23235
@thatblindgeye yes i willing to take this,

[2022-01-24 18:42] linkonsat opened #23371 "SVG Lesson in intermediate HTML and CSS lesson does not have knowledge check links"
For the intermediate HTML and CSS lesson named [SVG](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/intermediate-html-and-css/lessons/svg#knowledge-check), the knowledge checks do not have a link at the moment. Wanted to raise this issue as at the moment I am working on another knowledge check and tweaking a lesson. Once I finish the current knowledge check I am on I will be

[2022-01-24 18:49] linkonsat commented on #23371
I know for other knowledge checks there were certain guidelines for adding knowledge checks. However, I am not a maintainer so is it accurate I should not link them or anything? Don't want to make it seem like I'm telling people what to do when that isn't within my scope.

[2022-01-24 20:00] #23371 closed

[2022-01-24 20:36] BenFin75 opened #23377 "Incorrect Formatting and Code Snippet in the Checkboxes section of Form Basics"
I found two potential issues with the Checkboxes section of [form-basics.md](https://github.com/TheOdinProject/curriculum/blob/main/html_css/intermediate_html/form-basics.md) in the intermediate HTML and CSS course.

the section title is inside of the paragraph for the section.

The code snippet showing the creation of a checkbox option for pizza toppings uses `type="radio"` instead of `type="chec

[2022-01-24 22:24] rcamach7 opened #23380 "form validation assignment links to the wrong video address in form-validations.md"
[This lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-validation#required-validation) has an assignment "Watch Web Dev Simplified’s JavaScript Form Validations Tutorial" that links to an incorrect video.

If [this](https://www.youtube.com/watch?v=In0nB0ABaUk&t=5s&ab_channel=WebDevSimplified) is the correct link I can make a PR on it

[2022-01-24 22:43] laur-ns opened #23381 "Fix dead link in the sign-up form project under the intermediate HTML/CSS section"
The page:
https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/sign-up-form

![Under Step 2: Gather Assets](https://i.imgur.com/nNnUEBJ.png)

[2022-01-25 00:05] zachmmeyer commented on #23381
I took this on because I saw that more than a few links were incorrect (not using Statically). Thanks for making an issue!

[2022-01-25 00:28] khunhour opened #23383 "xml svg code snippet not displaying properly in HTML intermediate/SVG lesson"
In the HTML Intermediate/[SVG lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/svg) the XML svg code snippet does not display properly. screenshot below to demonstrate.
The markdown preview in Github is working fine, however when pasting the code into TOP markdown preview, it shows the issue.
This might be an issue with XML not being supp

[2022-01-25 00:33] thatblindgeye commented on #23235
Thank you, I've now assigned you!

[2022-01-25 03:18] #22952 closed

[2022-01-25 10:42] arito7 opened #23393 "Possibly misleading example"
![top](https://user-images.githubusercontent.com/64824933/150961458-b6aa5d6d-aa6b-4d19-bc07-611d9d7020e0.png)

### Description
In Full Stack JS > Intermediate HTML and CSS > Form Basics lesson
The example code under 'Checkboxes' uses radio buttons.

[Form Basics](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-basics)

#### Expected Behavio

[2022-01-25 14:29] jmmarco commented on #23383
I took a look at this issue, and indeed the code snippet does not display as intended. After experimenting a bit I found that placing the code inside three backticks, and with no language specified does the trick. Like this:
[code]

The result will look like this:

<img width="739" alt="Screen Shot 2022-01-25 at 15 27 14" src="https://user-images.githubusercontent.com/3438337/150995344-639e248b-94

[2022-01-25 15:02] khunhour commented on #23383
Hi @jmmarco, thank you for commenting on this. I just took a look at other ways of code snippets in other lessons and found that if I write it like this:
[code]
I put this into the TOP markdown and the result looks good!
![svgg](https://user-images.githubusercontent.com/12671115/150999370-c0278e45-9b12-4a93-a8ef-48502c22d157.png)

Would this be good enough?
I can make a PR if it's good to go.
than

[2022-01-25 15:15] jmmarco commented on #23383
That's great @khunhour I think you're good to go to create a PR for this. In the PR template, reference this issue along with the proposed solution 👍

[2022-01-25 15:24] jmmarco commented on #23383
Also, I think you can specify `xml` instead of `html` since an [SVG](https://developer.mozilla.org/en-US/docs/Web/SVG) is technically XML.

[2022-01-25 19:58] zachmmeyer commented on #23393
I went ahead and moved this to the curriculum repo.
@arito7 Would you be interested in making a PR to fix this?

[2022-01-25 20:07] arito7 commented on #23393
@zachmmeyer Sure! It'll be my first time ever making a PR, I'll read the contributing guide to get started.

[2022-01-25 22:37] #23383 closed

[2022-01-25 23:40] Artymanprince opened #23398 "Improvement request on the Regular expressions pattern used in the Pattern Validation section and provision of a link to an external resource in the Additional Resources section of form_validation.md"
I have explained the Regex pattern used in this section "(\d{5}([\-]\d{4})?)" and provided a link to an article that clearly explains how to apply Regex to most sought after data in a database which also includes the zip code(Number) format used.
As there didn't seem to be any brief explanation of it even though it was mentioned.
Using the Regular expression pattern `(\\d{5}([\\-]\\d{4})?)`. How e

[2022-01-26 02:35] rlmoser99 commented on #23343
@DigitalKnight0 @dm-murphy Quick Update: I've talked with a few other Rails maintainers and we think the TDD approach would be the best direction to go. The tests that I have mind (and have some sample ones written) will **not** be the typical [Rails association tests](https://www.codewithjason.com/examples-pointless-rspec-tests/), because they give away the answers... and are in general pretty po

[2022-01-26 03:32] dm-murphy commented on #23343
Thanks for the update!

I'm almost done working through The Complete Guide to Rails Testing from codewithjason and I've found it really helpful and clear. Both the free content from the site and the full book could be great resources in the curriculum.

[2022-01-26 12:24] jay4170 opened #23403 "Link that doesn't work"
The link for "this odin logo" doesn't work on this page https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/sign-up-form

[2022-01-26 12:26] jay4170 commented on #23403
Someone else reported this issue and solved it.

[2022-01-26 12:26] #23403 closed

[2022-01-26 13:36] gregolive opened #23404 "Improperly embedded CodePen Edit Link in INTERMEDIATE CSS - CSS Functions"
<img width="916" alt="Screen Shot 2022-01-26 at 10 28 07 PM" src="https://user-images.githubusercontent.com/89794134/151172118-52bb15ad-c8e2-4e26-852e-74c4b555fb41.png">

There is a link to Edit a CodePen in the CSS Functions lesson of INTERMEDIATE CSS that links to an Imgur image. I'm not sure if the fix would be as simple as moving the Embedded CodePen from above down to where this link is or if

[2022-01-26 15:17] eltonbautista opened #23406 "Form-Basics: Button Default Type Description"
Just a suggestion for the button section in the Form-Basics lesson: It talks about how <button type="button"> is a generic button, this sounds like it's saying <button> would be the same thing. But inside a form <button> is <button type="submit"> right? Maybe it's just me who thinks about it that way though since in all of Foundation I never used a type for button.

My suggestion is just to say in

[2022-01-26 21:39] xandora commented on #23248
Is there anything blocking theodinproject/javascript-exercises#215 currently?

[2022-01-26 23:15] RussianMartabak opened #23414 "Wrong Codepen on Intermediate HTML and CSS - Form Validation"
Escaping the backslash before a special character end up broke the form validation. All correct format is being evaluated as invalid

![](https://i.imgur.com/bJVG1MO.png)

All codepens in the Pattern Validations section made this mistake. Backslash before special characters shouldn't be escaped as per this examples
https://www.w3schools.com/tags/att_input_pattern.asp

[2022-01-27 01:41] rhodes-david opened #23416 "Replace Hangman Dictionary"
[Project: Hangman](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/hangman) (in the Ruby Programming section) instructs learners to download and use the [5desk.txt dictionary file](https://www.scrapmaker.com/view/twelve-dicts/5desk.txt). Unfortunately, this dictionary contains many words at odds with TOP's Code of Conduct, including racial slurs and o

[2022-01-27 10:47] CouchofTomato commented on #23398
Can you please link to the lesson in question.

[2022-01-27 12:07] Artymanprince commented on #23398
Sure. Here: https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-validation#pattern-validations

[2022-01-27 13:29] CouchofTomato commented on #23343
I agree although the full book is a paid resource which means we could only at most add it to the additional resources section

[2022-01-27 13:48] DigitalKnight0 opened #23420 "Add recursion to ruby exercise repo"
The CS section in ruby includes the lesson on recursion which links to [Code quiz](http://www.codequizzes.com/computer-science/beginner/recursion) in the test yourself section. I think it might be more helpful to convert it into an assignment and add some exercises for recursion in the ruby exercises repo along with some tests.

[2022-01-27 13:51] DigitalKnight0 commented on #23420
To give some more context on why i made the suggestion, the code quiz page has some good exercises, but the instructions are vague and the learner can  hardly verify if their solution was correct, (again, the tests would verify that), Plus a simple misclick can reveal the answer.

[2022-01-27 13:55] CouchofTomato commented on #23420
Thanks @DigitalKnight0

We can't entertain this for now because DS&A is undergoing a review for improvement anyway. https://github.com/TheOdinProject/top-meta/projects/6

It's a good idea though and once I'm sure is being considered for those new lessons.

[2022-01-27 13:55] #23420 closed

[2022-01-27 17:59] zachmmeyer commented on #23393
You do not need to re-open the issue. Thanks!

[2022-01-27 17:59] #23393 closed

[2022-01-27 18:20] desperatecareershifter opened #23422 "Steps on Step 3: Install and Enable Guest Additions on https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites is in bullet form in browser"
![image](https://user-images.githubusercontent.com/98516435/151419818-2fca446a-d240-4063-8b8e-b60a7164ec70.png)

In the code/preview the steps are numbered but it's in bullet form on the website. This makes going back to previous steps a hassle. Also the text "Steps on Step 3: Install and Enable Guest Additions" itself appears on FireFox but not on Google Chrome.

[2022-01-27 19:55] zachmmeyer commented on #23422
@desperatecareershifter Would you like to make a PR to resolve this?

[2022-01-27 19:59] zachmmeyer commented on #23416
@rhodes-david Well that is indeed a problem. Would you like to make a PR changing out the dictionary with the improved one you have found?

[2022-01-27 20:34] #23416 closed

[2022-01-27 21:34] rhodes-david commented on #23416
@zachmmeyer Thanks for implementing! Do you think we should also include instructions on how to download the new file? The previous file had a button to facilitate downloading, whereas this new one does not. I ended up using the "Save Page As" option on my browser's right-click menu. I'm not sure if there's a different technique recommended for downloading a single file from Github.

[2022-01-27 21:40] zachmmeyer commented on #23416
@rhodes-david I personally do not think it's necessary. I would hope the student working on hangman would be a bit more technically sophisticated, but that might be an oversight on my part.
If you feel strongly about it, I'd definitely make a PR!

[2022-01-27 22:49] thatblindgeye commented on #23422
The bullet issue is already reported on our main website repo, so this is affecting all numbered lists on our site.

The Step 3 missing issue in Chrome is odd, though. For now I want to put this on hold just in case for some reason the fix for the ordered lists on the site repo fixes it. If anyone happens to come across something in the actual lesson file causing this issue, though, please reach o

[2022-01-27 23:11] thatblindgeye commented on #23406
Could you copy and paste the exact text from the lesson that you either find confusing or thing could be updated?

[2022-01-27 23:22] thatblindgeye commented on #23398
Just an FYI @CouchofTomato, there is also a PR up for this at #23397

[2022-01-28 09:42] programmurr commented on #23248
@xandora Hi, thanks for approving and merging! :)

For the final task, removing the old instructions, would I just delete the old installation instructions or is there a directory where old lessons or files are kept for posterity/backup?

[2022-01-28 12:36] #23381 closed

[2022-01-29 01:56] msespos commented on #22945
Happy to take this one on.

[2022-01-29 02:56] #22943 closed

[2022-01-29 04:00] thatblindgeye commented on #23422
So there is definitely an issue going on with the Step headings in this lesson for Chrome, even after the fix for the ordered/numbered list issue was resolved. Not entirely sure what is causing it at a glance, but I'm going to remove the On Hold on this and add the Help Wanted label.

[2022-01-29 04:56] ezrahnyanat commented on #23422
Something in the JS I'm thinking. https://github.com/TheOdinProject/theodinproject/blob/a16e825059c2763fbb0c6b347dbb888151b6853e/app/javascript/src/js/lessons.js#L103

[2022-01-29 09:19] Eduardo06sp opened #23434 "Ruby 3.0 Upgrade"
**Description**
In order to upgrade to Ruby 3, I believe we would need to:
* Update the installation instructions in "Installing Ruby"
* Update any references to `2.7.4` in the curriculum
  - Such as links to documentation

I'm willing to take on both of these tasks. I have a Linux machine & a few MacOS devices I can try any updated instructions on.
Otherwise I'm willing to assist with anything ne

[2022-01-29 09:27] DigitalKnight0 commented on #23434
@Eduardo06sp i believe you meant ruby 3.0, not rails (typo)

[2022-01-29 13:55] CouchofTomato commented on #23434
All yours @Eduardo06sp

[2022-01-29 14:43] #23414 closed

[2022-01-29 23:14] msespos commented on #22945
Initial PR is done. Let me know what other changes need to be made, if any. Thanks!

[2022-01-29 23:38] abarnes1 commented on #22946
I can work on this. @wise-king-sullyman

[2022-01-30 14:53] thatblindgeye commented on #23404
For reference, this issue is related to PR #23430

[2022-01-30 14:54] thatblindgeye commented on #23377
This issue has been resolved per PR #23394

[2022-01-30 14:54] #23377 closed

[2022-01-30 16:42] thatblindgeye commented on #23311
@scheals if you'd like to fix this issue just let me know and I'll assign you.

@jmmarco I don't think we should avoid or discredit blog posts from dev.to for no reason, especially if a blog post in question does work as an informative resource for a topic. That said, if there is a resource that does a better job at explaining what frameworks are and why we should use them, or suggestions to impro

[2022-01-30 16:44] thatblindgeye commented on #23380
This is related to PR #23387 as the video link in question has been discussed regarding removal. I am closing this as that PR will be handling this issue moving forward, but thank you for bringing it to our attention!

[2022-01-30 16:44] #23380 closed

[2022-01-30 16:48] thatblindgeye commented on #23358
@CouchofTomato or @KevinMulhern  Do you have any opinion on this?

[2022-01-30 17:20] thatblindgeye commented on #23105
The lesson that introduces the prototype *does* state that "**If you’re using constructors to make your objects** it is best to define functions on the prototype of that object." (emphasis mine).

That said, I can see how a simple sentence or two could alleviate some confusion. One idea I can think of is updating the first example in the [factory function introduction[(https://www.theodinproject.c

[2022-01-30 20:31] scheals commented on #23311
@thatblindgeye what's the angle for this one? Removing the question from knowledge check or adding an explanation of CRUD into the lesson?

[2022-01-31 05:58] Pratik-Karale opened #23453 "slight gramatical error in "form basic" chapter"
slight grammatical error in "checkboxes" section from "form basics" chapter of "intermediate html & css"
![image](https://user-images.githubusercontent.com/74715140/151745433-1b9c4633-09bb-49e6-9029-2b1ea4a90ad0.png)

line:
Checkboxes are similar to radio buttons in **that that** they allow users to choose from a set of predefined options.

probably the needed fix:
Checkboxes are similar to radio

[2022-01-31 06:33] Eduardo06sp commented on #23434
@CouchofTomato I had two concerns when submitting the PR:
**1)** When installing Ruby in MacOS, the output received from typing `rbenv init` was:
[code]
However, TOP states ` bash` (space included) is not part of it.
Searching for answers led me to believe it's probably just an inconsistency with my particular mac.

**2)** I was going to update as many links as I could that reference `2.7.x`. They

[2022-01-31 07:34] jay4170 opened #23454 "Edit codepen links to an imgur"
### Description
on https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/css-functions there is a link that looks like it is supposed to take us to a codepen page. It instead takes us to an imgur link picture of the codepen logo

What steps need to be taken in order to reproduce this bug?

Example:
1. Log in
2. Visit a [https://www.theodinproject.com/

[2022-01-31 08:42] jmmarco commented on #23311
I didn't say discredit or avoid, but rather be vigilant (double check) when including links to these resources.
I do agree with you, if a particular resource does a good job of explaining a particular topic, then we should definitely include it 👍

[2022-01-31 12:04] thatblindgeye commented on #23311
@scheals I don't think the link that Knowledge Checks directs to is really introducing anything that the other links in the Assignment aren't already covering (other than what CRUD means, which we really don't need a resource just for a single line explaining what that is).

I'd say remove the knowledge check altogether as it feels out of place compared to the tone of the rest of the lesson.

[2022-01-31 12:50] CouchofTomato commented on #23434
Hey @Eduardo06sp

On point 1 it may be because mac made the default shell zsh that the output is now different. I'm ok with you updating it. We can never be fully sure what the user will see and hope they'd be able to use common sense for when two messages are similar enough in output.

On point 2 I agree the links don't really need to be part of the same effort but I'd appreciate if you made an i

[2022-01-31 12:55] #23434 closed

[2022-01-31 13:00] Maheshkumar-novice commented on #23434
We need to update `ruby version` file in the `ruby-exercises` repo also right?

[2022-01-31 13:19] thatblindgeye commented on #23358
Gotcha. Gonna add a Help Wanted status for now; if this should be held off on we can switch to On Hold label instead, though.

[2022-01-31 15:11] Eduardo06sp commented on #23434
Excellent catch, I didn't even know it was tracked.
I can do it myself, but I did notice you updated it last time.

If I were you, I'd straight up make the PR and reference the fact that installations updated to 3.0.3.
But I'm not a maintainer so I can't tell you what to do. :}

[2022-01-31 15:26] CouchofTomato commented on #23434
@rlmoser99 ^^ do we need to

[2022-01-31 20:47] ManonLef opened #23457 "Inconsistency in self-closing tag across lessons"
As discussed with Eric in #contribution-suggestions;

In the [Fundamentals part 1 lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/fundamentals-part-1) we get instructed to type the basic html skeleton.
I noticed in the preview that the (self-closing) meta tag was closed with `/>`.

![Screenshot_2022-01-27_at_23 29 22](https://user-images.githubusercontent.com/8

[2022-01-31 22:10] thatblindgeye commented on #23454
I will be closing this issue as it has already been reported in #23404

[2022-01-31 22:10] #23454 closed

[2022-01-31 22:14] thatblindgeye commented on #23457
Would you want to take this on? There shouldn't really be any rush on it if you aren't able to get to it immediately.

Regardless, I think for whomever does take this on it would be worth searching the rest of our repo for meta tag mentions in code snippets to ensure they're consistent.

[2022-01-31 22:39] linkonsat commented on #23358
I can take this up if it's alright.

[2022-01-31 23:03] rlmoser99 commented on #23434
Yes, we update `ruby-exercises` and `ruby_testing` repos when the curriculum changes the version of ruby to be installed.

[2022-01-31 23:06] ManonLef commented on #23457
Yes, I'm willing to take this one and go through the rest to check for inconsistencies as well.

[2022-01-31 23:44] thatblindgeye commented on #23457
Awesome 🙂 You've been assigned!

[2022-02-01 00:11] MasQueElite opened #23460 "Typo in Foundations > Prerequisites"
In [https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites](prerequisites), at:

The hyperlink text *"these instructions from Stack Exchange"* should be *"**follow** these instructions from Stack Exchange"*.

[2022-02-01 00:45] thatblindgeye commented on #23311
@scheals you got it!

[2022-02-01 02:07] DigitalKnight0 commented on #23460
@thatblindgeye i can fix this if no one is assigned

[2022-02-01 02:10] thatblindgeye commented on #23460
@DigitalKnight0 it's all yours!

[2022-02-01 03:03] Maheshkumar-novice commented on #23434
Shall I update both?

[2022-02-01 04:10] thatblindgeye commented on #23358
@linkonsat You've been assigned.

[2022-02-01 04:26] Eduardo06sp commented on #23434
@Maheshkumar-novice don't forget to make a pr by pushing your feature branch, it doesn't seem that there's a contributing guide for both of the repos!

[2022-02-01 06:47] Eduardo06sp opened #23465 "Update Ruby docs to 3.0.3 / 3.0 links"
I noticed most of the links throughout the Ruby lessons contain links to 2.7 docs.
The curriculum has just been updated to Ruby 3.0.3, so I think it would make sense to update all the linked documentation as well.

This was briefly discussed with @CouchofTomato in  #23434.
Link to CouchofTomato's direct response (where he addresses point 2 of the conversation): https://github.com/TheOdinProject/cu

[2022-02-01 07:26] Eduardo06sp commented on #23457
@ManonLef when you're done, you can double check by running
[code]
from the root directory (curriculum), it will check for closing tags inside all the lessons inside `foundations` :}
(this does not include any lesson repos of course)

[2022-02-01 10:57] CouchofTomato commented on #23465
Thanks @Eduardo06sp

[2022-02-01 12:34] #23460 closed

[2022-02-01 13:03] StoicScript opened #23467 "Missing project submissions in new Intermediate HTML & CSS Module"
The Sign Up Form & Admin Console Projects are missing project submissions.
All other projects on TOP have project submissions and I think they're of great help for new students who need inspiration or to get unstuck.

https://github.com/TheOdinProject/curriculum/edit/main/html_css/project-sign-up-form/project-sign-up-form.mdhttps://www.theodinproject.com/paths/full-stack-javascript/courses/interme

[2022-02-02 06:14] Ishmam156 commented on #23467
Are you working on this @StoicScript or would it be okay if I volunteer for this :)

[2022-02-02 10:02] StoicScript commented on #23467
I am not, please do.

[2022-02-02 12:58] thatblindgeye commented on #23467
@StoicScript please refrain from giving permission to users to work on issues.

@Ishmam156 please do not start working on this yet, or if you've started put a pause on the work for now. If this is something nobody else is already working on I'll @ you again an assign you if you'll still want to take it on.

[2022-02-02 13:00] StoicScript commented on #23467
Honestly I have no idea how any of this works. I just noticed an issue and thought we are supposed to report it on GitHub. I have no intention nor knowledge of how to fix it myself.

Is there a proper guide somewhere on how to bring up and report issues or improvements for TOP?

[2022-02-02 13:03] thatblindgeye commented on #23467
You reported the issue just fine 🙂  We just can't have non-maintainers giving others permission to work on an issue, as it may either be something currently being worked on internally, or there may be more to the problem the user doesn't know.

[2022-02-02 13:04] StoicScript commented on #23467
Got it!

[2022-02-02 18:39] Ishmam156 commented on #23467
@thatblindgeye completely understood! I’ll wait to see if this opens up and meanwhile will look around at the other issues ^_^

[2022-02-02 21:44] thatblindgeye commented on #23467
So yeah, this issue isn't related to the curriculum repo but rather our main TOP repo, and was previously mentioned in our Discord. I'm moving this over to the correct repo. This might be better for someone who has experience with the files of our website.

[2022-02-02 22:09] scheals commented on #23311
Should be ready to go :)

[2022-02-02 22:48] #23311 closed

[2022-02-03 01:29] thatblindgeye commented on #23398
Closing as this has been resolved in PR #23397

[2022-02-03 01:29] #23398 closed

[2022-02-03 03:56] linkonsat opened #23481 "Add a custom enumerable example to the custom enumerable project for the ruby track."
One of the things I noticed while helping in the chat is that it seems a few people seem to have difficulty understanding how to use blocks and yield. I believe it may be useful to provide a detailed example in the custom enumerable projects as an example showing both the ```do...end``` and ``` {|a| does something with a }```. An example of that could be the sort enumerable in either the custom en

[2022-02-03 03:57] linkonsat opened #23482 "Splitting up the block less in the ruby track."
I noticed that in the [blocks lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/blocks) there are 14 different knowledge checks. I think this is a good indication that either the lesson needs to be broken up into 2 different lessons as if there are that many knowledge checks then the lesson itself is probably covering a bit more than needed as i

[2022-02-03 15:07] CouchofTomato commented on #23482
@KevinMulhern

Is this something you think can be done now or should be wait for the path review?

[2022-02-03 15:09] CouchofTomato commented on #23481
Yeah that's not a bad shout at all mate.

@rlmoser99 @KevinMulhern Do you guys have an opinion on this?

[2022-02-03 17:54] zachmmeyer commented on #23453
I took this on!

[2022-02-04 13:34] AndyPro720 opened #23488 "Add a section for git recovery in git basics, foundations."
Hey! So, I recently edited a document unintentionally over the terminal. Fortunately considering we're using Git, I immediately knew the change was reversable. I had to spend a few minutes online and I was able to revert the document to the intended version.

My suggestion: Considering we cover git over a reasonable depth in the foundations(where I currently am), shouldn't we include at least the

[2022-02-04 14:08] twalton83 commented on #23488
I don’t think we should cover every possible use case with Git. We’re research based. We don’t cover a TON of things in different languages because at some point, folks are expected to look at the reference or Stack Overflow.

[2022-02-04 14:21] webdevphilh opened #23493 "wrong content in "/intermediate-html-and-css/lessons/css-functions""
### Description

The content in said file has the wrong link.
Instead of showing a codepen project it goes to a imgur image.
It can be found at the end of the "calc()" section, right before the "min()" section begins.

Link:
https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/css-functions

[2022-02-04 14:59] #23453 closed

[2022-02-04 16:39] eltonbautista opened #23490 "css min()"
I was reading through the CSS functions exercise and in the information about min() I think it would benefit from explaining that the order of the arguments do not matter - it will _first_ take the smallest unit, and then change appropriately. In the description it doesn't explicitly state why the image is 150px other than "if there aren't 150px available, it will take up 100%".

In max() it expla

[2022-02-04 17:29] Eduardo06sp opened #23491 "Update outdated links to ruby-exercises repo"
After changing from `master` to `main`, some of the links to the `ruby-exercises` repos are now outdated (but still functional w/ a notification of the change).

So far, I've noticed it in:

* Assignment 3 Basic Data Types: https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/basic-data-types
  - `ruby_programming/basic_ruby/basic_data_types.md`
* Assignme

[2022-02-04 17:33] eltonbautista commented on #23406
@thatblindgeye Oh my God I just read through the first paragraph of what I wrote and it's literally making me cringe. I don't even know what I was saying. I'm so sorry you had to read through that. **Through Google I saw that the button element's default value is _submit_** if I am incorrect feel free to ignore the rest of the text!

I think what I was trying to say is that: The very first time I

[2022-02-04 18:31] #23465 closed

[2022-02-05 00:34] linkonsat commented on #23482
I have given this a bit of thought and given that @CouchofTomato mentioned there will be a path review and there is a OOP section rework issue. I think it would make more sense in my opinion to include this in a broader path upgrade. The reason being is that it makes more sense to me to upgrade and release an overall broader update to avoid scattered updates. I _think_ this would help improve the

[2022-02-05 05:24] AndyPro720 commented on #23488
Well I never exactly referenced the commands for rollback as basic but rather asked that the bare minimum, basic commands be included.
" I don’t think the myriad of ways to revert back is the bare minimum, but the ways to do this are easily findable." - I do agree with this, partially. First, we aren't covering the myriad ways, just the basic as clarified above. Yes, it isn't bare minimum but it i

[2022-02-05 05:27] AndyPro720 commented on #23488
I just had a look at Discord, I have some clarity and content. You can close this up.

[2022-02-05 13:35] CouchofTomato commented on #23482
Yeah that's a good idea @linkonsat

[2022-02-05 17:02] Pratik-Karale opened #23498 "intermediate-html-and-css/lessons/positioning typo and card heading improvement of the codepen"
the position value of card-heading has a typo & it doesnt have the "card-heading" feel to it...
![image](https://user-images.githubusercontent.com/74715140/152651062-fe6d9ad4-637e-4833-802e-38ed72e171ee.png)
this could be the card-heading style:
[code]

[2022-02-05 20:04] twalton83 commented on #23488
Thanks for understanding, we do appreciate the suggestion in any case.

[2022-02-05 20:04] #23488 closed

[2022-02-05 21:58] twalton83 commented on #22929
Closed by #23085

[2022-02-07 01:46] twalton83 opened #23500 "Refactor Rock Paper Scissors Instructions"
Many learners have trouble interpreting the RPS instructions, which leads to poor outcomes in their code and anti-patterns.

We should:
- Refactor the instructions to change the language so `game()` does not hold declarations for `playRound` and other functions inside of it
- Show boilerplate for a simple `for` loop so they can have a better `game()` function instead of punting loops to a later le

[2022-02-07 04:39] scheals commented on #23500
I'd love to work on this one if possible.

[2022-02-07 04:49] twalton83 commented on #23500
Go for it.

[2022-02-07 12:57] thatblindgeye commented on #23498
Thanks for mentioning this issue! It should be fixed now so I will be closing this.

[2022-02-07 12:57] #23498 closed

[2022-02-07 13:17] thatblindgeye commented on #23493
Closing this as it has already been mentioned in #23404

[2022-02-07 13:17] #23493 closed

[2022-02-07 15:19] krzt96 opened #23506 "intermediate-html-and-css/lessons/browser-compatibility - Knowledge Check issue"
https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/browser-compatibility#knowledge-check

The knowledge check here poses the following question: _What is Chromium?_

This question, IMO, cannot be answered based on the contents of the lecture's content (both original and outer).

[2022-02-07 17:07] LeoKirasic opened #23508 "Move Sandi Metz video from testing basics lesson to more testing lesson"
Currently, the [testing basics lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/testing-basics) tells the learners to watch [this](https://www.youtube.com/watch?v=URSWYvyc42M) video as per assignment 5.

I think that it would be beneficial to move the video assignment to the [more testing lesson](https://www.theodinproject.com/paths/full-stack-javascrip

[2022-02-07 18:48] LeoKirasic opened #23509 "html/css lessons in the fullstack tracks lacking knowledge check links"
The following lessons in the new html/css content either don't have knowledge checks or don't have knowledge check links:

- Advanced selectors
- CSS Functions
- Browser Compatibility
- Introduction to Web Accessibility
- The Web Content Accessibility Guidelines
- Semantic HTML
- Accessible Colors
- Keyboard Navigation
- Meaningful Text
- WAI-ARIA
- Accessibility Auditing
- Introduction to Respons

[2022-02-07 18:52] crespire commented on #23284
Just to chime in, the Ruby version recommended in the curriculum is now 3.0.x, so users should make sure to install that version over 2.7.x.

As of writing this comment, the current version of Ruby is 3.0.3

[2022-02-07 22:40] thatblindgeye commented on #23490
@eltonbautista Can you please update the title of the PR to be more descriptive and mention the lesson it would be for?

[2022-02-07 22:51] thatblindgeye commented on #23506
For this, here is what I personally think needs to be done to resolve this issue for whomever wants to take this on:

1. Edit the first mention of the word "Chromium" and make it a link that directs to the the Wiki entry for it - [Chromium wiki entry](https://en.wikipedia.org/wiki/Chromium_(web_browser))
2. The Knowledge Check asking what Chromium is should be removed, as I don't believe it's real

[2022-02-07 22:53] thatblindgeye commented on #23509
@wise-king-sullyman would this fall under the ongoing KC updates or is this fine as its own open issue?

[2022-02-08 06:46] danironic opened #23511 "charset location in html files..."
In every quality book or course that I have read/watched, they have always suggested that charset should go before title in the head section of an html document. I notice TOP does not do this and feel this should be fixed. Even in the video lessons linked in the sections on here, the teachers in the videos put the meta charset before the title element. I guess it has something to do with making su

[2022-02-08 07:39] pantbruin opened #23512 "Wording changes in Intermediate CSS Positioning lesson"
Some minor wording changes should be made to the CSS positioning lesson introductory paragraph. This should be an easy fix for a first time contributor. [Lesson Link](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/positioning)

The first sentence states that grid has already been learned at this point. This is incorrect--the grid section comes

[2022-02-08 15:20] lloydlobo opened #23515 "Missing number or step in Setting Up Git lesson"
There is a minor inconsistency in numbering the points in "Setting Up Git" lesson, under "macOS" -> "step 1.2".

Here's the [link](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/setting-up-git#step-12-verify-version) to the exact spot where this simple error is.

## **Issue:**
- Point no. 3 is missing, while points 1, 2, and 4 are present.

## **Proposed Resolution:**

[2022-02-08 15:47] CouchofTomato commented on #23508
@rlmoser99

Any thoughts on this?

[2022-02-08 17:54] #23500 closed

[2022-02-08 18:16] danironic commented on #23511
That was just an example. I've seen it in multiple books and courses. I
guess I could of cited more sources. I just was giving an example since it
mentioned why they do it that way. A couple courses I took while in college
also mentioned to place charset first. Figured it was important enough to
at least mention.

Here are some more sources:

https://code.google.com/archive/p/doctype-mirror/wikis/

[2022-02-08 18:28] twalton83 commented on #23511
Your link is broken for MDN, but assuming the end is `/Element`, that just looks like alphabetical order.

[2022-02-08 18:29] twalton83 commented on #23511
That said, we should likely look to W3C as the absolute authority imo.

[2022-02-08 19:16] drossano commented on #23491
I'd like to take this on.

[2022-02-08 23:28] thatblindgeye commented on #23491
@drossano You're assigned!

[2022-02-08 23:44] thatblindgeye commented on #23406
Ah okay, I see what you're saying now. I agree that it would be worth noting the default behavior of a button when the `type` attribute isn't included. @eltonbautista can you update the title of the PR to something along the lines of "Form Basics: Button default type"?

For anyone who would like to take this on, the **acceptance criteria** for this issue would be as follows:

- [ ] In the [Form Ba

[2022-02-09 00:07] thatblindgeye commented on #23248
@programmurr For now you can move it to the `archive` folder (you should see the old DOM manipulation lesson in there as well)

[2022-02-09 00:15] thatblindgeye commented on #23511
I'd agree. I'm not sure if it explicitly states whether it *should*, but the fact that the examples in that whawg.org link I shared all look to have the charset before the title leads me to believe that that should be the convention and our lessons should be updated to reflect that. Let me know if you disagree, @twalton83 , and if not I can try to move forward some instructions for this.

[2022-02-09 00:19] thatblindgeye commented on #23515
In addition to what has been mentioned, whomever decides to work on this should also breakout these inner-steps that are part of the overall Step 1.2 so that they are a proper numbered list (rather than bunched up into a paragraph and easily lost).

[2022-02-09 00:50] ronald-luo commented on #23515
I would love to take this one!

[2022-02-09 00:53] Funk3 commented on #23506
I’d like to do this one!

[2022-02-09 01:01] LeoKirasic commented on #23512
Hey, I can do this one !

[2022-02-09 01:19] DigitalKnight0 commented on #23406
I can take this!

[2022-02-09 02:16] thatblindgeye commented on #23515
@ronald-luo you got it!

[2022-02-09 02:16] thatblindgeye commented on #23506
@Funk3 all yours!

[2022-02-09 02:17] thatblindgeye commented on #23406
@DigitalKnight0 you've been assigned!

[2022-02-09 04:29] Eduardo06sp commented on #23491
@thatblindgeye I 100% don't mean to sound out of line here, but would it be a good idea to make the links point to the specified folder instead of just the main repo? Otherwise there's two links pointing to the main `ruby-exercises` repo in the same line.

E.g. `https://github.com/TheOdinProject/ruby-exercises/tree/main/ruby_basics/6_arrays`

Also the Basic Data Types lesson is redundantly telling

[2022-02-09 04:36] ronald-luo commented on #23515
@thatblindgeye Thank you! This is my first contribution. I'm not too sure how to request reviewers for the last task.

[2022-02-09 05:33] 7ze commented on #23284
sure will add that. Sorry it's taking so long, was sick for a while. I'll update this asap.

[2022-02-09 06:30] danironic commented on #23511
I did some digging and here are some more links, plus a print out of what they mention on the pages.

First the broken link fixed from before:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
This attribute declares the document's character encoding. If the attribute is present, its value must be an ASCII case-insensitive match for the string "utf-8", because UTF-8 is the only valid

[2022-02-09 12:48] thatblindgeye commented on #23491
@Eduardo06sp for your first point, it's merely a suggestion and doesn't come off as authoritative. That said, we should use whatever URL is present for that general directory rather than to a specific exercise directory (in this case for your example, `https://github.com/TheOdinProject/ruby-exercises/tree/main/ruby_basics`)

For your second point, both of those links look to be directing to two di

[2022-02-09 12:50] thatblindgeye commented on #23515
@ronald-luo it looks like you linked your PR to this issue correctly so you should be good for now! A maintainer will eventually look over your PR and if they have any changes they'd like made they'll respond in the PR

[2022-02-09 12:56] thatblindgeye commented on #23511
"And this is directly from W3C themselves:"

This is perfect. I did notice the thing about "within the first X bytes..." in one of the links I shared as well I believe, but having it on W3C is 🤌

I'm going to open this up to help wanted eventually, I just want to write up some acceptance criteria first (which I'll edit into this comment if it's the latest one, otherwise I'll make a new comment)

[2022-02-09 13:15] rlmoser99 commented on #23508
Since this is in the JavaScript path, I would want someone who has done that path to weigh in on this. On the ruby path, we have this resource later in the testing section and I have to agree with @LeoKirasic's reasoning.

[2022-02-09 16:42] eltonbautista commented on #23406
I have updated the title! Thanks!

[2022-02-09 17:31] liridonloku commented on #23490
I'd like to work on this.

[2022-02-09 17:38] thatblindgeye commented on #23490
@liridonloku all yours!

[2022-02-09 17:55] #23515 closed

[2022-02-09 18:07] dm-murphy commented on #23512
Assigned, thanks Leo!

[2022-02-10 01:11] gregolive commented on #23404
Hey @thatblindgeye, I see that this still looks like an open issue and that PR #23430 has not been updated recently. Should I create a PR that fixes this according to your [comment on the PR](https://github.com/TheOdinProject/curriculum/pull/23430#pullrequestreview-866798910)?

[2022-02-10 04:29] thatblindgeye commented on #23404
@gregolive thank you for checking the open PRs! I'm going to give that PR another day or two for the contributor to respond just because I said I would give a few days. That said, if we do not get a response I will definitely @ you here again to to check if you'd still like to work on this, at which point if you do I can assign you 🙂

[2022-02-10 05:07] gregolive commented on #23404
@thatblindgeye sounds good! 👍 Thanks for getting back to me!

[2022-02-10 05:39] wise-king-sullyman commented on #23509
@thatblindgeye these would definitely be KC updates, how best to go about them is maybe up for debate though.

@LeoKirasic by making this issue were you wanting to take them all on, or were you just pointing out that they're missing?

Thanks for calling out that they're missing btw.

[2022-02-10 11:14] dunkOnIT opened #23529 "Incorrect link or unclear link text in JS Fundamentals Part 2"
## Description of issue:

The 9th link in the "[Knowledge Check](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/fundamentals-part-2)" section of Javascript Fundamentals Part 2 reads "What are methods?". However, the link leads to [this page](https://www.w3schools.com/js/js_string_methods.asp) describing only the Javascript string methods.

By the lesson's own definiti

[2022-02-10 11:38] LeoKirasic commented on #23509
@wise-king-sullyman I wanted to create the issue and see what you think the best way to go about it would be. I don't mind doing them, I also don't mind them being spread for everyone to contribute to.

[2022-02-10 11:43] mattdimicelli commented on #23490
Just a FYI: the snippet
[code]
does not seem to match up with the code example.

[2022-02-10 12:50] krzt96 opened #23531 "intermediate-html-and-css/lessons/creating-a-grid - Knowledge check issues"
https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/creating-a-grid

![image](https://user-images.githubusercontent.com/94806776/153410683-60424994-ddab-463b-a17d-bd6cfcbbc4eb.png)

Feels like the first question should be referring to defining grid container. I don't know if this question was supposed to be tricky or something, but asking such quest

[2022-02-10 13:51] DigitalKnight0 opened #23533 "inconsistency across additional resources patterns"
I noticed that some lessons are missing the additional resources section such as [this one](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/introduction),
While some of them have empty ones such as [this](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/tic-tac-toe)
Then there are some which have the

[2022-02-10 18:37] #23512 closed

[2022-02-10 20:38] #23406 closed

[2022-02-10 23:15] thatblindgeye commented on #23533
This is something that, along with some other things, will be in the works for fixing (keep an eye out!) Since there are several lessons mentioned here, and because it is something that is being worked on, I'm going to close this issue, but thank you for keep an eye out on this sort of stuff!

[2022-02-10 23:15] #23533 closed

[2022-02-10 23:24] thatblindgeye opened #23537 "CSS Funtions: min example has incorrect code snippet"
Related to #23490

In the CSS Functions lesson, the code snipped immediately following the `min()` CodePen example is incorrect. Screenshot show the CodePen code and the code snippet:

![Untitled](https://user-images.githubusercontent.com/70952936/153513668-2b5fb762-f97f-4f23-9286-c1854fdab452.png)

The code snippet after the codepen should be replaced with the `#iconHolder` declaration block inst

[2022-02-11 01:55] Funk3 commented on #23537
I’d like to do this!

[2022-02-11 10:07] liridonloku commented on #23537
Hi @thatblindgeye, I'd like to make this change.

[2022-02-11 12:49] eltonbautista opened #23539 "HTML/CSS Intermediate: Advanced Grid Properties - Codepen Not Showing Proper CSS"
In the Advanced Grid Properties lesson there is a codepen that doesn't accurately show what the description is trying to depict. This problem only exists in the embedded codepen but doesn't persist if you open it on the codepen website. I'm not sure if there's anything you guys can do about it other than let the reader know, but I thought I would bring it up in case you weren't aware! I have paste

[2022-02-11 14:17] #23537 closed

[2022-02-11 14:41] DigitalKnight0 commented on #23539
@eltonbautista I will just add, the problem does not lie with the CSS. It's due to the small viewport. You can actually resize the embedded pen by using the zoom buttons at the footer
`1x` `0.5x` `2.5x`
The grid does not resize them as expected because `fr` is *fraction of available space* or simply, the empty space left excluding the contents of cells. If there is no space left after fitting the

[2022-02-11 14:59] eltonbautista commented on #23539
Oh yes I'm aware that that is the issue and not the CSS. I was trying to resize the pen by dragging the zoom button at the bottom right corner but it was a bit tricky, but I see that is relieved by going on 0.5x mode. Maybe it was just my incompetency to figure I could have done 0.5x and dragged the window, sorry about that!

Anyways since this is an open issue already, in the section about clamp(

[2022-02-11 15:01] DigitalKnight0 commented on #23539
Anyone can make a PR and contribute! here's the [guide](https://github.com/TheOdinProject/curriculum/blob/main/CONTRIBUTING.md)
If you are still unsure about anything, feel free to ask in Discord! Goodluck

[2022-02-11 15:23] eltonbautista commented on #23539
Awesome. I just remembered I've done a couple of PRs before which I think changed the notes on the website.. My memory is failing me. I will send a PR for this. Thanks once again.

[2022-02-11 22:24] wise-king-sullyman commented on #22929
@twalton83 should this not be closed? I believe the merge closed it out and closing the issue just got missed at the time from looking at it.

[2022-02-12 05:53] reservecrate commented on #23531
No idea about the first question. But, I can fix the broken (3rd) link, since I think we should just change `https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/creating-a-grid#grid-gaps` to `https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/creating-a-grid#gap`.

[2022-02-12 06:35] 01zulfi commented on #23529
Thanks for bringing this up. I agree the link text is misleading as it says "What are methods?" and then links to the [w3schools string methods](https://www.w3schools.com/js/js_string_methods.asp) page.

Let's talk about the possible fixes you presented:

Methods only get a one sentence mention in the "Strings" section of the lesson. With only that to go off of, I don't believe it justifies a know

[2022-02-12 07:30] dunkOnIT commented on #23529
Thanks for the response!

I think your fix sounds great. I would just make one additional suggestion:
* Under "Learning Outcomes", change "Define what a method is." to "Understand what a method is."

Two reasons for this change:
* it is more in line with the current amount of emphasis placed on educating the student on methods in the lesson
* anecdotally, as someone busy doing the fundamentals cou

[2022-02-12 07:37] 01zulfi commented on #23529
That sounds great.

 Here's the acceptance criteria for the PR:

- [ ] Reword "Define what a method is" to "Understand what a method is." in learning outcomes
- [ ] Remove "What are methods?" knowledge check
- [ ] Reword "What is the difference between slice/substring/substr?" to "What is the difference between slice/substring/substr string methods?"

I've assigned you, good luck! 🚀

[2022-02-12 07:57] #23529 closed

[2022-02-12 15:42] scheals opened #23552 "Ruby/Project: Event Manager formatting, gem deprecation, API key and unused file"
[The project is adapted from another resource](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/event-manager-ruby-programming)

and this makes these issues appear:
- There seems to be some inconsistency with how it is formatted compared to the rest of the course, `assignment` and `iteration` blocs probably could use some formatting like becoming heade

[2022-02-12 20:50] Ska0 commented on #23509
I wouldn't mind taking some of them, Will I have to write the knowledge checks text as well or just be setting up the links?

[2022-02-13 08:25] PremSagarS commented on #23531
I think the first question is supposed to be "Explain how to define a grid container" or it's a trick question.... you define an element as grid item by defining it's parent element as a grid container.

[2022-02-13 14:52] Pratik-Karale opened #23557 "note on each code pen to zoom in & out b/w 0.25x , 0.5x & 1x in /intermediate-html-and-css/lessons/advanced-grid-properties"
*very minor enhancemnt*
when going through the lesson i had to figure out why werent few grid containers spanning properly. it took me a while to find out that it can be seen working if adjust the zoom option of the codepen output.
ps:we can also use inform them on every code pen to use the drag and drop function of the main container

output in 1x:
![image](https://user-images.githubusercontent.c

[2022-02-13 21:35] thatblindgeye commented on #23557
I really don't think we should be reminding users about this with every Codepen, just because that's *a lot* of repeated information that users most likely won't need to be reminded of beyond the first time they discover it.

I'm actually unsure if a reminder should really be included at all. Willing to leave this open for a few days to see if there are any other strong opinions either way on this

[2022-02-13 23:02] melihthedev opened #23562 "/foundations/html_css/html-foundations/elements-and-tags - knowledge check"
On the knowledge check part, answer to this question; "What are the three parts of an HTML element?" is shown through a p tag, which is opening and closing tags and the content. Since we have self-closing tags such as img or input tags, I thought this could cause some misunderstandings in the following lessons. A following explanation regarding to this might be added.

[2022-02-13 23:12] #23491 closed

[2022-02-14 14:13] #23404 closed

[2022-02-14 15:53] Maheshkumar-novice opened #23568 "Split JS basics - foundations"
Source: [JS Basics](https://www.theodinproject.com/paths/foundations/courses/foundations#javascript-basics)

Currently we have 15 lessons in the JS basics of foundations. It looks like too much lessons packed in one section. It feels a little overwhelming.

Suggestion is to split JS basics into 2 parts:

[code]

[code]

[2022-02-14 16:00] Maheshkumar-novice opened #23569 "Command Line Basics in Wrong Section"
Source: [Installations](https://www.theodinproject.com/paths/foundations/courses/foundations#installations)

Currently we have `command line basics` lesson under the installations section. Is it appropriate?

Suggestion is to move command line basics lesson into it's own section `Command Line Basics`. Also, if it's needed we can add another lesson to cover few other basic commands under the new se

[2022-02-14 16:07] Maheshkumar-novice commented on #23568
-  If there are too much lessons under one section, learners may feel overwhelmed. If we have 2 sections, after finishing one section, a learner may gain more confidence before moving on to the other section.
 -  It'll be easier to navigate to the lessons in the site.
 - It'll be easier to manage the lessons as well, in case we are adding new lessons to the section.
- It'll give a nice look and fe

[2022-02-14 16:26] Maheshkumar-novice commented on #23568
If we add a new lesson, we need to look into entire section to see where it'd fit. If we have 2 sections, the work will become less. Because we know 1st section will contain more basics than the 2nd section. It's not a big benefit anyway.

Sorry. I shouldn't have put this point. I don't have a solid reason for this.

As section count will increment only one, It may not look much longer I guess. Be

[2022-02-14 16:31] twalton83 commented on #23568
I’m not shooting it down, just trying to understand btw.

[2022-02-14 16:32] Maheshkumar-novice opened #23571 "Curriculum mention in Readme is confusing"
![why?](https://user-images.githubusercontent.com/67100964/153905163-c03ac178-9bcb-4449-8115-3680207baf9c.png)

Source: [Curriculum Repo Readme](https://github.com/TheOdinProject/curriculum#the-odin-project---javascript-curriculum)

We can see we have a heading `The Odin Project - JavaScript Curriculum` but the content under the heading is common to both the paths covered by TOP.

Suggestion is to

[2022-02-14 16:37] Maheshkumar-novice commented on #23568
Yeah. I understood. It's a good experience for me to create issues more clearly in future.

[2022-02-14 17:35] LeoKirasic opened #23573 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Intermediate HTML and CSS/Advanced Selectors"
Related to #23509

This task is to go through the Advanced Selectors lesson in the Intermediate HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge chec

[2022-02-14 17:35] LeoKirasic opened #23574 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Intermediate HTML and CSS/CSS Functions"
Related to #23509

This task is to go through the CSS Functions lesson in the Intermediate HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check lin

[2022-02-14 17:40] DigitalKnight0 commented on #23573
I can take this one!

[2022-02-14 17:53] LeoKirasic opened #23575 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Intermediate HTML and CSS/Browser Compatibility"
Related to #23509

This task is to go through the Browser Compatibility lesson in the Intermediate HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge c

[2022-02-14 18:00] LeoKirasic opened #23576 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Introduction to Web Accessibility"
Related to #23509

This task is to go through the Introduction to Web Accessibility lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Kno

[2022-02-14 18:00] leokirasic opened #23577 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/The Web Content Accessibility Guidelines(WCAG)"
Related to #23509

This task is to go through the The Web Content Accessibility Guidelines(WCAG) lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer link

[2022-02-14 18:00] LeoKirasic opened #23578 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Semantic HTML"
Related to #23509

This task is to go through the Semantic HTML lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links s

[2022-02-14 18:00] LeoKirasic opened #23579 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Accessible Colors"
Related to #23509

This task is to go through the Accessible Colors lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check lin

[2022-02-14 18:00] LeoKirasic opened #23580 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Keyboard Navigation"
Related to #23509

This task is to go through the Keyboard Navigation lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check l

[2022-02-14 18:00] LeoKirasic opened #23581 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Meaningful Text"
Related to #23509

This task is to go through the Meaningful Text lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links

[2022-02-14 18:00] LeoKirasic opened #23582 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/WAI-ARIA"
Related to #23509

This task is to go through the WAI-ARIA lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check links should

[2022-02-14 18:00] LeoKirasic opened #23583 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Accessibility Auditing"
Related to #23509

This task is to go through the Accessibility Auditing lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge chec

[2022-02-14 18:00] LeoKirasic opened #23584 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Introduction to Responsive Design"
Related to #23509

This task is to go through the Introduction to Responsive Design lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Kno

[2022-02-14 18:00] leokirasic opened #23585 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Natural Responsiveness"
Related to #23509

This task is to go through the Natural Responsiveness lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge chec

[2022-02-14 18:00] LeoKirasic opened #23586 "Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Advanced HTML and CSS/Responsive Images"
Related to #23509

This task is to go through the Responsive Images lesson in the Advanced HTML and CSS course and (as applicable):

- Add missing Learning Outcomes
- Add missing Knowledge Checks
- Add answer links in the Knowledge Checks

If the lesson already has Learning Outcomes or Knowledge Checks they do not need to be added to. Many lessons only need answer links added.

Knowledge check lin

[2022-02-14 21:30] LeoKirasic commented on #23573
@DigitalKnight0 Go for it!

[2022-02-14 22:52] jakobfrederikson opened #23590 "curriculum/foundations/html_css/project/odin-project.png: copyright is out of date"
![Screenshot from 2022-02-15 11-47-49](https://user-images.githubusercontent.com/63636667/153959552-70db9a64-6921-42dc-a355-2f25eb565107.png)
Not sure if this is all too important, but the copyright says 2021 in 2022 :)
Image was downloaded from https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/landing-page under **Assignment**. I assume it would also need to be updated

[2022-02-14 23:21] samuelisch commented on #23586
Hi @zachmmeyer I'd like to take this as my first issue

[2022-02-15 00:06] #23248 closed

[2022-02-15 00:56] ArjunSaili1 commented on #23574
@LeoKirasic I would like to be assigned to this.

[2022-02-15 03:31] ArjunSaili1 commented on #23575
@LeoKirasic I'd like to be assigned to this issue

[2022-02-15 03:39] Ishmam156 commented on #23585
I would like to take this on if it's okay, @LeoKirasic ^_^

[2022-02-15 04:08] Maheshkumar-novice commented on #23284
@7ze

In case you don't know,

The node installation lesson mentioned above is now archived: https://github.com/TheOdinProject/curriculum/blob/main/foundations/installations/installing_node.md (you will get 404)
https://github.com/TheOdinProject/curriculum/blob/main/archive/installing_node.md (it's moved to archives)
So you don't need to update the above one. Instead you need to update the one bel

[2022-02-15 07:39] Ashvith opened #23593 "CSS Foundations: Introduction - Addition of Specifishity page for an in-depth understanding of CSS selectors"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [ ] I would like to be assigned this issue to work on it

**1. Description of the Fe

[2022-02-15 11:20] 01zulfi commented on #23571
@Maheshkumar-novice Thanks for bringing this up. The README as a whole is need of an update and it is being addressed in this PR: #23587

[2022-02-15 11:20] #23571 closed

[2022-02-15 11:45] liridonloku commented on #23584
@LeoKirasic I'd like to work on this.

[2022-02-15 11:46] LeoKirasic commented on #23584
@liridonloku Go for it !

[2022-02-15 11:52] liridonloku commented on #23584
@LeoKirasic a question: As of now, the lesson has one learning outcome and the corresponding knowledge check. Should I just provide the link to that, or do I need to expand and include more outcomes and checks?

Since all this lesson talks about is the concept itself and the range of screen sizes, I was thinking two learning outcomes would be appropriate, with the second being related to screen si

[2022-02-15 12:06] LeoKirasic commented on #23584
@liridonloku If learning outcomes and knowledge checks exist, we're only adding links to them. This is what these issues cover. If you think the lesson needs more learning outcomes and knowledge checks, it would be more appropriate to approach it by creating a new issue and seeing what the team thinks.

[2022-02-15 12:11] liridonloku commented on #23584
Ok then. I'm not sure if the lesson actually 'needs' that second learning outcome so I wont make another issue at the moment.

[2022-02-15 12:46] #23584 closed

[2022-02-15 13:32] #23585 closed, assigned to Ishmam156

[2022-02-15 13:46] #23586 closed

[2022-02-15 13:47] samuelisch commented on #23583
I'd like to take this please

[2022-02-15 13:53] #23574 closed

[2022-02-15 17:44] ArjunSaili1 commented on #23575
@LeoKirasic I'd like to be assigned to this

[2022-02-15 17:49] #23573 closed

[2022-02-15 17:50] LeoKirasic commented on #23575
@ArjunSaili1 Great, go for it!

[2022-02-15 17:51] LeoKirasic commented on #23582
@jernestmyers Thanks!

[2022-02-15 18:54] #23582 closed

[2022-02-15 21:29] jernestmyers commented on #23581
Happy to take on another one of these.

[2022-02-15 22:20] LeoKirasic commented on #23581
@jernestmyers Go for it!

[2022-02-15 23:14] samuelisch commented on #23580
I’d like to take this please @LeoKirasic

[2022-02-15 23:38] wise-king-sullyman commented on #23509
@Ska0 writing the Knowledge Check text if no Knowledge Checks exist already, but just adding links if the lesson already has Knowledge Checks.

[2022-02-16 00:42] LeoKirasic commented on #23580
Go for it! @samuelisch

[2022-02-16 04:03] Ishmam156 commented on #23579
I would like to take this on next please ^_^

[2022-02-16 10:05] LeoKirasic commented on #23579
@Ishmam156 Go for it!

[2022-02-16 11:55] khunhour commented on #23578
@LeoKirasic I would like to work on this.

[2022-02-16 12:19] fortypercenttitanium commented on #23590
@jakobfrederikson Can you post this in https://github.com/TheOdinProject/theodinproject/issues ? This is an issue with the website, not curriculum.

Thanks.

[2022-02-16 12:40] NotAtec commented on #23576
I'd like to take this on as a simple first issue to work on.
@LeoKirasic could you assign me to this issue?

[2022-02-16 12:46] fortypercenttitanium commented on #23590
Ignore my previous comment. I'm looking into this. Thank you.

[2022-02-16 12:53] fortypercenttitanium commented on #23590
Thanks for the heads up. I don't think this issue is necessary to tackle. Reuploading this image every year would be tedious and unnecessary, as its purpose is to just provide a template for learners to execute the styling and markup of a web page.

[2022-02-16 12:53] #23590 closed

[2022-02-16 13:05] MubashirWaheed commented on #23577
I would love to work on this issue

[2022-02-16 13:09] LeoKirasic commented on #23577
@MubashirWaheed Go for it!

[2022-02-16 13:09] LeoKirasic commented on #23576
@NotAtec Go for it!

[2022-02-16 13:09] LeoKirasic commented on #23578
@khunhour Go for it!

[2022-02-16 18:46] #23580 closed

[2022-02-16 19:11] Ashvith opened #23614 "CSS Foundations: Block and Inline - Add additional resources about margin collapse"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [ ] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [ ] I would like to be assigned this issue to work on it

**1. Description of the Fe

[2022-02-17 06:22] #22946 closed

[2022-02-17 17:21] #23576 closed

[2022-02-17 17:29] dm-murphy commented on #23577
@MubashirWaheed We merged your PR for the Introduction to Web Accessibility lesson.

The lesson for this issue was actually The Web Content Accessibility Guidelines (WCAG). Please let us know if you would still like to take on this lesson and make a new PR with this issue number (23577). You can find that lesson here: https://github.com/TheOdinProject/curriculum/edit/main/html_css/accessibility/wc

[2022-02-17 17:43] dm-murphy commented on #23583
@samuelisch Hi Samuel! We had a little mixup with the lesson files here for the Knowledge Check issues you handled. The PRs you submitted changed files in the wrong folder and we need them changed in the updated folder. This is our mistake for not having archived the old files.

Would you be willing to make new PRs with the same changes to the correct files?

One will be for this issue #23583 and

[2022-02-17 17:45] dm-murphy commented on #23580
@samuelisch Please see my comments in issue #23583 first that describe the file situation and our mistake. Again I apologize for any inconvenience.

If you would like to do a new PR for this issue here is the correct lesson file: https://github.com/TheOdinProject/curriculum/edit/main/html_css/accessibility/keyboard_navigation.md

[2022-02-17 19:15] NotAtec commented on #23577
Ah, just looking at this after seeing the re-opening of the lesson i've previously updated.
@dm-murphy I'll assume work from me on any of these 2 issues is no longer required?

[2022-02-18 00:15] dm-murphy commented on #23577
All good! The PR you submitted and we merged was actually for the older file that should have been archived. Our mistake for not pointing you in the right direction from the get go. That lesson is taken care of now so you don't have to worry about anything. Sorry for any inconvenience!

[2022-02-18 01:10] samuelisch commented on #23583
Hey @dm-murphy , would just like to confirm, I'll be adding knowledge checks (the same changes) to the files you've linked instead of earlier?

I'll be able to do that, will send a pull request when I'm done!

[2022-02-18 01:27] dm-murphy commented on #23583
@samuelisch Yes, just the same knowledge check changes to the files I linked in the issues. Thanks so much!

[2022-02-18 01:31] #23578 closed

[2022-02-18 06:42] #23575 closed

[2022-02-18 13:43] NotAtec commented on #23577
Alright good to know!
In that case @MubashirWaheed i'll assume you'll be taking on the WCAG lesson aswell?

[2022-02-19 02:50] #23577 closed, assigned to NotAtec

[2022-02-19 03:20] #23579 closed

[2022-02-19 04:03] DaeguDude opened #23632 "Hooks: React JS section - Add React docs beta in Additional Resources"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [x] I would like to be assigned this issue to work on it

**1. Description of the Fe

[2022-02-19 17:32] mgrigoriev8109 opened #23633 "Ruby Debugging: Update Lesson"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`
- [x] I would like to be assigned this issue to work on it

**1. Description of the Fea

[2022-02-19 18:47] rlmoser99 commented on #23633
In thinking about this issue, I want to make sure that this lesson keeps a few examples of using binding.pry, because it will be valuable to know it exists. This is important because when one gets a job, it is likely that they will be using a older version of ruby that does not support the new debugger.

Feel free to make a PR that is a work in progress to get feedback before fine-tuning it too mu

[2022-02-19 23:28] #22945 closed

[2022-02-21 00:06] thatblindgeye opened #23639 "Intermediate HTML and CSS course: Add separate lesson for Form Styling"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [ ] I would like to be assigned this issue to work on it

**1. Description of the Fe

[2022-02-21 03:33] 01zulfi commented on #23639
A lesson on Form Styling sounds good. We can pull out the sections and assignments on form styling from the [Form Basics lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-basics#a-note-on-styling-forms) and the [Form Validations lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lesson

[2022-02-21 10:28] ls-madhu opened #23640 "Additional resources for Object and Object Constructors lesson."
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [ ] I would like to be assigned this issue to work on it

**Description of the Featu

[2022-02-21 15:40] #23508 closed

[2022-02-21 16:53] wise-king-sullyman commented on #23509
@LeoKirasic this issue should be good to close then, correct?

[2022-02-21 17:00] LeoKirasic commented on #23509
@wise-king-sullyman Correct!

[2022-02-21 17:08] wise-king-sullyman commented on #23509
Closing because all of these items have been addressed, thanks @LeoKirasic and everyone else that helped with them!

[2022-02-21 17:08] #23509 closed

[2022-02-22 08:51] umprej commented on #23614
The topic of margin collapsing is mentioned in the the assignment part of the the previous lesson, [The Box Model](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/the-box-model), linking to this [MDN](https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model) page.

I agree that it's an interesting topic that might warrant being expanded upon in

[2022-02-22 13:21] 01zulfi commented on #23632
React Docs Beta would be an amazing addition to the curriculum.

The [existing React doc](https://reactjs.org/docs/hooks-intro.html) we link to explains the transition to functional components over class based components. Considering our React curriculum does the same (i.e focus on class-based components then transition to functional based), we can't really replace it.

Let's add it as an addition

[2022-02-22 16:25] NotAtec opened #23643 "Sign-up form project: Incorrectly assumes knowledge about :focus"
- [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
- [x] The title of this issue follows the `where the change occurs: brief description of request` format, e.g. `Global SCSS file: Buttons should have XYZ`

- [x] I would like to be assigned this issue to work on it

**1. Description of the En

[2022-02-23 15:06] 7ze commented on #23284
@Maheshkumar-novice sure, updating it

[2022-02-23 15:32] DaeguDude commented on #23632
I think it is really a great idea. [Context API in main React docs](https://reactjs.org/docs/context.html) is mix with class and function components, so it could confuse the learner who first encounters Context API. On the other hand, Context API in beta docs goes more in the linear fashion, therefore it is easier to understand. But do you think it's better to just link to the lesson '[Passing Dat

[2022-02-23 16:27] 01zulfi commented on #23632
I'm fine either way :smile:. I'll create a separate issue later for adding a section on Context API with a "Help Wanted" label. If you want to work on that, feel free to comment on it (assuming someone else doesn't get there first).

Thanks for elaborating here. I believe we should reword how the memory card presents this sentence.  Something like this: "The main goal of this project is to use hoo

[2022-02-23 17:13] 01zulfi opened #23646 "react-js: Add section on Context API in Advanced Concepts lesson"
**1. Description of the Feature:**

It's worth having a section on Context API in [React's Advanced Concepts lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/advanced-concepts). This section should briefly go over the API and why it's useful.

Relevant Issue: #23632

**2. Acceptance Criteria:**

- [ ] Add a heading called "Context API" right after Redux

[2022-02-24 00:25] Flinner opened #23649 "Bug - Ruby debugging section: Stack trace should be reversed"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-02-24 01:40] thatblindgeye commented on #23643
I would agree that the verbiage does not currently make sense any more with the order of lessons. I also don't think linking back to a previous lesson is bad per se, though whether it *needs* to be linked to here I don't have strong feelings on.

I also agree that users should instead be using the `:focus` pseudoclass instead of a focus class. I've assigned you the issue to work on if you'd still

[2022-02-24 01:48] #23531 closed

[2022-02-24 03:48] Ishmam156 commented on #23646
I would like to take this one if someone else hasn't already been assigned to it :)

Just a small discussion point, @01zulfi, what if the section of Context API comes right after the Redux section, which is currently number 3 as they share some similarities instead of it being at number 7? Or even number 6 feels a bit more flowy to me and then after this the last can be `more hooks`.

[2022-02-24 06:52] Maheshkumar-novice commented on #23649
@Flinner

I agree. That image's stack trace doesn't match the one ruby 2.7.4 produced.

Our curriculum's ruby version currently changed to 3.0.3. Looks like they reversed the stack trace again in ruby version 3. Can you verify that? But there is a difference in output of ruby version 3's stack trace and the one in the curriculum. But they both follow `Message & Stack trace` order.

![stack](https:

[2022-02-24 09:16] 01zulfi commented on #23646
According to the acceptance criteria, Context will be placed at number 6. But upon re-reading the Redux section, I do feel Context should come right after it. I've updated the acceptance criteria to place Context at number 4 (after Redux).

You've been assigned. Thanks for taking this on!

[2022-02-24 11:49] NotAtec commented on #23643
Awesome, i'll start working on it right away

[2022-02-24 12:21] IlyaEru opened #23651 "Bug - React section - Hooks: Broken link in Additional Resources"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-02-24 13:45] LeoKirasic commented on #23651
Hey, @IlyaEru. Thanks for creating an issue.

If someone wants to work on this, please comment on this issue and I'll assign you.

What needs to be done:

- Go to the [Web Archive](https://web.archive.org/) website and input the url of the first additional resource.
- Find a date with a working snapshot and copy its url.
- Follow the [Contributing guide](https://github.com/TheOdinProject/curriculu

[2022-02-24 18:16] msespos commented on #22951
I'd be happy to do this one @wise-king-sullyman - thanks!

[2022-02-24 23:55] LeoKirasic commented on #23651
@BlizZard-bot Assigned. Thank you!

[2022-02-25 03:52] DaeguDude commented on #23632
Okay! I will work on it and make a PR.

Yeah about this, I think both seems okay. After working on this I can make a PR about this and discuss there :)

[2022-02-25 15:24] #23651 closed

[2022-02-25 23:01] hugompt opened #23659 "Bug - Foundations PROJECT ETCH-A-SKETCH : broken link"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-02-25 23:52] zachmmeyer commented on #23659
Fixed with #23660

[2022-02-25 23:52] #23659 closed

[2022-02-26 00:40] hugompt commented on #23659
This was fast, thanks for the speedy action!

[2022-02-26 02:30] #23643 closed

[2022-02-26 07:13] #23632 closed

[2022-02-27 01:46] khunhour opened #23667 "Bug - a-deep-look-at-Git:`## Header` not displaying properly in TOP markdown"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-02-27 14:52] twentysixhugs opened #23669 "Bug - Testing basics in JS lesson: Unrelated questions from a future lesson and link to that lesson's assignment"
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is OPTIONAL:

-   [ ] I would like to be assig

[2022-02-27 15:04] LeoKirasic commented on #23669
@BlizZard-bot Great. go for it!

[2022-02-28 05:25] #22944 closed

[2022-02-28 05:26] #22941 closed

[2022-02-28 11:02] #23669 closed

[2022-02-28 11:17] LeoKirasic commented on #23640
@ls-madhu, is there anything not covered by the already existing additional resources or lesson that the articles cover? We want to avoid having **too** many additional resources.

[2022-02-28 13:57] 01zulfi commented on #23667
Thanks for creating this issue. Looks like it's already being addressed in https://github.com/TheOdinProject/curriculum/pull/23664/.

[2022-02-28 13:57] #23667 closed

[2022-02-28 14:45] ls-madhu commented on #23640
@LeoKirasic No, everything is covered in the existing resources. But IMO the explanation in these articles are easy for beginners to understand.

[2022-02-28 15:49] #23568 closed

[2022-03-01 13:37] #23243 closed

[2022-03-01 13:41] LeoKirasic commented on #23640
@ls-madhu The articles you linked are good articles. Thanks for making the issue!

If anyone would like to work on this, please tag me and I'll assign you.

We should add one additional resource, containing both of the links, since they're written by the same person and are best read in order. For clarification, [A Beginner’s Guide to JavaScript’s Prototype](https://medium.com/free-code-camp/a-beg

[2022-03-02 00:56] DaeguDude commented on #23640
Can I take this one?

[2022-03-02 02:06] #23646 closed

[2022-03-02 15:16] LeoKirasic commented on #23640
@DaeguDude Go for it!

[2022-03-02 16:50] eltonbautista opened #23687 "Bug - : Project: Restaurant Page wrong command"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-02 17:48] LeoKirasic commented on #23687
@eltonbautista Although I understand where you're coming from, having it this way could be beneficial to the learner because they get the hands on knowledge of how both commands work and how they differ, and since it's an actual project, not a lesson like when it gets introduced it could be useful for the learners to be able to input the information that they want from the CLI.

[2022-03-02 19:17] eltonbautista commented on #23687
Right that makes sense, I was a bit thrown off by the description of Step 1(1) since I expected to run "npm init" and have it generate a package.json file since that's what it claims will happen, but rather I was hit with something unfamiliar. I wasn't really sure how to proceed with it so I just ended up killing the process and defaulting to "npm init -y", was this something that was already cove

[2022-03-03 13:36] LeoKirasic commented on #23687
@eltonbautista It's mentioned in the ES6 Modules lesson. I think we would want to keep it the way it is.

[2022-03-03 14:07] #23246 closed

[2022-03-03 14:09] #23244 closed

[2022-03-03 15:39] dm-murphy opened #23694 "Ruby's How this course will work: Remove optional Ruby materials"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-03-03 15:43] dm-murphy commented on #23694
@msespos please leave a comment here if you are still up for this PR and I can assign the issue to you. Thanks again for bringing this one up for discussion!

[2022-03-03 15:58] msespos commented on #23694
Happy to do this PR - thanks for the opportunity @dm-murphy !

[2022-03-03 15:58] Flinner commented on #23649
yes it got reversed in v3, do i close the issue?

[2022-03-03 16:11] Maheshkumar-novice commented on #23649
It reversed but you can see there is a slight difference in stack trace order between the one in the curriculum and current ruby v3 trace.

[2022-03-03 19:38] #23694 closed

[2022-03-03 20:54] eltonbautista commented on #23687
I must have missed it in the ES6 Modules Lesson, I tend to do that! Just thought I would bring it up, didn't think it was a **real** issue. Thanks!

[2022-03-03 20:54] #23687 closed

[2022-03-03 21:27] mgrigoriev8109 commented on #23639
Not sure if zulfi was interested in working on this one - but if not then could I be assigned this issue?

[2022-03-04 02:10] #23633 closed

[2022-03-04 02:14] #22951 closed

[2022-03-04 07:12] 01zulfi commented on #23639
@mgrigoriev8109  Thank you for showing interest and offering to work on this issue. Unfortunately, the issue is under discussion as signified by the "Status: Discussion" label. An acceptance criteria hasn't been decided yet.

If you have any thoughts, or any points of discussion you'd like to bring up regarding the issue, please feel free.

[2022-03-04 10:27] CouchofTomato commented on #23649
I don't mind the image being updated to the latest ruby 3 output if anyone wants to take that on

[2022-03-04 10:31] Maheshkumar-novice commented on #23649
Okay. :+1:

@Flinner Can you take that on?

[2022-03-04 11:38] mgrigoriev8109 commented on #23639
I understand, apologies for improperly commenting, I'll pay closer attention to the tags in the future.

The only point of discussion I would have to offer is placement. If it seems like a good idea, I did notice going through the assignment that the second Forms Styling assignment, the internetingishard resource, uses properties like box-shadow.

For this reason I wondered if it would be appropri

[2022-03-05 02:19] dkurus opened #23706 "Bug: Embedded codepen in lesson not editable"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [] I woul

[2022-03-05 02:23] #23706 closed

[2022-03-05 06:01] ls-madhu opened #23707 "Bug - : Heading in Introduction to node"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-05 16:03] #23228 closed

[2022-03-05 17:28] msespos commented on #22950
Happy to work on this one. Thanks!

[2022-03-06 06:01] 01zulfi opened #23715 "Turbo lesson: Fix typo on line 348"
### Description

There's a typo on [line 348 in turbo.md](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/rails_sprinkles/turbo.md?plain=1#L348). "initally should be "initially".

### Acceptance Criteria

- [ ] Change "initally" to "initally"

### Additional Information

Please comment on this issue to be assigned. Only start working on the pull request after you've been a

[2022-03-06 06:01] 01zulfi opened #23716 "CSS bundling lesson: Fix typo on line 59"
### Description

There's a typo on [line 59 in css_bundling.md](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/rails_sprinkles/css_bundling.md?plain=1#L59). "everytime" should be change to "every time".

### Acceptance Criteria

- [ ] Change "everytime" to "every time"

### Additional Information

Please comment on this issue to be assigned. Only start working on the pull

[2022-03-06 06:01] 01zulfi opened #23717 "Importmap lesson: Fix typo on line 167"
### Description

There's a typo on [line 167 in importmap.md](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/the_asset_pipeline/importmap.md?plain=1#L167). "specifiation" should be changed to specification".

### Acceptance Criteria

- [ ] Change "specifiation" to "specification"

### Additional Information

Please comment on this issue to be assigned. Only start working

[2022-03-06 08:14] 01zulfi commented on #23717
Thanks, assigned!

[2022-03-06 08:25] samuelisch commented on #23716
I'd like to work on this issue please @01zulfi

[2022-03-06 08:27] 01zulfi commented on #23716
Thanks, assigned!

[2022-03-06 08:40] samuelisch commented on #23716
Thank you, I've sent a pull request to close this issue, do let me know if there's any problems with it!

[2022-03-06 08:41] samgliu commented on #23715
I would like to learn to fix it as my first contribution practice. Thank you.

[2022-03-06 08:45] 01zulfi commented on #23715
Thanks, assigned!

[2022-03-06 08:47] #23716 closed

[2022-03-06 09:20] samgliu commented on #23715
I've sent a pull request to close this issue. If it has any issues, please let me know. Thanks.

[2022-03-06 09:50] #23715 closed

[2022-03-07 02:50] #23717 closed

[2022-03-08 00:30] bananabread08 opened #23730 "Bug - Javascript : In OOP Principles, #2 Resource in Assignment is a dead link."
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-08 14:46] khitermedachraf opened #23732 "Bug - In curriculum/html_css/project_media.md [Dead Links & Markdown]"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-08 19:30] LeoKirasic commented on #23732
Hey, @khitermedachraf. Thanks for creating that issue. However, that lesson isn't a part of the curriculum anymore and is in the archived directory now.

Going to close the issue because of that.

[2022-03-08 19:30] #23732 closed

[2022-03-08 20:32] Magmusacy opened #23733 "Bug - : Un-escaped </span> elements in ROR SESSIONS COOKIES, AND AUTHENTICATION lesson"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-09 00:15] LeoKirasic commented on #23730
Resolved with #23711

[2022-03-09 00:15] #23730 closed

[2022-03-09 02:27] 01zulfi commented on #23733
Thank you for pointing this out. As far as I can tell, it's most likely the line breaks that cause this.

Here's the acceptance criteria:

- [ ] Navigate to [sessions_cookies_authentication.md](https://github.com/TheOdinProject/curriculum/blob/main/rails_programming/forms_and_authentication/sessions_cookies_authentication.md).
- [ ] Move the ending tag of  `<span id="flash-message">` on the same l

[2022-03-09 03:24] BLooDBRothER opened #23737 "Bug - NodeJS section: Improve this lesson on GitHub contains wrong link"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-09 06:47] ls-madhu commented on #23707
@01zulfi  Why remove all of them, since other underscores are not causing any problem. And how about replacing ```_``` with ```*```, will it still cause the problem.

[2022-03-09 12:28] 01zulfi commented on #23707
@ls-madhu This is the line I'm referring to:

[code]

Markdown parser at the Odin website wraps all the text in underscores in an `em` element. It works fine in paragraph text on the website, but it does not work in lesson headings for now. That's why I've asked to remove them so the heading renders correctly. Unfortunately, `*` will not work either.

The above acceptance criteria still holds if a

[2022-03-09 12:31] 01zulfi commented on #23737
@BLooDBRothER Thanks for reporting. This PR was just merged, which should hopefully fix this.

- https://github.com/TheOdinProject/theodinproject/pull/2705

[2022-03-09 13:15] #23733 closed

[2022-03-09 13:39] SemiSentientFungus opened #23741 "Bug - :HTML Examples not visible in HTML excercises using CODEPEN"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-09 14:18] #23707 closed

[2022-03-09 15:01] khitermedachraf commented on #23732
Okey dear brother

[2022-03-10 10:28] BlizZard-bot opened #23746 "Organizing Your JS Code: Add resource on this context"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-10 13:03] 01zulfi opened #23748 "form-validations: Change "Minimum and Maximum Validations" lesson heading"
**1. Description:**

The "Minimum and Maximum Validations" lesson heading in the [Forms Validation lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-validation#minimum-and-maximum-validations) can be improved to "Number Range Validations".

Benefits:
 - The new title is easily distinguishable from the previous subheadings of "Minimum

[2022-03-10 13:15] 01zulfi commented on #23748
Thanks, assigned!

[2022-03-10 15:00] #23748 closed

[2022-03-10 17:41] mgrigoriev8109 opened #23753 "Bug - : Rails Project Forms: Authentication Token error fails to appear"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`
-   [x] I would like to be

[2022-03-10 21:10] RolandStuder commented on #23753
This is a symptom of a bigger thing, generally the forms lesson is not up to date, updating it is actually somewhat a challenge, since forms now request a TurboStream, so one has to opt out of that, which is somewhat hard to explain, especially since the scaffold generator is not even using turbo streams but is returning a render with `status :unprocessable_entity`.

So just suggesting to use a `d

[2022-03-10 21:50] RolandStuder opened #23755 "Rails course: Update Forms Lessons to Rails 7"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`
-   [x] I would like to be assigned this issue to

[2022-03-11 11:28] 01zulfi opened #23761 "More Text Styles lesson: add paragraph on font file formats"
Lesson: [More Text Styles](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/more-text-styles)

**1. Description:**

The [Downloaded file fonts subsection of the lesson](https://github.com/TheOdinProject/curriculum/blob/main/html_css/intermediate_css/more-text-styles.md?plain=1#L51) has a code snippet where a `.woff` font file is utilized. It is w

[2022-03-11 11:31] 01zulfi opened #23762 "More Text Styles lesson: update font-style subsection"
Lesson: [More Text Styles](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/more-text-styles)

**1. Description:**

The [font-style subsection](https://github.com/TheOdinProject/curriculum/blob/main/html_css/intermediate_css/more-text-styles.md?plain=1#L70) can be improved. It should be split into two paragraphs and it should link to the [emphasi

[2022-03-11 11:32] 01zulfi opened #23763 "More Text Styles lesson: change "I" to "we""
**1. Description:**

Reason: for consistency throughout the lesson.

**2. Acceptance Criteria:**

- [ ] Change "I" to "we" on [line 112 in more-text-styles.md](https://github.com/TheOdinProject/curriculum/blob/main/html_css/intermediate_css/more-text-styles.md?plain=1#L112)

**3. Additional Information:**

If anyone wants to work on this, please comment to be assigned.

[2022-03-11 13:39] trekitch commented on #23761
Hello! I can take this one

[2022-03-11 14:35] Mogoatlhe commented on #23763
Hello, I would like to work on this seemingly hard and challenging task please, thank you!

[2022-03-11 14:36] Mogoatlhe commented on #23763
Hello, I would like to work on this seemingly hard and challenging task please, thank you!

[2022-03-11 15:17] ItsKatato commented on #23762
I made the PR! Please let me know if anything needs to be changed.

[2022-03-11 15:21] Flinner commented on #23649
whoops closed the issue,
don't think i can do it this month, I think someone else can take it

[2022-03-11 15:27] Maheshkumar-novice commented on #23649
Okay :+1:  I will update it. Thanks for bringing this up!

[2022-03-11 18:00] #23763 closed

[2022-03-11 18:31] thatblindgeye opened #23928 "Style Guide - Foundations/Introduction: Learning Outcomes and Knowledge Checks"
# Foundations/Introduction Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 18:36] thatblindgeye opened #23929 "Style Guide - Foundations/Installations: Learning Outcomes and Knowledge Checks"
# Foundations/Installations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 18:39] thatblindgeye opened #23930 "Style Guide - Foundations/Git Basics and The Back End: Learning Outcomes and Knowledge Checks"
# Foundations/Git Basics and The Back End Sections

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUI

[2022-03-11 18:47] thatblindgeye opened #23931 "Style Guide - Foundations/HTML Foundations: Learning Outcomes and Knowledge Checks"
# Foundations/HTML Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [

[2022-03-11 18:52] thatblindgeye opened #23932 "Style Guide - Foundations/CSS Foundations: Learning Outcomes and Knowledge Checks"
# Foundations/CSS Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [T

[2022-03-11 18:54] thatblindgeye opened #23933 "Style Guide - Foundations/Flexbox: Learning Outcomes and Knowledge Checks"
# Foundations/Flexbox Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-11 18:59] thatblindgeye opened #23934 "Style Guide - Foundations/JavaScript Basics 1: Learning Outcomes and Knowledge Checks"
# Foundations/JavaScript Basics 1

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The O

[2022-03-11 19:03] thatblindgeye opened #23935 "Style Guide - Foundations/JavaScript Basics 2: Learning Outcomes and Knowledge Checks"
# Foundations/JavaScript Basics 2

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The O

[2022-03-11 19:09] thatblindgeye opened #23936 "Style Guide - Foundations/Introduction: Additional Resources"
# Foundations/Introduction Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 19:12] thatblindgeye opened #23937 "Style Guide - Foundations/Installations: Additional Resources"
# Foundations/Installations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 19:14] thatblindgeye opened #23938 "Style Guide - Foundations/Git Basics, The Back End, and Conclusion: Additional Resources"
# Foundations/Git Basics, The Back End, and Conclusion Sections

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAY

[2022-03-11 19:17] thatblindgeye opened #23939 "Style Guide - Foundations/HTML Foundations: Additional Resources"
# Foundations/HTML Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [

[2022-03-11 19:29] thatblindgeye opened #23940 "Style Guide - Foundations/CSS Foundations: Additional Resources"
# Foundations/CSS Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [T

[2022-03-11 19:31] thatblindgeye opened #23941 "Style Guide - Foundations/Flexbox: Additional Resources"
# Foundations/Flexbox Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-11 19:33] thatblindgeye opened #23942 "Style Guide - Foundations/JavaScript Basics 1: Additional Resources"
# Foundations/JavaScript Basics Section 1

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) an

[2022-03-11 19:36] thatblindgeye opened #23943 "Style Guide - Foundations/JavaScript Basics 2: Additional Resources"
# Foundations/JavaScript Basics Section 2

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) an

[2022-03-11 19:56] thatblindgeye opened #24188 "Style Guide - Foundations/Introduction: Assignments"
# Foundations/Introduction Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 19:58] thatblindgeye opened #24236 "Style Guide - Foundations/Installations: Assignments"
# Foundations/Installations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-11 20:00] thatblindgeye opened #24237 "Style Guide - Foundations/Git Basics and The Back End: Assignments"

[2022-03-11 20:13] thatblindgeye opened #24238 "Style Guide - Foundations/HTML Foundations: Assignments"
# Foundations/HTML Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [

[2022-03-11 20:18] thatblindgeye opened #24239 "Style Guide - Foundations/CSS Foundations: Assignments"
# Foundations/CSS Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [T

[2022-03-11 20:22] thatblindgeye opened #24240 "Style Guide - Foundations/Flexbox: Assignments"
# Foundations/Flexbox Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-11 20:52] thatblindgeye opened #24241 "Style Guide - Foundations/JavaScript Basics 1: Assignments"
# Foundations/JavaScript Basics Section 1

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) an

[2022-03-11 20:57] thatblindgeye opened #24242 "Style Guide - Foundations/JavaScript Basics 2: Assignments"

[2022-03-12 08:57] Maheshkumar-novice opened #23772 "Bug - Advanced grid properties lesson : Markdown heading bug"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-12 09:17] 01zulfi commented on #23772
@Maheshkumar-novice Thanks a lot for digging deep into this and writing out a detailed issue. We really appreciate it.

Your observations are correct: lesson headings on the website are transformed into links using JavaScript. This does not allow any other HTML element in the lesson heading yet. We are aware of this bug and hopefully it will be fixed soon.

For the time being, removing the backtic

[2022-03-12 12:43] 01zulfi opened #23774 "CSS Functions lesson: add a bullet item on CSS variables"
**1. Description:**

As far as I can tell, the [CSS functions lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/css-functions) has the first reference of CSS variables in the curriculum. It's worth mentioning what they are and that users will get a chance to learn them in a future lesson.

**2. Acceptance Criteria:**

- [ ] Add a bullet it

[2022-03-12 12:56] 01zulfi opened #23775 "CSS Functions lesson: update clamp() section"
**1. Description:**

The [clamp() section of the lesson](https://github.com/TheOdinProject/curriculum/blob/main/html_css/intermediate_css/css_math_functions.md?plain=1#L103) does not have ideal formatting. Additionally, it does not explain what the `clamp()` function actually does.

**2. Acceptance Criteria:**

- [ ] This code example should be transformed into its own code block rather than being

[2022-03-12 16:47] ItsKatato commented on #23774
I can take this one!

[2022-03-12 18:55] mattxmade opened #23776 "Form Basics Lesson: Name Attribute section wording could be improved"
https://github.com/TheOdinProject/curriculum/blob/2ee490d8ac551deb465bc0fd9abec6c52884fc33/html_css/intermediate_html/form-basics.md?plain=1#L89

Currently the latter part of the paragraph reads:

I propose the sentence be changed to:

If this would be acceptable, I'd be happy to take this on and submit a pull-request.

Thanks

[2022-03-12 20:30] mattxmade commented on #23775
Hi @01zulfi, I'd be happy to take this on.

If assigned, would this be OK to come after the list?

Thanks

[2022-03-13 07:13] #23762 closed

[2022-03-13 07:20] 01zulfi commented on #23775
@mattxmade Yes, your suggestion looks good. If need be, we can iterate over the changes in the pull request you make.

I've assigned you. Thanks for taking this on!

[2022-03-13 13:44] 01zulfi opened #23784 "Creating a Grid lesson: update Gap section"
**1. Description:**

The [Gap section of Creating a Grid lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/creating-a-grid#gap) alludes that `gap` can _only_ be used to set `column-gap` and `row-gap` to the same value. In fact, `gap` is a shorthand that also allows us to set different values for `column-gap` and `row-gap`. The [MDN doc on

[2022-03-13 13:50] #23772 closed

[2022-03-13 13:51] iawong commented on #23784
Hi, can I take this one?

[2022-03-13 14:39] #23775 closed

[2022-03-14 06:34] Maheshkumar-novice opened #23787 "Intermediate HTML & CSS: Update introduction"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-14 07:07] rokasgarmasukis commented on #23755
This is much needed update. At least as a quick fix mention adding `status: unprocessable_entity` to the `render` method in the controller and link to [this explanation](https://turbo.hotwired.dev/handbook/drive#redirecting-after-a-form-submission) in turbo handbook. This is where I had a lot of frustration errors simply not showing up.

[2022-03-14 12:16] DaeguDude opened #23788 "Bug - Getting started lesson in Node JS course: Javascript Course link does not work"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-14 13:13] 01zulfi opened #23789 "Advanced Grid Properties lesson: add reference links"
**1. Description:**

There are two places in the [Advanced Grid Properties lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/advanced-grid-properties) where links should help.

**2. Acceptance Criteria:**

- [ ] "[lesson on CSS functions](https://github.com/TheOdinProject/curriculum/blob/main/html_css/grid-lessons/advanced_grid_properties.

[2022-03-14 13:19] 01zulfi opened #23790 "Advanced Grid Properties lesson: move assignment reading to CSS Functions lesson"
**1. Description**

The [Advanced Grid Properties lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/advanced-grid-properties) links to an article on [min(), max(), and clamp()](https://web.dev/min-max-clamp/). This article has no reference of CSS Grid, hence it is better placed in the [CSS Functions lesson](https://www.theodinproject.com/p

[2022-03-14 13:34] 01zulfi commented on #23557
Zooming out is imperative in the CodePen examples for this lesson. Going through this lesson, it took me some time to figure out why the CodePen isn't showing what the lesson is trying to describe.

The lesson does have a suggestion that "[viewing at 0.5x or 0.25x would do us well](https://github.com/TheOdinProject/curriculum/blob/main/html_css/grid-lessons/advanced_grid_properties.md?plain=1#L36)

[2022-03-14 15:09] #23640 closed

[2022-03-14 16:46] CouchofTomato commented on #23755
Hey Roli, I opened a PR for a fix to this https://github.com/TheOdinProject/curriculum/pull/23797

If you want to take a look and let me know what you think

[2022-03-14 17:52] thatblindgeye commented on #23557
That can work. Rather than bolding the entire line, though, just using an inline heading (`**Change Zoom Levels:** ...` or something). I think we could be utilizing inline headings more often like this.

[2022-03-14 18:57] thatblindgeye commented on #23511
Apologies for the delay, I've added acceptance criteria to the first message in this issue. I also updated the issue title.

[2022-03-14 19:09] thatblindgeye commented on #21506
Closing as both PRs mentioned above have been merged

[2022-03-14 19:09] #21506 closed

[2022-03-14 19:10] thatblindgeye commented on #22929
Closing as this has been completed via the PR already linked to this issue.

[2022-03-14 19:10] #22929 closed

[2022-03-14 19:13] thatblindgeye commented on #23105
@EmilioAK @parent-tobias Would either of you have any opinions on the above comment?

[2022-03-14 19:14] thatblindgeye commented on #23235
@asadrjhk can you please provide an update on this issue?

[2022-03-14 19:15] ItsKatato commented on #23511
Hey y'all! I can take this one.

[2022-03-14 19:17] thatblindgeye commented on #23422
Moving this to our main TOP repo. @KevinMulhern not sure if this has been brought to your attention before.

[2022-03-14 20:33] asadrjhk commented on #23235
sorry for taking this much time, i'll submit the pr for this today.

[2022-03-14 20:34] thatblindgeye commented on #23235
Not a problem, just wanted to check since it's been a while since this issue has had activity 🙂

[2022-03-14 20:56] ItsKatato commented on #23511
Made the PR @thatblindgeye !

[2022-03-14 23:11] wise-king-sullyman commented on #22947
@thatblindgeye I may be confused (probably am) but  I don't see KCs on [that lesson ](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/active-record-callbacks)at all?

[2022-03-14 23:35] thatblindgeye commented on #22947
Ah yep, I got it mixed up with Active Record Basics.

[2022-03-15 05:53] ChargrilledChook commented on #23753
@RolandStuder I've noticed when using Rails 7 that form errors will not display unless you specify a status (that is not `:ok`) in the call to `render`. I'm _fairly_ certain this wasn't the case pre Rails 7 - have you encountered this at all? Would it also be related to turbo/drive changes?

[2022-03-15 06:16] ChargrilledChook opened #23802 "Ruby Course: Add Rubocop / Linting Lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-15 10:42] PerseveranceX opened #23803 "CSS FOUNDATIONS > Image Height and Width: Add example to make the height: auto effect more clear"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-15 12:55] #23774 closed

[2022-03-15 13:05] #23790 closed

[2022-03-15 13:07] #23789 closed

[2022-03-15 13:51] CouchofTomato commented on #23753
@ChargrilledChook

Yeah it's a turbo thing. I already have a PR waiting to be reviewed to address this in the lessons.

[2022-03-15 14:07] CouchofTomato commented on #23802
@ChargrilledChook

Sounds really good mate. Look forward to seeing what you come up with.

[2022-03-15 15:06] DasTapan opened #23804 "Bug - : DOM Manipulation and Events: Article link not working"
**1. Description of the Bug:**
        Inside the DOM Manipulation and Events section in the Foundation path of TOP. There is an article link about the Javascript callback function. The link is not working. Link Text is "HERE". The URL which is not working: https://briggs.dev/blog/understanding-callbacks

**2. How To Reproduce:**

1. Log in to TOP
2. Go to Foundation path
3. Go to DOM Manipulation

[2022-03-15 15:26] I3uckwheat commented on #23804
This was an issue with my own server, I will migrate this to Dev.to at some point to mitigate this.

[2022-03-15 18:14] LeoKirasic commented on #23787
Hey, @Maheshkumar-novice thanks for creating an issue for this!

Please make a PR re-wording the intro to include a mention of which of those concepts are covered later on in the advanced HTML/CSS course!

[2022-03-15 23:08] #23804 closed

[2022-03-16 12:01] Connair19 opened #23813 "Bug: JavaScript Fundamentals Part-3 has a broken link"
Complete the following REQUIRED checkboxes:

-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ x] I

[2022-03-16 12:52] 01zulfi commented on #23788
@DaeguDude Thanks for pointing this out, it definitely needs to be fixed.

You've been assigned!

[2022-03-16 14:42] mattxmade commented on #23776
Hi @LeoKirasic, I can take this one.

[2022-03-16 15:01] Maheshkumar-novice commented on #23787
Thanks. Sure I'll make a PR on or before this Sunday.

[2022-03-16 15:17] hugompt opened #23809 "Bug - Full Stack JavaScript -> JavaScript -> 1. How this course will work -> The Path : Broken links"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-16 21:06] thatblindgeye commented on #23803
I've assigned you, @PerseveranceX

I think an alternative suggestion would be using an image's actual sizes to help explain the effect of auto. For example, if an image's original size was 500px height and 1000px width, using the above CSS would result in a height of 250px. Except worded nicer 😆

I'm not overly fussed which verbiage is used, though. I think what you mentioned could work, and it mi

[2022-03-16 22:55] MLGabe opened #23816 "Pattern matching lesson - Ruby track: Concept explanation duplication"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-16 22:59] MLGabe opened #23817 "Pattern matching lesson - Ruby track: Weblink duplication"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-17 01:45] msespos commented on #22950
Just want to clarify something. This is the file rails_programming/apis/api_interfacing.md correct? I'm only checking because the filename doesn't match directly with the title of the lesson (Working with External APIs). I want to make sure I'll edit the correct file. Thanks!

[2022-03-17 15:42] twentysixhugs opened #23821 "Bug - React introduction: The article on Medium article comparing class and function components requires paid subscription for reading"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-17 16:18] 01zulfi opened #23822 "Transforms lesson: change lesson headings and fix knowledge check links"
**1. Description:**

The [Transforms lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/advanced-html-and-css/lessons/transforms) has two lesson headings that begin with a numeric character: [2D Transforms](https://www.theodinproject.com/paths/full-stack-javascript/courses/advanced-html-and-css/lessons/transforms#d-transforms) and [3D Transforms](https://www.theodinproject.

[2022-03-18 01:11] thatblindgeye commented on #23822
Before work is started on this, it'd be worth looking into what is causing this issue, whether it's a Markdown/GitHub thing or something in our code base.

[2022-03-18 09:25] #23788 closed

[2022-03-18 09:27] 01zulfi commented on #23822
Putting a "Status: Investigating" on this issue. If it's decided to go ahead with this change I'll assign you, @BlizZard-bot

[2022-03-18 11:56] 01zulfi opened #23828 "Transitions lesson: move an additional resource to assignment"
**1. Description:**

The [Transitions lesson](https://www.theodinproject.com/paths/full-stack-javascript/courses/advanced-html-and-css/lessons/transitions) has a knowledge check called "Why do you need to keep an eye on repaints?" which links to the [Debugging layout repaint issues triggered by CSS Transition article](https://dzhavat.github.io/2021/02/18/debugging-layout-repaint-issues-triggered-b

[2022-03-18 11:59] 01zulfi commented on #23822
After discussing with the team, we have decided to move ahead with this issue.

You're assigned, @BlizZard-bot!

[2022-03-18 12:10] ItsKatato commented on #23828
Hi! I could work on this!

[2022-03-18 12:21] martenmatrix opened #23829 "JavaScript React Testing Part 1: Avoid destructuring queries from render()"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-03-18 12:29] #23829 closed

[2022-03-18 12:30] martenmatrix commented on #23829
This is mentioned at the end of the article, I'm sorry.

[2022-03-18 13:27] #23828 closed

[2022-03-18 17:39] msespos commented on #22950
Pretty sure that's the right file, actually. Moving forward with this. Let me know if I am mistaken, please!

[2022-03-19 05:00] #23822 closed

[2022-03-19 07:46] regifronda commented on #22947
@wise-king-sullyman Hello! I would like to have a go at this one.

[2022-03-19 13:26] bappyasif opened #23840 "Bug - : React Testing Part 2 - assignment 01 reading material code is kind of errorneous!!"
im getting 'resolve' is not a function' when trying to run this bit of code, to me it makes sense too, but as im going through 'act api' provided reading materials ([link attached](https://github.com/mrdulin/react-act-examples/blob/master/sync.md)), and they used this snippet, and using it causing this error in console!!

[code]

assignment link: [react-testing-part-2](https://www.theodinproject.c

[2022-03-19 22:00] martenmatrix opened #23842 "React Advanced Concepts: withRouter was removed in v6 of react-router"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-19 22:12] martenmatrix commented on #23840
It seems like `act()` does not provide a `resolve` callback function (anymore?). You will have to call resolve() directly on a Promise object like `Promise.resolve()`. @bappyasif

[2022-03-20 00:58] tschew72 opened #23844 "Bug - : introduction-to-git page: Setting Up Git link is broken"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-20 13:36] bappyasif commented on #23840
okay, ill try to doing that, thanks :) @martenmatrix

[2022-03-20 13:39] marvingay opened #23847 "(Rails): Files and Serialization outdated resource"
Given we use Ruby 3, [Assignment #4](http://ruby.bastardsbook.com/chapters/io/) in the [Files and Serialization lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-programming/lessons/files-and-serialization-ruby-programming) contains syntax both in the examples and exercise that are out of date with the current documentation for the `open-uri` gem, resulting in unex

[2022-03-20 14:14] Maheshkumar-novice commented on #23649
Update: I'll make a PR on or before next Sunday.

[2022-03-20 16:12] martenmatrix commented on #23840
I find your motivation to contribute great, but issues are not the right place to discuss this. TOP got an awesome Discord, where you can ask your questions. It will be seen by many people, which are happy to help. You can join [here](https://discord.com/invite/fbFCkYabZB). However, from my understanding, I agree that the mocked `fetch()` function does not get called, and that the example might be

[2022-03-20 19:18] bappyasif opened #23849 "Bug - : header statement visual on site could do better, and not be so crammed with 'link icon'"
Header statements on curriculum chapters are too crowded with 'link icon' alongside them
![image](https://user-images.githubusercontent.com/19854521/159178649-9fbdc928-07cb-4857-83e7-d5d36ad1ac72.png)

we could use some 'spacing' between them and make it look bit more freeing than it is now!!

Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Proje

[2022-03-20 20:21] teephan91 opened #23850 "Bug - Motivation & Mindset section in Foundations: 404 link in the Learning Process part"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-20 23:21] trekitch commented on #23761
Changes made and in PR here: https://github.com/TheOdinProject/curriculum/compare/main...trekitch:patch-5

[2022-03-20 23:47] martenmatrix commented on #23840
I've looked at it again, and I think I found the issue. The writer has put all his code (even the React components in the test file) as you can see [here](https://github.com/mrdulin/react-act-examples/blob/master/act-examples.test.js). The test you are trying to re-produce looks like this in his code:
[code]
As you can see, this way, he definitely mocks the fetch() function. We were just confused

[2022-03-20 23:50] martenmatrix commented on #23840
Maybe adding a little note would help future readers understand this quicker. Like `Keep in mind that in the following article React components are written within the tests!`? What do you think? @bappyasif

[2022-03-21 00:20] linkonsat opened #23853 "Add explanation for having regex in javascript foundations lesson."
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-03-21 13:42] bappyasif commented on #23840
@martenmatrix thanks a lot, this makes a lot more sense now, and 'some sort of announcement' giving readers a heads up would be nice and appropriate, i would agree as well :)

[2022-03-21 14:12] bappyasif commented on #23840
now with that 'mock' function in place for fetch, it works just fine!! was that writer wanted us to discover that on our own!! here is how my code looks and passes in console....
[code]
thanks again @martenmatrix that was really helpful!! so what do we now about this, do we include this in 'announcement' somewhere!!

[2022-03-21 14:48] LeoKirasic commented on #23813
The link doesn't seem to be broken anymore, but it still links to the wrong heading.

Can you make a PR that changes the link to [this](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/fundamentals-part-1#how-to-run-javascript-code) heading?

[2022-03-21 15:27] #23784 closed

[2022-03-21 15:41] LeoKirasic commented on #23844
Thank you for creating the issue!

If someone wants to work on this, please tag me and I'll assign you.

This is what needs to be done:

- Get the link from the [Setting Up Git](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/setting-up-git) lesson.
- Follow the [Contributing Guide](https://github.com/TheOdinProject/curriculum/wiki/Contributing-Guide) and replace the l

[2022-03-21 16:07] LeoKirasic commented on #23844
@BlizZard-bot Go for it!

[2022-03-21 16:18] hugompt commented on #23809
Thank you for assigning me this issue! This is the 1st time I'm contributing to any OSS (I'm still learning using TOP), I'm following TOP guide for it, but I can't seem to find the actual page that needs fixing, I managed to reach here:
![image](https://user-images.githubusercontent.com/99179407/159304048-67f825f8-243d-42c5-a6b6-04f0a63e8cd7.png)
But searching the repo for that URL or "identifier_

[2022-03-21 17:55] LeoKirasic commented on #23844
@BlizZard-bot My bad! Thought it was updated to the correct one. Edited my original message.

[2022-03-21 17:58] #23844 closed

[2022-03-21 23:20] hugompt commented on #23809
Thanks a lot for the pointing in the right direction! I've fixed the links and created a PR like requested 👍

[2022-03-22 14:58] #23787 closed

[2022-03-22 15:03] #23809 closed

[2022-03-22 15:14] LeoKirasic commented on #23741
@SemiSentientFungus I can't seem to reproduce this. Can you confirm that you're still having this issue?

[2022-03-22 15:36] 01zulfi opened #23869 "Websockets and Actioncable lesson: fix broken assignment link"
**1. Description:**

The [Websockets and Actioncable lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/websockets-and-actioncable) has a link called Simple Messaging App. It links to [actioncable_lesson.md](https://github.com/TheOdinProject/curriculum/blob/main/ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md) in the curriculum repositor

[2022-03-22 15:41] LeoKirasic opened #23870 "Foundations course: Improve clean code lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-03-22 15:51] ItsKatato commented on #23869
Hi, I can work on this!

[2022-03-22 16:25] 01zulfi commented on #23869
@ItsKatato You've been assigned!

@nguyens20 Unfortunately, this issue is already assigned. Looking forward to your other contributions though!

[2022-03-22 19:30] bappyasif opened #23874 "Bug - : keep showing unable to complete modal, after clicking 'mark complete' from lesson"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-22 22:04] #23849 closed

[2022-03-23 04:03] #23869 closed

[2022-03-23 18:51] bappyasif opened #23883 "lorem ipsum is cited twice in 'Working with text' lesson!!"
previously 'lorem ipsum' was mentioned and linked twice, tried to adjust this together into where it was first mentioned and omitted from where it was last mentioned in additional resources

![image](https://user-images.githubusercontent.com/19854521/159774158-afcc67b5-492d-4c2f-9e4c-05813899b3d7.png)

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/working-with-text#a

[2022-03-24 10:44] LeoKirasic commented on #23850
Hey, @teephan91

Thank you for reporting this.

If anyone wants to work on this, please tag me and I'll assign you.
Here's what needs to be done:
- Go to the [Web Archive](https://web.archive.org/) website.
- Copy the broken link from the [lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/gearing-up#the-learning-process) to the web archive website.
- Get a workin

[2022-03-24 10:57] LeoKirasic commented on #23776
Closing because of explanation in #23832

[2022-03-24 10:57] #23776 closed

[2022-03-24 12:57] M3R14M opened #23886 "JavaScript Basics/Fundamentals Part 2: The instructions on Exercise 4 are unclear"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

<hr>

**1. Description of the Feature Request:**

[2022-03-24 15:06] #23850 closed

[2022-03-24 19:03] bappyasif opened #23889 "A probable inclusion of ` value as "stylesheet" ' for 'rel', in css foundations lesson"
as i was going through css-foundations lesson, i noticed we could have used that piece of information as well when explaining about [external css](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/css-foundations#adding-css-to-html)

currently it has: 'The rel attribute is required, and it specifies the relationship between the HTML file and the linked file'

and what im

[2022-03-24 19:41] GCENdel opened #23890 "Bug: Inspecting HTML and CSS chapter assignment link broken"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-03-24 23:41] Sparky-code commented on #22949
I can take on this issue (from TOP Discord)

[2022-03-24 23:53] wise-king-sullyman commented on #22950
@msespos sorry for the late reply, that was originally the lesson in question yes, but there has actually been an update to our file structure recently and I believe that now the lesson should be [this one](https://github.com/TheOdinProject/curriculum/blob/main/ruby_on_rails/apis/working_with_external_apis.md).

It should still be the same lesson, just under a different file name and in a differen

[2022-03-25 06:10] #23842 closed

[2022-03-25 06:13] #23883 closed

[2022-03-26 12:23] thatblindgeye opened #24326 "Style Guide - Foundations/Introduction: Lists and Code Blocks"
# Foundations/Introduction Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-26 12:29] thatblindgeye opened #24327 "Style Guide - Foundations/Installations: Lists and Code Blocks"
# Foundations/Installations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-26 12:33] thatblindgeye opened #24328 "Style Guide - Foundations/Git Basics, The Back End, and Conclusion: Lists and Code Blocks"
# Foundations/Git Basics, The Back End, and Conclusion Sections

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAY

[2022-03-26 12:36] thatblindgeye opened #24329 "Style Guide - Foundations/HTML Foundations: Lists and Code Blocks"
# Foundations/HTML Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [

[2022-03-26 12:38] thatblindgeye opened #24330 "Style Guide - Foundations/CSS Foundations: Lists and Code Blocks"
# Foundations/CSS Foundations Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [T

[2022-03-26 12:40] thatblindgeye opened #24331 "Style Guide - Foundations/Flexbox: Lists and Code Blocks"
# Foundations/Flexbox Section

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-26 12:42] thatblindgeye opened #24332 "Style Guide - Foundations/JavaScript Basics 1: Lists and Code Blocks"
# Foundations/JavaScript Basics Section 1

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) an

[2022-03-26 12:44] thatblindgeye opened #24333 "Style Guide - Foundations/JavaScript Basics 2: Lists and Code Blocks"
# Foundations/JavaScript Basics Section 2

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) an

[2022-03-27 12:59] bappyasif commented on #23889
@BlizZard-bot thanks for your feedback, and i dont disagree either, but having that 'statement' bit adjusted, as you just explained, would be more helpful!!

personally, i mostly worked with `rel='stylesheet'`, and had no real idea about those 'two other' options you just mentioned!! i would say, explaining it bit further, way you did regarding 'rel' would make more sense, i suppose!!

[2022-03-27 16:03] ItsKatato commented on #23890
I can take this issue once it gets the `help wanted` label.

[2022-03-27 16:48] GCENdel commented on #23890
Would it be possible for me to have a try at it? I'm unsure if I need permissions to access.

[2022-03-27 16:59] jay4170 opened #23904 "Testing Basics: Move note on import statements with Jest to previous page"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:
-   [ ] I wou

[2022-03-27 17:08] LeoKirasic commented on #23890
@GCENdel Go for it!

[2022-03-27 20:38] martenmatrix commented on #23840
@babbyasif I've just created a PR, which, if accepted, would add a little note next to the assignment. :)

[2022-03-27 22:08] GCENdel commented on #23890
Hope everything is formatted right, made sure to read through the guidelines thoroughly. Thanks for the opportunity!

[2022-03-28 08:39] #23890 closed

[2022-03-28 10:29] LeoKirasic commented on #23614
Learners will encounter margin collapsing twice in the previous lesson. Both on MDN and on css tricks. The "mastering margin collapsing" is linked in the MDN article that the learners have to do as an assignment as well, so if they are interested, they can further expand upon that.

Closing as we want to avoid redundancy.

[2022-03-28 10:29] #23614 closed

[2022-03-28 10:40] LeoKirasic commented on #23853
@linkonsat This sounds good to me!

[2022-03-28 12:14] DaeguDude commented on #23870
I didn't actually read Clean Code by Robert Cecil Martin, however, if just referencing javascript version of the book that's in the above is fine, I could work on it.

[2022-03-28 12:29] bappyasif commented on #23889
okay then, as there is nobody else is weighing in here on this, lets close this issue and be done with it, thanks @BlizZard-bot for your response and feedback, much appreciated, happy coding  :)

[2022-03-28 12:33] bappyasif commented on #23840
@martenmatrix thanks, lets hope it gets merged!! happy coding :)

[2022-03-28 14:48] Connair19 commented on #23813
Created the PR.
https://github.com/TheOdinProject/curriculum/pull/23910

[2022-03-28 17:21] zellko opened #23911 "Bug - Introduction to Grid : Broken link on the paragraphe "A Look Back at Flex""
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-28 17:35] nguyens20 commented on #23911
Can I work on this issue ?

[2022-03-28 23:09] thatblindgeye opened #24334 "Style Guide - Foundations: Image and Codepen Embeds"
# Foundations
This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin Project contribut

[2022-03-28 23:44] thatblindgeye opened #24335 "Style Guide - Foundations/Introduction: Headings and Section Placement"
# Foundations/Introduction

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin Pro

[2022-03-28 23:58] thatblindgeye opened #24336 "Style Guide - Foundations/Installations: Headings and Section Placement"
# Foundations/Installations

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin Pr

[2022-03-29 00:06] thatblindgeye opened #24337 "Style Guide - Foundations/Git Basics, The Back End, and Conclusion: Headings and Section Placement"
# Foundations/Git Basics, The Back End, and Conclusion

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE

[2022-03-29 00:13] thatblindgeye opened #24338 "Style Guide - Foundations/HTML Foundations: Headings and Section Placement"
# Foundations/HTML Foundations

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-29 00:19] thatblindgeye opened #24339 "Style Guide - Foundations/CSS Foundations: Headings and Section Placement"
# Foundations/CSS Foundations

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin

[2022-03-29 00:22] thatblindgeye opened #24340 "Style Guide - Foundations/Flexbox: Headings and Section Placement"
# Foundations/Flexbox

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The Odin Project

[2022-03-29 00:27] thatblindgeye opened #24341 "Style Guide - Foundations/JavaScript Basics 1: Headings and Section Placement"
# Foundations/JavaScript Basics 1

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The O

[2022-03-29 00:34] thatblindgeye opened #24342 "Style Guide - Foundations/JavaScript Basics 2: Headings and Section Placement"
# Foundations/JavaScript Basics 2:

This issue is part of the Style Guide Community Project, a way of offering members of The Odin Project community a chance to contribute to our curriculum. Users who wish to take part and contribute to any Style Guide issues should have thoroughly read the [layout style guide](https://github.com/TheOdinProject/curriculum/blob/main/LAYOUT_STYLE_GUIDE.md) and [The

[2022-03-29 12:54] 01zulfi commented on #23911
Thanks for creating this issue, @zellko!

Since @zellko checked the "I would like to be assigned this issue to work on it" checkbox, they've been assigned!

[2022-03-29 16:55] zellko commented on #23911
Thanks @01zulfi to assign me this issue. But someone was quicker than me and [already did a PR](https://github.com/TheOdinProject/curriculum/pull/23915), which was merged.

My first PR will be for next time!

[2022-03-30 06:09] jay4170 commented on #23904
Yes i agree, it would work well before the assignment.

[2022-03-30 13:29] 01zulfi commented on #23911
@zellko Right. Thanks for willing to contribute!

[2022-03-30 13:29] #23911 closed

[2022-03-30 13:33] 01zulfi commented on #23904
Thanks @jay4170 for the feedback. I'm opening this issue up for contributions.

Here's the acceptance criteria:

- [ ] Move the "[Special Note on using ES6 import statements with Jest](https://www.theodinproject.com/lessons/javascript-testing-practice#special-note-on-using-es6-import-statements-with-jest)" section before the Assignment section in the [Project: Testing Practice lesson](https://www.

[2022-03-30 13:54] 01zulfi opened #23918 "NodeJS's Getting Started lesson: fix an erroneous statement"
**1. Description:**

[Line 3 of the Getting Started lesson](https://github.com/TheOdinProject/curriculum/blob/main/nodeJS/introduction_to_nodeJS/getting_started.md?plain=1#L3) starts with "The project that comes right after this assignment... ". This is erroneous because there's a lesson that comes right after this, and the project the line is referring to is at the end of the [Introduction to Nod

[2022-03-30 13:59] ItsKatato commented on #23904
Hi @01zulfi , I would like to work on this.

[2022-03-31 00:32] zakia98 opened #23922 "Javascript Course: Instructions for Firebase users are unable to verify server side the user's completion time."
Complete the following REQUIRED checkboxes:
-   [ X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I

[2022-03-31 01:42] #23918 closed

[2022-03-31 01:44] #23904 closed

[2022-03-31 03:13] unsungNovelty opened #23923 "Bug - : Intermediate Git: Think like a git website mentioned in the lesson is down"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-31 12:06] Sagelyyy opened #23925 "Bug - : Javascript Path/Javascript and the Backend/Where's Waldo project - Recipes project link broken"
Complete the following REQUIRED checkboxes:
-   [ x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox

[2022-03-31 14:12] eltonbautista opened #23926 "Moving the fetch docs in the Working with APIs lesson"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-03-31 22:49] iawong commented on #23934
Can I take this?

[2022-03-31 22:51] nguyens20 commented on #23928
Can I take this one ?

[2022-03-31 22:53] iawong commented on #23930
Can I take this one?

[2022-03-31 23:11] ItsKatato commented on #23931
Hi, I would like to work on this one!

[2022-03-31 23:46] thatblindgeye commented on #23934
@iawong you got it! If you have any questions feel free to ask 🙂

[2022-03-31 23:46] thatblindgeye commented on #23928
@nguyens20 you got it! If you have any questions feel free to ask 🙂

[2022-03-31 23:48] thatblindgeye commented on #23930
@iawong for now I'd like to leave this open for other contributors who have not yet picked up an issue for this project. Once you wrap up the other issue you commented on, if nobody else has commented on this one, I'd be glad to assign you though 🙂

[2022-03-31 23:48] thatblindgeye commented on #23931
@ItsKatato you got it! If you have any questions feel free to ask 🙂

[2022-04-01 00:10] iawong commented on #23930
Okay, I understand. Thank you.

[2022-04-01 00:19] thatblindgeye commented on #23942
@williamw29 you got it! If you have any questions feel free to ask 🙂

[2022-04-01 04:36] 01zulfi commented on #23925
Thanks for creating this issue!

Here's the acceptance criteria for anyone who wants to work on this:

- [ ] Replace the broken link to the Recipes project with the correct one in Assignment 1 of [Project: Where's Waldo](https://www.theodinproject.com/lessons/node-path-javascript-where-s-waldo-a-photo-tagging-app)

Please comment to be assigned!

[2022-04-01 04:45] rcamach7 opened #23951 "Bug - What You Can Do To Prepare : dead link"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-04-01 04:48] ItsKatato commented on #23925
I would like to be assigned, please!

[2022-04-01 07:28] Breadpaw commented on #23943
I checked and saw that this Additional Resources section is completely according the style guide. It seems that the issue can be closed with no action required.

[2022-04-01 10:46] thatblindgeye commented on #23943
@Breadpaw There are still updates required in the lessons mentioned in the Acceptance Criteria. Some might need more of a minor update (changing "other content" to "related content" in the verbiage), while others require the Additional Resources section to be added completely.

[2022-04-01 12:55] Rmg92 commented on #23932
Can I work on this one?

[2022-04-01 14:58] grmnmtz commented on #23933
Hello, I'd like to work on this one.

[2022-04-01 15:47] Breadpaw commented on #23943
@thatblindgeye I see I have completely misread the issue description :) I get the scope of it now, though. I'd love to work on it.

[2022-04-01 17:06] thatblindgeye commented on #23943
@Breadpaw no worries! If you do catch any mistakes on my part definitely call them out! And you're assigned, any questions also feel free to ask 🙂

[2022-04-01 17:07] thatblindgeye commented on #23933
@grmnmtz you got it! If you have any questions don't hesitate to ask 🙂

[2022-04-01 17:08] thatblindgeye commented on #23932
@Rmg92 all yours! Any questions don't hesitate to ask 🙂

[2022-04-01 17:42] hoad211 commented on #23941
Hi! Could I take this one please?

[2022-04-01 20:08] zellko commented on #23940
Hi ! Can I get this one ? :-)

[2022-04-01 22:36] thatblindgeye commented on #23941
@hoad211 all yours! Don't hesitate to ask any questions 🙂

[2022-04-01 22:37] thatblindgeye commented on #23940
@zellko you got it! Feel free to ask any questions if you have any 🙂

[2022-04-02 01:27] Overlandcoder commented on #23929
Hi, I'd like to work on this please!

[2022-04-02 03:26] ItsKatato commented on #23951
When an article is gone you can try using [archive.org](https://archive.org/web/) to find what you're looking for.

I think this is the proper article: [Control Your Online Reputation](https://web.archive.org/web/20201123201302/https://www.monster.com/career-advice/article/control-your-online-reputation)

[2022-04-02 06:03] #23925 closed

[2022-04-02 06:12] 01zulfi commented on #23951
Thanks @ItsKatato for finding a working link to the article. 🎉

@rcamach7 You've been assigned; here's the acceptance criteria:

- [ ] Replace the broken "Control Your Online Reputation" link with https://web.archive.org/web/20201123201302/https://www.monster.com/career-advice/article/control-your-online-reputation

[2022-04-02 10:49] francescobbo opened #23957 "Bug Project: Installing Rails: heroku deployment fails on M1 Mac"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-04-02 16:17] Sankalp-G commented on #23937
Hi there! I'd be glad to work on this one.

[2022-04-03 00:53] PotaytoDev opened #23962 "Bug: Link directs to a page that no longer works as intended"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-04-03 01:40] rcamach7 commented on #23951
Copy that, thanks for the info! PR submitted

[2022-04-03 03:57] Ishmam156 commented on #23938
I would like to take this on, if possible :)

[2022-04-03 04:20] #23951 closed

[2022-04-03 13:04] abarnes1 commented on #23962
There's an open PR that fixes this link:
https://github.com/TheOdinProject/curriculum/pull/23948

[2022-04-03 15:58] captainnairauk commented on #23935
Hi, I would like to work on this one.

[2022-04-03 17:29] martenmatrix commented on #23923
The site is back up. @unsungNovelty

[2022-04-03 18:56] gefgu commented on #23939
Hi! Can I get assigned to this job?

[2022-04-03 22:49] thatblindgeye commented on #23929
You've been assigned! Feel free to ask any questions you might have 🙂

[2022-04-03 22:51] thatblindgeye commented on #23937
Just for future reference, be sure to wait until being assigned an issue before working on anything. Luckily not a big deal here, but it can definitely be helpful for everyone and avoid as much confusion and such as possible 🙂 Thank you for being willing to take this on either way, though!

[2022-04-03 22:51] thatblindgeye commented on #23938
You've been assigned! Feel free to ask any questions you might have 🙂

[2022-04-03 22:52] thatblindgeye commented on #23935
You've been assigned! Feel free to ask any questions you might have 🙂

[2022-04-03 22:52] thatblindgeye commented on #23939
You've been assigned! Feel free to ask any questions you might have 🙂

[2022-04-03 23:05] KevinMulhern commented on #23962
Resolved with: https://github.com/TheOdinProject/curriculum/pull/23948

[2022-04-03 23:05] #23962 closed

[2022-04-03 23:08] #23931 closed

[2022-04-03 23:11] ItsKatato commented on #23936
Hi 👋🏾
I would like to be assigned!

[2022-04-03 23:19] #23934 closed

[2022-04-03 23:19] thatblindgeye commented on #23930
@iawong did you still want to pick this up?

[2022-04-03 23:21] iawong commented on #23930
Yes, please.

[2022-04-03 23:25] #23943 closed

[2022-04-03 23:26] thatblindgeye commented on #23936
You got it!

[2022-04-03 23:27] thatblindgeye commented on #23930
All yours!

[2022-04-03 23:30] #23940 closed

[2022-04-03 23:32] #23937 closed

[2022-04-04 05:26] Ishmam156 commented on #23938
@thatblindgeye

A small query regarding two out of the five lessons: Introduction to Git and Git Basics.

Duplicates of these lessons seems to exist in 2 folders of the curriculum repo:
foundations/git_basic
git/foundations_git

Should I do the changes on both folders or should it be done in any one of them and if so, which one should it be :)

[2022-04-04 10:46] thatblindgeye commented on #23938
@01zulfi can you provide assistance to the question above?

[2022-04-04 12:26] 01zulfi commented on #23938
@Ishmam156 Thanks for asking.

Files you'd want to change should be in the [`git/foundations_git`](https://github.com/TheOdinProject/curriculum/tree/main/git/foundations_git) folder. The duplicate files present in the `foundations/git_basics` folder will be moved to archive soon.

[2022-04-04 12:53] #23840 closed

[2022-04-04 13:21] Sparky-code commented on #22949
Status: Ongoing, got pushed out a bit due to bootcamp and work
Avail: ~1hr on evenings this week
ETA; End of week
Blockers: None at the moment

[2022-04-04 17:02] nguyens20 commented on #23928
I accidentally closed the entire PR by not knowlingly deleting a fresh PR I made for the same issue. Sorry ! I will be making 2 new PR to entirely fix this issue.

[2022-04-04 21:32] #23803 closed

[2022-04-04 21:42] #23928 closed

[2022-04-05 00:03] ItsKatato opened #23975 "Layout Style Guide: Unordered lists explanation"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-04-05 00:08] thatblindgeye commented on #23975
You're assigned, @ItsKatato !

[2022-04-05 04:01] unsungNovelty commented on #23923
![image](https://user-images.githubusercontent.com/11845908/161676293-46443a55-a2cc-48c7-9cba-8cb0f58c569d.png)

@martenmatrix - Firefox, Firefox Developer edition and Chromium can't reach the website. Could you please double check?

[2022-04-05 04:13] Ishmam156 commented on #23938
Thank you for the clarification, @01zulfi ^_^ Preparing a PR shortly.

[2022-04-05 11:25] martenmatrix commented on #23923
@unsungNovelty The site does not have an SSL certificate. You have to access the site over HTTP. I assume you are using a plugin, which automatically changes HTTP links to HTTPS links.

[2022-04-05 20:17] mothodical opened #23981 "Bug - HTML Foundations, Links & Images: Assignment Link 4 Dead"
Complete the following REQUIRED checkboxes:
-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox

[2022-04-06 02:29] unsungNovelty commented on #23923
Thanks @martenmatrix ! The website is accessible. Closing this.

[2022-04-06 02:29] #23923 closed

[2022-04-06 03:40] mothodical commented on #23981
The website is back up, so this bug is fixed.

[2022-04-06 03:40] #23981 closed

[2022-04-08 08:54] CouchofTomato commented on #23957
Hey @francescobbo

Sorry for the delay.

https://devcenter.heroku.com/articles/heroku-cli did you try installing via brew as per the instructions here?

[2022-04-08 08:58] CouchofTomato commented on #23847
@marvingay It is mentioned the code examples are outdated but an updated resource would be good. From a quick search https://blog.kiprosh.com/serialization_in_ruby_on_rails_part_one/ looks proromising (part 1) because it covers marshalling as well.

[2022-04-08 15:37] francescobbo commented on #23957
Hi @CouchofTomato , the problem is not about installing the heroku-cli, rather during the first deployment with `git push`.

The Gemfile.lock on the local machine will "lock" the `arm64-darwin-21` architecture (this for the gems that come with C extensions). Heroku runs on x86_64, so `bundle install` will fail.

[2022-04-08 20:35] CouchofTomato commented on #23957
@francescobbo So you think we just need to add that command into our instructions from point 5 in your original post?

[2022-04-08 20:45] CouchofTomato commented on #23957
I've had a look and it seems it's just recommended for rails 7 apps in general now

https://devcenter.heroku.com/articles/getting-started-with-rails7#create-a-new-or-upgrade-an-existing-rails-app

We just need to add the following to the instructions

`bundle lock --add-platform x86_64-linux --add-platform ruby`

Are you interested in making a PR @francescobbo since you opened the issue

[2022-04-09 14:11] #23929 closed

[2022-04-09 14:18] #23932 closed

[2022-04-09 14:30] #23938 closed

[2022-04-09 14:47] #23939 closed

[2022-04-09 15:44] thatblindgeye commented on #23639
@01zulfi @mgrigoriev8109 So personally, I think the best resolution might be creating an entirely new section in the Intermediate HTML and CSS course titled Forms. The structure of this course with such an update would end up looking like this:

1. Intermediate HTML Concepts
    - Same lessons as-is, except Form Basics and Form Validations are removed
2. Intermediate CSS Concepts
    - Same lesson

[2022-04-09 20:49] MLGabe opened #23996 "Ruby Path: Rails Track -> Project: Installing Rails - Add explanation on how to remove an app in Heroku"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-04-09 23:47] grmnmtz commented on #23933
@thatblindgeye  can I use the improve this lesson button or should I fork and clone locally and do the changes, then the PR on the fork ? It's my first contribution and I think I got the first changes.

[2022-04-10 01:51] thatblindgeye commented on #23933
@grmnmtz you can do either; you should be able to submit a single PR for all 4 lessons either way I believe if you want as well.

[2022-04-10 03:26] grmnmtz commented on #23933
@thatblindgeye I believe I just did that, Above your comment is my Pull Request with the changes, can you check if it satisfies the accepted criteria? Let me know if is there anything missing in it. Thanks.

[2022-04-10 08:30] 01zulfi commented on #23639
I agree with having a Forms section, @thatblindgeye

[2022-04-10 08:31] #23761 closed

[2022-04-10 11:13] Dhawkins216 commented on #23942
Hey, this still said help wanted, could i help in anyway?

[2022-04-10 14:52] CouchofTomato commented on #23996
Hey @MLGabe

Thanks for the proposal. This is something best left for the student to Google if they really wanted to. They do need to get used to reading through the docs for any services they use for this kind of thing.

[2022-04-10 14:52] #23996 closed

[2022-04-11 10:31] nicolasseine commented on #23753
I'm using rails 7.0.2.3
And I just had the Authentication Error when working on the project, which confused me because it was not the expected output acording to the lesson.
Had to add
`skip_before_action :verify_authenticity_token
`
on my controller to get a 204 response as expected.

So maybe the "old" lesson content could be kept there, for information, i case other people stumble on this ?

[2022-04-11 12:35] 01zulfi opened #24003 "React Introduction lesson: add a link to React Developer Tools Chrome extension"
**1. Description:**

The [React Developer Tools section in the React Introduction lesson](https://www.theodinproject.com/lessons/node-path-javascript-react-introduction#react-developer-tools) should link to the Google Chrome extension.

**2. Acceptance Criteria:**

- [ ] Add a link to the React Developer Tools Chrome extension

**3. Additional Information:**

Anyone who wants to work on this, plea

[2022-04-11 12:55] CouchofTomato commented on #23753
@nicolasseine

Can you give us some more information around this please

* Which project?
* Do you have any code you can link us to on github? If so which pages should we be looking at
* What output do you see in your terminal / browser. You can share screenshots etc.

Might be better to open this as a separate issue if you think our lesson isn't reflecting the output you are seeing so we can inve

[2022-04-11 16:19] RolandStuder commented on #23755
I will close this issue, since it has been addressed

[2022-04-11 16:19] #23755 closed

[2022-04-11 18:39] Aureatus opened #24006 "Javascript course: Edit react lessons to be in accordance with react 18 standards"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-04-11 20:50] thatblindgeye commented on #23942
Ah thank you for pointing that out, @Dhawkins216 . Unfortunately somebody already claimed this one. There will be more issues like this soon, though! 🙂

[2022-04-12 00:07] mgrigoriev8109 commented on #23639
I think this is a great idea @thatblindgeye :)

[2022-04-12 15:22] Paloma-P commented on #23941
Hi it says help wanted, can I work on this?

[2022-04-12 19:13] Sankalp-G opened #24012 "Foundation Course: Add extra content for Git Branching"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-04-13 11:03] Aureatus commented on #24006
The create-react-app has now been updated to include the new API, i'm happy to push a change for this if approved.

[2022-04-13 12:26] 01zulfi commented on #24006
@Aureatus Thanks for pointing this out. You've been assigned!

[2022-04-13 16:44] jrumbawa opened #24019 "Foundations Course: How to write a README file"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-04-13 16:51] linkonsat opened #24020 "Rails member only project incompatibility with Rails 7."
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-04-13 21:06] thatblindgeye commented on #23941
@Paloma-P Sorry about that, looks like I hadn't updated the label. This one has already been taken, but there'll be more issues like this eventually 🙂

[2022-04-13 21:14] #23935 closed

[2022-04-13 22:16] #23933 closed

[2022-04-13 22:28] #23930 closed

[2022-04-14 08:36] #24003 closed

[2022-04-14 08:49] #24006 closed

[2022-04-14 10:46] 01zulfi opened #24024 "Express 101 lesson: update "Using git" section"
**1. Description:**

The [Using git section of the Express 101 lesson](https://www.theodinproject.com/lessons/nodejs-express-101#using-git) covers information already covered by the curriculum before (in the Restaurant Page project). Hence, it should be updated.

**2. Acceptance Criteria:**

- [ ]  Rename "Using git" section to "Using Git"
- [ ]  Replace the current content of this section with a

[2022-04-14 11:59] iawong commented on #24024
Hey, can I take this?

[2022-04-15 11:12] acedanger opened #24026 "Bug - SQL Lesson: delete statements"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

<hr>

**1. Description of

[2022-04-15 14:04] Aureatus commented on #24006
Hey, i'm not sure how to go about this, but there was an error in what was merged in the Router lesson. Is there a way to re-open the issue so that I can fix it?

![image](https://user-images.githubusercontent.com/93552500/163580397-053c5b61-b2c6-4caa-9f30-7c1acacfe6f2.png)

Instead of <App /> it should be <RouteSwitch />

[2022-04-15 21:02] I3uckwheat opened #24031 "Bug - : Final JS lesson is using wording that implies it's the end of TOP for the Node path."
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-04-16 08:12] 01zulfi commented on #24006
@Aureatus Great catch! No need to reopen this issue, you should just create a PR.

[2022-04-16 13:06] 01zulfi opened #24033 "Ruby folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update Ruby folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`<>`) b

[2022-04-16 13:08] 01zulfi opened #24034 "Ruby on Rails folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update Ruby on Rails folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle

[2022-04-16 13:12] 01zulfi opened #24035 "NodeJS folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update NodeJS folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`<>`)

[2022-04-16 13:12] 01zulfi opened #24036 "Databases folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update Databases folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`<

[2022-04-16 13:12] 01zulfi opened #24037 "Getting Hired folder: update README.md"
**1. Description:**

READMEs need to be updated throughout the curriculum repository.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update Getting Hired folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle

[2022-04-16 13:13] 01zulfi opened #24038 "Advanced HTML/CSS folder: add README.md"
**1. Description:**

This folder lacks a `README.md` file.

Related to:
- https://github.com/TheOdinProject/top-meta/issues/109

### Course README template:

[code]

**2. Acceptance Criteria:**

- [ ] Update Advanced HTML/CSS folder's `README.md` file to the template provided above
- [ ] Remove comments from the template
- [ ] Fill in the appropriate information in the angle (`<>`) brackets in the

[2022-04-16 13:41] 13colours commented on #24026
I'd be happy to fix this, could I?

[2022-04-16 14:45] jrumbawa commented on #24037
Can I give a shot?

[2022-04-16 14:58] GokhanTurgut commented on #24038
Hi, I would love to work on this as my first issue.

[2022-04-16 15:21] #24024 closed

[2022-04-16 15:23] 01zulfi commented on #24035
@BlizZard-bot Thanks, you've been assigned!

Unfortunately, none of the current READMEs follow the desired template, hence I don't have a reference.

[2022-04-16 18:13] iawong commented on #24036
Hi, can I take this?

[2022-04-16 19:51] jrumbawa commented on #24037
Do I leave the angle brackets when entering course name & lessons?

[2022-04-16 23:41] #22950 closed

[2022-04-17 11:44] thatblindgeye commented on #23942
@williamw29 wanted to check in and see how things are going with this issue?

[2022-04-17 11:44] thatblindgeye commented on #23941
@hoad211 wanted to check in and see how things were going with this issue?

[2022-04-17 11:46] thatblindgeye commented on #23936
@ItsKatato hey, wanted to check and see how things were going with this issue? I don't believe this has a PR yet (unless I missed it which is possible 😆 )

[2022-04-17 16:49] franfrutos opened #24045 "Add git bash to windows support"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-04-18 07:05] 01zulfi commented on #24037
@jrumbawa You don't need to include the underscores.

[2022-04-18 07:06] 01zulfi commented on #24035
@BlizZard-bot Correct.

[2022-04-18 07:31] #24038 closed

[2022-04-18 10:36] ChargrilledChook commented on #24019
I don't have much free time and I'm currently working on a different lesson, but if there's no urgency on this I would be happy to pick it up afterwards. It's something that's in my wheelhouse.

Alternatively happy to help out if someone else wants to work on it.

[2022-04-18 12:38] #24035 closed

[2022-04-18 19:16] kzhang01 commented on #24034
Hi can I work on this?

[2022-04-18 23:55] kzhang01 commented on #24033
Hi can I take this issue?

[2022-04-19 04:43] ItsKatato commented on #23936
@thatblindgeye Sorry completely forgot about this. I got really busy with some classes, but I made the pull request 😅

[2022-04-19 10:28] 01zulfi commented on #24034
Hello @kzhang01, you are already assigned to another similar issue #24033. I would prefer if this issue is taken up by another contributor. Thanks for understanding.

[2022-04-19 15:45] williamw29 commented on #23942
@thatblindgeye having a bit of an issue getting ToP running locally. I'm meeting with a friend today to troubleshoot. If all goes well I'll start on it right away

[2022-04-19 17:51] williamw29 commented on #23942
@thatblindgeye working on it right now!

[2022-04-19 18:15] nguyens20 commented on #24034
Hi can I take this issue ?

[2022-04-19 18:17] williamw29 commented on #23942
I noticed that in the formatting template there is a whitespace before each line. Do you want this to be included? When I used the lesson preview tool the Additional Resources title didn't format correctly and was printing the ### on screen.

[2022-04-19 19:39] tliebert opened #24058 "Intermediate HTML and CSS: Form Validation: Add disclaimer to last article of assignment"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-04-19 21:07] thatblindgeye commented on #23942
If it's causing issues when using the preview tool you can add that whitespace before each line.

[2022-04-19 21:08] #23975 closed

[2022-04-19 21:36] williamw29 commented on #23942
Sorry, I think I was unclear. It was only causing issues when I included the whitespace from the example. Should I just do without it?

[2022-04-19 21:51] thatblindgeye commented on #23942
Gotcha. Go ahead and try submitting a PR without the whitespace so I can get a better idea of what's going on. The line breaks between things would be a separate issue anyway so it wouldn't be a huge deal if it wasn't included in your PR.

[2022-04-20 13:47] rghdrizzle commented on #24037
hey , is anyone working on this ?

[2022-04-20 14:04] jrumbawa commented on #24037
I am, just waiting for my pull request to get reviewed

[2022-04-20 18:38] boostaboosh opened #24063 "Foundations Course: Including an explanation of a display property in the box model lesson"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-04-20 18:57] boostaboosh opened #24064 "Foundations Course: Split the CSS foundations lesson into multiple lessons"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-04-20 21:13] williamw29 commented on #23942
@thatblindgeye just made the PR!

[2022-04-21 08:22] #24036 closed

[2022-04-21 14:27] KevinMulhern commented on #24058
This may be a good alternative article: https://www.silocreativo.com/en/css-rescue-improving-ux-forms/

[2022-04-21 14:45] #24037 closed

[2022-04-21 15:39] #24033 closed

[2022-04-21 16:24] LeoKirasic commented on #23922
Hey, @zakia98 thanks for creating the issue. The instructions should definitely be modified.

The line that needs changing is "do this on the server side otherwise the user could hack their score"

This needs to be changed to include a note that this is only for people using rails as their backend, and if learners are using firebase as the backend they don't have to attempt to do the timer on the

[2022-04-21 17:38] bappyasif commented on #24058
this also seem to be a good fit: [https://css-tricks.com/form-validation-part-1-constraint-validation-html/](https://css-tricks.com/form-validation-part-1-constraint-validation-html/)

[2022-04-21 23:46] thatblindgeye commented on #23942
Closing as PR #24066 resolves this issue. Thank you for making the updates, @williamw29 !

[2022-04-21 23:46] #23942 closed

[2022-04-21 23:48] #23936 closed

[2022-04-22 02:23] ChargrilledChook commented on #24019
@DaeguDude Fine by me. I'm happy to collaborate / assist if you would like. Feel free to DM me about it 👍

[2022-04-22 04:40] yadunandanbhat commented on #24045
You can actually download [git bash for windows](https://git-scm.com/download/win). It works the same as in Linux.

[2022-04-22 04:43] yadunandanbhat commented on #24031
like adding those links in the additional resources?

[2022-04-23 04:39] PARKER-X opened #24073 "Assignment"
Add assignment solution for better understanding and add some more project/assignment and build one more  course for  end to end project with code. like html css project then html css js project atleast 5-6 good project.
 Thank You

[2022-04-23 06:10] #24034 closed

[2022-04-23 10:30] 01zulfi commented on #24073
Hello!

What assignment are you referring to?

Can you elaborate more on this? What does an "end to end project with code" mean?

I don't think it is beneficial to have a course that is comprised of only html/css/projects. We already have projects within in Foundations, Intermediate HTML/CSS, Advanced HTML/CSS, and JavaScript courses. I'd love to hear more of your thoughts on this.

[2022-04-23 10:47] 01zulfi commented on #24019
@DaeguDude @ChargrilledChook Before we start any work on this, I believe discussion is due.

I like the idea in general, but the question is how do we want to tackle this. One question I'd like to raise is do we need a dedicated lesson on writing READMEs. What are the pros of doing so over linking to an external guide on writing READMEs in the Recipes project. On contrary, there are so many guides

[2022-04-23 11:09] 01zulfi commented on #23926
Hello! It is ideal to have all the lesson readings in one place (i.e in the Assignment section) rather than sprinkling them throughout the lesson.

I think the lesson does an adequate job of showing how `fetch` works for the code examples. Users are also expected to have knowledge on `then` function going into the lesson. Furthermore, I don't believe the understanding of the `.json` method is impe

[2022-04-23 12:44] PARKER-X commented on #24073
Solution of your assignment. like solution of recipe website.
add more project end to end means it is very difficult to code (media  queries, etc.) for beginners. add more project for better understanding for how big project works.
Sorry for my bad english. Thanks for replying and your curriculum is really very very  good.

[2022-04-24 00:29] kashura commented on #24045
Hi @franfrutos , thank you for the suggestion.

There is much more behind our reasoning on why we don't support learning on Windows and git bash is the least of them. At this time, we simply cannot support windows. You're free to learn TOP on Windows, but there won't be any support from the TOP community.

[2022-04-24 00:29] #24045 closed

[2022-04-24 13:55] DaeguDude commented on #24019
@01zulfi @ChargrilledChook

Now you are raising a question, to be honest I couldn't really think of the pros of writing a new lesson over linking to an external resource for minutes. However one benefit I can think of is, with a new lesson it could deliver more importance to the learners that it's important to know how to write good READMEs over just linking to an external resource.

I also agree

[2022-04-24 23:43] iawong commented on #23922
@LeoKirasic Hey, can I work on this?

[2022-04-25 11:00] LeoKirasic commented on #23922
@iawong  go for it!

[2022-04-25 12:14] asadrjhk commented on #23235
Sorry, I wasn't able to contribute to this issue on time, I think it is best to close this issue, the PR #23965 already solved the issue.

[2022-04-26 06:34] Maheshkumar-novice commented on #23649
Sorry for the late response....I think I can't make it. If anybody is interested, they can take it.

[2022-04-27 02:29] itswhom commented on #23941
@thatblindgeye @hoad211 Has there been movement on this? It is something I would like to take on if it needs to be reassigned.

[2022-04-28 17:59] thatblindgeye commented on #23941
@itswhom if there is no response in another day or two would you still like to be assigned this issue?

[2022-04-28 18:00] itswhom commented on #23941
@thatblindgeye Absolutely.

[2022-04-28 18:01] thatblindgeye commented on #23235
Closing as #23965 looks to have resolved this issue.

[2022-04-28 18:01] #23235 closed

[2022-05-02 14:24] #23922 closed

[2022-05-03 12:55] 01zulfi commented on #24073
I don't  think that's ideal because there's no right solution for a project. Each learner takes their own approach. Although, students have uploaded their own solutions to the projects (You can view them if you are signed in on our website). That is the closest we can provide to a "solution".

Further along in the curriculum, we have massive projects that cover a whole lot of stuff. From HTML/CSS/

[2022-05-03 13:03] 01zulfi commented on #24019
@DaeguDude Apologies for the late reply.

If we do decide to go for a lesson, can you share a rough lesson outline on what sections the lesson will have. This is just so we can narrow down the specifics.

Once we have a rough outline, we can reassess on how to proceed further.

[2022-05-03 22:52] jotisa commented on #12881
Just in case the article got posted here:
https://www.scribd.com/document/521873510/How-to-get-a-job-as-a-web-developer
thx